<% if params[:p] %>
    <div class="modal fade primeiro-acesso">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Bem vindo!</h4>
          </div>
          <div class="modal-body">
            <h2>Recebemos a solicitação do seu plano!</h2>

            <p>
                Você já poderá cadastrar anúncios e conhecer as incríveis funcionalidades de nossa plataforma.
            </p>

            <p>
                Em breve entraremos em contato para finalizar seu pedido.
            </p>

            <p>
                <strong>Boas vendas!</strong>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Começar a usar</button>
          </div>
        </div>
      </div>
    </div>

    <% content_for :javascript do %>
      <script>$('.primeiro-acesso').modal();</script>
    <% end %>

<% end %>
