<div class="row">
    <div class="col-md-12">
        <h1 class="section-title-inner">
            <span><i class="fa fa-user"></i> Minha conta </span>

        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success btn-block btn-lg" href="<%= site_usuarios_url(:meus_cupons, subdomain: false) %>"><i class="fa fa-ticket"></i> Meus Cupons</a>
    </div>

    <div class="col-md-6">
        <a class="btn btn-primary btn-block btn-lg" href="<%= site_usuarios_path(:meus_dados) %>"><i class="fa fa-user"></i> Meus Dados</a>
    </div>
</div>
