<div class="col-sm-6 col-md-4" itemprop="seller" itemscope itemtype="http://schema.org/<%= @seller.kind == 'pj' ? 'Organization' : 'Person' %>">
    <div class="page-custom-contact">
        <% if @seller.logo? %>
            <div class="user-logo user-custom-logo">
                <%= link_to image_tag(@seller.logo_url(:main), class: 'img-responsive'), user_produtos_url(subdomain: @seller.subdomain) %>
            </div>
        <% end %>

        <div class="user-custom-info" data-seller="<%= @seller.id %>" data-product="<%= @product.id if @product %>">
            <% if @seller.free? %><small class="color2">ANUNCIANTE</small> <% end %>
            <% the_name = @seller.kind == 'pf' ? "#{@seller.name} #{@seller.last_name}" : @seller.name %>

            <h1 class="color2">
                <%= link_to raw("<strong>#{the_name}</strong>"), user_produtos_url(subdomain: @seller.subdomain), class: 'color2' %>
            </h1>

            <div class="user-custom-phone">

                <% if !@seller.show_phone.blank? %>
                <div class="data-phone color2"  itemscope itemtype="http://schema.org/LocalBusiness">
                    <span itemprop="telephone">
                        <a href="#" class="show-phone color2">
                            <i class="fa fa-phone"></i> <%= truncate(@seller.show_phone, length: 12) %> <strong>ver telefone</strong>
                        </a>
                    </span>

                    <% if !@seller.phone.blank? %>
                        <div class="show-phone1 hide">
                            <i class="fa fa-phone"></i> <strong data-info-phone></strong> <br />
                        </div>
                    <% end %>

                    <% if !@seller.phone2.blank? %>
                        <div class="show-phone2 hide">
                            <i class="fa fa-phone"></i> <strong data-info-phone2></strong> <br /> 
                        </div>
                    <% end %>

                    <% if !@seller.cellphone.blank? %>
                        <div class="show-mobile hide">
                            <i class="fa fa-mobile"></i> <strong data-info-mobile></strong> <br /> 
                        </div>
                    <% end %>
                </div>
                <% end %>


                <small class="show-phone-message hide color3">Ao ligar, diga que viu o anúncio no <strong class="color2"><%= @current_org.fullname %></strong></small>
            </div>

            <div class="user-custom-address">
                <br />

                <i class="fa fa-map-marker color2"></i>
                <strong class="color2"><%= @seller.city_name %> - <%= @seller.state_symbol.upcase if @seller.state_symbol %></strong>
                <br />

                <!-- <i></i> -->
                <!-- <a href="#" data-toggle="modal">Ver Localização (Mapa)</a> -->
                <% if @seller.kind == 'pj' %>
                    <i></i><small class="color3"><%= @seller.address_street %>, <%= @seller.address_number %> <%= @seller.address_compl %></small>
                    <br />
                    <i></i><small class="color3"><%= @seller.address_district %> - <%= @seller.address_zipcode %></small>
                    <br />
                <% end %>
            </div>
        </div>
    </div>
</div>

<% if @seller.logo? %>
    <% if @seller.banners.published.custom %>
        <div class="col-md-8 user-custom-top-banner">
            <div id="user-custom-banners" class="owl-carousel owl-theme">
            <% @seller.banners.published.custom.each do |banner| %>
                <%= link_to banner.url do %>
                    <%= image_tag banner.image_user_url, class: 'img-responsive' %>
                <% end %>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
