<div class="row">
    <div class="col-md-4">
        <h3><%= current_user.fullname %></h3>
        <!-- <strong>Plano:</strong> <%#= current_user.label_plan %> -->
    </div>

    <div class="col-md-1"></div>

    <% if @current_org.clictem_free?(current_user) %>
        <div class="col-md-7 pull-right">
            <ul class="nav navbar-nav navbar-right navbar-mkt">

                <li><a href="<%= site_anuncios_path %>" class='dropdown-toggle color1'> Meus anúncios</a></li>


                <% if !current_user.free? %>

                <li>
                  <a href="<%= site_atrair_path(:campanhas) %>" class='dropdown-toggle color1'>
                    <i class="fa fa-asterisk"></i> Campanhas
                  </a>
                </li>

                <!-- Atrair -->
                <li class="dropdown <%= 'disabled has-tooltip' if current_user.plan == 'free' %>" data-toggle="tooltip" data-placement="bottom" title="Disponível apenas para anunciante">

                    <a href="#" class="dropdown-toggle color1" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-bullhorn"></i> Atrair <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-left <%= 'hide' if current_user.kind == 'pf' and !current_user.staff? %>" role="menu">
                        <li><a href="<%= offers_campaigns_path %>">Campanhas / Coleções</a></li>
                        <li><a href="<%= sms_campaigns_path %>">SMS Marketing</a></li>
                        <li><a href="<%= site_atrair_path(:campanhas) %>">Campanhas <%= @current_org.fullname %></a></li>

                        <!-- <li class='disabled'>
                            <a href="#">Promoções e Ofertas<span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li>
                        <li class='disabled'>
                            <a href="#" disabled>E-Mail Marketing <span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li>
                        <li class='disabled'>
                            <a href="#" disabled>Página customizada <span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li>
                        <li class='disabled'>
                            <a href="#" disabled>Destaques no site <span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li>
                        <li class='disabled'>
                            <a href="#" disabled>Campanhas temáticas <span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li>
                        <li class='disabled'>
                            <a href="#" disabled>Postar no Facebook <span class="label label-info" style="opacity: 0.6;">em breve</span></a>
                        </li> -->
                    </ul>
                </li>

                <!-- Relacionar -->
                <li class="dropdown <%= 'disabled has-tooltip' if current_user.plan == 'free' %>" data-toggle="tooltip" data-placement="bottom" title="Disponível apenas para anúnciante">
                    <a href="#" class="dropdown-toggle color1" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-users"></i> Relacionar <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-left  <%= 'hide' if current_user.kind == 'pf' and !current_user.staff? %>" role="menu">

                        <li><a href="<%= sms_birthday_path %>">SMS de aniversário</a></li>

                        <li><a href="<%= site_usuarios_url(:cupons_clientes) %>">Cupons de desconto</a></li>
                        <!-- <li class='disabled'><a href="#" disabled>E-Mail Corporativo <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#" disabled>Promoções e ofertas exclusivas <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#" disabled>Páginas temáticas <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#" disabled>Nutrição de público alvo <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li> -->
                    </ul>
                </li>

                <!-- Analisar -->
                <li class="dropdown <%= 'disabled has-tooltip' if current_user.plan == 'free' %>" data-toggle="tooltip" data-placement="bottom" title="Disponível apenas para anúnciante">
                    <a href="#" class="dropdown-toggle color1" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bar-chart"></i> Analisar <span class="caret"></span></a>
                    <ul class="dropdown-menu  <%= 'hide' if current_user.kind == 'pf' and !current_user.staff? %>" role="menu">
                        <li><a href="<%= site_usuarios_url(:resumo, subdomain: false) %>">Resumo</a></li>
                        <li><a href="<%= site_analisar_url(:publico_alvo, subdomain: false) %>">Seu público alvo</a></li>

                        <!-- <li class='disabled'><a href="#"disabled>Relatório e notificações <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#"disabled>Contador de visitas <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#"disabled>Clientes <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#"disabled>Análise do sucesso <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#"disabled>Calcular ROI <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li>
                        <li class='disabled'><a href="#"disabled>Feedback <span class="label label-info" style="opacity: 0.6;">em breve</span></a></li> -->
                    </ul>
                </li>
                <% end %>
           </ul>
        </div>
    <% end %>
</div>

<br />
<hr class="no-margin-top" />
