<a id="inicio"></a>
<ul class="myAccountList row">
    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <!-- <div class="" > -->
            <% url = (current_user.valid? ? site_produtos_path(:anuncio_2) : site_produtos_path(:anuncio_1) ) %>
            <%= link_to url, class: "btn btn-success" do %>
                <i class="fa fa-plus-circle"></i> + Novo Anúncio
            <% end %>
        <!-- </div> -->
    </li>

    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <div class="thumbnail">
            <%= link_to site_usuarios_path(:meus_dados) do %>
                <i  class="fa fa-edit"> </i> Meus Dados
            <% end %>
            </a>
        </div>
    </li>

    <!-- <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <div class="thumbnail">
            <%= link_to offers_campaigns_path do %>
                <i class="fa fa-certificate"></i> Campanhas promocionais
            <% end %>
        </div>
    </li> -->

    <% if current_user.has_sms? %>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
            <div class="thumbnail">

                <%= link_to sms_campaigns_path do %>
                    <span class="label label-danger" style="position: absolute;">BETA</span>
                    <i class="fa fa-mobile"></i> SMS
                <% end %>
                </a>
            </div>
        </li>
    <% end %>

    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <div class="thumbnail">
            <%= link_to site_usuarios_url(:meus_cupons, subdomain: false) do %>
                <i  class="fa fa-ticket"> </i> Meus Cupons
            <% end %>
            </a>
        </div>
    </li>


    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <div class="thumbnail">
            <%= link_to site_usuarios_url(:cupons_clientes ,subdomain: false) do %>
                <i  class="fa fa-ticket"> </i> Cupons Clientes
            <% end %>
            </a>
        </div>
    </li>
</ul>

<hr style="margin: 5px 0 20px;">
