<div style="font-family: Helvetica, Arial, sans-serif;">

    <p>
        <a href="http://<%= current_org.domain %>.com.br" style="color:#0099FF;"><img align="none" alt="<%= @cupom.seller.name %>" border="0" src="<%= @cupom.seller.stamp_url %>" style="display: inline-block; margin: 0px;" width="200"> </a>
    </p>

    <table>
        <tr>
            <td>Código:</td>
            <td><strong style="font-size: 30px;"><%= @cupom.code %></strong></td>
        </tr>

        <tr>
            <td>Cliente:</td>
            <td><strong style="font-size: 20px;"><%= @cupom.user.name %></strong></td>
        </tr>

        <tr>
            <td style="padding-top: 20px;">Anunciante:</td>
            <td style="padding-top: 20px;"><strong><%= @cupom.seller.name %></strong></td>
        </tr>

        <tr>
            <td>Anúncio:</td>
            <td><strong><%= @cupom.product.name %></strong></td>
        </tr>

        <% if @cupom.price > 0 %>
            <tr>
                <td>Preço Normal:</td>
                <td><strong><%= number_to_currency(@cupom.price) %></strong></td>
            </tr>
        <% end %>

        <% if @cupom.offer_price > 0 %>
            <tr>
                <td>Preço Promocional:</td>
                <td><strong><%= number_to_currency(@cupom.offer_price) %></strong></td>
            </tr>
        <% end %>

        <% if @cupom.due %>
            <tr>
                <td>Validade:</td>
                <td><strong><%= l @cupom.due, format: :long %></strong></td>
            </tr>
        <% end %>

        <% if @cupom.product.cupom_note.present? and @cupom.due %>
            <tr>
                <td>Observação:</td>
                <td><strong><%= @cupom.product.cupom_note %></strong></td>
            </tr>
        <% end %>
    </table>

    <p>
        Este <%= @cupom.due ? 'cupom' : 'comprovante' %> foi gerado no dia <strong><%= l @cupom.created_at, format: :long %></strong> pelo site <strong><%= @current_org.fullname %></strong>
    </p>
</div>
