<div class="row">
    <div class="col-md-12">
        <h1 class="section-title-inner">
            Resumo
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-md-3 col-md-offset-1">
        <div class="info-panel fixed-height text-center">
            <span class="title-info"><strong>Anúncios publicados</strong></span> <br />
            <strong class="main-info color1"><%= @count_ads %></strong> <br />
            <% if @count_ads < current_user.ad_limit %>
                Ainda restam <strong><%= pluralize((current_user.ad_limit - @count_ads), 'anúncio', 'anúncios') %></strong> <br />

            <% else %>
                Seu limite é de <strong><%= pluralize(current_user.ad_limit, 'anúncio', 'anúncios') %></strong>. Adquira mais ligando para <strong><%= @current_org.phone %></strong>
            <% end %>
        </div>

        <% if @count_ads < current_user.ad_limit %>
            <% url = (current_user.valid? ? site_produtos_path(:anuncio_2) : site_produtos_path(:anuncio_1) ) %>
            <%= link_to url, class: 'btn btn-success btn-block' do %>
                + Publicar <strong>novo</strong> anúncio
            <% end %>
        <% end %>
    </div>


    <% if !@current_user.free? %>
      <div class="col-md-4">
          <%= render "/site/partials/sms_saldo" %>
      </div>
    <% end %>

    <div class="col-md-2">
        <div class="info-panel fixed-height text-center">
            <span class="title-info"><strong>Cupons emitidos</strong></span> <br />
            <strong><%= l Date.today, format: '%B' %></strong> <br />
            <strong class="main-info color1"><%= @cupons_current %></strong> <br />
            em <%= l Date.today - 1.month, format: '%B' %>: <strong><%= @cupons_last %></strong>
        </div>
    </div>
</div>


<div class="row">
    <br /> <br />
    <%# if !@current_org.clictem_free?(current_user) %>
      <div class="col-md-6">
          <h2>Cliques em ver telefone</h2>
          <%= column_chart @ver_telefone %>

        <h2>
            Aniversariantes de <strong><%= l Date.today, format: '%B' %></strong> <br />

            <%= link_to customers_path, class: 'btn btn-success' do %>
                + Cadastrar <strong>novo</strong> cliente
            <% end %>
        </h2>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Dia</th>
            </tr>
          </thead>

          <tbody class="table-customers">
            <% current_user.customers.birthday_month.each do |customer| %>
                <tr>
                    <td>
                        <strong><%= customer.name %></strong>
                        <% if !customer.active %>
                          <i class="fa fa-exclamation-triangle text-danger" title="Este cliente não aceita receber mensagens."></i>
                        <% end %>

                        <br />
                        <% customer.groups.each do |group| %>
                          <span class="badge"><%= group.name %></span>
                        <% end %>
                    </td>
                    <td>
                        <%= customer.cellphone %> <br />
                        <%= customer.phone %>
                    </td>
                    <td><strong><%= l customer.birthday, format: :short %></strong></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <%# end %>

    <div class="col-md-6">
        <h2>Visitas</h2>

        <%= column_chart @visitors %>

        <h2>Últimos comentários</h2>
        <div class="row">
            <% @comments.each do |comment| %>
                <%= render '/site/comments/comment', comment: comment, product: comment.product %>
            <% end %>
        </div>

    </div>
</div>


<% content_for :head do %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>