<tr class="cupom<%= cupom.id %>">
    <!-- Imagens -->
    <td>
        <% if product.image1? %>
            <img src='<%= product.image1_url(:thumb) %>' width="80"/>
        <% end %>

        <%= (product.name || '(SEM TÍTULO)') %>
    </td>

    <td colspan="<%= cupom.due ? 1 : 2 %>">
      <% if cupom.due %>
        <%= number_to_currency(cupom.offer_price) %>
      <% else %>
        Comprovante de interesse
      <% end %>

    </td>

    <td>
        <strong><%= cupom.user.name if cupom.user != nil %></strong>
    </td>

    <td>
        <%= cupom.code %>
    </td>


    <% if cupom.due %>
        <td>

          <% if cupom.used? %>

            <small class="text-danger">
              <strong>Utilizado em</strong> <br>
              <%= l cupom.used, format: :short %>
            </small>

          <% else %>

            <small class="text-<%= cupom.due < Date.today ? 'danger' : 'success' %>">
              <strong>Validade:</strong> <br>
              <%= l cupom.due, format: :short %>
            </small>

          <% end %>

        </td>
    <% end %>

    <!-- Ações -->
    <td class="text-center">
        <%= link_to site_usuarios_url(:print_cupom, subdomain: false, code: cupom.code), target: 'printCupom', class: 'btn btn-link view-cupom' do %>
            <i class="fa fa-ticket"></i> Ver cupom
        <% end %> <br>

        <% if !cupom.used? %>
            <%= link_to site_usuarios_url(:used_cupom, subdomain: 'www', code: cupom.code), remote: true, class: 'btn btn-link used-cupom', data: { disable_with: 'AGUARDE!' } do %>
                <i class="fa fa-check"></i> Marcar como utilizado
            <% end %>
        <% end %>
    </td>
</tr>
