<div class="clearfix">

            <!-- Anúncio grátis -->
            <div class="item col-md-6">
                <div class="product">
                    <div class="description">
                        <h4><label><%= f.check_box :published  %> ANÚNCIO GRÁTIS</label></h4>
                        <p>Seu anúncio será exibido normalmente em nossa lista.</p>
                    </div>
                    <div class="price">
                        <span>Free</span>
                    </div>
                    <div class="action-control">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="add2cart"><i class="fa fa-check"> </i> PUBLICAR </span>
                        </button>

                    </div>
                </div>
            </div>


            <!-- Anúncio destaque -->
            <div class="item col-md-6">
                <div class="product">
                    <div class="description">
                        <h4><label>ANÚNCIO DESTAQUE</label></h4>
                        <p>Em breve você poderá destacar seus anúncios em nossa lista. Assim, haverá muito mais visibilidade e pessoas interessadas em adquirir seus produtos ou serviços.</p>
                    </div>

                </div>
            </div>
</div>