<div class="row offers">
    <%= f.simple_fields_for :offers do |offer| %>
        <%= render 'site/produto/offer_fields', f: offer %>
    <% end %>

    <div class="col-md-12 offer-btn offer-show">
        <%= link_to_add_association raw('<i class="fa fa-certificate"></i> Adicionar uma Oferta ou Desconto'), f, :offers, class: 'btn btn-default btn-block' %>
    </div>
</div>
