<div class="row">
    <div class="col-xs-12 col-sm-12">
        <%= simple_form_for(@product, url: site_produtos_path(:anuncio_4, product: @product.id), html: { method: :put, id: :image1 }) do |f| %>
            <%= hidden_field_tag :product, @product.id if @product %>
            <%= f.hidden_field :department_id %>
            <%= f.hidden_field :name %>
            <%= f.input :image1, wrapper: :colmd3, as: :image_preview, input_html: { preview_version: :list } %>
        <% end %>

        <%= simple_form_for(@product, url: site_produtos_path(:anuncio_4, product: @product.id), html: { method: :put, id: :image2 }) do |f| %>
            <%= hidden_field_tag :product, @product.id if @product %>
            <%= f.hidden_field :department_id %>
            <%= f.hidden_field :name %>
            <%= f.input :image2, wrapper: :colmd3, as: :image_preview, input_html: { preview_version: :list } %>
        <% end %>

        <%= simple_form_for(@product, url: site_produtos_path(:anuncio_4, product: @product.id), html: { method: :put, id: :image3 }) do |f| %>
            <%= hidden_field_tag :product, @product.id if @product %>
            <%= f.hidden_field :department_id %>
            <%= f.hidden_field :name %>
            <%= f.input :image3, wrapper: :colmd3, as: :image_preview, input_html: { preview_version: :list } %>
        <% end %>

        <%= simple_form_for(@product, url: site_produtos_path(:anuncio_4, product: @product.id), html: { method: :put, id: :image4 }) do |f| %>
            <%= hidden_field_tag :product, @product.id if @product %>
            <%= f.hidden_field :department_id %>
            <%= f.hidden_field :name %>
            <%= f.input :image4, wrapper: :colmd3, as: :image_preview, input_html: { preview_version: :list } %>
        <% end %>
    </div>
</div>
