<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h2 class="block-title-2 ">Dados Gerais</h2>
            <%= f.hidden_field :plan %>
            <div style="font-size: 18px">
                <%= f.input :kind,
                    as: :radio_buttons_inline,
                    collection: [['Pessoa Física (Particular)', 'pf'], ['Pessoa Jurídica (Profissional)', 'pj']]
                %>
            </div>

            <%#= f.input :logo,
                wrapper: :horizontal_form_logo,
                as: :image_preview,
                input_html: { preview_version: :thumb }
            %>

            <% if !@user.new_record? %>
                <%= f.input :email, required: true %>
            <% end %>

            <%= f.input :name, required: true, label: (@user.kind == 'pf' ? 'Primeiro nome' : 'Nome fantasia') %>
            <div class="is_user_kind_pf <%= hlp_account_is_kind(@user.kind == 'pf') %>">
                <%= f.input :last_name, required: true %>

                <%= f.input :cpf, hint: 'Exemplo: xxx.xxx.xxx-xx', required: true %>

                <%= f.input :birthday,
                    as: :date,
                    discard_year: true,
                    required: true
                %>

                <%= f.input :genre,
                    as: :radio_buttons_inline,
                    collection: [['Masculino', 'm'], ['Feminino', 'f']]
                %>

                <%= f.input :cellphone,
                    as: :string,
                    wrapper: :horizontal_form_phone,
                    hint: 'Exemplo: (xx) xxxx-xxxx',
                    required: true
                %>
            </div>

            <div class="is_user_kind_pj <%= hlp_account_is_kind(@user.kind == 'pj') %>">
                <%= f.input :business_name, required: true %>

                <%= f.input :cnpj, hint: 'Exemplo: xx.xxx.xxx/xxxx-xx', required: true %>
                <%#= f.input :ie %>
                <%= f.input :website %>
            </div>

            <%= f.input :phone,
                as: :string,
                wrapper: :horizontal_form_phone,
                hint: 'Exemplo: (xx) xxxx-xxxx',
                required: @user.kind == 'pj'
            %>
        </div>
    </div>

    <div class="row is_user_kind_pj resp-dados <%= hlp_account_is_kind(@user.kind == 'pj') %>">
        <div class="col-md-12">
            <h2 class="block-title-2 ">Contatos para notificação</h2>
            <div class="clearfix">
                <div class="col-md-4">
                    <h3>Geral</h3>
                    <%= f.input :resp_name, required: true, label: 'Nome' %>
                    <%= f.input :resp_email, required: true, label: 'E-Mail' %>
                </div>

                <div class="col-md-4">
                    <h3>Financeiro</h3>
                    <%= f.input :resp2_name, label: 'Nome' %>
                    <%= f.input :resp2_email, label: 'E-Mail' %>
                    <div class="checkbox repeat-resp">
                        <label>
                          <input type="checkbox"> Usar o mesmo contato geral
                        </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Marketing</h3>
                    <%= f.input :resp3_name, label: 'Nome' %>
                    <%= f.input :resp3_email, label: 'E-Mail' %>
                    <div class="checkbox repeat-resp">
                        <label>
                          <input type="checkbox"> Usar o mesmo contato geral
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="block-title-2">Endereço</h2>
            <%= f.input :address_zipcode, hint: 'Exemplo: xxxxx-xxx', required: true %>
            <%= f.input :address_street, required: true %>
            <%= f.input :address_number, required: true %>
            <%= f.input :address_compl %>
            <%= f.input :address_district, required: true %>
            <%= f.hidden_field :state_id, value: State.find_by_symbol('SC').id %> <%# TODO Depois vamos colocar um select aqui %>
            <%= f.input :city_id,
                as: :select,
                collection: City.where(id: [4730, 4732, 4508, 4527, 4510, 4577, 4504, 4442, 4688,4598]),
                include_blank: false,
                required: true %>
        </div>
    </div>

    <div class="row is_user_kind_pj resp-dados <%= hlp_account_is_kind(@user.new_record?) %>">
        <div class="col-md-12">
            <h2 class="block-title-2 ">Dados de acesso</h2>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
            <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>

            <div class="form-group">
                <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
            </div>

            <div class="form-group">
                <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
            </div>

            <div class="form-group">
                <p class="text-muted text-small">Ao clicar em "Criar minha conta" ou "Contratar plano", você estará concordando com os <a href="<%= page_termos_path %>" target="_blank">termos & condições</a> e a <a href="<%= page_politica_path %>" target="_blank"> política de privacidade</a>.</p>
            </div>
        </div>
    </div>
</div>
