<div class="row">
    <div class="col-md-12">
        <% unless @product.new_record? %>
        <div class="col-md-12">
            <%= f.input :sold,
                inline_label: "Anúncio Vendido | Não Disponível",
                label: false
            %>
        </div>
        <% end %>

        <div class="col-md-12 ad-options">
            <div class="col-md-2 ">
                <%= f.input :is_service,
                    as: :radio_buttons_inline,
                    collection: [['Produto', false], ['Serviço', true]],
                    label: false
                %>
            </div>

            <div class="col-md-2">
                <%= f.input :has_interest,
                    inline_label: 'Chamada de interesse',
                    label: false
                %>
            </div>

            <div class="col-md-1 interest-options <%= 'hide' if @product.has_interest == false %>">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#interest-modal">
                  <i class="fa fa-pencil-square-o"></i> Editar informações de interesse
                </button>
            </div>

            <div class="col-md-1 ">
                <%= f.input :is_old,
                    inline_label: " Usado?",
                    label: false, wrapper_html: { class: (@product.has_interest ? 'hide' : '') }
                %>
            </div>

            <div class="col-md-3 ">
                <%= f.input :on_request,
                    inline_label: 'Exibir "Consulte o Preço"'.html_safe,
                    label: false, wrapper_html: { class: (@product.has_interest ? 'hide' : '') }
                %>
            </div>

            <div class="col-md-4 ">
                <%= f.input :from_only,
                    inline_label: 'Exibir "A partir de:"',
                    label: false, wrapper_html: { class: (@product.has_interest ? 'hide' : '') }
                %>
            </div>
        </div>

        <div class="col-md-9">
            <%= f.input :name, required: true, input_html: { class: 'input-lg', maxlength: 100  } %>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :price %>
                <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <%= f.text_field :price, class: 'form-control input-lg', 'price-format' => true, disabled: (@product.on_request or @product.has_interest) %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h2 class="block-title-2"> Selecione as fotos do anúncio. </h2>
        <div class="clearfix image-list">

                <%= link_to_add_association '', f, :images, class: 'btn-add-img hide',  'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '.image-list' %>

                <div class="col-md-3 img-uploader">
                    <div class="image-box bg1">
                        <i class="fa fa-camera img-icon"></i>
                        <i class="fa fa-check-circle-o check-icon"></i>
                        <span class="bg1">Selecione as fotos <br /> ou arraste aqui</span>
                        <input type="file" multiple/>
                    </div>
                </div>

                <% if @product.images.size == 0 %>
                    <div class="col-md-9 img-drag border1">
                        <h3>Arraste suas imagens.</h3>
                        Você pode arrastar as suas fotos e soltar em qualquer lugar no site :).
                    </div>
                <% end %>

            <%= f.simple_fields_for :images do |image| %>
                <%= render 'site/produto/image_fields', f: image %>
            <% end %>
        </div>



    </div>

    <div class="col-md-12">
        <h2 class="block-title-2"> Selecione a categoria que seu anúncio irá aparecer. </h2>
        <%= render 'site/produto/partials/form_category', f: f %>
    </div>

    <div class="col-md-12">
        <h2 class="block-title-2">Preencha a Descrição do Produto</h2>

        <div class="col-md-12">
            <%= f.input :description, required: true, input_html: { rows: 12 } %>
        </div>

        <div class="col-md-3">
            <%= f.input :code %>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- <h2 class="block-title-2">DESCRIÇÃO COMPLETA DO ANÚNCIO</h2> -->
        <%#= f.input :description, required: true, input_html: { class: "redactor" }, label: false %>
    </div>
</div>


<!-- Formulário de adição de marca -->
<div class="modal fade" id="brand-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    Digite no campo abaixo a marca do seu produto. Caso não exista em nossa lista, vamos acrescentar esta marca e, nos próximos anúncios que você cadastrar, já estará disponível.
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <%= f.input :brand_sugest, placeholder: "Digite aqui a sua marca" %>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar marca</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->


<!-- Formulário para inserir opções do interesse -->
<div class="modal fade" id="interest-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
              <h3 class="modal-title-site text-center" > Interesse </h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <%= f.input :interest_title, placeholder: "Quer saber mais sobre este anúncio exclusivo?", input_html: { class: 'input-lg', maxlength: 100  } %>
                    </div>
                    <div class="col-md-12">
                        <%= f.input :interest_text, placeholder: "Então clique em ESTOU INTERESSADO e fique ligado em nossos anúncios exclusivos.", input_html: { rows: 10 } %>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal"><i class="fa fa-check"></i> Pronto!</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->
