<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 categories-tree" data-department="<%= @product.department_id %>" data-category="<%= @product.category_id %>">
        </div>
    </div>
</div>