<% @interests.each do |interest| %>

        <div class="row">
          <div class="col-md-9">
            <small><%= l interest.created_at, format: :long %></small> - <strong><%= interest.name %></strong>
          </div>

          <div class="col-md-3">
            <%= interest.cellphone %>
          </div>

          <div class="col-md-9">
            <%= interest.email %>
          </div>
          <div class="col-md-3">
            <%= interest.phone %>
          </div>

          <% if interest.note.present? %>
            <div class="col-md-12">
              <div class="well well-sm">
                <%= interest.note %>
              </div>
            </div>
          <% end %>
        </div>        

        <hr>

<% end -%>