<ul class="orderStep">
  <li class="<%= hlp_site_produtos_anuncio_1 %>">
    <%= link_to site_produtos_path(:anuncio_1, product: (@product and @product.new_record? ? nil : @product.id)), class: "no-border" do %>
        <i class="fa fa-user"></i> <span> Confira seus dados</span> </a>
    <% end %>
  </li>

  <li class="<%= hlp_site_produtos_anuncio_2 %>">
    <%= link_to site_produtos_path(:anuncio_2, product: (@product and @product.new_record? ? nil : @product.id)), class: "no-border" do %>
        <i class="fa fa-shopping-cart"></i> <span> Cadastre seu anúncio</span> </a>
    <% end %>
  </li>
</ul>
