<%= simple_form_for @banner, url: (@banner.new_record? ? manager_banners_path : manager_banner_path(@banner)) do |f| %>
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Cadastrar Banner</strong></div>
    <div class="panel-body">
            <%= f.error_notification %>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :client_name, input_html: { autofocus: 'true' } %>
                </div>

                <div class="col-md-4">
                    <%= f.input :banner_type_id, as: :select, collection: BannerType.all %>
                </div>

                <div class="col-md-4">
                    <%= f.input :department_id,
                        as: :select,
                        collection: Manager::Ad::Department.all
                    %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :start_date, as: :date  %>
                </div>

                <div class="col-md-4">
                    <%= f.input :end_date, as: :date  %>
                </div>

                <div class="col-md-4">
                    <%= f.input :user_id, as: :select, collection: User.where("plan != 'free'") %>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <%= f.input :discount, as: :string, input_html: { class: 'decimal' } %>
              </div>
              <div class="col-md-6">
                  <%= f.input :discount_type, collection: [['Clictem', 0], ['CDL', 1]], include_blank: false %>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <%= f.input :url %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :image_topo,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>

                <div class="col-md-4">
                    <%= f.input :image_menu,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>

                <div class="col-md-4">
                    <%= f.input :image_user,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>
            </div>

        </div>

</section>


<section class="panel panel-default">
    <div class="panel-body">
        <%= hlp_application_btn_submit('banner') %>
    </div>
</section>

<% end %>
