<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Banners </strong>
            <%= link_to "+ Adicionar", new_manager_banner_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Período</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @banners.each do |banner| %>
                <tr>
                    <td><%= banner.id %></td>
                    <td><%= link_to banner.client_name, edit_manager_banner_path(banner) %></td>
                    <td><%= banner.banner_type.name if banner.banner_type %></td>
                    <td><%= l(banner.start_date, format: '%d.%b') if banner.start_date %> / <%= l(banner.end_date, format: '%d.%b') if banner.end_date %> </td>
                    <td>
                        <a href="<%= edit_manager_banner_path(banner) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_banner_path(banner), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
