.blog-department {
	border-bottom: 2px solid $tango;
	margin-bottom: 20px;
	padding-bottom: 20px;


	a.title {
		color: $tango;
		
		h2 {
			font-weight: bold;	
		}

		&:hover {
			text-decoration: underline;
		}
	}

	a.more {
		color: $tango;
		&:hover {
			text-decoration: underline;
		}
	}
}