.blog-image {
	max-height: 500px;
	max-width: 400px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.blog-show-author {
	background: #eee;
	border-bottom: 2px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;

	h3 {
		color: $tango;
		font-weight: bold;
		margin-top: 10px;
	}

	.author-picture {
		max-width: 263px;
		margin-bottom: 10px;
	}
}

.blog-post {
  font-family: "Raleway", Arial, sans-serif;
  margin-bottom: 60px;
}

.blog-post-by {
  color: rgba(0,0,0,0.44);
  font-style: italic;
}

.blog-post-image {
  margin: 0 auto;
}

.blog-post-title {
  color: $brand-primary;
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
}

.blog-post-subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.44);
  font-weight: 300;
  font-size: 25px;
  line-height: 1.2;
}

.blog-post-text {

  margin: 0 30px;
  color: $brand-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  p {
    margin-bottom: 20px;
  }

}

