<div class="col-md-4">
    <h2>Geral</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11032013223203tabdevol.pdf" download><i class="fa fa-download"></i> Alíneas de cheques devolvidos</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011104727MODELO_CADASTRO_DE_CONSUMIDOR___PF.pdf" download><i class="fa fa-download"></i> Cadastro consumidor - Pessoa Física</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011104803MODELO_CADASTRO_DE_CONSUMIDOR___PJ.pdf" download><i class="fa fa-download"></i> Cadastro consumidor - Pessoa Jurídica</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_05032013170109MODELO_CARTA_DE_COBRANcA.pdf" download><i class="fa fa-download"></i> Carta Cobrança</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11052011165039CONVENIOS_M%C9DICOS.pdf" download><i class="fa fa-download"></i> Convênios médicos</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011113159MODELO_DE_CARIMBOS_PARA_CHEQUES.pdf" download><i class="fa fa-download"></i> Modelo carimbos de cheques</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011104913MODELO_DE_CARTAZ.pdf" download><i class="fa fa-download"></i> Modelo cartaz - Dados do consumidor</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011105636CARTAZ_PREcOS.pdf" download><i class="fa fa-download"></i> Modelo cartaz - Preços</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011104939CONTRATO_NOVACAO_DE_DIVIDA.pdf" download><i class="fa fa-download"></i> Modelo contrato novação de dívidas</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011105025MODELO_DE_CONDICIONAL.pdf" download><i class="fa fa-download"></i> Modelo de condicional</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011105120MODELO_DE_ORCAMENTO.pdf" download><i class="fa fa-download"></i> Modelo orçamento</a> </li>
    </ul>
</div>


<div class="col-md-4">
    <h2>Normas e leis</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_01032013154511codigodefesaconsumidor.pdf" download><i class="fa fa-download"></i> Código de defesa do consumidor</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011105544ESTATUTO_2010.pdf" download><i class="fa fa-download"></i> Estatuto CDL</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_11022011111656REGULAMENTO_SPC_SC.pdf" download><i class="fa fa-download"></i> Regulamento SPC/SC</a> </li>
    </ul>
</div>


<div class="col-md-4">
    <h2>Novo sistema</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_31052013145432CancelamentoDeRegistros.pdf" download><i class="fa fa-download"></i> Manual de cancelamentos</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_31052013145611ConsultasEmGeral.pdf" download><i class="fa fa-download"></i> Manual de consultas</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_31052013145255Registros.pdf" download><i class="fa fa-download"></i> Manual de registros</a> </li>
    </ul>
</div>

