<div class="col-md-4">
    <h2>Modelos de documentos</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015164743DOWN_11032013223203tabdevol_(1).pdf" download><i class="fa fa-download"></i>  ALÍNEAS DE CHEQUES DEVOLVIDOS</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015164853Cadastro_de_Consumidor.pdf" download><i class="fa fa-download"></i>  CADASTRO CONSUMIDOR - PESSOA FISICA</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015164950DOWN_11022011104803MODELO_CADASTRO_DE_CONSUMIDOR___PJ.pdf" download><i class="fa fa-download"></i>  CADASTRO CONSUMIDOR - PESSOA JURIDICA</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015165403e668CONTRATO_NOVACAO_revisado_em_06_11_14_1_(1).doc" download><i class="fa fa-download"></i>  CONTRATO DE NOVAÇÃO</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015165257MODELO_CADASTRO_DE_CONDICIONAL.pdf" download><i class="fa fa-download"></i>  MODELO CADASTRO - CONDICIONAL</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015165058DOWN_11022011104913MODELO_DE_CARTAZ.pdf" download><i class="fa fa-download"></i>  MODELO CARTAZ - DADOS DO CONSUMIDOR</a> </li>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_18032015115916DOWN_11022011113159MODELO_DE_CARIMBOS_PARA_CHEQUES_(1).pdf" download><i class="fa fa-download"></i>  MODELOS DE CARIMBOS PARA CHEQUES</a> </li>
    </ul>
</div>


<div class="col-md-4">
    <h2>Normas e leis</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/DOWN_19062015165702CDC_Personalizado(4).pdf" download><i class="fa fa-download"></i>  CDC - CÓDIGO DE DEFESA DO CONSUMIDOR</a> </li>
    </ul>
</div>

<div class="col-md-4">
    <h2>Relação de conveniados</h2>
    <ul>
        <li> <a href="/downloads/<%= @current_org.name %>/Relação Conveniados - CDL Convênios.pdf" download><i class="fa fa-download"></i>  Cartão CDL Convênios</a> </li>
    </ul>
</div>

