<div class="col-md-4">
    <h2>Consultas</h2>
    <ul>
        <li> <a href="<%= page_spc_path('xanxere') %>"><i class="fa fa-link"></i>  Consulta SPC Xanxerê. </a> </li>
        <li> <a href="<%= page_spc_path('entrerios') %>"><i class="fa fa-link"></i>  Consulta SPC Entre Rios. </a> </li>
</div>
