<div class="col-md-4">
    <h2>Geral</h2>
    <ul>
        <li> <a href="http://www.cndl.org.br" target="_blank"><i class="fa fa-link"></i> CNDL</a> </li>
        <li> <a href="http://www.correios.com.br" target="_blank"><i class="fa fa-link"></i> Correios</a> </li>
        <li> <a href="http://www.fcdl-sc.org.br/redirect.php?center=viewPrincipal" target="_blank"><i class="fa fa-link"></i> FCDL</a> </li>
        <li> <a href="http://www.nfelojista.com.br/CdlXaxim/logar.aspx" target="_blank"><i class="fa fa-link"></i> NFELojista - Acesso ao usuário</a> </li>
        <li> <a href="http://www.nfelojista.com.br/" target="_blank"><i class="fa fa-link"></i> NFELojista - www.nfelojista.com.br</a> </li>
        <li> <a href="http://www.xaxim.sc.gov.br" target="_blank"><i class="fa fa-link"></i> PREFEITURA MUNICIPAL DE XAXIM</a> </li>
        <li> <a href="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicita" target="_blank"><i class="fa fa-link"></i> RECEITA FEDERAL - CNPJ</a> </li>
        <li> <a href="http://www.receita.fazenda.gov.br/aplicacoes/atcta/cpf/consultapublica.asp" target="_blank"><i class="fa fa-link"></i> RECEITA FEDERAL - CPF</a> </li>
    </ul>
</div>

