<table class="table plan-table">
    <tr class="header">
        <th></th>
        <th class="plan-1 text-center">CDL Básico</th>
        <th class="plan-2 text-center">CDL Top</th>
    </tr>

    <tr>
        <td>Anúncios ativos</td>
        <td class="plan-0 text-center">3</td>
        <td class="plan-3 text-center">Ilimitado</td>
    </tr>

    <tr>
        <td>Marca + Subdomínio na loja</td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
    </tr>

    <tr>
        <td>Página personalizada</td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
    </tr>

    <tr>
        <td>Envio de SMS<br>
          <small>- R$ 0,12 / SMS</small> <br>
          <small>- Pagamento mínimo de 10 SMS</small>
         </td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
        <td class="plan-0 text-center"><strong><i class="fa fa-check" aria-hidden="true"></i></strong></td>
    </tr>


    <tr>
        <td>Valor mensal</td>
        <td class="plan-0 text-center lead"><strong><%= number_to_currency(WHITELABEL_PLAN_0_VALUE) %></strong></td>
        <td class="plan-1 text-center lead"><strong><%= number_to_currency(WHITELABEL_PLAN_1_VALUE) %></strong></td>
    </tr>

    <!-- <tr class="tr-btn">
        <td></td>
        <td class="plan-1 text-center"><a href="#" class="btn btn-success btn-lg plan-select" plan="basico">Selecionar</a></td>
        <td class="plan-2 text-center"><a href="#" class="btn btn-success btn-lg plan-select" plan="top">Selecionar</a></td>
    </tr> -->
</table>

<table class="table plan-table">
    <tr class="header">
        <th class="plan-1 text-center" colspan="2">Parceiro de sucesso</th>
    </tr>

    <tr>
        <td class="plan-0 text-center" colspan="2">Disponível somente para o plano CDL Top.</td>
    </tr>

    <tr>
        <td class="text-center"><strong>PÁGINA INICIAL</strong></td>
        <td class="text-center"><strong>POR DEPARTAMENTO</strong></td>
    </tr>    

    <tr>
        <td class="plan-0 text-center lead">
            <strong><%= number_to_currency(WHITELABEL_PLAN_2_VALUE) %>/mensal</strong><br/>
            <span style="font-size: 0.7em;">Vagas limitadas. 28 vagas.</span>
        </td>
        <td class="plan-0 text-center lead">
            <strong><%= number_to_currency(WHITELABEL_PLAN_4_VALUE) %>/mensal</strong>
        </td>
    </tr>

</table>
