<div class="row">
    <div class="col-md-12">
        <h2>Serviços</h2>

        <p>
            As CDL’s através de seu banco de dados nacionais movimentam cerca de 20 milhões de informações de concessão de crédito ao mês, possuindo um universo de 40 milhões de registro ativos, o que permite a qualquer empresa ter um substancial de informação no momento da aprovação de crédito.
        </p>

        <p>
            <h4>As consultas feitas ao SPC proporcionam:</h4>

        </p>
    </div>
</div>
