<div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">

                <p > <strong> Por favor, leia os seguintes termos e condições cuidadosamente pois o uso do serviço está sujeito à sua aceitação e cumprimento com os seguintes termos e condições. </strong> </p>
                <p>
                    <%= @current_org.business_name %> , com sede na <%= @current_org.address_street %>, <%= @current_org.address_number %> – <%= @current_org.address_additional %>, <%= @current_org.city.name %>-<%= @current_org.state.symbol %>, CEP <%= @current_org.zip_code %>, CNPJ: <%= @current_org.cnpj %>, doravante denominada simplesmente <%= @current_org.fullname %>, e, de outro lado, o cliente <%= @current_org.fullname %>, qualificado no momento do anúncio de produtos/serviços e/ou de visualizar os produtos disponíveis no site <%= @current_org.fullname %>, doravante denominado simplesmente Cliente.
                </p>

                <p>
                    Considerando que o <%= @current_org.fullname %> realiza a exposição de produtos e serviços pela internet;
                </p>

                <p>
                    Considerando o interesse do Cliente na compra dos serviços oferecidos pelo <%= @current_org.fullname %> ("Produtos") em seus canais de venda;
                </p>

                <p>
                    O presente contrato tem por finalidade estabelecer as condições gerais de uso e compra de serviços do cliente do site <%= @current_org.fullname %>.
                </p>

                <hr>
                <div class="w100 clearfix">
                    <h3>I – ACEITAÇÃO DO USUÁRIO </h3>
                    <p>
                        1.1 - A utilização dos serviços oferecidos pelo <%= @current_org.fullname %>, por meio do website www.<%= current_org.domain %>, depende necessariamente da aceitação pelo USUÁRIO destes Termos e Condições de Uso.
                    </p>

                    <p>
                        1.2 - O USUÁRIO deverá ler atentamente os termos ora apresentados, estando plenamente de acordo com todas as condições ora estabelecidas e plenamente ciente de que, a partir de seu aceite, os presentes Termos e Condições terão força vinculante imediata entre as partes.
                    </p>

                    <p>
                        1.3 - Ao fazer uso dos serviços oferecidos pelo <%= @current_org.fullname %>, o USUÁRIO concorda em respeitar e seguir todas e quaisquer disposições e regras ora estabelecidas, bem como aquelas que venham a integrar os presentes Termos e Condições no futuro.
                    </p>

                    <p>
                        1.4 - O USUÁRIO desde já concorda e reconhece que os “Termos e Condições de Uso” poderão sofrer alterações ao longo do tempo, seja por questões legais ou estratégicas a critério exclusivo do <%= @current_org.fullname %>.
                    </p>
                    <hr>

                    <h3>II – SERVIÇOS OFERECIDOS PELO <%= @current_org.fullname %></h3>
                    <p>
                        2.1 - O serviço oferecido pela <%= @current_org.fullname %> consiste em apresentar ao USUÁRIO, cadastrado ou não ao site, itens e produtos disponibilizados por ANUNCIANTES cadastrados no site eletrônico do <%= @current_org.fullname %>.
                    </p>

                    <p>
                        2.2 – Os itens e produtos disponibilizados no site eletrônico do <%= @current_org.fullname %> são responsabilidade única e exclusiva do ANUNCIANTE, que utiliza o website www.<%= current_org.domain %> apenas como suporte para a divulgação de seus produtos e promoções.
                    </p>

                    <p>
                        2.3 - A aquisição dos produtos disponibilizados pelos ANUNCIANTES se dá mediante contato direto entre estes e os USUÁRIOS, estando o <%= @current_org.fullname %> completamente eximido de qualquer responsabilidade quanto à entrega ou qualidade desses produtos.
                    </p>

                    <p>
                        2.4 – Caso o produto oferecido pelo ANUNCIANTE não esteja de acordo com as características e especificações divulgadas no website www.<%= current_org.domain %>, o USUÁRIO deverá recusá-lo e entrar imediatamente em contato com o <%= @current_org.fullname %>, através da “Central de Atendimento” a fim de informar sobre a inadequação das informações constantes no referido website.
                    </p>
                    <hr>

                    <h3>III - SISTEMA DO <%= @current_org.fullname %></h3>
                    <p>
                        3.1 - O produto será ofertado por meio de divulgação de informações pelo ANUNCIANTE em site eletrônico específico hospedado no website www.<%= current_org.domain %>, em nome e por conta do ANUNCIANTE responsável.
                    </p>

                    <p>
                        3.2 - Cada oferta de produto conterá as informações sobre o produto em questão, as condições para sua aquisição, meios e condições de pagamento e dados de contato direto do ANUNCIANTE.
                    </p>

                    <p>
                        3.3 - A manifestação do USUÁRIO, quando interessado em adquirir o produto ofertado, deverá dar-se na forma indicada, juntamente com a efetivação do pagamento, conforme instruções indicadas no próprio ANUNCIANTE.
                    </p>
                    <hr>

                    <h3>IV. NORMAS DE PUBLICAÇÃO DOS ANÚNCIOS</h3>
                    <p>
                        O SITE reserva-se o direito exclusivo de decidir se um anúncio se encontra de acordo com estas regras e com os interesses comerciais do SITE. Estregras são atualizadas com frequência, pelo que recomendamos a consulta periódica desta página.
                    </p>

                    <p>
                        Quando rejeitados os anúncios, o <%= @current_org.fullname %> não está obrigada a comunicar ao Usuário os motivos da rejeição. Em alguns casos nós comunicamos os usuários e enviamos uma mensagem com o motivo da rejeição.
                    </p>

                    <p>
                        O <%= @current_org.fullname %> não se obriga a disponibilizar aos Usuários o backup de anúncios/ publicações cujos prazos de contratação já expiraram ou foram desativados por qualquer motivo, por ação própria ou do Usuário.
                    </p>

                    <p>
                        4.1. Anúncios Particulares e de Profissionais - A publicação de anúncios no SITE é permitida a pessoa jurídica ou pessoa física, tendo atividades comerciais ou não. Nos reservamos o direto de decidir quando um anúncio deve ser classificado como empresa. Os anúncios de empresas são permitidos em todas categorias.
                    </p>

                    <p>
                        4.2. Marketing - Só é permitido anunciar vendas, alugueis, e serviços. Não é permitida a utilização de anúncios para efeitos exclusivos de marketing, por exemplo, não implicando, em concreto, a oferta de quaisquer bens, empregos, ou serviços.
                    </p>

                    <p>
                        4.3. Serviços - Os serviços oferecidos ou solicitados devem respeitar as leis e regulamentação Brasileiras aplicáveis a cada categoria profissional.
                    </p>

                    <p>
                        4.4. Texto do anúncio - O título do anúncio deve descrever o item ou o serviço anunciado; não é permitida a inclusão de nomes de empresas ou de URL (endereços Web). Não é permitida a utilização de caracteres especiais ou caracteres maiúsculos no título. O SITE reserva-se o direito de alterar o título do anúncio, de acordo com as regras de publicação estabelecidas. O item ou serviço deve ser descrito no texto do anúncio.
                    </p>

                    <p>
                        Não é permitido copiar os textos dos anúncios de outros anunciantes; estes textos estão ao abrigo da lei de direito de autor e direitos conexos. Não é permitida a utilização de termos de pesquisa ou de palavras-chave no texto do anúncio.
                    </p>

                    <p>
                        Só é permitida a publicação de anúncios no idioma Português. Não são permitidos anúncios ou imagens que possam ser entendidos como ofensivos, por exemplo ofendendo grupos étnicos, indivíduos ou figuras públicas.
                    </p>

                    <p>
                        4.5 Links e dados de contato - Não é permitida a inserção de links direcionando para outras páginas web ou endereços de e-mail no texto do anúncio. Não é permitido mencionar outros websites de leilões ou de anúncios classificados.
                    </p>

                    <p>
                        4.6. Categorias - O anúncio deverá ser publicado na categoria que melhor descrever o item ou serviço. O SITE poderá, se necessário, deslocar o anúncio para a categoria mais apropriada. Bens e serviços que não se integrem numa mesma categoria deverão ser publicados em anúncios diferentes.
                    </p>

                    <p>
                        4.7. Um só produto, veículo ou propriedade por anúncio - Não é permitido postar mais de um produto, veículo ou imóvel no mesmo anúncio.
                    </p>

                    <p>
                        4.8. Anúncios duplicados - Não é permitido postar anúncios do mesmo item/serviço ou de itens/serviços muito parecidos. Da mesma forma, não é permitido inserir o mesmo anúncio em diferentes categorias ou regiões. Não é permitido usar a mesma imagem em anúncios diferentes. Também não é permitido remover os anúncios e republicá-los com o propósito de colocá-los de volta ao topo dos resultados.
                    </p>

                    <p>
                        4.9. Imagens - As imagens integradas nos anúncios deverão ser relevantes ao item ou serviço anunciado. As imagens devem representar o item anunciado. Não é permitido o utilização das imagens de catálogo para itens de segunda mão. É proibida a utilização de logotipos de empresas como imagem. Não é permitida a utilização de imagens de outros anunciantes, sem o seu consentimento prévio, nem logotipos ou marcas de água de sites concorrentes. As imagens estão protegidas por legislação relativa a direitos de autor e direitos conexos.
                    </p>

                    <p>
                        Não é permitido usar imagens pessoais, é proibido que os anúncios contenham fotos de pessoas com traje de banho ou lingerie para divulgação do produto. Não é permitida a utilização da mesma imagem em mais de um anúncio.
                    </p>

                    <p>
                        4.10. Produtos ilegais ou proibidos - Não é permitido anunciar nenhum item/serviço pirata (por exemplo desbloqueio de consoles de jogos, réplicas de marcas conhecidas), CD/VCD/DVD, e software para computadores. Todos os produtos devem ser expressamente certificados como originais pelo anunciante na descrição do anúncio.
                    </p>

                    <p>
                        Não é permitido anúncio de venda ou oferta de produtos, bens ou serviços que sejam proibidos de acordo com as leis brasileiras no SITE. Para ver a lista de produtos restritos, clique aqui.
                    </p>

                    <p>
                        O SITE impõe restrições ao anúncio de determinados bens e serviços.Estes não podem ser anunciados. Para ver uma lista de produtos proibidos, <strong><%= link_to "clique aqui", page_ilegais_path %></strong>.
                    </p>

                    <p>
                        4.11. Ofertas não credíveis - Não é permitida a publicação de anúncios incluindo ofertas não críveis. O SITE reserva-se o direito de discricionariedade relativamente a ofertas não críveis.
                    </p>

                    <p>
                        4.12. Localização - Os produtos ou serviços deverão estar localizados no Brasil.
                    </p>
                    <hr>

                    <h3>V - CADASTRO DO USUÁRIO</h3>
                    <p>
                        5.1 - Os serviços do <%= @current_org.fullname %> estão disponíveis apenas para pessoas em pleno gozo de sua capacidade legal para contratá-los. Ao confirmar o seu “aceite” em relação aos presentes Termos e Condições de Uso, o USUÁRIO declara não estar enquadrados em nenhuma das hipóteses previstas pelos artigos 3º e 4º do Código Civil brasileiro (Lei 10.406/2002).
                    </p>

                    <p>
                        5.2 - O USUÁRIO deverá fornecer informações exatas, precisas e verdadeiras, quanto ao seu cadastro e assume o compromisso de atualizar seus dados pessoais sempre que forem alterados. O cadastro do USUÁRIO será confirmado apenas quando houver o preenchimento de todos os campos necessários.
                    </p>

                    <p>
                        5.3 - Na medida em que os dados pessoais são fornecidos pelo próprio USUÁRIO, o <%= @current_org.fullname %> não se responsabiliza pela correção, veracidade, exatidão e autenticidade das informações cadastradas, sendo essa responsabilidade única e exclusiva do USUÁRIO.
                    </p>

                    <p>
                        5.4 – O <%= @current_org.fullname %> reserva-se o direito de utilizar todos os meios válidos e possíveis para identificar seus USUÁRIOS, bem como o de solicitar dados adicionais e documentos que eventualmente considere pertinentes para a conferência dos dados pessoais informados pelo USUÁRIO.
                    </p>

                    <p>
                        5.5 - Caso seja constatada a existência de dados cadastrais incorretos ou inverídicos por parte do USUÁRIO, ou ainda em caso de negativa em enviar documentos eventualmente requeridos, o <%= @current_org.fullname %> poderá bloquear o USUÁRIO, impedindo-o de comprar produtos, ou ainda suspender temporariamente ou cancelar definitivamente o cadastro do USUÁRIO, sem prejuízo da adoção de outras medidas que se façam necessárias.
                    </p>

                    <p>
                        5.6 - Após a efetivação de seu cadastro, o USUÁRIO deverá acessar sua conta utilizando o endereço de email fornecido e a senha cadastrada, comprometendo-se a não informar a terceiros esses dados e responsabilizando-se integralmente pelo uso que deles seja feito.
                    </p>

                    <p>
                        5.7 - O USUÁRIO será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso a ela só será possível mediante utilização da senha que é de seu exclusivo conhecimento.
                    </p>

                    <p>
                        5.8 - O USUÁRIO compromete-se a notificar o <%= @current_org.fullname %>, imediatamente, por meio da “Central de atendimento”, a respeito de qualquer uso não autorizado de sua conta ou de acesso não autorizado por terceiros.
                    </p>

                    <p>
                        5.9 - Em nenhuma hipótese será permitida a cessão, venda, aluguel ou outra forma de transferência da conta do USUÁRIO.
                    </p>
                    <hr>

                    <h3>VI - SIGILO E PRIVACIDADE</h3>
                    <p>
                        6.1 – O <%= @current_org.fullname %> compromete-se a tomar todas as medidas possíveis, bem como a utilizar a tecnologia disponível para manter a segurança e a confidencialidade dos dados fornecidos pelo USUÁRIO, porém não se responsabiliza por eventual prejuízo que decorra de violação dessas medidas por terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de USUÁRIOS.
                    </p>

                    <p>
                        6.2 – O <%= @current_org.fullname %> poderá, a seu critério, usar as informações fornecidas pelo USUÁRIO, para fins de compartilhamento de outros serviços, com empresas do grupo <%= @current_org.fullname %>, sejam elas filiais, afiliadas, coligadas ou prestadoras de serviço.
                    </p>
                    <hr>

                    <h3>VII - OBRIGAÇÕES DO USUÁRIO</h3>
                    <p>
                        7.1 – O <%= @current_org.fullname %> não se responsabiliza pelas obrigações tributárias que recaiam sobre as atividades dos USUÁRIOS do site, bem como sobre as atividades do ANUNCIANTE. Nos termos da legislação pertinente em vigor, o USUÁRIO deverá exigir nota fiscal do ANUNCIANTE em todas as suas transações.
                    </p>
                    <hr>

                    <h3>VIII - PENALIDADES E CANCELAMENTO DE CADASTRO</h3>
                    <p>
                        8.1 - O USUÁRIO que desrespeitar os compromissos assumidos neste instrumento estará sujeito às sanções previstas nestes Termos e Condições de Uso, sem prejuízo de responder civil e criminalmente por seus atos ou omissões.
                    </p>

                    <p>
                        8.2 - Sem prejuízo das demais sanções legais e daquelas previstas neste instrumento, o <%= @current_org.fullname %> poderá, a seu critério, notificar, suspender ou cancelar o cadastro do USUÁRIO, a qualquer tempo, definitiva ou temporariamente, segundo sua política interna ou nos seguintes casos: <br>
                        a) Descumprimento de quaisquer disposições previstas nos presentes Termos e Condições de Uso; <br>
                        b) Não cumprimento de quaisquer de suas obrigações; <br>
                        c) Identificação de novo cadastro realizado por Usuário que teve seu cadastro cancelado ou suspenso; <br>
                        d) Identificação de cadastro duplicado; <br>
                        e) Identificação de fraude ou tentativa de fraude; <br>
                        f) Fornecimento de informações incorretas e/ou inverídicas <br>
                        g) Negativa na prestação de eventuais informações solicitadas pelo <%= @current_org.fullname %>, para a conferência dos dados cadastrais. <br>
                        h) Em caso de inadimplemento deste, os acessos serão cortados até que se resolva a pendência e a empresa ficará sujeitas as mesmas penalidades que constam no contrato de prestação de serviços assinado pelo associado quando da inclusão da empresa no quadro social da <%= @current_org.fullname %>. <br>
                        i) A <%= @current_org.fullname %> entende que o período mínimo para adaptação do USUÁRIO à nova ferramenta é de 6 (seis) meses, ficando o USUÁRIO ciente de que em caso de cancelamento do contrato antes de um período mínimo de 6 (seis) meses, o mesmo pagará multa rescisória equivalente ao período restante até que se complete 6 (seis) meses da data de contratação.
                    </p>
                    <hr>

                    <h3>IX - DISPOSIÇÕES GERAIS</h3>
                    <p>
                        9.1 - Os Termos e Condições de Uso ora previstos e quaisquer outras políticas divulgadas pelo <%= @current_org.fullname %> no website www.<%= current_org.domain %> representam o pleno e completo acordo e entendimento entre o USUÁRIO e o <%= @current_org.fullname %>, estando afastadas quaisquer disposições em sentido contrário.
                    </p>

                    <p>
                        9.2 - Na hipótese de qualquer termo ou disposição do presente instrumento vir a ser declarado nulo ou não aplicável, tal nulidade ou inexequibilidade não afetará quaisquer outros, termos ou disposições aqui contidos, os quais permanecerão em pleno vigor e efeito.
                    </p>

                    <p>
                        9.3 - Eventual tolerância de quaisquer das partes a infrações ou descumprimento das condições estipuladas no presente instrumento será tida como ato de mera liberalidade, não constituindo precedente, novação ou renúncia a direitos que a legislação ou o contrato assegurem.
                    </p>

                    <p>
                        9.4 - Os Termos e Condições de Uso ora previstos, assim como a relação entre as partes, são regidos pelas leis da República Federativa do Brasil.
                    </p>

                    <p>
                        9.5 - Fica eleito o foro de domicílio do Cliente para dirimir eventuais controvérsias a respeito deste contrato.
                    </p>

                    <hr>

                </div>
            </div>
        </div>
        <!--/row end-->

    </div>
</div>
