<section class="panel panel-default">

    <div class="panel-body">
        <%= simple_form_for @order, url: (@order.new_record? ? manager_orders_path : manager_order_path(@order)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :kind, as: :hidden %>

            <div class="row">
                <div class="col-md-6">
                    <%= f.association :user, collection: User.where(seller: true) %>
                    <%= f.input :value, as: :string, input_html: { class: 'decimal' } %>
                    <%= f.input :note %>

                    <% if @order.kind == 'Banner' %>
                        <%= f.input :date_start, as: :date %>
                        <%= f.input :date_end, as: :date %>
                        <%= f.input :banner_type_id, as: :select, collection: BannerType.all %>
                    <% else %>
                        <%= f.input :plan, collection: [
                                ['Somente banner', 'banner'],
                                ['Básico', 'basico'],
                                ['Top', 'top'],
                            ], include_blank: false %>
                    <% end %>
                </div>

                <div class="col-md-6">
                    <label>Check-list</label>
                    <%= f.simple_fields_for :order_checklists do |p| %>
                        <%= p.input :order_id, as: :hidden %>
                        <%= p.input :name, as: :hidden %>
                        <%= p.input :raw_order, as: :hidden %>
                        <span class="checkbox">
                            <label>
                                <%= p.check_box :done, class: 'check_boxes optional' %>
                                <%= p.object.name %>
                            </label>
                        </span>

                    <% end %>
                </div>
            </div>


            <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check"></i> Salvar ordem de compra</button>
        <% end %>
    </div>
</section>
