<section class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-th"></span> Alterando ordem de compra de  <strong><%= @order.kind %></strong></div>
    </section>

	<%= render 'form' %>
</section>
