<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Pedidos de compra </strong>
            <%= link_to "+ Adicionar compra de Plano", new_manager_order_path(kind: 'Plano'), class: 'btn btn-xs btn-success' %> |
            <%= link_to "+ Adicionar compra de Banner", new_manager_order_path(kind: 'Banner'), class: 'btn btn-xs btn-success' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th></th>
                    <th>Nota</th>
                    <th>Checklist</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <% total = order.order_checklists.count; completed = order.order_checklists.completed.count %>
                <tr>
                    <td><%= link_to(order.user.fullname, edit_manager_order_path(order)) if order.user %></td>
                    <td><%= number_to_currency(order.value) %></td>
                    <td><%= l(order.created_at, format: :short) %></td>
                    <th><%= order.kind %></th>
                    <td><%= order.note %></td>
                    <td>
                        <% if completed == total %>
                            <span class="label label-success"><%= completed %> / <%= total %></span>
                        <% else %>
                            <span class="label label-danger"><%= completed %> / <%= total %></span>
                        <% end %>
                    </td>
                    <td>
                        <a href="<%= edit_manager_order_path(order) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
