<section class="page-form-ele page">

    <section class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-th"></span> Nova ordem de compra de  <strong><%= @order.kind %></strong></div>
    </section>

	<%= render 'form' %>
</section>
