<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> Banner</strong></div>
        <div class="panel-body"><%# data-ng-controller="RatingDemoCtrl"> %>
            <p>Conteudo</p>
        </div>
    </section>

</div>
