.boolean label {
  font-weight: normal !important;
  cursor: pointer !important;
}

// meus dados
// .is_user_kind_pj,
// .is_user_kind_pf {
//   display: none;
// }

#user_birthday_3i,
#user_resp_birthday_3i {
  float: left;
  width: 80px;
}

#user_birthday_2i,
#user_resp_birthday_2i {
  float: left;
  margin-left: 10px;
  width: 150px;
}

.radio_buttons_inline {
  display: block;

  &.control-label {
    margin-bottom: 12px;
  }

  .radio-inline label {
    cursor: pointer;
    font-weight: normal;
  }
}


#account-tips {
  width: 290px;

  &.affix {
    position: fixed;
    top: 30px;
    width: 290px !important;
  }

  // &.affix-top {
  // }

  &.affix-bottom {
    position: absolute;
  }
}


// Campo de imagem
.img-uploader {
  position: relative;

  .upload{
    border: none;
    position: absolute;
    width: 169px;
    padding: 0;
    margin: 0 10px;
    margin-top: -58px;
    z-index: 6;

    .progress .bar{
      height: 20px;
    }
  }

  a.delete {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
}



.product-image {

  .wait {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 100px;
    height: 162px;
    line-height: 162px;
    border-radius: 3px;
    background: #fff;
    opacity: 0.8;
    font-weight: bold;
  }

}


.img-uploader .image-box {
  // width: 189px;
  height: 162px;
  line-height: 117px;
  background: $tango;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  position: relative;
  overflow: hidden;

  input {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 189px;
      height: 147px;
      font-size: 20;
      cursor: pointer;
      z-index: 20;
      @include opacity(0.0);
  }

  img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 189px;
    height: 147px;
  }

  .img-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 50px;
  }

  .check-icon {
    display: none;
    font-size: 50px;
    position: absolute;
    // margin-top: -10px;
    left: 143px;
    z-index: 20000;
    color: #fff;
  }

  span {
    display: block;
    position: absolute;
    z-index: 5;
    padding: 5px;
    background: $tango;
    line-height: normal;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    font-size: 14px;
    @include opacity(0.5);
  }


  .upload{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 189px;
  }

  &:hover{
    background: $tango + 20;
    cursor: pointer;
    span{ @include opacity(1); }
  }

}

.img-drag {
  border: 2px dashed $tango;
  text-align: center;
  background: #e9eaed;
  height: 162px;
  padding-top: 40px;
  border-radius: 10px;

  h3 {
    font-weight: bold;
  }
}

.img-up-image1 .image-box {
  background: $tango - 30;
}


.product-image {
  text-align: center;

  .img-container {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
  }

  .btn-delete {
    position: absolute;
  }
}




.ad-options {
    text-align: center;
    margin-bottom: 15px;
}

.ad-options > .col-md-3 + div, .ad-options > .col-md-2 + div, .ad-options > .col-md-1 + div {
    border-left: 1px solid #ccc;
}

.ad-options .form-group {
    padding: 10px 0;
}

.ad-options .form-group, .ad-options label {
    margin-bottom: 0;
}
