.categories-tree {
  min-height: 448px;
}

.categories-tree ul {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 5px;

    i.fa-arrow-circle-right {
      float: right;
      display: none;
      font-size: 19px;
    }

    &.selected {
      background: $tango;
      color: #fff;

      i.fa-arrow-circle-right {
        display: block;
      }
    }
  }
}

// TODO: muito escuro, deixar mais clean
.department-tree a {
  line-height: 33px;
  background: transparentize($tango, .4);
  color: #fff;

  i.fa-arrow-circle-right {
    font-size: 25px;
    line-height: 33px;
  }

  i[class^="icons-"],
  i[class*=" icons-"] {
    width: 40px;
  }

  &.selected {
    background: $tango;
  }

  &:hover, &:focus {
    border: none;
  }
}

.categories-tree .category-tree {
  display: none;

  h3{ color: #fff; }
}



.categories-tree .category-tree[department] {
  background: $tango;
  // min-height: 396px;
  .cartFooter{ background: #fff !important; }

  a {
    color: #fff;
    padding: 5px;
  }

  label {
    display: block;
    padding: 0 10px;
    color: #fff;

    input {
      margin-top: -1px;
      vertical-align: middle;
    }
  }

  li:last-child{
    padding-bottom: 30px;
  }

}


.categories-tree .category-tree[category] {
  background: $black-haze;
  // min-height: 396px;


}
