.info-panel {
    background: #e9eaed;
    border-radius: 5px;
    padding: 10px;

    .main-info {
        font-size: 30px;
        color: $tango;
    }

    .title-info {
        font-size: 15px;
    }

    &.fixed-height {
        height: 111px;
    }
}
