.user-custom-header {
  min-height: 190px;
  &.hide-info {
    min-height: 384px;
  }
}

.page-custom-contact {
  @include box-shadow(0 3px 5px 0 rgba(0,0,0, 0.3));
}

.user-custom-logo {
  min-height: 161px;

  @media (max-width: $screen-md-max) {
    min-height: auto;
  }
}

.user-custom.content{
	padding-top: 10px;
}

.user-custom-info {
	background: rgba(255,255,255,0.9);
	padding: 10px;
  font-size: 18px;

  small {
    font-size: 70%;
  }

  i {
    width: 18px;
    min-height: 10px;
    display: inline-block;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.user-custom-phone {
	// background: #fff;
	// height: 140px;
  margin-bottom: 10px;
}

.user-custom-address {
  margin-bottom: 10px;
}

.user-custom-top-banner {
  // min-height: 395px;
  overflow: hidden;
  height: 384px;

  @media (max-width: $screen-md-max) {
    height: auto;
  }
}

.user-custom.top-results {
	background: #fff;
	padding-left: 10px;
  @include box-shadow(0 1px 3px 0 rgba(0,0,0, 0.3));
}

.user-custom.more-departments{
	line-height: 100px;
	a{
		color: $tango;
	}
}

.user-mall-stores {
	h2 {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.user-mall-store {
		display: block;
		border-bottom: 1px solid #eee;
		margin-bottom: 3px;

		&:hover {
			background: #eee + 10;
		}
	}
}
