table.plan-table {
    $plan1: #DEDFE1;
    $plan2: #D1D2D4;
    $plan3: #B8B9BB;
    $plan0: $plan1 + 10;

    tr td { vertical-align: middle; }

    font-size: 15px;
    .header {
        border: none;
        th {
            border: none;
            font-size: 20px;
        }
    }
    .plan-1 { background: $plan1 + 20; }
    .plan-2 { background: $plan2 + 20; }
    .plan-3 { background: $plan3 + 20; }
    .plan-0 { background: $plan0 + 20; }

    .selected {
        background: $tango;
        color: #fff;
    }

    tr:nth-child(even) {
        td.plan-1 { background-color: rgba(222, 223, 225, 0.8); }
        td.plan-2 { background-color: rgba(209, 210, 212, 0.8); }
        td.plan-3 { background-color: rgba(184, 185, 187, 0.8); }
        td.plan-0 { background-color: #fff; }
        td.selected { background-color: rgba(241, 116, 32, 0.8); }
    }
}
