<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <%= link_to image_tag("clictem_logo_v2.png"), root_path %>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
            	<section class="row signin-social text-center">
            		<h2>Re-enviar instruções de confirmação da conta</h2>
            	</section>

            	<span class="line-thru">&nbsp;</span>
                <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post , class: 'form-horizontal'} ) do |f| %>
                	<%= devise_error_messages! %>
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "E-mail" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.submit "Enviar para o meu e-mail as instruções", class: "btn btn-primary btn-lg btn-block" %>
                        </div>
                    </fieldset>
                <% end %>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>

</div>