<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-th"></span> Produtos</strong></div>
        <div class="panel-body"><%# data-ng-controller="RatingDemoCtrl"> %>
            <!-- <p>Conteudo</p> -->

			<input type="text" ng-model="name"/>
			<p>Nome: {{ name }}</p>

			<p>
				<a href="#!/products/form">Form</a>
			</p>

        </div>
    </section>

</div>
