
// Variaveis do Bootstrap - Somente as que são alteradas (irá sobreescrever as variaveis padrões)
// --------------------------------------------------


// http://chir.ag/projects/name-that-color/

// MARCA
$chathams-blue: 		      #16556a; //#15546a;
$tango: 				          #f17420;
$oslo-gray: 			        #898b8d;

// VARIAÇÕES
$white:                   #fff;
$black-haze: 			        #eaebec;
$silver-sand: 			      #bcbec0;
// $wedgewood: 			        #4a82a0;
$calypso: 				        #306c8b;
$pelorous: 				        #40abbd;
$fontain-blue: 			      #54bdc6;
$jaffa: 				          #f28545;
$salem:                       #118C30;

$submarine: 			        #bfc9ca;

$brand-primary:           $tango;

// CUSTOM VARIABLES
$brand-secondary:         $chathams-blue;

$nav-active-link-color:   $tango;

/*==========   ==========*/


//== Scaffolding
//
//## Settings for some of the most global styles.

$text-color:            $brand-secondary; //$gray-dark !default; // #####

//** Global textual link color.
$link-color:            $brand-secondary; //$brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 10%); //darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  Asap, "Helvetica Neue", Helvetica, Arial, sans-serif; // "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-base:          14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;

//== Forms
//
//##

//** Border color for inputs on focus
$input-border-focus:             $tango; //#66afe9 !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default; // 40px;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    90px; //50px !default;
