/*==========  Icons  ==========*/
@import "compass/utilities/sprites";

$icon-layout:smart;
@import "icons/*.png";
@include all-icons-sprites(true);

[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  vertical-align: middle;
  // margin-right: 5px;
  // margin-top: 1px;
}


