<div class="row">
    <%= simple_form_for(@category) do |f| %>
      <%= f.hidden_field :department_id %>

        <div class="col-md-4">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Dados da categoria</strong>
                    </div>
                    <div class="panel-body">
                        <%= f.error_notification %>

                        <%= f.input :name, hint: (@category.slug ? '/'+ @category.slug : '') %>
                        <%= f.input :raw_order %>

                        <div class="form-group">
                            <label class="ui-checkbox"><%= f.check_box :on_menu %>
                            <span>Exibir no menu?</span></label>
                        </div>

                        <fieldset>
                            <legend>SEO</legend>
                            <%= f.input :keywords %>
                            <%= f.input :description, as: :text %>
                        </fieldset>

                        <div class="row">
                            <div class="col-md-12">
                                <%= hlp_application_btn_submit('categoria') %>
                            </div>
                        </div>
                    </div>
            </section>
        </div>



    <% end %>
</div>
