<div class="nested-fields">
	<div class="col-md-7">
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="col-md-3">
		<label class="ui-checkbox"><%= f.check_box :on_menu %> <span>Exibir no menu?</span></label>
	</div>
	<div class="col-md-2">
		<%= link_to_remove_association "REMOVER", f, class: 'btn btn-danger' %>
	</div>
</div>