<div class="page page-table">
	<h1>Categorias</h1>
	<% @departments.each do |department| %>
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	Departamento:  <strong><%= department.name %></strong>
				<%= link_to "+ Adicionar catetoria neste departamento", new_manager_ad_category_path(dept: department.id), class: 'btn btn-xs btn-success pull-right' %>
	        </div>
	        <table class="table table-striped table-hover">
	            <thead>
	                <tr>
	                    <th>Nome</th>
	                    <th>Menu?</th>
                        <th>Ordem</th>
                        <th>Produtos?</th>
	                    <th>Ações</th>
	                </tr>
	            </thead>

	            <tbody>
					<% department.categories.each do |category| %>
						<tr>
							<td><strong><%= link_to category.name, edit_manager_ad_category_path(category) %></strong></td>
							<td>
								<% if category.on_menu? %>
									<span class="label label-primary"><i class="fa fa-check"></i></span>
								<% end %>
							</td>
                            <td><%= category.raw_order %></td>
                            <td><%= category.products.size %></td>
							<td>
								<%= link_to 'Editar', edit_manager_ad_category_path(category) %> ou
								<%= link_to 'Excluir', category, method: :delete, confirm: 'Deseja excluir?' %>
							</td>
						</tr>
					<% end %>
	            </tbody>
	        </table>
	    </div>
    <% end %>
</div>
