<p>
    Nova compra de pacote de SMS.
</p>

<% user = @buy.user %>

<fieldset>
    <legend>Informações sobre a compra</legend>
    Cliente: <strong><%= user.name %></strong> <br>
    Quantidade: <strong><%= @buy.qtd %></strong> <br>
    Valor: <strong><%= number_to_currency Sms::Buy.calc_value(@buy.qtd) %></strong> <br>
    <% if user.sms_buys.size == 1 %>
        Esta é a <strong>primeira</strong> compra de SMS
    <% else %>
        O cliente já comprou <strong><%= user.sms_buys.size %></strong> vezes.
    <% end %>
</fieldset>

<fieldset>
    <legend>Dados do cliente</legend>
    <strong><%= user.name %></strong> <br>
    <address>
        <%= user.city.name %> - <%= user.state.symbol.upcase %> <br>
        <%= user.address_street %>, <%= user.address_number %> <%= user.address_compl %> <br>
        <%= user.address_district %> - <%= user.address_zipcode %><br>
        <%= user.phone %> <br>
        <%= user.cellphone %> <br>
        Responsável: <strong><%= user.resp_name %></strong>
    </address>
</fieldset>
