<p>Olá, tudo bem?</p>

<p>
    Segue abaixo uma nova mensagem de campanha criada através do <%= @current_org.fullname %>. Precisamos de seu retorno o mais breve possível.
</p>

<p>
    Lembrando que, caso apareça a variável <strong>%NOME%</strong>, ela será substituída pelo primeiro nome do destinatário.
</p>

<p>
    <strong>Mensagem: </strong> <%= @campaign.message %>
</p>

<p>
    Grato pela atenção. <br>
    Marcelo
</p>
