<div class="row">
    <div class="breadcrumbDiv col-lg-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li><a href="/acesso">Acesso</a></li>
            <li class="active"> Criando uma nova conta </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner text-center"><span><i class="fa fa-user"></i> Crie agora mesmo sua conta!</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps">
        <%= link_to page_acesso_path do %>
          <i class="fa fa-chevron-left"></i> Já tenho uma conta
        <% end %>
      </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row userInfo">

            <div class="col-md-6 col-md-offset-3">
                <h2 class="block-title-2"> Criar Conta </h2>

                <%= simple_form_for(
                        resource,
                        :as => resource_name,
                        :url => registration_path(resource_name)
                    ) do |f|
                %>

                    <%= f.error_notification %>
                    <%= f.hidden_field :city_id, value: @current_org.city_id %>
                    <%= f.input :name, required: true %>
                    <%= f.input :last_name, required: true %>
                    <%= f.input :cellphone, required: true %>
                    <%= f.input :genre,
                                as: :radio_buttons_inline,
                                collection: [['Masculino', 'm'], ['Feminino', 'f']],
                                required: true
                            %>
                    <%= f.input :email, required: true, placeholder: "Insira seu E-mail" %>
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
                    <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>

                    <div class="form-group">
                        <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
                    </div>
                    
                    <div class="form-group">
                        <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
                    </div>

                    <div class="form-group">
                        <p class="text-muted text-small">Ao clicar em "Criar minha conta", você estará concordando com os <a href="<%= page_termos_path %>" target="_blank">termos & condições</a> e a <a href="<%= page_politica_path %>" target="_blank"> política de privacidade</a>.</p>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user"></i> Criar minha conta</button>
                <% end %>

                <!-- <hr /> -->

                <!-- <h2 class="block-title-2"><span>Ou acesse diretamente com sua conta do Facebook</span></h2>
                <%= link_to  user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block btn-lg' do %>
                    <i class="fa fa-facebook"></i> Acessar com Facebook
                <% end %> -->
            </div>

        </div>
        <!--/row end-->

    </div>

    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div> <!--/row-->
