<div class="w100 productFilter clearfix user-custom top-results">
    <div class="pull-left color2">
        Foram encontrados <strong><%= @products.total_count %></strong> anúncios
        |
        Empresas participantes
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Selecionar empresa <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                    <li class="<%= 'active' unless @seller %>">
                        <a href="<%= themed_campaign_url(subdomain: @themed_campaign.subdomain) %>" class="<%= 'bg2 border2' unless @seller %>">
                            Todas as empresas
                        </a>
                    </li>
                    <li class='divider'></li>
                    <% @sellers.each do |seller| %>
                        <% active = (@seller and seller.id == @seller.id) ? true : false %>
                        <li class="<%= 'active' if active == true %>">
                            <a href="<%= themed_campaign_path(seller: seller.subdomain) %>" class="<%= 'bg2 border2' if active == true %>">
                                <%= seller.fullname %>
                            </a>
                        </li>
                    <% end %>
            </ul>
        </div>
    </div>
    <div class="pull-right ">
        <div class="col-md-5">
            <a href="#"  data-toggle="modal" data-target="#customerModal" class="btn btn-primary bg2 border2">Tenho empresa e quero <strong>participar</strong></a>
        </div>
    </div>
</div>
