<%= simple_form_for(Customer.new, url: themed_campaign_create_path, remote: true, html: { class: '' }) do |f| %>

    <h3>
      O que acha de vender <strong>muito mais</strong>?
    </h3>

    <p>
      Então deixe suas informações nos campos abaixo. Nós entraremos em contato.
    </p>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :name, required: true %>
        </div>
        <div class="col-md-6">
            <%= f.input :email, required: true %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <%= f.input :company %>
        </div>
        <div class="col-md-4">
            <%= f.input :phone, autocomplete: false %>
        </div>
        <div class="col-md-4">
            <%= f.input :cellphone, autocomplete: false %>
        </div>
    </div>

    <%= f.hidden_field :campaign_id, value: @themed_campaign.id  %>


    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block bg1 border1">Enviar informações</button>
        </div>
    </div>

<% end %>
