<!-- Modal para preenchimento de oportunidade -->
<%= simple_form_for(Customer.new, url: themed_campaign_create_path, remote: true) do |f| %>

<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Campanha <strong><%= @themed_campaign.title %></strong></h4>
      </div>
      <div class="modal-body">

        <h3>
          O que acha de vender <strong>muito mais</strong>?
        </h3>

        <p>
          Então deixe suas informações nos campos abaixo. Nós entraremos em contato.
        </p>

        <div class="row">
            <div class="col-md-6">
                <%= f.input :name, required: true %>
            </div>
            <div class="col-md-6">
                <%= f.input :email, required: true %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <%= f.input :company %>
            </div>
            <div class="col-md-4">
                <%= f.input :phone %>
            </div>
            <div class="col-md-4">
                <%= f.input :cellphone %>
            </div>
        </div>

        <%= f.hidden_field :campaign_id, value: @themed_campaign.id  %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Enviar informações</button>
      </div>
    </div>
  </div>
</div>

<% end %>
