<div class="home most-view">
    <div class="container">
        <hr class="hr3" />

        <h2 class="section-title style2 text-center">
            <span>EMPRESAS PARTICIPANTES</span>
        </h2>
    </div>
</div>

<div class="container" style="margin-bottom: 30px;">
    <div class="clearfix">
        <div class="col-md-12">
            <div class="slide-clients hide">
                <% @sellers.each do |client| %>
                    <% next if !client.stamp? %>
                    <a href="<%= themed_campaign_path(seller: client.subdomain) %>">
                        <%= image_tag(client.stamp_url) %>
                    </a>
                <% end %>
            </div>
        </div>
    </div>
</div>
