 <div class="register hide">
    <h2>
        <strong class="name">Nome</strong>, anuncie agora mesmo!
    </h2>

    <p>
       Preencha os campos abaixo e comece agora mesmo a divulgar seus produtos e serviços.
    </p>

    <%= simple_form_for(
            resource,
            :as => resource_name,
            :url => registration_path(resource_name)
        ) do |f|
    %>

        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :email, required: true, placeholder: "Insira seu E-mail" %>
        <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
        <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>

        <div class="form-group">
            <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
        </div>

        <div class="form-group">
            <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
        </div>

        <div class="form-group">
            <p class="text-muted text-small">Ao clicar em "Cadastrar e anúnciar", você estará concordando com os <a href="<%= page_termos_path %>" target="_blank">termos & condições</a> e a <a href="<%= page_politica_path %>" target="_blank"> política de privacidade</a>.</p>
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-lg bg1 border1"><i class="fa fa-user"></i> Cadastrar e anúnciar</button>
    <% end %>

    <hr>

    <h2 class="block-title-2"><span>Ou acesse diretamente com sua conta do Facebook</span></h2>
    <%= link_to  user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block btn-lg' do %>
        <i class="fa fa-facebook"></i> Acessar com Facebook
    <% end %>
</div>
