alert('Muito obrigado pelas informações. Em breve entraremos em contato.');
$('#customerModal').modal('hide');
$('#new_customer').toggleClass('hide');
$('.register').toggleClass('hide');
$('#user_name').val('<%= @customer.name %>');
$('#user_email').val('<%= @customer.email %>');
$('strong.name').html('<%= @customer.name %>');
$('#user_password').focus();
