<div class="row user-custom-header hide-info">

</div>

<div class="row">
    <div class="col-md-12">

      <% if @sellers.size > 1 %>
          <%= render 'parceiros' %>
          <%= render 'filtro_empresas' %>
      <% else %>
        <!-- Só um espaço para os produtos  -->
        <div style="height: 30px;"></div>
      <% end %>

        <% if @seller %>
        <div class="row">
            <div class="col-md-12">
                <div class="w100 clearfix category-top">
                    <h1 class="section-title style2 text-center"><span><%= @seller.fullname %></span></h1>
                </div>
            </div>
        </div>
        <% end %>


        <div class="row categoryProduct xsResponse clearfix">
            <%= render partial: 'site/products/product', collection: @products, locals: { item_class: 'col-md-3' } %>
        </div>


        <div class="clearfix"></div>

        <div class="categoryFooter">
            <div class="clearfix">
                <div class="col-md-12">
                    <div class="hide"><%= paginate @products %></div>
                </div>
            </div>

        </div>
    </div>
</div>

<%= render 'modal_form' %>
