<div class="row user-custom-header hide-info">

</div>

<div class="row">
    <div class="col-md-12">

        <!-- <div class="w100 productFilter clearfix user-custom top-results">
            <div class="pull-right ">
                <div class="col-md-5">
                    Inserir newsletter
                </div>
            </div>
        </div> -->


        <div class="row categoryProduct xsResponse clearfix">
            <br /><br />
            <div class="col-md-6 col-md-offset-3 panel color2">
                <br />
                <%= render 'form' %>

                <%= render 'register' %>
                <br />
            </div>
            <br /><br />
        </div>


    </div>
</div>


