<%= simple_form_for(@campaign, url: (@campaign.new_record? ? offers_campaigns_path : offers_campaign_path(@campaign))) do |f| %>
    <%= f.error_notification %>

    <div class="row">
        <div class="col-md-12">
            <%= f.input :title, class: 'input-lg' %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <%= f.input :date_start, as: :date_picker, class: 'form-control' %>
        </div>
        <div class="col-md-2">
            <%= f.input :date_end, as: :date_picker, class: 'form-control' %>
        </div>

        <div class="col-md-5 form-group check_boxes_inline offers">
            <label>
                Dias da semana

                <i class="fa fa-question-circle" data-toggle="popover" data-placement="right" data-content="Você pode selecionar os dias da semana que a oferta estará disponível." data-title="O que é?"></i>

            </label> <br>
            <%= f.input :repeat, as: :radio_buttons_inline, label: false, collection: [['Todos os dias', false], ['Selecionar dias:', true]] %>

            <ul class="row <%= f.object.repeat ? '' : 'hide' %>">

                <% 7.times do |i| %>
                    <li class="col-md-3"><span class="checkbox-inline">
                        <label>
                            <%= f.check_box "wday#{i}", class: 'check_boxes_inline' %> <%= I18n.t(:"date.day_names")[i] %>
                        </label>
                    </span></li>
                <% end %>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Anúncios da oferta</legend>

                <div class="row offers">
                    <div class="col-md-12">
                        <%= f.simple_fields_for :offers do |offer| %>
                            <%= render 'offer_fields', f: offer %>
                        <% end %>

                        <div class="col-md-12 offer-btn offer-show">
                            <%= link_to_add_association raw('<i class="fa fa-certificate"></i> Adicionar um anúncio'), f, :offers, class: 'btn btn-default btn-block' %>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-md-3">
            <button class="btn btn-success btn-block btn-lg" type="submit">
                <i class="fa fa-check"></i> Salvar campanha
            </button>
        </div>
    </div>
<% end %>
