<div class="row nested-fields">

    <div class="clearfix">
        <div class="col-md-5">
            <%= f.input :product_id, collection: current_user.products, blank: false, input_html: { data: { placeholder: 'Selecione um anúncio' }, class: 'chosen-select' } %>
        </div>

        <div class="col-md-2">
            <label>Preço normal</label> <br>
            <span style="font-size: 20px;" class="price"><%= f.object.new_record? ? 'R$ 0,00' : number_to_currency(f.object.product.price) %></span>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <%= f.label :price %>
                <div class="input-group">
                    <span class="input-group-addon">R$</span>
                    <%= f.text_field :price, class: 'form-control', 'price-format' => true %>
                </div>
            </div>
        </div>

        <div class="col-md-2">
                <div class="has-cupom">
                    <%= f.input :has_cupom, as: :radio_buttons_inline, collection: [['Sim', true], ['Não', false]], checked: f.object.has_cupom? %>
                </div>


                <div class="has-no-cupom">
                    <br />
                    <div class="alert alert-warning">
                        Cupons esgotados
                    </div>
                </div>
        </div>

        <div class="col-md-1 text-right">
            <br>
            <%= link_to_remove_association raw('<i class="fa fa-trash"></i>'), f, class: 'btn btn-default btn-lg has-tooltip pull-right', title: 'Remover oferta', data: { placement: 'bottom' } %>
        </div>
    </div>

    <% if current_user.offer_cupoms_limit > 0 %>
        <div class="clearfix">
            <div class="<%= f.object.has_cupom? ? '' : 'hide' %> cupom-configs">

                <div class="col-md-4">
                    <%= f.input :cupom_note, placeholder: 'Ex.: Limite de 5 unidades por cupom' %>
                </div>

                <div class="col-md-3">
                    <%= f.input :has_cupom_limit, as: :radio_buttons_inline, collection: [['Não', false], ['Selecionar limite', true]] %>
                </div>

                <div class="col-md-2">
                    <div class="<%= f.object.has_cupom_limit? ? '' : 'hide' %> cupom_limit">
                        <%= f.input :cupom_limit %>
                    </div>
                </div>

                <div class="col-md-3 text-right">
                    <% if f.object.cupoms.size == 0 %>
                        Ainda não foram gerados cupons.
                    <% else %>
                        Foram gerados <strong><%= f.object.cupoms.size %></strong> cupons.
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <div class="col-md-12"><hr></div>
</div>
