<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner">
                Campanhas

                <%= link_to new_offers_campaign_path, class: "btn btn-success btn-sm" do %>
                    <i class="fa fa-plus-circle"></i> Nova Campanha
                <% end %>
            </h1>
            <%= flash_messages %>
    </div>
</div>

<!-- Lista de anúncios -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                
            </div>

          <!-- Table -->
          <table class="table table-striped table-hover table-middle">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Período</th>
                    <th>Semanal?</th>
                    <th>Cupom?</th>
                    <th>Válida para hoje?</th>
                    <th class="text-center">Anúncios</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody>
                <% @campaigns.each do |campaign| %>
                    <tr>
                        <td><%= link_to campaign.title, edit_offers_campaign_path(campaign) %></td>
                        <td><strong><%= l campaign.date_start, format: :short %></strong> até <strong><%= l campaign.date_end, format: :short %></strong></td>
                        <td><%= campaign.repeat? ? campaign.wdays : 'Não' %></td>
                        <td><%= campaign.has_cupom? ? 'Sim' : 'Não' %></td>
                        <td><%= campaign.is_valid? ? 'Sim' : 'Não' %></td>
                        <td class="text-center"><%= campaign.offers.count %></td>
                        <td class="text-center">
                            <%= link_to edit_offers_campaign_path(campaign), class: 'btn btn-link' do %>
                                <i class="fa fa-edit" title="Editar campanha" data-toggle="tooltip" data-placement="top"></i>
                            <% end %>

                            <%= link_to offers_campaign_path(campaign), class: 'btn btn-link', method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                                <i class="fa fa-trash-o" title="Excluir campanha"  data-toggle="tooltip" data-placement="top"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>

          </table>
        </div>
    </div>
</div>
