<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Criando nova campanha promocional</h1>

        <%= render 'form' %>
    </div>
</div>
