<%= simple_form_for(@product) do |f| %>
    <%= f.hidden_field :department_id %>
    <%= f.error_notification %>
    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Selecione uma categoria</strong>
                    </div>
                    <div class="panel-body">
                        <% if @product.errors.messages.has_key?(:sub_category_id) %>
                            <div class="callout callout-danger">
                                Você deve selecionar uma categoria
                            </div>
                        <% end %>
                        <div class="clearfix categories-tree" data-department="<%= @product.department_id %>" data-category="<%= @product.category_id %>">
                        </div>
                    </div>
            </section>
        </div>

        <% if @product.new_record? == false %>
        <div class="col-md-4">
            <section class="panel panel-default">
                    <div class="panel-body ">
                            <p>Este anúncio já recebeu <strong><%= pluralize(@product.views_count, 'visualização', 'visualizações') %></strong>.</p>
                    </div>
            </section>
        </div>
        <% end %>

    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>Dados do anúncio</strong>
                </div>
                <div class="panel-body">
                    <%= f.input :name %>

                    <div class="form-group">
                        <%= f.label :brand_id %>
                        <div class="brand_id" data-department="<%= @product.department_id %>" data-brand="<%= @product.brand_id %>"></div>
                    </div>

                    <%= f.input :code %>

                    <%= f.input :on_request,
                        collection: [['Informar valor', false], ['Consultar', true]],
                        wrapper: :colmd4,
                        input_html: { class: 'form-control' },
                        include_blank: false
                    %>

                    <div class="form-group col-md-4">
                        <%= f.label :offer_price %>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <%= f.text_field :offer_price, class: 'form-control', 'price-format' => true %>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <%= f.label :price %>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <%= f.text_field :price, class: 'form-control', 'price-format' => true %>
                        </div>
                    </div>


                    <%= f.input :payment_description, as: :text %>

                    <%= f.input :is_service,
                        as: :radio_buttons_inline,
                        collection: [['Produto', false], ['Serviço', true]],
                        wrapper: :colmd6
                    %>

                    <%= f.input :is_old,
                        as: :radio_buttons_inline,
                        collection: [['Sim', true], ['Não', false]],
                        wrapper: :colmd6
                    %>


                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Fale um pouco sobre seu anúncio</strong>
                    </div>
                    <div class="panel-body row">
                        <%= f.input :description, wrapper: :colmd12, label: false, input_html: { class: "redactor" } %>
                    </div>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Imagens do anúncio</strong>
                    </div>
                    <div class="panel-body row">
                        <%= f.input :image1,
                            wrapper: :colmd3,
                            as: :image_preview,
                            input_html: { preview_version: :list }
                        %>
                        <%= f.input :image2,
                            wrapper: :colmd3,
                            as: :image_preview,
                            input_html: { preview_version: :list }
                        %>
                        <%= f.input :image3,
                            wrapper: :colmd3,
                            as: :image_preview,
                            input_html: { preview_version: :list }
                        %>
                        <%= f.input :image4,
                            wrapper: :colmd3,
                            as: :image_preview,
                            input_html: { preview_version: :list }
                        %>
                    </div>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Script</strong>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-12">
                            <%= f.input :script, label: false, input_html: { rows: 10 } %>
                        </div>
                    </div>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                    <div class="panel-body">
                        <%= hlp_application_btn_submit('anuncio') %>

                        <% if @product.published? %>
                            <div class="pull-right">
                                <%= link_to ad_url(@product.department_slug, @product.category_slug, @product.slug,subdomain: false), class: 'btn btn-xs btn-link', target: '_blank' do %>
                                    <i class="fa fa-external-link"></i> Ver Anúncio
                                <% end %>
                            </div>
                        <% elsif @product.is_valid? %>
                            <div class="pull-right">
                                <label><%= f.check_box :published %> Publicar anúncio?</label>
                            </div>
                        <% end %>
                    </div>
            </section>
        </div>
    </div>
<% end %>


