<% if @products.size > 0 %>
	<table class="table">
		<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= product.name %></td>
				<td><%= product.user.name %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h2>Nenhum produto encontrado</h2>
<% end %>