<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading">
        	<strong>Lista de produtos</strong> - há um total de <%= @products.total_count %> produtos cadastrados
			<%= link_to "+ Adicionar Produto", new_manager_ad_product_path, class: 'btn btn-xs btn-success pull-right' %>

            <%= form_tag manager_ad_products_path, method: :get do %>
                <%= text_field_tag :search, '', size: 70, placeholder: "Buscar produto" %>
            <% end %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Usuário</th>
                    <th>Visualizações</th>
                    <th>Publicado?</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
				<% @products.each do |product| %>
					<tr>
                        <td><%= product.id %></td>
                        <td><%= l(product.created_at, format: :short ) %></td>
						<td><%= link_to (product.name.present? ? product.name : "(SEM NOME)" ), edit_manager_ad_product_path(product) %></td>
                        <td><%= product.category.name %></td>
						<td><%= product.user.name %></td>
						<td><%= product.views_count %></td>
                        <td><%= hlp_site_produtos_published(product) %></td>
						<td>
							<%= link_to 'Editar', edit_manager_ad_product_path(product) %>,
							<%= link_to 'Excluir', product, method: :delete, confirm: 'Deseja excluir?' %>
                            <% if product.published? %>
                                <%= link_to ad_url(product.department_slug, product.category_slug, product.slug,subdomain: false), class: 'btn btn-xs btn-link', target: '_blank' do %>
                                ou <i class="fa fa-external-link"></i> Ver Anúncio
                                <% end %>
                            <% end %>
						</td>
					</tr>
				<% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12">
	<%= paginate @products %>
</div>

