<div class="row">
<%= simple_form_for(@sub_category) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :category_id %>

		<div class="col-md-6">
			<section class="panel panel-default">
					<div class="panel-heading">
						<strong>Dados da subcategoria</strong>
					</div>
					<div class="panel-body">
						<%= f.error_notification %>

						<%= f.input :name, hint: (@sub_category.slug ? '/'+@sub_category.slug : '') %>
                        <div class="form-group">
                            <label class="ui-checkbox"><%= f.check_box :on_menu %>
                            <span>Exibir no menu?</span></label>
                        </div>

                        <fieldset>
                            <legend>SEO</legend>
                            <%= f.input :keywords %>
                            <%= f.input :description, as: :text %>
                        </fieldset>

						<%= hlp_application_btn_submit('subcategoria') %>
					</div>
			</section>
		</div>

<% end %>
</div>