<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="s18" ss:Name="Currency">
     <NumberFormat
      ss:Format="_-&quot;R$&quot;* #,##0.00_-;\-&quot;R$&quot;* #,##0.00_-;_-&quot;R$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s64" ss:Parent="s18">
     <Font ss:Size="12" ss:Color="#000000"/>
    </Style>
 </Styles>

  <Worksheet ss:Name="Faturamento">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Período</Data></Cell>
        <Cell><Data ss:Type="String">De: <%=  l @date_start, format: "%d/%m/%Y" %></Data></Cell>
        <Cell><Data ss:Type="String">Até: <%= l @date_end, format: "%d/%m/%Y" %></Data></Cell>
      </Row>
      <Row></Row>
      <Row>
        <Cell><Data ss:Type="String">Cliente</Data></Cell>
        <Cell><Data ss:Type="String">Plano</Data></Cell>              
        <Cell><Data ss:Type="String">SMS Enviado</Data></Cell>

        <% @departamentos.each do |dept| %>
          <Cell><Data ss:Type="String"><%= dept.name %></Data></Cell>
        <% end %>

        <% @banner_types.each do |banner| %>
          <Cell><Data ss:Type="String"><%= banner.name %></Data></Cell>
        <% end %>

        <% @campaigns.each do |campaign| %>
          <Cell><Data ss:Type="String"><%= campaign.title %></Data></Cell>
        <% end %>

        <Cell></Cell>
        <Cell></Cell>
        <Cell><Data ss:Type="String">Permuta Plano Clictem</Data></Cell>
        <Cell><Data ss:Type="String">Permuta Plano CDL</Data></Cell>
        <Cell><Data ss:Type="String">Permuta Banner Clictem</Data></Cell>
        <Cell><Data ss:Type="String">Permuta Banner CDL</Data></Cell>


      </Row>

    <% @clientes.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_plan.to_f %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.sms_value(@date_start).to_f %></Data></Cell>

        <!-- DEPARTAMENTOS -->
        <% @departamentos.each do |dept| %>          
          <% if user.departments_premium.pluck(:id).include? dept.id %>
            <% if dept.is_home %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_premium.to_f %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_premium_dept.to_f %></Data></Cell>
            <% end %>
          <% else %>
            <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
          <% end %>
        <% end %>

        <!-- BANNERS -->
        <% @banner_types.each do |banner| %>
          <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.banner_value(@date_start, banner).to_f %></Data></Cell>
        <% end %>

        <% @campaigns.each do |campaign| %>
            <% if user.campanha_paga(campaign.id) %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= campaign.value.to_f %></Data></Cell>
            <% end %>
        <% end %>

        <Cell></Cell>
        <Cell></Cell>
        <!-- PERMUTA PLANO -->
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.discount_plan(:clictem).to_f %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.discount_plan(:cdl).to_f %></Data></Cell>
        <!-- PERMUTA BANNER -->
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.discount_banners(@date_start, :clictem).to_f %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.discount_banners(@date_start, :cdl).to_f %></Data></Cell>

      </Row>
    <% end %>


    <Row></Row>
    <Row></Row>
    <Row><Cell><Data ss:Type="String">ASSOCIADOS</Data></Cell></Row>
    <% @associados.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_plan.to_f %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.sms_value(@date_start).to_f %></Data></Cell>

        <!-- DEPARTAMENTOS -->
        <% @departamentos.each do |dept| %>          
          <% if user.premium and user.departments.pluck(:id).include? dept.id %>
            <% if dept.is_home %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_premium.to_f %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.value_premium_dept.to_f %></Data></Cell>
            <% end %>
          <% else %>
            <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
          <% end %>
        <% end %>

        <!-- BANNERS -->
        <% @banner_types.each do |banner| %>
          <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= user.banner_value(@date_start, banner).to_f %></Data></Cell>
        <% end %>

        <% @campaigns.each do |campaign| %>
          <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
        <% end %>

        <Cell></Cell>
        <Cell></Cell>
        <!-- PERMUTA PLANO -->
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
        <!-- PERMUTA BANNER -->
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>
        <Cell ss:StyleID="s18"><Data ss:Type="Number"><%= 0.0 %></Data></Cell>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
