<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            Faturamento mensal
        </div>
        <div class="panel-heading">

            <div class="row">
                <div class="col-md-3">
                    Filtrar data
                    <%= form_tag manager_bills_path, method: :get do %>
                        <%= select_year(@date_start, end_year: Date.today.year + 1) %>
                        <%= select_month(@date_start) %>
                        <%= hidden_field_tag :format, 'xls' %>
                        <button type="submit" class="btn btn-sm btn-success">
                          <i class="fa fa-download" aria-hidden="true"></i> Baixar Excel
                        </button>
                    <% end %>
                </div>

                <!-- <div class="col-md-6" style="padding-top: 19px;">
                    <a href="<%= new_manager_bill_path(date: @date_start) %>" class="btn btn-sm btn-info ">Atualizar faturamento para esta data</a>
                </div> -->

                <!-- <div class="col-md-3" style="padding-top: 19px;">
                    <%= form_tag manager_bills_path, method: :get do %>
                        <%= hidden_field_tag :date, @date_start %>
                        <%= hidden_field_tag :format, 'xls' %>
                        <button type="submit" class="btn btn-sm btn-primary pull-right">Baixar Excel</button>
                    <% end %>
                </div> -->


            </div>

        </div>

    </div>
</div>
