.field_with_errors{
	input, input:focus {
		border: 1px solid $brand-danger;
	}

	label, .text-danger{
		color: $brand-danger;
	}
}

.radio_buttons_inline {
  display: block;
  .radio-inline label {
    cursor: pointer;
    font-weight: normal;
  }
}
