<div class="row">
    <div class="breadcrumbDiv col-lg-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li class="active"> Acessando sua conta </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9">
        <h1 class="section-title-inner">
            <span><i class="fa fa-lock"></i> Acesse agora mesmo a sua conta!</span>
        </h1>

        <div class="row userInfo">
            <div class="col-md-6">
                <h2 class="block-title-2"><span>Entrar com minha conta do Facebook</span></h2>
                <%= link_to  user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block btn-lg' do %>
                    <i class="fa fa-facebook"></i> Acessar com Facebook
                <% end %>

                <hr>

                <h2 class="block-title-2"><span>Já tenho uma conta</span></h2>
                <%= simple_form_for(
                        User.new,
                        :as => resource_name,
                        :url => session_path(resource_name)
                    ) do |f|
                %>
                    <%= f.input :email, placeholder: "Insira seu E-mail" %>
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua Senha" %>

                    <div class="form-group">
                        <% if devise_mapping.rememberable? -%>
                          <%= f.label :remember_me, style: 'font-weight: normal; cursor:pointer', class: "text-muted text-small" do %>
                                <%= f.check_box :remember_me %>
                                Lembrar dados
                            <% end %>
                        <% end -%>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-sign-in"></i> Acessar minha conta</button>
                <% end %>
                <hr>

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <p class="text-center"><%= link_to "Esqueceu a senha?", new_password_path(resource_name) %></p>
                <% end -%>

            </div>

            <div class="col-md-6">
                <h2 class="block-title-2"> Quero criar uma conta </h2>

                <%= simple_form_for(
                        resource,
                        :as => resource_name,
                        :url => registration_path(resource_name)
                    ) do |f|
                %>

                    <%= f.error_notification %>
                    <%= f.input :name %>
                    <%= f.input :email, required: true, placeholder: "Insira seu E-mail" %>
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua Senha" %>
                    <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>

                    <div class="form-group">
                        <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
                    </div>

                    <div class="form-group">
                        <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
                    </div>

                    <div class="form-group">
                        <p class="text-muted text-small">Ao clicar em "Criar minha conta", você estará concordando com os <a href="<%= page_termos_path %>" target="_blank">termos & condições</a> e a <a href="<%= page_politica_path %>" target="_blank"> política de privacidade</a>.</p>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user"></i> Criar minha conta</button>
                <% end %>
            </div>

        </div>
        <!--/row end-->

    </div>

    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div> <!--/row-->
