<section>
<%- if controller_name != 'sessions' %>
  <p class="text-center text-muted">Já possui uma conta? <%= link_to "Faça o Login", new_session_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="text-center text-muted text-small">Não possui uma conta ainda? <%= link_to "Cadastrar-se", new_registration_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p class="text-center"><%= link_to "Esqueceu a senha?", new_password_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p class="text-center"><%= link_to "Não recebeu as instruções de confirmação da conta?", new_confirmation_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p class="text-center"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></p>
<% end -%>

</section>
