<div class="row">
<%= simple_form_for @post, url: (@post.new_record? ? manager_blog_posts_path : manager_blog_post_path(@post)) do |f| %>
  <%= f.error_notification %>

    <div class="col-md-12">
        <section class="panel panel-default">
                <div class="panel-body">
                    <%= f.error_notification %>

                    <%= f.input :title %>

                    <%= f.input :subtitle %>

                    <%= f.input :tags %>

                    <%= f.input :published_at %>

                    <div class="row">
                        <div class="col-md-6">
                            <%= f.input :department_id, collection: Manager::Ad::Department.all %>
                        </div>

                        <div class="col-md-6">
                            <%= f.input :author_id, collection: Blog::Author.all %>
                        </div>
                    </div>

                    <%= f.input :text, input_html: { class: "redactor" } %>

                    <div class="row">
                        <div class="col-md-6">
                            <%= f.input :image1,
                                as: :image_preview,
                                input_html: { preview_version: :thumb }
                            %>
                        </div>

                        <div class="col-md-6">
                            <%= f.input :image_fb,
                                as: :image_preview,
                                input_html: { preview_version: :thumb }
                            %>
                        </div>
                    </div>

                    <%= hlp_application_btn_submit('post') %>
                </div>
        </section>
    </div>

<% end %>
</div>
