<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Posts de blogs </strong>
            <%= link_to "+ Adicionar", new_manager_blog_post_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Sub-título</th>
                    <th>Departamento</th>
                    <th>Autor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post| %>
                <tr>
                    <td><%= link_to post.title, edit_manager_blog_post_path(post) %></td>
                    <td><%= post.subtitle %></td>
                    <td><%= post.department.name %></td>
                    <td><%= post.author.name %></td>
                    <td>
                        <a href="<%= edit_manager_blog_post_path(post) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_blog_post_path(post), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
