<%= hlp_site_breadcrumb_render('Clictem Blog') %>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="w100 clearfix category-top">
            <h1>Clictem Blog</h1>
        </div><!--/.category-top-->
        <div class="row categoryProduct xsResponse clearfix">
            <% @authors.each do |author| %>
            <div class="item col-md-4 featuredImgLook2">
                <div class="product-item inner text-center border-hover1" style="min-height: inherit;">
                    <div class="image">
                        <%= link_to blog_author_url(author.slug, subdomain: false) do %>
                            <% if author.image? %>
                                <img src="<%= image_path(author.image_url(:thumb)) %>" alt="<%= author.title %>" class="img-responsive">
                            <% else %>
                                <!-- <img src="<%#= image_path("placeholder-#{ @current_org.name }-200.jpg") %>" class="img-responsive" alt="<%#= "Aguarde carregar a imagem de #{author.name}" %>"> -->
                            <% end %>
                        <% end %>
                    </div>
                    <h3>
                        <a href="<%= blog_author_url(author.slug, subdomain: false) %>" class="color2" style="color: #f17420;">
                            <%= author.title %>
                        </a>
                    </h3>
                    <% about = author.subtitle || "" %>
                    <p class="description-grid-view color3"><%= truncate(about, length: (about.size > 27 ? 66 : 90), separator: ' ') %></p>

                    <%= link_to blog_author_url(author.slug, subdomain: false), class: 'btn btn-link color3' do %>
                        VER POSTAGENS <i class="fa fa-long-arrow-right"></i>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
