<%= hlp_site_breadcrumb_render(@author.name) %>

<div class="row">
    <div class="col-md-3">
        <% if @author.image? %>
            <img src="<%= image_path(@author.image_url(:thumb)) %>" alt="<%= @author.title %>" class="img-responsive author-picture" />
        <% else %>
            <!-- <img src="<%#= image_path("placeholder-#{ @current_org.name }-200.jpg") %>" class="img-responsive" alt="<%#= "Aguarde carregar a imagem de #{@author.name}" %>" /> -->
        <% end %>
    </div>

    <div class="col-md-9">
        <h1 style="color: #f17420;"><%= @author.title %></h1>
        <h2><%= @author.subtitle %></h2>
        <p></p>

        <!-- <div class="row">
            <div class="col-md-4">
                <%#= link_to image_tag("http://placehold.it/250x70", class: 'img-responsive'), "#" %>
            </div>
            <div class="col-md-4">
                <%#= link_to image_tag("http://placehold.it/250x70", class: 'img-responsive'), "#" %>
            </div>
            <div class="col-md-4">
                <%#= link_to image_tag("http://placehold.it/250x70", class: 'img-responsive'), "#" %>
            </div>
        </div> -->
    </div>
</div>

<p></p>


<!--     -->

<div class="w100 productFilter clearfix">
    <p class="pull-left"> Foram encontrados <strong><%= @posts.count %></strong> postagens </p>
<!--     <div class="pull-right ">
        <div class="change-view pull-right">
            <a href="#" title="Grade" class="grid-view"> <i class="fa fa-th-large"></i> </a>
            <a href="#" title="Lista" class="list-view "><i class="fa fa-th-list"></i></a>
        </div>
    </div> -->
</div>

<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <%# 5.times do %>
        <% @posts.each do |post| %>
            <div class="row blog-department">
                <div class="col-md-9">
                    <a href="<%= blog_post_url(post.slug, subdomain: false) %>" class="title">
                        <h2><%= post.title %></h2>
                    </a>

                    <p>
                        <%= truncate(post.text_strip, length: 270, :separator => ' ') %>
                    </p>

                    <a href="<%= blog_post_url(post.slug, subdomain: false) %>" class="more">
                        Veja o post completo
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="<%= blog_post_url(post.slug, subdomain: false) %>">
                        <%= image_tag post.image1_url, class: "img-responsive" %>
                        <%#= image_tag("comidaisaac.jpg", class: 'img-responsive') %>
                    </a>
                </div>
            </div>
        <% end %>
        <%# end %>

    </div>
</div>
