<%= content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,800' rel='stylesheet' type='text/css' />
<% end %>

<%= hlp_site_breadcrumb_render(@post.title) %>

<div id="visit-data"
    data-department="<%= @post.department_id %>"
    data-post="<%= @post.id %>"
    data-visitor="<%= (user_signed_in? ? current_user.id : nil) %>"
></div>

<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <div class="blog-post">
            <p class="blog-post-by">Por <%= link_to @post.author.name, blog_author_url(@post.author.slug, subdomain: false) %> em <%= l @post.published_at, format: :long %></p>
            <!-- <div class="w100 clearfix category-top"> -->
            <!-- <img src="<%#= image_path("comidaisaac.jpg") %>" class="img-responsive blog-post-image" alt="<%#= "Aguarde carregar a imagem de #{@post.title}" %>"/> -->
            <%= image_tag(@post.image1_url, class: 'img-responsive blog-post-image', alt: "Aguarde carregar a imagem de #{@post.title}") if @post.image1? %>

            <br />

            <h1 class="text-center blog-post-title"><%= @post.title %></h1>
            <h2 class="text-center blog-post-subtitle"><%= @post.subtitle %></h2>

            <div class="blog-post-text"><%= raw @post.text %></div>

            <br />
            <p class="blog-post-by">* Atualizado em <%= l @post.updated_at, format: :long %></p>

            <hr />
        </div>

        <div class="row">
            <div class="col-md-3">
                <%= image_tag(@post.author.image_url, class: 'author-picture', alt: "Aguarde carregar a imagem de #{@post.author.name}", style:"width:200px; margin-right: 30px;") if @post.author.image? %>
            </div>

            <div class="col-md-9">
                <h3><%= @post.author.title %></h3>
                <%= raw @post.author.bio %>

                <!-- <div class="row">
                    <div class="col-md-4">
                        <%#= link_to image_tag("http://placehold.it/300x100", class: 'img-responsive'), "#" %>
                    </div>
                    <div class="col-md-4">
                        <%#= link_to image_tag("http://placehold.it/300x100", class: 'img-responsive'), "#" %>
                    </div>
                    <div class="col-md-4">
                        <%#= link_to image_tag("http://placehold.it/300x100", class: 'img-responsive'), "#" %>
                    </div>
                </div> -->
            </div>
        </div>

        <!-- </div> -->
        <div class="clearfix"></div>
        <br />
        <hr />
        <h2>Comentários</h2>

        <div class="fb-comments" data-width="878" data-href="<%= request.url %>" data-numposts="5" data-colorscheme="light"></div>


        <% if @rel_posts.size > 0 %>
        <div class="clearfix"></div>

        <div class="row recommended">
            <br />
            <div class="col-md-12">
                <h2>OUTRAS POSTAGENS DO <%= @post.author.name.upcase %>:</h2>
            </div>
            <% @rel_posts.each do |post| %>
                <div class="row blog-department">
                    <div class="col-md-9">
                        <a href="<%= blog_post_url(post.slug, subdomain: false) %>" class="title">
                            <h2><%= post.title %></h2>
                        </a>

                        <p>
                            <%= truncate(post.text_strip, length: 270, :separator => ' ') %>
                        </p>

                        <a href="<%= blog_post_url(post.slug, subdomain: false) %>" class="more">
                            Veja o post completo
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="<%= blog_post_url(post.slug, subdomain: false) %>"><%= image_tag post.image1_url, class: "img-responsive" %></a>
                    </div>
                </div>
            <% end %>
        </div>
        <% end %>

        <!-- <div class="clearfix"></div>

        <div class="row recommended">
            <br />
            <div class="col-md-12">
                <h2>E VOCÊ PODE SE INTERESSAR POR ESSES ANÚNCIOS TAMBÉM:</h2>
            </div>
            <%#= render partial: 'site/products/product', collection: @rel_prods, locals: { item_class: 'col-md-4' } %>
        </div> -->
    </div>
</div>
