
/* =============================================================== */
/* HOME PAGE BOXES SLIDER
/* =============================================================== */

.box-pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}

// .swiper-container {
  // background:#333;
// }

.swiper-wrapper {
  padding-left: 0;
  padding-right: 0;
  width: 3300px;
  height: 490px;
  background:#fff;
  @include transition(0.3s);
  @include transform(translate3d(0px, 0, 0));
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 8px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-visible-switch {
  background: #aaa;
}

.swiper-active-switch {
  background: #fff;
}

.arrow-left {
  background: image-url("theme/arrows.png") no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:10;
}

.arrow-right {
  background: image-url("theme/arrows.png") no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index:10;
}

.swiper-container {
  width: 100%;
  height: 100%;
  height:490px;
  color: #fff;
  text-align: center;
}

.swiper-slide {
  height: 100%;
}

.swiper-slide .slider-content {
  height:100%;
  display:block;
}

.slide-2x {
  width:500px;
}

.slide-4x {
  width: 500px;
}

.slide-1x {
  width:300px;
}

.box-4in {
  display:block;
  float:left;
  height:50%;
  width:50%;
}

.slider-box-bottom .box-4in,
.slider-box-top .box-4in {
  height:100%;
}

.box-4in .price,
.box-text-table .dealprice {
  display: block;
  // font-family: oswald, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 15px;
}

.box-4in .btn {
  min-width:100px !important;
}

.box-4in.a .box-content-overly,
.box-4in.b .box-content-overly {
  bottom: 5px;
  right: 5px;
  top: auto;
}

.box-slider-content {
  display: block;
  height: 100%;
  width:100%;
  position:relative;
  overflow:hidden;
}

.box-text {
  bottom: 100px;
  display: block;
  height: auto;
  left: 18%;
  position: absolute;
  width: 64%;
  z-index: 10;
}

.box-text.bottom-align {
  bottom:20px;
}

.box-text h1,
.box-text-cell-inner h1 {
  font-size:36px;
  letter-spacing:3px;
  // font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform:uppercase;
}

.box-text p,
.box-text-cell-inner p {
  font-weight:  lighter;
}

.box-text .btn,
.box-text-cell-inner .btn {
  margin-top:10px;
}

.box-text-table {
  display:  table;
  height: 100%;
  width:100%;
  position: absolute;
  z-index: 10;
}

.box-text-cell {
  display: table-cell;
  height: 100%;
  width:100%;
  vertical-align:middle;
}

.box-text-cell-inner.dark {
  color:#2C3E50;
}

.box-text-cell-inner {
  max-width:70%;
  display:block;
  margin-left:15%;
}

.box-content-overly {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
  visibility:hidden;
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 5;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

.box-content-overly.box-content-overly-white {
  opacity:0;
}

.box-blank-url {
  display:block;
  height:100%;
  width:100%;
}

.slider-box-top .box-content-overly {
  bottom: 5px;
  top: auto;
}

.box-slider-content:hover .box-content-overly {
  background:  rgba(0, 0, 0, 0.3);
  visibility:visible;
}

.box-slider-content:hover .box-content-overly-white {
  background: rgba(255, 255, 255, 0.8);
  visibility:visible;
  opacity:1;
}

.box-slider-content .box-content-overly-white .box-text,
.box-slider-content .box-content-overly-white .box-text-cell-inner {
  opacity:0;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
.box-slider-content:hover .box-content-overly-white .box-text,
.box-slider-content:hover .box-content-overly-white .box-text-cell-inner {
  opacity:1;
  display:block;
  color:#2c3e50;
}

.box-slider-content .box-img {
  height:100%;
  display: block;
  position:relative;
  z-index:4;
  margin: 0 5px 0 0;
}

.box-img.last-child-slide {
  margin-right:0;
}

.box-slider-content a.box-img img {
  width:100%;
  min-height:100%;
  height:auto;
}

.box-slider-content .slider-box-top a.box-img {
  bottom: 5px;
  height: 100%;
  overflow: hidden;
}

.box-4in.a a.box-img,
.box-4in.b a.box-img {
  bottom: 5px;
  height: 100%;
  display:block;
  overflow: hidden;
}

.slider-box-top {
  width:100%;
  height:50%;
  max-height: 250px;
  display:block;
  overflow:hidden;
}

.slider-box-top .box-img {
  bottom:5px;
}

.slider-box-bottom {
  width:100%;
  height:50%;
  max-height: 250px;
  display:block;
  overflow:hidden;
}

h1.bolder-style {
  font-size: 80px;
  font-weight: 800;
  line-height: 80px;
  padding-bottom: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 0 1px #ffffff;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 0 1px #ffffff;
  text-transform: uppercase;
}

h1.bolder-style.light,
h1.bolder-style.light a {
  color:#fff;
}

h1.bolder-style.dark,
h1.bolder-style.dark a {
  color:#2c3e50;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8), 0 0 1px #2c3e50;
  -webkit-text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8), 0 0 1px #2c3e50;
}

.slider-box-top .bolder-sub a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.box-price-tag {
  position:absolute;
  right:50px;
  bottom:50px;
  z-index:10;
}

.box-price-tag .price {
  background:  #fff;
  color: #2c3e50;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .swiper-container {
    height:490px;
  }
  .slide-2x,
  .slide-4x,
  .slide-1x {
    width:490px;
  }

  .box-text {
    bottom: 10% !important;
  }
}

@media (max-width: 767px) {
   .swiper-container {
    height:350px;
  }

   .slide-2x,
   .slide-4x,
   .slide-1x {
    width:350px;
  }

  .box-text {
    bottom: 10%;
  }

  .box-text h1,
  .box-text-cell-inner h1 {
    font-size: 26px;
  }

  .btn-stroke-dark,
  .btn-stroke-light {
    padding: 10px 20px;
    min-width:150px;
  }

  h1.bolder-style {
    font-size: 50px;
    line-height: 50px;
  }
}
