/***  -------  Home look 2 || Featured image section  ------- ***/

.img-link {
  display: block;
  overflow: hidden;

  img {
    width: 100%;
  }
}

/* ---------- // Home look 2 end //--------*/

/* =============================================================== */
/* HOME PAGE LOOK 3
/* =============================================================== */

#imageShowCase {
  display: block;
  clear: both;

  .product-slide h1 {
    text-transform: uppercase;
  }

  .product-slide .box-content-overly.box-content-overly-white {
    opacity: 1;
  }
}

.featuredImageLook3 {
  .inner {
    display: block;
    position: relative;
    margin-bottom: 30px;
    height: 233px;

    .box-content-overly-white {
      right: 0;
      text-align: center;
    }

    .img-title {
      color: white;
      display: block;
      font-size: 20px;
      background: rgba(0, 0, 0, .2);
      font-weight: normal;
      letter-spacing: 3px;
      padding: 10px;
      position: absolute;
      text-align: center;
      text-shadow: 1px 0 2px #555;
      text-transform: uppercase;
      top: 40%;
      width: 100%;
      z-index: 100;
      transition: opacity .2s linear, visibility .2s linear;
    }

    .box-text-cell-inner h1 {
      font-size: 20px;
    }

    &:hover {
      .img-title {
        visibility: hidden;
        opacity: 0;
      }

      .box-content-overly-white {
        opacity: 1;
        background: rgba(255, 255, 255, 0.8);
        visibility: visible;
      }
    }


  }
}

.image-show-case-wrapper {
  .owl-pagination {
    margin-top: -40px !important;
    position: relative;
    text-align: center;
    z-index: 50;
    margin-bottom: 40px;
  }

  .ps-nav {
    opacity: 0;
    @include transform(scale(1.15));
    @include transition(all 0.3s ease 0s);
  }

  &:hover .ps-nav {
    @include transform(scale(1));
    opacity: 1;
  }
}

.submini {
  height: 2px;
  max-width: 50px;
  margin: 15px auto;
  background: #2C3E50;
  box-shadow: none;
  border: 0;
}

.featuredPostContainer {
  min-height: 570px;
}

.img-block {
  display: block;
  overflow: hidden;
}

.product-slide .box-content-overly {
  text-align: center;
  visibility: visible;
  color: #fff;
}

// @media (max-width:650px) {
//   .featuredImageLook3 .inner .box-text-cell-inner h1 {
//     font-size: 18px;
//     margin-bottom: 0;
//     padding-bottom: 0;
//   }

//   .featuredImageLook3 .inner .box-text-cell-inner p {
//     margin-bottom: 0;
//     padding-bottom: 0;
//     font-size: 14px;
//   }

//   hr.submini {
//     margin-top: 5px;
//     margin-bottom: 5px;
//   }

//   .featuredImageLook3 .inner .img-title {
//     font-size: 18px;
//     letter-spacing: 2px;
//   }
// }

// @media (max-width:500px) {
//   .featuredImageLook3 .box-content-overly {
//     display: none;
//   }

//   .featuredImageLook3 .inner .img-title {
//     font-size: 16px;
//     letter-spacing: 1px;
//   }
// }

/* ---------- // Home look 3 end //--------*/
