.sectionCategory {
  background: #34373b;
  padding: 30px 0;
  position: relative;

  .container {
    position: relative;
    z-index: 5;
  }

  .subCategoryThumb {
    height: 160px !important;
  }
}

.sectionCategoryIntro {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;

  h1 {
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  p {
    color: #ddd;
  }
}
