
/***  -------  Home look 2 || productShowCase section  ------- ***/

.owl-theme .owl-controls .owl-page span {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.show-case-wrapper {
  margin: 0 auto 30px;
  float: none;
}

#productShowCase {
  .product-slide {
    min-height: 405px;
  }
  .owl-controls {
    margin-top: 0;
  }

  .btn-stroke-dark i {
    font-size: 0;
    transition: font 0.3s ease;
  }

  .btn-stroke-dark:hover i {
    font-size: inherit;
  }

  .details-description {
    margin-bottom: 15px;
  }

  .price-standard {
    font-size: 20px;
  }

  .product-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .25px;
    line-height: 36px;
    margin-bottom: 0;
  }

  .product-advertiser {
    color: #eb5e58;
    display: block;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;

    span {
      color: inherit;
    }

    &:hover {
      color: darken(#eb5e58, 10%);
      /* text-decoration: underline; */
      border-bottom: 0 none;
    }
  }

  .product-slide-inner {
    margin-top: 5%;
  }
}

.product-slide-inner {
  margin-top: 12%;
  display: block;
  max-width: 98%;
}

// @media (max-width:767px) {
//   .product-slide-inner {
//     display: block;
//     max-width: 98%;
//     margin: 5% auto 0;
//     text-align: center;
//   }

//   #productShowCase .owl-controls {
//     margin-top: 10px;
//   }
// }

.product-slide-left {
  text-align: center;
  max-height: 260px;

  a, img { max-height: 260px; }
}

.product-slide-img {
  display: block;
  text-align: center;

  img {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}


#productShowCase .owl-wrapper-outer { max-height: 328px; }

.ps-nav {
  display: block;
  font-size: 68px;
  height: auto;
  position: absolute;
  text-align: center;
  top: 38%;
  width: auto;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

#ps-next {
  right: 0;
}

#ps-prev {
  left: 0;
}

.boxes-title-1 {
  background: #ebebeb;
  // font-family: Oswald;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding: 7px 0;
  text-align: center;
}

/***  -------  Home look 2 || Featured image section  ------- ***/

.featuredImgLook2 {

  p {
    color: #7f8c8d;
    margin-bottom: 15px;
  }

  h3 {
    color: #2c3e50;
    margin: 10px 0;
    max-height: 72px;
    overflow: hidden;
    padding: 0;

    span {
      color: #eb5e58;
    }

    .product-advertiser {
      color: #eb5e58;
      display: block;
      font-size: 14px;
      font-weight: lighter;
      letter-spacing: 1px;
      text-transform: uppercase;

      span {
        color: inherit;
      }

      &:hover {
        color: darken(#eb5e58, 10%);
        text-decoration: underline;
        border-bottom: 0 none;
      }
    }
  }

  .inner {
    border: solid 1px #ddd;
    padding: 10px;

    &:hover {
      border: solid 1px $brand-primary;//#4EC67F;
    }
  }

  .btn-link {
    border-radius: 0;
    color: #7f8c8d;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
  }
}

// @media(max-width:991px) {
//   .featuredImgLook2 .col-md-3 {
//     margin-bottom: 30px;
//   }
// }

// @media(max-width:460px) {
//   .featuredImgLook2 .col-md-3 {
//     width: 100%;
//   }
// }


.brand-carousel li {
  float: left;
  display: inline-block;

  img {
    max-width: 100%;
    width: 100%;
  }
}

.carousel-nav {
  font-size: 26px;
  margin-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}
