$cdl-blue: #4b8ede;
$cdl-title: #0e59a5;

body {
    color: $cdl-title;

    a { color: $cdl-title; }
}


.modal-header {
    background-color: $cdl-blue;
}

.menu-wrap {
    background-color: $cdl-blue;

    .menu-item { background: none; }

    .menu-category-name { color: $cdl-blue; }

    .menu-category-name a:hover { border-left: 2px solid $cdl-blue; }
}

.menu .menu-item.active, .menu .menu-item:hover { background: $cdl-title; }

h1, h1 span, h1 span a,
h2, h2 span, h2 span a, { color: $cdl-title !important; }


.header-search .form-control:hover, .header-search .form-control:focus {
    border-color: $cdl-blue;
}

.header-search .has-feedback .form-control {
    border-bottom: 1px solid $cdl-blue;
}


.icons-busca-cdlxanxere {
    margin-top: 12px;
    right: 10px;
    line-height: 45px;
}

table.plan-table {
    .selected {
        background: $cdl-blue;
        color: #fff;
    }

    tr:nth-child(even) {
        td.selected { background-color: rgba(75, 142, 222, 0.8); }
    }
}


.btn-primary {
    background: $cdl-blue;
    border: 1px solid $cdl-blue - 40;
    color: #fff;

    &:hover {
        background: $cdl-blue - 30;
        border: 1px solid $cdl-blue - 50;
    }
}


.orderStep li.active i {
    background: $cdl-blue;
}

.orderStep li.active span {
    background: $cdl-blue - 30;
}

.department-tree a {
    background: $cdl-blue + 30;
}

.categories-tree ul a.selected {
    background: #5B7593;
}


.categories-tree .category-tree[department] {
    background-color: #5B7593;
}



.form-control:focus {
    border-color: $cdl-blue;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75, 142, 222, 0.6);
}


// Menu esquerdo de categorias
.nav.tree>li.active, .nav.tree>li>a:hover, .nav.tree>li>a:focus, .nav.tree>li:hover>a {
    color: $cdl-blue;
}
