.menu-wrap {
  background-color: #fff;
}

.menu {
  margin-left: 50px;

  .menu-item {
    background-image: none;

    &:hover,
    &:focus,
    &:active,
    &:visited,
    &.open:hover,
    &.open:focus,
    &.open:active,
    &.open:visited,
    &.active {
      background-image: none;
    }
  }

  .menu-dpto-alimentos-e-bebidas {
    background-color: #ffce00;

    .menu-category-name {
      color: #ffce00;

      a:hover {
        border-left-color: #ffce00;
      }
    }
  }

  .menu-dpto-eletronicos {
    background-color: #1950bc;

    .menu-category-name {
      color: #1950bc;

      a:hover {
        border-left-color: #1950bc;
      }
    }
  }

  .menu-dpto-casa-e-decoracao {
    background-color: #11d3f2;

    .menu-category-name {
      color: #11d3f2;

      a:hover {
        border-left-color: #11d3f2;
      }
    }
  }

  .menu-dpto-moda {
    background-color: #6917bf;

    .menu-category-name {
      color: #6917bf;

      a:hover {
        border-left-color: #6917bf;
      }
    }
  }

  .menu-dpto-beleza-e-perfumaria {
    background-color: #ef0a62;

    .menu-category-name {
      color: #ef0a62;

      a:hover {
        border-left-color: #ef0a62;
      }
    }
  }

  .menu-dpto-esporte-e-saude {
    background-color: #10e87c;

    .menu-category-name {
      color: #10e87c;

      a:hover {
        border-left-color: #10e87c;
      }
    }
  }

  .menu-dpto-veiculos {
    background-color: #5c8387;

    .menu-category-name {
      color: #5c8387;

      a:hover {
        border-left-color: #5c8387;
      }
    }
  }

  .menu-dpto-imoveis {
    background-color: #f47321;

    .menu-category-name {
      color: #f47321;

      a:hover {
        border-left-color: #f47321;
      }
    }
  }

  .menu-dpto-mais-departamentos {
    background-color: #f47321;

    .menu-category-name {
      color: #f47321;

      a:hover {
        border-left-color: #f47321;
      }
    }
  }
}
