<div class="item col-md-3 featuredImgLook2 product<%= product.id %>">
    <div class="product-item inner text-center border-hover1">

        <%= link_to site_atrair_path(:add_ad_clictem, campaign: @campaign.subdomain, product: product.id), remote: true, class: "selected #{ 'hide' if !@selecteds.include?(product.id) }" do %>
            <i class="fa fa-check"></i> Adicionado
        <% end %>

        <%= link_to site_atrair_path(:add_ad_clictem, campaign: @campaign.subdomain, product: product.id), remote: true, class: "not-selected #{ 'hide' if @selecteds.include?(product.id) }" do %>
            <i class="fa fa-check"></i> Adicionar
        <% end %>

        <% if product.offer_valid? %>
            <div class="valid-offer">
                <% if product.cupom_valid? %>
                    <span class="valid-cupom-text"><i class="fa fa-ticket"></i> CUPOM DE DESCONTO<span>
                <% else %>
                    <span class="valid-offer-text bg1">Em OFERTA!</span>
                <% end %>
                <!-- <br /> -->
                <!-- <span class="discount">-<%#= product.percentage_off %>%</span> -->
            </div>
        <% end %>
        <div class="image">

            <%= link_to site_atrair_path(:add_ad_clictem, campaign: @campaign.subdomain, product: product.id), remote: true do %>
                <% if product.main_image.present? %>
                    <img src="<%= image_path(product.main_image.file_url(:list)) %>" alt="<%= product.name %>" class="img-responsive" />
                <% else %>
                    <!-- <img src="<%#= image_path("placeholder-#{ @current_org.name }-200.jpg") %>" class="img-responsive" alt="<%#= "Aguarde carregar a imagem de #{product.name}" %>" /> -->
                <% end %>
            <% end %>


            <div class="promotion">
                <% if product.is_old? %>
                    <span class="new-product bg1 has-tooltip" title="Produto Usado" data-placement="right"><i class="fa fa-refresh"></i></span>
                <% end %>

                <% if product.sold? %>
                    <span class="sold">VENDIDO</span>
                <% end %>
            </div>
        </div>
        <h3>
            <%= link_to site_atrair_path(:add_ad_clictem, campaign: @campaign.subdomain, product: product.id), remote: true, class: 'product-name', title: product.name do %>
                <%= truncate(product.name, length: 40, omission: " ...", :separator => ' ') %>
            <% end %>
        </h3>
        <p class="description-grid-view color3">
            <a href="<%= site_produtos_path(:anuncio_2, product: product.id) %>" class="btn btn-sm btn-link" target="_blank">
                <i class="fa fa-pencil-square-o"></i> editar anúncio
            </a>
        </p>
        <div class="price">

            <% if product.on_request or product.price.to_f == 0 %>
                <span><small class="price-request color1">CONSULTE O PREÇO</small></span>

            <% elsif product.price > 0 and !product.on_request and !product.offer_valid? %>

                <% if product.from_only? %><small class="color1">A PARTIR DE </small><% end %>
                <span class="color1"><%= number_to_currency(product.price.to_f) %></span>

            <% elsif product.offer_valid? and !product.on_request %>
                <small class="old-price color3">
                    DE <%= number_to_currency(product.price.to_f) %>
                </small>

                <br />

                <span class="color1">
                    POR <strong><%= number_to_currency(product.offer_price.to_f) %></strong>
                </span>
            <% end %>
        </div>
    </div>
</div>
