<section class="page">
        <h1>Importar contatos em XLS</h1>


        <%= form_tag manager_sms_contacts_import_path, method: :post, multipart: true do %>
            <div class="row">
                <div class="col-md-12">
                    <%= file_field_tag :file %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>ID Usuário</label>
                    <%= text_field_tag :user %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-lg" type="submit">Enviar arquivo</button>
                </div>
            </div>

        <% end %>
</section>
