<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>Bem vindo ao <%= @current_org.fullname %></title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">



<style type="text/css">
    html{
      width:100%;
    }
    ::-moz-selection{
      background:#0099FF;
      color:#ffffff;
    }
    ::selection{
      background:#0099FF;
      color:#ffffff;
    }
    body{
      background-color:#e9eaed;
      margin:0;
      padding:0;
    }
    .ReadMsgBody{
      width:100%;
      background-color:#e9eaed;
    }
    .ExternalClass{
      width:100%;
      background-color:#e9eaed;
    }
    a{
      color:#0099FF;
      text-decoration:none;
      font-weight:normal;
      font-style:normal;
    }
    a:hover{
      color:#adb2bb;
      text-decoration:underline;
      font-weight:normal;
      font-style:normal;
    }
    p,div{
      margin:0 !important;
    }
    table{
      border-collapse:collapse;
    }
  @media only screen and (max-width: 640px){
    table table{
      width:100% !important;
    }

} @media only screen and (max-width: 640px){
    td[class=full_width]{
      width:100% !important;
    }

} @media only screen and (max-width: 640px){
    div[class=div_scale]{
      width:440px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 640px){
    table[class=table_scale]{
      width:440px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 640px){
    td[class=td_scale]{
      width:440px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 640px){
    img[class=img_scale]{
      width:100% !important;
      height:auto !important;
    }

} @media only screen and (max-width: 640px){
    img[class=divider]{
      width:440px !important;
      height:2px !important;
    }

} @media only screen and (max-width: 640px){
    table[class=spacer]{
      display:none !important;
    }

} @media only screen and (max-width: 640px){
    td[class=spacer]{
      display:none !important;
    }

} @media only screen and (max-width: 640px){
    td[class=center]{
      text-align:center !important;
    }

} @media only screen and (max-width: 640px){
    table[class=full]{
      width:400px !important;
      margin-left:20px !important;
      margin-right:20px !important;
    }

} @media only screen and (max-width: 640px){
    img[class=divider]{
      width:400px !important;
      height:1px !important;
    }

} @media only screen and (max-width: 640px){
    td[class=no_padding]{
      padding-left:0px !important;
    }

} @media only screen and (max-width: 479px){
    table table{
      width:100% !important;
    }

} @media only screen and (max-width: 479px){
    td[class=full_width]{
      width:100% !important;
    }

} @media only screen and (max-width: 479px){
    div[class=div_scale]{
      width:280px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 479px){
    table[class=table_scale]{
      width:280px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 479px){
    td[class=td_scale]{
      width:280px !important;
      margin:0 auto !important;
    }

} @media only screen and (max-width: 479px){
    img[class=img_scale]{
      width:100% !important;
      height:auto !important;
    }

} @media only screen and (max-width: 479px){
    img[class=divider]{
      width:280px !important;
      height:2px !important;
    }

} @media only screen and (max-width: 479px){
    table[class=spacer]{
      display:none !important;
    }

} @media only screen and (max-width: 479px){
    td[class=spacer]{
      display:none !important;
    }

} @media only screen and (max-width: 479px){
    td[class=center]{
      text-align:center !important;
    }

} @media only screen and (max-width: 479px){
    table[class=full]{
      width:240px !important;
      margin-left:20px !important;
      margin-right:20px !important;
    }

} @media only screen and (max-width: 479px){
    img[class=divider]{
      width:240px !important;
      height:1px !important;
    }

} @media only screen and (max-width: 479px){
    td[class=no_padding]{
      padding-left:0px !important;
    }

}</style></head>
<body bgcolor="#e9eaed">
<!-- START OF PRE-HEADER BLOCK-->
<table width="100%" align="center" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" valign="top" width="100%">
      <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="100%">
            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#e9eaed" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->

            <table class="table_scale" width="600" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%">
                  <table width="600" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td width="540">
                        <table align="left" width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                          <tr>
                            <td align="center" valign="top" style="padding: 0px;">
                              <table border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0099FF" style="margin: 0;">
                                <tr>
                                  <td mc:edit="edit01" align="center" valign="middle" bgcolor="#e9eaed" style="padding: 0px; font-size:13px ; font-style:normal; color:#898f9c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px; mso-line-height-rule: exactly;">
                                    <span>
                                       Você pode utilizar o <%= @current_org.fullname %> para anúnciar o que você quiser!
                                    </span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#e9eaed" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END OF PRE-HEADER BLOCK-->

<!-- START OF HEADER BLOCK-->
<table width="100%" align="center" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td valign="top" width="100%">
      <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="100%">
            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#ffffff" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->

            <table class="table_scale" width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%">
                  <table width="600" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="spacer" width="30">
                      </td>

                      <td width="540">

                        <!-- START OF LOGO-->
                        <table class="full" align="left" width="540" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                          <tr>
                            <td mc:edit="edit02" class="center" align="center" style="padding: 0px;font-family: 'Open Sans', Helvetica, Arial, sans-serif; color:#444444; font-size:18px; line-height:100%;"><span><a href="http://<%= @current_org.domain %>.com.br" style="color:#0099FF;"><img align="none" alt="<%= @current_org.fullname %>" border="0" height="50" src="http://www.<%= @current_org.domain %>.com.br/mail/<%= "whitelabel/logo_#{@current_org.name}.png" %>" style="display: inline-block; width: 200px; height: 50px; margin: 0px;" width="200"> </a> </span></td>
                          </tr>
                        </table>
                        <!-- END OF LOGO-->
                      </td>

                      <td class="spacer" width="30">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#ffffff" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END OF HEADER BLOCK-->


<!-- START OF 1/1 (FULL WIDTH) COLUMN BLOCK-->
<table width="100%" align="center" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td valign="top" width="100%">
      <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="100%">
            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#ffffff" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30" style="line-height:0;">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->

            <table class="table_scale" width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%">
                  <table width="600" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td class="spacer" width="30">
                      </td>

                      <td width="540">
                        <table class="full" align="left" width="540" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                          <!-- START OF IMAGE-->
<!--                           <tr mc:hideable>
                            <td class="center" align="left" style="padding-bottom: 20px; margin: 0; font-size:13px ; color:#adb2bb; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;" mc:edit="edit39">
                              <span>
                              <a href="#" style="color:#0099FF;">
                              <img class="img_scale" src="http://gallery.mailchimp.com/a274a11c9d2f90f4e2980011d/images/11f2601d-97a7-426e-bcec-19820a1136e8.png" alt="img-540-140" width="540" height="140" border="0" style="display: inline-block;">
                              </a>
                              </span>
                            </td>
                          </tr> -->
                          <!-- START OF IMAGE-->

                          <!-- START OF HEADING-->
                          <tr>
                            <td class="center" align="left" style="padding-bottom: 10px; font-weight: normal;font-family: 'Open Sans', Helvetica, Arial, sans-serif; color:#757f83; font-size:24px; line-height:34px; mso-line-height-rule: exactly; text-align:center;">
                              <span class="heading_link" style="color:#757f83; font-style: normal; font-weight: normal; ">
                              Anuncie agora mesmo. É <strong>GRÁTIS!</strong>
                              </span>
                            </td>
                          </tr>
                          <!-- END OF HEADING-->

                          <!-- START OF TEXT-->
                          <tr>
                            <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
                              <span>
                              Sabia que você pode anunciar até <strong>25 produtos ou serviços</strong> de forma totalmente <strong>GRATUITA!</strong>
                              </span>
                            </td>
                          </tr>
                          <!-- END OF TEXT-->


                          <!-- START OF TEXT-->
                          <tr>
                            <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
                              <span>
                              Acesse a opção <strong>Minha Conta</strong> <%= link_to '(clique aqui)', site_minha_conta_url(subdomain: false) %> e comece a anunciar agora mesmo.
                              </span>
                            </td>
                          </tr>
                          <!-- END OF TEXT-->

                          <!-- START OF TEXT-->
                          <tr>
                            <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
                              <span>
                              Se tiver alguma dúvida, entre em contato conosco através do telefone <strong><%= @current_org.phone %></strong>, ou pelo e-mail <strong><%= @current_org.email %></strong> (basta responder este e-mail). Atendemos de segunda a sexta, das 8:30h às 12h, e das 13:30h às 18h.
                              </span>
                            </td>
                          </tr>
                          <!-- END OF TEXT-->

                        </table>
                      </td>

                      <td class="spacer" width="30">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#ffffff" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="30" style="line-height:0;">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->

            <!-- START OF VERTICAL SPACER-->
            <table bgcolor="#e9eaed" class="table_scale" width="600" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%" height="10" style="line-height:0;">
                  &nbsp;
                </td>
              </tr>
            </table>
            <!-- END OF VERTICAL SPACER-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END OF 1/1 (FULL WIDTH) COLUMN BLOCK-->

<!-- START OF FOOTER BLOCK-->
<table width="100%" align="center" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td valign="top" width="100%">
      <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="100%">
            <table class="table_scale" width="600" bgcolor="#e9eaed" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%">
                  <table width="600" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td width="600">
                        <table class="full" align="center" width="540" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">

                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END OF FOOTER BLOCK-->

</body>
</html>
