<p>
    <% if @cupom.due %>
        Imprima o cupom a baixo e leve até a empresa para ganhar seu desconto.
    <% else %>
        Imprima o comprovante abaixo e apresente até a empresa, conforme indicação do anúncio.
    <% end %>

</p>

<%= render '/site/usuarios/partials/print_cupom', current_org: @current_org %>
