<p>
  Olá <%= @user.name %>, nós da <%= @current_org.fullname %> separamos alguns anúncios em nosso site para você. Confira.
</p>

<style>
	/* Double Wide v3 Pattern CSS */
	@media only screen and (max-width: 599px) {
        td[class="grid-block"] table { width: 100%; }
        td[class="grid-block"] .spacer { display: none; }
        td[class="grid-block"] .row { padding: 0 !important; }
        td[class="grid-block"] .section {
            display: block;
            float: left;
            height: auto;
            padding: 60px 20px;
            margin-bottom: 8px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        td[class="grid-block"] .section.half {
            width: 49%;
        }
        td[class="grid-block"] .section.quarter {
            width: 23.5%;
        }
        td[class="grid-block"] .section.half:first-child,
        td[class="grid-block"] .section.quarter:first-child,
        td[class="grid-block"] .section.quarter + .spacer + .section.half { margin-right: 2%; }
        td[class="grid-block"] .section.full {
            width: 100%;
        }
	}
    @media only screen and (max-width: 420px) {
        td[class="grid-block"] .section.half,
        td[class="grid-block"] .section.quarter {
            width: 100%;
        }
        td[class="grid-block"] .section.half:first-child { margin-right: 0; }
    }
</style>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="grid-block" width="600" style="padding-bottom: 8px;">
            <table cellpadding="0" cellspacing="0">
              <% @products.in_groups_of(2) do |products| %>
                <tr>
                    <td class="row" style="padding-top: 8px;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <% products.each do |product| %>
                                <% next if product == nil %>
                                <td class="section full"
                                    width="296"
                                    height="200" 
                                    align="center"
                                    valign="middle"
                                    style="font-family: arial,sans-serif; font-size: 14px;">

                                    <%= link_to ad_url(product.user.subdomain, product.category_slug, product.slug, subdomain: false), title: product.name do %>
                                        <% if product.main_image.present? %>
                                            <img src="http:<%= image_url(product.main_image.file_url(:list)) %>" alt="<%= product.name %>" class="img-responsive" />
                                        <% else %>
                                            <img src="http:<%= image_url("placeholder-#{ @current_org.name }-200.jpg") %>" class="img-responsive" alt="<%= "Aguarde carregar a imagem de #{product.name}" %>" />
                                        <% end %>
                                    <% end %>

                                    <div style="font-weight: bold; margin: 10px 0px; color: #545454;">
                                      <small><%= product.user.name %></small> <br>
                                    </div>


                                    <strong>
                                        <%= link_to ad_url(product.user.subdomain, product.category_slug, product.slug, subdomain: false), title: product.name do %>
                                          <%= truncate(product.name, length: 40, omission: " ...", separator: ' ') %>
                                        <% end %>
                                    </strong>
                                    <br>
                                    <%= truncate(product.description_strip, length: (product.name.size > 27 ? 66 : 90), separator: ' ') %>

                                    <div style="margin-top: 20px; font-size: 14px; font-weight: bold;">
                                      <% if product.on_request or product.price.to_f == 0 %>
                                          <small>CONSULTE O PREÇO</small>
                                      <% elsif product.price > 0 and !product.on_request and !product.offer_valid? %>
                                          <% if product.from_only? %><small>A PARTIR DE </small><% end %>
                                          <%= number_to_currency(product.price.to_f) %>
                                      <% elsif product.offer_valid? and !product.on_request %>
                                          <small>
                                              DE <%= number_to_currency(product.price.to_f) %>
                                          </small>
                                          <br />
                                          OR <strong><%= number_to_currency(product.offer_price.to_f) %></strong>
                                      <% end %>
                                    </div>
                                </td>
                                <% end %>
                            </tr>
                        </table>
                    </td>
                </tr>
                <% end %>
            </table>
        </td>
    </tr>
</table>

<p style="margin-top: 30px;">
  Para mais anúncios como este, confira em  <a href="http://www.<%= @current_org.domain %>.com.br">www.<%= @current_org.domain %>.com.br</a>
</p>
