<h1>Nova solicitação de plano</h1>

<p>
    Acabamos de receber uma nova solicitação de plano.
</p>

<h2>Plano: <%= @user.label_plan %></h2>
<h2>Valor: <%= @user.value_plan %></h2>


<h3><%= @user.fullname %></h3>
<table>
    <% if @user.email.present? %>
        <tr><td><strong>E-Mail: </strong></td><td><%= @user.email %></td></tr>
    <% end %>

    <% if @user.name.present? %>
        <tr><td><strong>Nome: </strong></td><td><%= @user.name %></td></tr>
    <% end %>

    <% if @user.last_name.present? %>
        <tr><td><strong>Sobrenome: </strong></td><td><%= @user.last_name %></td></tr>
    <% end %>

    <% if @user.cpf.present? %>
        <tr><td><strong>CPF: </strong></td><td><%= @user.cpf %></td></tr>
    <% end %>

    <% if @user.cellphone.present? %>
        <tr><td><strong>Celular: </strong></td><td><%= @user.cellphone %></td></tr>
    <% end %>

    <% if @user.phone.present? %>
        <tr><td><strong>Fone: </strong></td><td><%= @user.phone %></td></tr>
    <% end %>

    <% if @user.business_name.present? %>
        <tr><td><strong>Razão Social: </strong></td><td><%= @user.business_name %></td></tr>
    <% end %>

    <% if @user.cnpj.present? %>
        <tr><td><strong>CNPJ: </strong></td><td><%= @user.cnpj %></td></tr>
    <% end %>

    <% if @user.website.present? %>
        <tr><td><strong>Site: </strong></td><td><a href="<%= @user.website %>"><%= @user.website %></a></td></tr>
    <% end %>

    <% if @user.resp_name.present? %>
        <tr><td><strong>Responsável: </strong></td><td><%= @user.resp_name %></td></tr>
    <% end %>

    <% if @user.resp_email.present? %>
        <tr><td><strong>E-Mail Resp.: </strong></td><td><%= @user.resp_email %></td></tr>
    <% end %>

    <% if @user.address_street.present? %>
        <tr><td><strong>Rua: </strong></td><td><%= @user.address_street %></td></tr>
    <% end %>

    <% if @user.address_zipcode.present? %>
        <tr><td><strong>CEP: </strong></td><td><%= @user.address_zipcode %></td></tr>
    <% end %>

    <% if @user.address_number.present? %>
        <tr><td><strong>Número: </strong></td><td><%= @user.address_number %></td></tr>
    <% end %>

    <% if @user.address_compl.present? %>
        <tr><td><strong>Complemento: </strong></td><td><%= @user.address_compl %></td></tr>
    <% end %>

    <% if @user.address_district.present? %>
        <tr><td><strong>Bairro: </strong></td><td><%= @user.address_district %></td></tr>
    <% end %>

    <tr><td><strong>Cidade: </strong></td><td><%= @user.city.name %></td></tr>

</table>
