<h1>Seja muito bem vindo ao <%= @current_org.fullname %></h1>

<p>
    Ficamos muito felizes em saber que você optou por utilizar nossa plataforma.
</p>

<p>
    Você escolheu o plano <strong><%= number_to_currency(@user.value_plan) %></strong>, no valor mensal de <strong><%= @user.label_plan %></strong>, a ser debitado juntamente com sua mensalidade da <%= @current_org.fullname %>.
</p>

<p>
    Estamos disponíveis para tirar qualquer dúvida referente ao sistema. Entre encontrado através dos nossos canais. <br />
    <strong>Telefone: </strong> <%= @current_org.phone %> <br />
    <strong>E-Mail: </strong> <%= @current_org.email %>
</p>

<h3><%= @current_org.business_name %></h3>
<table>
    <tr>
        <td><strong>Endereço: </strong></td>
        <td><%= @current_org.address_street %>, <%= @current_org.address_number %>, <%= @current_org.address_additional %> - <%= @current_org.city.name %> - <%= @current_org.state.symbol %> - CEP: <%= @current_org.zip_code %></td>
    </tr>
    <tr>
        <td><strong>CNPJ:</strong></td>
        <td><%= @current_org.cnpj %></td>
    </tr>
    <tr>
        <td><strong>Fone: </strong></td>
        <td><%= @current_org.phone %></td>
    </tr>
</table>
