<h1>Procedimentos em aberto</h1>

<p>
    Os pedidos de compra abaixo ainda estão em aberto. Para atualizar  a lista, por favor, acesse <a href="http://<%= @current_org.domain %>/manager/orders"><%= @current_org.domain %>/manager/orders</a>
</p>


<table>
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Compra
        </th>
        <th>
            Tarefas
        </th>
        <th>
            Data de abertura
        </th>
    </tr>

    <% @orders.each do |order| %>
        <tr>
            <td><%= order.user.name if order.user %></td>
            <td><%= order.note %></td>
            <td>
                <% order.order_checklists.each do |list| %>
                    <strong><%= list.name %></strong> <%= list.done? ? '(Concluído)' : 'Aberto' %> <br />
                <% end %>
            </td>
            <td nowrap><%= l order.created_at, format: :short %></td>
        </tr>
    <% end %>
</table>
