<!DOCTYPE html>
<html style="width: 100%;">
  <head>
    <meta charset="utf-8">
    <title>Relatório semanal</title>
  </head>

<body style="font-size:13px; font-style:normal; color:#898f9c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px; mso-line-height-rule: exactly;">

  <div>
    <div style="float: left; width: 50%; margin-left: 40px;">
      <%= image_tag "whitelabel/logo_#{@current_org.name}.png", alt: "Logo", itemprop:"logo" %>
    </div>
    <div style="float: right; width: 50%; text-align: right; margin-right: 40px; color: #58595b;">
      <strong>RELATÓRIO DA PÁGINA</strong> <br>
      <strong><%= @user.subdomain.upcase %>.<%= @url.upcase %></strong> <br>
      <span style="color: #00AEEF; font-weight: bold;">Para a semana de <%= I18n.l(@sm1_date2, format: :short) %> até <%= I18n.l(@sm1_date1, format: :short) %></span>
    </div>
  </div>

  <table style="width: 100%; padding: 20px 40px;" border="0">
    <!-- Título -->
    <tr>
      <td colspan="4" style="background: #E6E7E8; color: #898f9c; text-align: center; ">
        <strong>POPULARIDADE DE SUA PÁGINA</strong>
      </td>
    </tr>

    <!-- Cabeçalho -->
    <tr>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px;"></td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Semana passada</td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Semana anterior</td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Popularidade</td>
    </tr>

    <!-- Total de visitas -->
    <tr>
      <% number1 = Visit.total_visits(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Visit.total_visits(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">Total de visitas aos anúncios</td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Total de comentários -->
    <tr>
      <% number1 = Comment.total_comments(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Comment.total_comments(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">Total de comentários em anúncios</td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Ver telefone -->
    <tr>
      <% number1 = Manager::Ad::InfoClick.total_clicks(@user, @sm1_date1, @sm1_date2) %>
      <% unmber2 = Manager::Ad::InfoClick.total_clicks(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">Cliques em "Ver Telefone"</td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Cupons emitidos -->
    <tr>
      <% number1 = Manager::Ad::Cupom.total_cupons(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Manager::Ad::Cupom.total_cupons(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">Cupons emitidos</td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Título -->
    <tr style="padding-top: 20px;">
      <td colspan="4" style="background: #E6E7E8; color: #898f9c; text-align: center; border-top: 40px solid #fff;">
        <strong>ANÚNCIOS MAIS POPULARES</strong>
      </td>
    </tr>

    <!-- Cabeçalho -->
    <tr>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px;"></td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Semana passada</td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Semana anterior</td>
      <td style="border-bottom: 1px solid #58595b; font-weight: bold; color: #58595b; padding: 10px 0px; text-align: center;">Popularidade</td>
    </tr>

    <% @ads.each do |ad| %>
      <tr>
        <% number1 = ad[:count] %>
        <% number2 = ad[:count_lastweek] %>
        <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;"><%= ad[:product].name %></td>
        <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
        <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
        <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
          <%= hlp_number_percentage_progress(number2, number1) %>
        </td>
      </tr>
    <% end %>

    <!-- Título -->
    <tr style="padding-top: 20px;">
      <td colspan="4" style="background: #E6E7E8; color: #898f9c; text-align: center; border-top: 40px solid #fff;">
        <strong>SEU USO DO SISTEMA</strong>
      </td>
    </tr>

    <!-- Anúncios Publicados  -->
    <tr>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">
        Anúncios publicados <br>
        <a href="<%= @url %>/minha-conta/produto/anuncio_1" style="color: #fff; font-size: 11px; padding: 3px 10px; background: #27AAE1; text-decoration: none; border-radius: 20px;">Publicar anúncio</a>
      </td>
      <% number1 = Manager::Ad::Product.total_publish(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Manager::Ad::Product.total_publish(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Anúncios em oferta -->
    <tr>
      <% number1 = Manager::Ad::Offer.total_offers(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Manager::Ad::Offer.total_offers(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">Anúncio em oferta</td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- SMS Enviados  -->
    <tr>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8;">
        SMS Enviados <br>
        <a href="<%= @url %>/minha-conta/sms/campanhas/new" style="color: #fff; font-size: 11px; padding: 3px 10px; background: #27AAE1; text-decoration: none; border-radius: 20px;">Enviar campanha</a>
      </td>
      <% number1 = Sms::Message.total_messages(@user, @sm1_date1, @sm1_date2) %>
      <% number2 = Sms::Message.total_messages(@user, @sm2_date1, @sm2_date2) %>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number1 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;"><%= number2 %></td>
      <td style="padding: 10px 0px; border-bottom: 1px dashed #E6E7E8; text-align: center;">
        <%= hlp_number_percentage_progress(number2, number1) %>
      </td>
    </tr>

    <!-- Assinatura -->
    <tr>
      <td colspan="4" style="text-align: right; padding-top: 30px;">
        Atenciosamente, equipe <%= @current_org.fullname %>
      </td>
    </tr>
  </table>

</body>
</html>
