<h1><%= @campaign.title %></h1>
<p>
    Recebemos uma solicitação de participação da campanha <strong><%= @campaign.title %></strong> no dia <strong><%= l Time.zone.now, format: :long %></strong>
</p>

<table>
    <tr>
        <td><strong>Nome:</strong> </td>
        <td><%= @customer.name %></td>
    </tr>
    <tr>
        <td><strong>E-Mail:</strong> </td>
        <td><%= @customer.email %></td>
    </tr>

    <% if @customer.company.present? %>
        <tr>
            <td><strong>Empresa:</strong> </td>
            <td><%= @customer.company %></td>
        </tr>
    <% end %>

    <% if @customer.phone.present? %>
        <tr>
            <td><strong>Fone:</strong> </td>
            <td><%= @customer.phone %></td>
        </tr>
    <% end %>

    <% if @customer.cellphone.present? %>
        <tr>
            <td><strong>Celular:</strong> </td>
            <td><%= @customer.cellphone %></td>
        </tr>
    <% end %>
</table>
