/* =============================================================== */
/*  FOOTER
/* =============================================================== */

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

#back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  // background: url("../img/top.png") no-repeat;
  // width: 43px;
  // height: 43px;
  opacity: 0;
  z-index: 1000;
  @include transition(all .5s);
  &.visible{
    display: block;
    cursor: pointer;
    opacity:0.8;
  }
}



.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;

  // p {
  //   margin: 0;
  // }

  img {
    max-width: 100%;
  }

  h3 {
    border-bottom: 1px solid #BAC1C8;
    // color: #54697E;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
  }

  ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
  }

  // a {
  //   color: #78828d;
  // }
}

.supportLi h4 {
  font-size: 18px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;

  a {
    padding: 0 0 5px;
    display: block;
  }

  i {
    width: 25px;
    min-height: 10px;
    display: inline-block;
  }
}

#partners-logo {
  margin-top: 15px;

  hr {
    margin: 10px 0;
  }
}

#sustainable_website {
  height: 40px;
  width: 142px;
  margin: 0 auto;
}

.fb-like-box {
  padding: 35px 0 10px;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-badge {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #E3E3E3;

  a {
    margin-left: 20px;
  }
}

.copyright {
  padding-top: 6px;
  font-size: 12px;
  text-align: center;
}
