.page-custom {
  .navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
  }

  .brand-wrap {
    background: transparentize($white, 0.3);
    .menu-in & {
      background: #FFF;
    }
  }

  .navbar-brand {
    padding: 5px 0 8px;
    height: auto;
    width: 130px;
  }

  .navbar-toggle {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 13px;
    padding: 0;
    border-radius: 0;
  }

  .navbar-toggle-text {
    display: inline-block;
    margin-left: 5px;
  }

  .user-login, .navbar-top {
    margin-top: 13px;
  }

  .header-search {
    margin-top: 0;

    .form-control {
      height: 40px;
      border: 0 none;
      padding-bottom: 3px;
      border-bottom: 1px solid $brand-primary;
      border-radius: 0;
    }
  }

  #publicity-banner {
    margin-top: 10px;
  }

}

