/* =============================================================== */
/* CUSTOMIZE NAVBAR
/* =============================================================== */

/*=============================
=            header-brand     =
=============================*/

.brand-wrap {
  height: auto;
  background-color: $white;
  border-top: 3px solid $chathams-blue;
  @include transition(all 0.2s ease-out 0s);
}

.navbar {
  border: 0 none;
}

.navbar-brand {
  padding: 20px 10px 0;
}

.header-search {
  margin-top: 22px;

  .form-control {
    height: 45px;
    border-color: #fff;

    @include opacity(0.7);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .075);

    &:hover {
      border-color: $jaffa;
      @include transition(all .2s linear);
      @include opacity(1);
    }

    &:focus {
      border-color: $jaffa;
    }
  }

  .form-group,
  .form-control {
    margin-bottom: 0;
  }

  .icons-busca {
    margin-top: 12px;
    right: 10px;
    line-height: 45px;
  }
}

// .fb-login-button {
//   display: inline-block;
//   height: 1px;
//   width: 60px;
// }

.user-login {
  margin-top: 18px;

  a:hover {
    border-bottom: 1px solid;
  }
}

.user-advertise {
  position: relative;
  display: block;
  margin-top: 23px;
  line-height: 45px;
  color: $white;
  // font-family: sans-serif; //"Raleway",
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;


  @include gradient-horizontal($calypso, $chathams-blue);
  @include border-radius(4px);
  @include transition(all .8s ease-out);

  &:hover {
    color: $white;
    @include gradient-horizontal($jaffa, $tango);
  }

  .icons-gratis {
    position: absolute;
    top: -4px;
    right: -2px;
  }
}

// .header-social {
//   margin-top: 30px;
// }

// .social-icon li {
//   display: inline-block;

//   a {
//     color: $chathams-blue;
//     display: inline-block;
//     font-size: 18px;
//     height: auto;
//     margin-left: 0;
//     padding: 6px 9px;
//     position: relative;
//     text-align: right;
//     z-index: 10;
//     box-shadow: 0 0 0 rgba(red($chathams-blue), green($chathams-blue), blue($chathams-blue), 0) inset;
//     @include transition(all 0.2s ease-out 0s);

//     &:hover {
//       opacity: 0.8;
//       box-shadow: 0 0 5px rgba(red($chathams-blue), green($chathams-blue), blue($chathams-blue), 0.4) inset;
//     }
//   }
// }

// .navbar-toggle {
//   background: rgba(0, 0, 0, 0.2);
// }

.navbar-toggle .icon-bar {
  border: solid 2px $chathams-blue;
}

// .navbar-tshop {
//   width: 100%;
// }

/*-----  End of header-brand  ------*/


/*===================================
=            HEADER Menu            =
===================================*/

@import "menu";

// .search-box {
//  float: right;
//  height: 48px;
//  width: 38px;
// }

// .navbar-nav.navbar-right:last-child {
//  margin-right: 0;
// }

// .search-box {
//  .input-group {
//    margin-top: 10px;
//    max-width: 34px;
//    transition: all 0.3s ease-out 0s;
//    -webkit-transition: all 0.3s ease-out 0s;
//    -moz-transition: all 0.3s ease-out 0s;
//    -ms-transition: all 0.3s ease-out 0s;
//    -o-transition: all 0.3s ease-out 0s;
//  }
//  &:hover .input-group {
//    max-width: 183px;
//  }
//  .form-control {
//    width: 0;
//    padding: 0;
//    height: 34px;
//    border: 0;
//    opacity: 0;
//    transition: all 0.3s ease-out 0s;
//    -webkit-transition: all 0.3s ease-out 0s;
//    -moz-transition: all 0.3s ease-out 0s;
//    -ms-transition: all 0.3s ease-out 0s;
//    -o-transition: all 0.3s ease-out 0s;
//  }
//  &:hover .form-control {
//    width: 145px;
//    opacity: 1;
//    padding: 6px 12px;
//    border: solid 1px #fff;
//    color: #ECF0F1;
//  }
// }

// .btn-nobg {
//  background: none;
//  color: #fff;
// }

// .search-box:hover .btn-nobg {
//  background: #fff;
// }

/* --------- search bar full --------- */

// .search-full {
//  bottom: 0;
//  letter-spacing: 1px;
//  min-height: 50px;
//  position: absolute;
//  right: 0;
//  text-align: right;
//  white-space: nowrap;
//  width: 100%;
//  z-index: 10;
//  display: none;
// }

// .searchInputBox {
//  display: block;
//  max-width: 90%;
//  text-align: right;
//  width: 100%;
// }

// .search-close {
//  background: rgba(0, 0, 0, 0.3);
//  display: table;
//  float: right;
//  font-size: 32px;
//  height: 51px;
//  padding: 0 15px;
//  i {
//    display: table-cell;
//    vertical-align: middle;
//    transition: all 0.5s ease 0s;
//    -moz-transition: all 0.5s ease 0s;
//    -webkit-transition: all 0.5s ease 0s;
//    -ms-transition: all 0.5s ease 0s;
//    -o-transition: all 0.5s ease 0s;
//  }
//  &:hover i {
//    transform: scale(1.15) rotate(-180deg);
//    -webkit-transform: scale(1.1) rotate(-180deg);
//    -moz-transform: scale(1.1) rotate(-180deg);
//    -ms-transform: scale(1.1) rotate(-180deg);
//    -o-transform: scale(1.1) rotate(-180deg);
//  }
// }

// .search-input {
//  -moz-box-sizing: border-box;
//  -webkit-box-sizing: border-box;
//  border: 0 none;
//  color: #FFFFFF;
//  font-family: sans-serif;
//  font-size: 20px;
//  line-height: 1.2;
//  margin: 0;
//  outline: medium none;
//  text-align: right;
//  padding: 13px 0 13px 15px;
//  width: 100%;
//  max-width: 90%;
//  &::-webkit-input-placeholder {
//    color: rgba(255, 255, 255, 0.6);
//  }
//  &::-moz-input-placeholder {
//    color: rgba(255, 255, 255, 0.6);
//  }
// }

// .searchInputBox .search-btn {
//  border: 0;
//  padding: 0 10px 0 0;
//  color: #fff;
//  color: rgba(255, 255, 255, 0.8);
// }

// .search-full.active {
//  display: block;
// }

// .navbar-cart {
//  border-top: 1px solid rgba(0, 0, 0, 0);
//  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
//  max-height: 340px;
//  overflow-x: visible;
//  padding-left: 15px;
//  padding-right: 15px;
// }

.colorWhite {
  color: #fff !important;

  i {
    color: #fff !important;
  }
}

/*-----  End of HEADER Menu  ------*/

.itemInMenu {
  margin-bottom: 0 !important;

  .image {
    max-height: 170px !important;
  }
}

.margin-top-10 {
  margin-top: 10px;
}

.phone-number span {
  float: left;
}

/*---------- Main Navigation onhover issue for ipad and mobile-----------*/


// .promo-1 {
//   color: #FFFFFF;
//   font-family: Dosis;
//   margin-bottom: 15px;
//   padding: 5px 0;
//   text-align: center;
//   text-transform: uppercase;
// }

// .promo-1sub {
//   background: #F2F2F2;
//   font-size: 14px;
//   letter-spacing: 0.5px;
//   margin-bottom: 15px;
//   padding: 5px 0;
//   text-align: center;
//   text-transform: uppercase;
// }

/*---------- Cart Dropdown Menu Style ----------*/

.dropdown-left .dropdown-menu {
  left: 0;
}

// .cartMenu {
//   float: left;
//   display: block;
//   a.dropdown-toggle {
//     padding-bottom: 15px;
//     padding-top: 15px;
//     padding-left: 20px;
//     padding-right: 20px;
//     color: #FFFFFF;
//     font-size: 14px;
//     font-weight: 600;
//     text-transform: uppercase;
//     line-height: 20px;
//     display: block;
//   }
//   .dropdown-menu {
//     padding-bottom: 0;
//     border-radius: 0;
//     margin-top: 0;
//   }
// }

// .miniCartTable {
//   max-height: 300px;
//   width: 100%;
//   display: block;
// }

// .miniCartProductThumb {
//   text-align: center;
// }

// .cartMenu {
//   img {
//     width: 50px;
//   }
//   h4 {
//     padding-bottom: 0;
//     font-size: 12px;
//     font-weight: 400;
//   }
// }

// .miniCartDescription {
//   .size {
//     color: #888888;
//     font-size: 11px;
//   }
//   .price {
//     color: #444444;
//     font-size: 15px;
//     font-weight: 700;
//   }
// }

.old-price {
  color: #666666;
  // font-size: 14px;
  font-weight: normal;
}

// .cartMenu table {
//   width: 100%;
//   height: auto;
//   tr {
//     border-bottom: solid 1px #ddd;
//     td {
//       padding: 5px 0;
//     }
//   }
// }

// .miniCartFooter {
//   background: #ECF0F1;
//   padding: 10px 10px 10px;
//   .subtotal {
//     color: #000000;
//     font-size: 16px;
//     font-weight: bold;
//     line-height: normal;
//     margin-bottom: 0;
//     text-transform: uppercase;
//   }
// }

// .miniCartFooterInMobile .subtotal {
//   font-size: 18px;
//   color: #fff;
// }

// .miniCartTable .mCSB_container {
//   margin-right: 15px !important;
// }

.newProductMenuBlock {
  display: block;
  position: relative;
}

.ProductMenuCaption {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  font-weight: 600px;
  text-transform: capitalize;
  font-size: 16px;
  background: rgb(0, 0, 0);
  background: transparent\9;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);
  /* IE FIX */
  zoom: 1;

  &:nth-child(n) {
    filter: none;
  }

  i {
    font-size: 0;
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
  }
}

.newProductMenuBlock:hover i {
  font-size: 16px;
}

.newCollectionUl {
  // ul li:first-child {}
  li {
    font-weight: 600;
  }
}

.productPopItem {
  border: solid 1px #ddd;

  .productInfo {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    margin-top: -50px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 4;
  }
}

.popProImg a {
  display: block;
  max-height: 270px;
  overflow: hidden;
}

.productPop h4 {
  bottom: 0;
  color: #FFFFFF;
  font-size: 14px;
  line-height: normal !important;
  padding: 3px 0 0 !important;
  position: absolute;
  width: 100%;
  background: rgb(0, 0, 0);
  background: transparent\9;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);
  /* IE FIX */
  zoom: 1;

  &:nth-child(n) {
    filter: none;
  }

  a {
    color: #fff !important;
  }
}
