.banner-top-wrap {
  margin: 15px 0 15px 0;
}

.banner-top {
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
  height: 170px;
  width: 970px;
  border-left: 25px solid $black-haze;
  border-right: 25px solid $black-haze;

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    border-left: 0 none;
    border-right: 0 none;
    margin-left: -15px;
  }

  p {
    margin-bottom: 0;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 10px;
    color: $silver-sand;
    text-transform: uppercase;
  }
}

/* =============================================================== */
/* HOME || TOP CONTAINER START (NEW ARRIVALS)
/* =============================================================== */

.section-block {
  margin-bottom: 30px;
}

.section-title {
  border-bottom: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  font-size: 22px;
  line-height: 24px;
  margin: 10px 0;
  padding: 0;

  span {
    color: #2c3e50;
    display: inline-block;
    padding: 5px 15px 5px 0;
    text-transform: uppercase;
    width: auto;
  }
}

/* ------- Style 2 ------- */

.style2 .section-title,
.section-title.style2 {
  font-size: 42px;
  font-weight: lighter;
  line-height: 44px;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
  border: 0;
}

.style2 .section-title,
.section-title-style2,
.section-title.style2 {
  &:after {
    background: #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 20%;
    position: absolute;
    top: 28px;
    width: 60%;
    z-index: 1;
  }
}

.section-title.style2,
.section-title-style2 {
  span {
    background: $white;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: auto;
    z-index: 2;
  }
}

.style2 .section-title span,
.section-title.style2 span {
  color: #2c3e50;
  display: table;
  position: relative;
  z-index: 2;
  background: $white;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  margin: 0 auto;
}

/* Style   2  end*/

.productslider {
  width: 100%;
  display: block;
}

#productslider .item {
  margin: 0 15px;
}


.product {
  display: block;
  height: auto;
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;

  &:hover {
    background: $white;
  }
}

.product-item {
  max-height: 425px;
  // TODO RESPONSIVE
  min-height: 425px;
  position: relative;

  .description-grid-view {
    display: block;
    max-height: 60px;
  }

  .description-list-view {
    display: none;
  }

  .price {
    font-size: 13px;
    text-transform: uppercase;
  }

  .btn-link {
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }

  .selected {
    display: block;
    position: absolute;
    background: $salem;
    color: #fff;
    padding: 10px;
    z-index: 10;
    margin-top: 0px;
    text-align: center;
    margin-top: 92px;
    margin-left: -10px;
    border-radius: 0px 5px 5px 0px;

    &.not {
      background: #eee;
      color: #000;
      opacity: 0.6;

      &:hover {
        opacity: 1.0;
      }
    }
  }


  .not-selected {
    display: block;
    position: absolute;
    background: #eee;
    color: #000;
    padding: 10px;
    z-index: 10;
    text-align: center;
    opacity: 0.6;
    margin-top: 92px;
    margin-left: -10px;
    border-radius: 0px 5px 5px 0px;

    &:hover {
      opacity: 1.0;
    }
  }

}

.product-name:hover {
  border-bottom: 1px solid;
}

.add-fav {
  border: 1px solid;
  border-radius: 50%;
  color: $brand-primary;
  height: 30px;
  line-height: 31px;
  position: absolute;
  left: 30px;
  text-align: center;
  top: 15px;
  width: 30px;
  z-index: 10;
  @include transform(scale(1.1));
  @include transition(opacity .3s linear, transform .7s cubic-bezier(.56, .48, 0, .99));
  @include opacity(0);

  i {
    @include transform(scale(1)  rotate(0deg));
    @include transition(all .3s ease);
  }

  &:hover {
    color: $brand-primary;
  }

  .list-view .product & {
    right: 40px;
    top: 8px;
  }

  .product:hover &,
  .product-item:hover & {
    @include opacity(1);
    @include transform(scale(1));
  }

}

.add-fav:active  i {
  // webkit-transform: scale(0.85)  rotate(0deg);
  // -moz-transform: scale(0.85)  rotate(4deg);
  // -o-transform: scale(0.85)  rotate(0deg);
  // -ms-transform: scale(0.85) rrotate(0deg);
  // transform: scale(0.85)  rotate(4deg);
  @include transform(scale(0.85) rotate(4deg));
}

.item {
  display: block;
  @include transition(all .3s ease 0s);
  margin-bottom: 15px;
  // height: 480px;

  .product-item { background: #fff; }

  &:hover .action-control {
    border-bottom-color: $white;
  }

  &.list-view {
    display: block;
    height: auto;
    // TODO RESPONSIVE
    // min-height: 240px;
    width: 100% !important;
    overflow: hidden;
    // margin-bottom: 20px;

    h4 {
      height: auto;
      margin: 25px 0 5px;
    }

    h3 {
      padding-bottom: 15px;
      padding-top: 0;
      height: auto;
    }

    .product,
    .product-item {
      text-align: right;
      padding-right: 20px;
      // TODO RESPONSIVE
      min-height: 243px;
    }

    .description-grid-view {
      display: none;
    }

    .description-list-view {
      display: block;
      height: auto;
    }

    .image {
      display: block;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      max-width: 200px;
      max-height: 240px;
      padding-right: 20px;
      background: $white;
      @include transition(all .5s ease 0s);

      a {
        display: block;
        height: 100%;
        max-height: 100% !important;
      }

      img {
        max-height: 170px;
        width: auto !important;
      }
    }
  }

  h4 {
    margin: 0;
    min-height: 45px;
    max-height: 80px;
    overflow: hidden;
    display: block;
    line-height: 20px;
    margin: 25px 0 0;
    padding: 0;

    a {
      color: #2c3e50;
      // font-family: Dosis, Arial, Helvetica, sans-serif;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &.advertiser {

    // border-bottom: 1px solid #DDDDDD;
    h3 {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    .product-item {
      min-height: 100px;
    }
  }
}

.advertiser-item {
  display: block;
  @include transition(all .3s ease 0s);
  margin-bottom: 15px;
  border: 1px solid #ddd;
  height: 110px;
  padding: 13px;

  .logo{
    float: left;
    height: 80px;
    img { height: 80px;}
  }

  .info {
    float: right;
    text-align: right;
  }

  &:hover { border: 1px solid $tango; }

  &.free-plan {
    height: 65px;
  }
}

.product-box .item {
  margin: 0 10px;
  background: #fff;

  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    background: $white;
  }
}

.image {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 240px;
  // TODO RESPONSIVE
  min-height: 222px;
  transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;

  a {
    display: block;
    overflow: hidden;

    &:hover {
      border-bottom: 0 none;
    }

    img {
      transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -webkit-transition: all .5s ease 0s;
      -ms-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      max-height: 240px;
      margin: 0 auto;
    }
  }
}

.product:hover .image a img,
.product-item:hover .image a img {
  transform: scale(1.15) rotate(-1.5deg);
  -webkit-transform: scale(1.1) rotate(-1.5deg);
  -moz-transform: scale(1.1) rotate(-1.5deg);
  -ms-transform: scale(1.1) rotate(-1.5deg);
  -o-transform: scale(1.1) rotate(-1.5deg);
}

.promotion, .valid-offer {
  position: absolute;
  z-index: 10;
  line-height: 18px;
  height: 24px;
  width: 100%;
  // border-radius: 4px;
}

.promotion {
  bottom: 0;
  left: 0;
}

.valid-offer {
  top: 0;
  left: 15px;
  color: $white;
  text-align: left;
}

.valid-offer-text {
  display: inline-block;
  padding: 3px 10px;
  background-color: transparentize(#000, 0.3);
  border-radius: 0 0 10px 0;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  text-transform: uppercase;
}

.valid-cupom-text {
  display: inline-block;
  padding: 3px 10px;
  background-color: transparentize(#3a930d, 0.3);
  border-radius: 0 0 10px 0;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  text-transform: uppercase;
}

.discount {

}

.new-product {
  color: $white;
  display: inline-block;
  float: left;
  // font-size: 20px;
  font-weight: lighter;
  height: 24px;
  padding: 3px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  background-color: $brand-primary !important;
  font-size: 13px;
  border-radius: 20px ;
}

.sold {
  background: #3a930d;
  /* old browser */
  height: 100%;
  display: inline-block;
  padding: 3px 5px;
  color: $white;
  float: right;
  font-size: 18px;
  font-weight: 300;
  border-radius: 4px 0px 0px 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  box-shadow: 3px 3px 3px #888888;
}

.description {
  margin: 0 4px 0 5px;
  // TODO RESPONSIVE
  min-height: 107px;

  p {
    color: #7F8C8D;
    font-size: 14px;
    // TODO RESPONSIVE
    min-height: 55px;
    max-height: 90px;
    overflow: hidden;
    line-height: 18px;
  }
}

.price {
  font-size: 18px;
  color: $brand-primary; //#2c3e50;
}

.action-control {
  border: 0;
  display: block;
  height: auto;
  padding: 5px 0 10px;
  width: 100%;

  a {
    cursor: pointer;
  }
}

.cart a {
  font-size: 20px;
  color: #2c3e50;
  margin: 0;
  display: inline-block;

  @include transition(all .3s ease-out 0s);
}

.load-more-block {
  padding-bottom: 30px;
  position: relative;

  &:after {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 30%;
    position: absolute;
    top: 18px;
    width: 40%;
    z-index: 1;
  }

  .btn-thin {
    background: $white;
    z-index: 2;
    position: relative;
    @include box-shadow(-4px 0 0 $white, 4px 0 0 $white);
  }
}

.featureImg a {
  display: block;
  overflow: hidden;

  img {
    @include transition(all .4s ease 0s);

    &:hover {
      @include transform(scale(1.1) rotate(-1.1deg));
    }
  }
}
