.menu-wrap {
  background-color: $jaffa;
}

// overwrite
.menu {
  max-height: 50px;
  overflow: hidden;

  .menu-item {
    @include gradient-horizontal($jaffa, $tango);

    &:hover,
    &:focus,
    &:active,
    &:visited,
    &.open:hover,
    &.open:focus,
    &.open:active,
    &.open:visited,
    &.active {
      @include gradient-horizontal($calypso, $chathams-blue);
    }

    > a {
      padding: 5px 15px 5px 40px;
      color: $white;
      background-color: transparent !important;
      @include transition(width 0s);

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding: 5px 16px;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  i {
    position: absolute;
    top: 9px;
    left: 5px;
  }

  .menu-dpto-casa-e-decoracao > a {
    width: 108px;

    @media (min-width: $screen-lg-min) {
      padding-left: 35px;
      width: 108px;
    }
  }

  .menu-dpto-moda > a {
  //  line-height: 40px;
    width: 116px;

    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
    }
  }

  .menu-dpto-beleza-e-perfumaria > a {
    width: 110px;

    @media (min-width: $screen-lg-min) {
      padding-left: 45px;
      width: 130px;
    }
  }

  .menu-dpto-informatica > a {
    line-height: 40px;

    @media (min-width: $screen-lg-min) {
      padding-left: 45px;
      width: 135px;
    }
  }

  .menu-dpto-esporte-e-saude > a {
    width: 100px;


    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
      width: 119px;
    }
  }

  .menu-dpto-veiculos > a {
    line-height: 40px;

    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
    }
  }

  .menu-dpto-eletronicos > a {
    line-height: 40px;
  }

  .menu-dpto-imoveis > a {
    line-height: 40px;

    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
      width: 115px;
    }

  }

  .menu-dpto-bebes-e-brinquedos > a {

    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
      width: 140px;
    }
  }

  .menu-dpto-alimentos-e-bebidas > a {
    width: 115px;

    @media (min-width: $screen-lg-min) {
      padding-left: 45px;
      width: 140px;
    }
  }

  .menu-dpto-servicos > a {
    line-height: 40px;

    @media (min-width: $screen-lg-min) {
      padding-left: 50px;
      width: 115px;
    }
  }

  .menu-dpto-mais-departamentos {
    @include gradient-horizontal($fontain-blue, $pelorous);

    > a {
      // padding-right: 0;
      width: 135px;

      @media (min-width: $screen-lg-min) {
        padding-left: 35px;
        width: 145px;
      }
    }
  }
}

/* --------- Mega Menu Start -----------*/

.megamenu {
  .nav,
  .dropup,
  .dropdown,
  .collapse {
    position: static;
  }

  .navbar-inner,
  .container {
    position: relative;
  }

  .dropdown-menu {
    padding-top: 0;
    left: auto;

    > li {
      display: block;
    }
  }

  .nav.pull-right .dropdown-menu {
    right: 0;
  }

  .megamenu-content {
    padding: 15px;

    &:before {
      display: table;
      content: "";
      line-height: 0;
    }

    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }

  &.navbar .nav > li > .dropdown-menu {
    &:after,
    &:before {
      display: none;
    }
  }

  .dropdown {
    &.megamenu-fullwidth .dropdown-menu {
      width: 100%;
    }

    &.megamenu-80width .dropdown-menu {
      width: 80%;
    }

    &.megamenu-60width .dropdown-menu {
      width: 60%;
    }

    &.megamenu-50width .dropdown-menu {
      width: 50%;
    }

    &.megamenu-40width .dropdown-menu {
      width: 40%;
    }

    &.dropdown-left .dropdown-menu {
      left: 0;
    }

    &.dropdown-right .dropdown-menu {
      right: 0;
    }
  }
}

// @media (max-width: 969px) {
//   .megamenu {
//     .dropdown.megamenu-fullwidth .dropdown-menu {
//       width: auto;
//     }

//     .megamenu-content {
//       padding-left: 0;
//       padding-right: 0;
//     }

//     .dropdown-menu > li > ul {
//       display: block;
//     }
//   }
// }

/* megamenu end */

.menu-category-name {
  margin-bottom: 0;
  color: $brand-primary;
  font-weight: 700;

  a {
    color: inherit;
    font-size: inherit;
  }
}

.menu-category-name.menu-category-services {
  margin-top: 30px;
  a {
    color: $chathams-blue !important;
    font-size: 15px;
  }
}

.menu-see-more {
  color: $brand-primary;
}

.megamenu-content {
  // .row + .row {
  //   margin-top: 10px;
  // }
  > .has-banner {
    float: left;
    margin-right: 30px;
  }

  img {
    max-width: 100%;
  }

  li {
    margin-bottom: 5px;
    // line-height: 1;

    a {
      padding: 5px 0;
      font-size: 13px;
    }
  }
}

@media (min-width: 979px) {

  // .navbar-tshop ul.nav li.dropdown ul.dropdown-menu {}

  .navbar-tshop ul.nav li.dropdown:hover ul.dropdown-menu,
  div.cartMenu.dropdown:hover div.dropdown-menu {
    display: block;
    filter: none;
    opacity: 1;
  }

  .megamenu-content ul li {
    &.productPopItem a:hover,
    a.newProductMenuBlock:hover {
      padding-left: 0;
    }

    a {
      @include transition(all .2s ease 0s);
      display: block;
      border: 1px solid transparent;
      border-radius: 2px;
      padding-left: 5px;
      padding-right: 5px;
      border-left: 2px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;

      &:hover {
        border-left: 2px solid $jaffa;
        border-right: 1px solid darken(#fcfcfc, 5%);
        border-top: 1px solid darken(#fcfcfc, 5%);
        border-bottom: 1px solid darken(#fcfcfc, 5%);
        background-color: #fcfcfc;
        color: inherit;
      }
    }
  }

  .navbar.stuck .brand-wrap {
    height: 0;
    overflow: hidden;
  }
}
