
/* =============================================================== */
/* CUSTOM RESPONSIVE
/* =============================================================== */
@media (min-width: 1800px) {
  .banner,
  .slider-content,
  .slider,
  .slider-v2 {
    max-height: 700px;
  }

  .sliderImg {
    width: 100%;
  }
}

@media only screen and (max-width: 1224px) {
  input.quanitySniper {
    width: 35px !important;
  }
}

// @media (max-width: 1024px) {
//   .navbar.stuck .navbar-top {
//     margin-top: 0 !important;
//   }

//   // .banner {
//   //   margin-top: 70px !important;
//   // }
//   // .header-version-2

//   .banner {
//     margin-top: 130px !important;
//   }

//   .social li {
//     margin: 0 6px 0 0;
//   }
// }

// @media (max-width: 979px) and (min-width: 768px) {
//   .cartMenu a.dropdown-toggle {
//     height: 50px;
//   }

//   .cartRespons {
//     display: none;
//   }
// }

// @media (max-width: 979px) {
//   /* iPads (portrait and landscape) ----------- */
//   .subCategoryThumb img {
//     height: 100% !important;
//   }

//   .container {
//     width: 100% !important;
//     max-width: 900px !important;
//   }

//   .category-top {
//     margin-top: 30px;
//   }

//   .cartRespons {
//     font-size: 0;
//   }

//   .hidden-xs .cartMenu .dropdown-toggle {
//     padding-bottom: 9px;
//     padding-top: 16px;
//   }

//   .sliderText {
//     margin-top: 6%;
//   }

//   .header-version-2 .sliderText {
//     margin-top: 10%;
//   }

//   .sliderText .inner {
//     padding: 15px;
//   }

//   .sliderTextFull {
//     margin-top: 15%;
//   }

//   .sliderText {
//     h1 {
//       font-size: 30px;
//     }

//     &.white {
//       h1 {
//         padding-bottom: 0;
//       }

//       h3.price {
//         font-size: 18px;
//         padding-bottom: 0;
//       }

//       .inner {
//         padding: 5px 0;
//       }
//     }
//   }

//   h1.xlarge {
//     font-size: 36px;
//   }

//   .sliderTextFull h3 {
//     font-size: 18px;
//     line-height: 20px;
//     padding-bottom: 5px;
//   }

//   .sliderInfo .btn-lg,
//   .sliderText.white .btn {
//     font-size: 14px;
//     line-height: 1.471;
//     padding: 5px 15px;
//   }

//   #pager2 {
//     bottom: 0;

//     span {
//       border-width: 1px;
//       height: 10px;
//       width: 10px;
//     }
//   }

//   .sliderControl {
//     border-radius: 2px;
//     padding: 0 2px;
//     top: 45%;

//     .fa-3x {
//       font-size: 2.5em;
//     }
//   }

//   #pager a {
//     font-size: 14px;
//     padding: 5px 0;
//     font-weight: normal;
//   }
// }

// @media (max-width: 767px) and (min-width: 0) {
//   /* ipad 4 , iphone 4 fixed */
//   .hidden-xs {
//     display: none !important;
//     visibility: hidden !important;
//   }
// }

// @media (max-width: 767px) {
//   /* phones */
//   .userMenu li a {
//     padding-top: 3px;
//     line-height: normal;
//   }

//   .phone-number i.glyphicon-phone-alt {
//     padding-top: 2px !important;
//   }

//   .navbar-brand {
//     padding: 15px;
//   }

//   .miniCartFooter {
//     background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
//     border-top: 2px solid rgba(255, 255, 255, 0.5) !important;
//     margin-top: 10px !important;
//   }

//   .cartMenu table tr {
//     border-bottom: solid 1px rgba(255, 255, 255, 0.1);
//   }

//   .cartRespons {
//     font-size: 14px;
//   }

//   .navbar-cart {
//     padding-right: 0;
//     padding-left: 0;

//     &.in .mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
//       background: #fff;
//       background: rgba(255, 255, 255, 0.7) !important;
//     }
//   }

//   .miniCartFooter .btn {
//     color: #fff !important;
//   }

//   .miniCartProduct {
//     color: #FFFFFF;

//     a,
//     p,
//     .size,
//     .price {
//       color: #FFFFFF;
//     }
//   }

//   .dropdown-header {
//     color: #FFFFFF;
//   }

//   .megamenu-content ul li,
//   .navbar-nav .dropdown {
//     color: #fff;

//     a,
//     p {
//       color: #fff;
//     }
//   }

//   .searchInputBox {
//     max-width: 80%;
//   }

//   .megamenu .dropdown {
//     &.megamenu-80width .dropdown-menu {
//       width: 100%;
//       left: 0;
//       right: 0;
//       width: 100%;
//       left: 0;
//       right: 0;
//     }

//     &.megamenu-50width .dropdown-menu,
//     &.megamenu-40width .dropdown-menu {
//       width: 100%;
//       left: 0;
//       right: 0;
//     }
//   }

//   .megamenu-content ul {
//     margin-bottom: 15px;

//     li {
//       border-color: rgba(255, 255, 255, 0.2);
//     }
//   }

//   /* ------- banner slider responsive ------- */
//   .banner {
//     margin-top: 70px !important;
//   }

//   .sliderTextFull .inner.dark {
//     max-width: 100%;
//     padding: 5px;
//   }

//   .parallaximg.ismobile {
//     margin-top: 0 !important;
//   }

//   h1.xlarge {
//     font-size: 20px;
//     font-weight: 600;
//     line-height: normal;
//     padding-bottom: 0;
//   }

//   .sliderTextFull h3 {
//     font-size: 16px;
//     line-height: normal;
//     margin-bottom: 5px;
//     margin-top: 0;
//     padding-bottom: 0;
//   }

//   .sliderText h1 {
//     font-size: 24px;
//     padding-bottom: 0;
//   }

//   .sliderInfo .btn-lg {
//     font-size: 12px;
//     padding: 5px 10px;
//   }

//   .sliderText {
//     .inner {
//       padding: 5px;
//     }

//     h3.price {
//       font-size: 16px;
//       padding-bottom: 2px;
//     }
//   }

//   .featureImg a {
//     margin-bottom: 20px;
//   }

//   .navbar-top i {
//     font-size: 16px;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 1;
//     padding: 3px 0 0;
//   }

//   .text-left-xs {
//     text-align: left !important;
//   }
// }

// @media (max-width: 580px) {
//   /* phones (portrait and landscape) ----------- */
//   .xs3Response {
//     width: 50% !important;
//   }

//   .sliderTextFull {
//     color: #FFFFFF;
//     margin-top: 12%;
//   }

//   .parallax-content {
//     h2 {
//       color: #FFFFFF;
//       display: inline-block;
//       font-size: 20px;
//       line-height: 22px;
//     }

//     h3 {
//       font-size: 16px;
//       line-height: normal;
//     }
//   }

//   .style2 .section-title,
//   .section-title.style2 {
//     font-size: 24px;
//   }

//   .style2 .section-title:after,
//   .section-title.style2:after,
//   .section-title-style2:after {
//     margin-left: 10%;
//     top: 32px;
//     width: 80%;
//   }

//   .orderStep li a span {
//     font-size: 11px;
//   }

//   .categoryFooter .pagination {
//     margin-bottom: 10px;
//   }

//   .sp-thumbs {
//     bottom: 0 !important;
//   }

//   .CartProductThumb a img {
//     margin-right: 5px;
//   }

//   #pager2 {
//     bottom: 0;

//     span {
//       border-width: 1px;
//       height: 10px;
//       width: 10px;
//     }
//   }

//   .sliderControl {
//     border-radius: 2px;
//     padding: 0 2px;
//     top: 45%;

//     .fa-3x {
//       font-size: 2em;
//     }
//   }

//   #pager a {
//     font-size: 14px;
//     padding: 5px 0;
//     font-weight: normal;
//   }
// }

// @media (max-width: 480px) {
//   #pager a {
//     font-size: 12px;
//   }

//   .navbar-toggle {
//     background: none !important;
//   }

//   h1 {
//     &.xlarge {
//       font-size: 24px;
//       font-weight: 800;
//       line-height: normal;
//       padding-bottom: 0;
//     }

//     &.x2large {
//       font-size: 38px;
//     }
//   }

//   .title-big {
//     font-size: 38px;
//   }

//   .sliderTextFull h3 {
//     font-size: 16px;
//     line-height: normal;
//     margin-bottom: 2px;
//     margin-top: 0;
//     padding-bottom: 0;
//   }

//   .sliderText h1 {
//     font-size: 24px;
//     line-height: 26px;
//     padding-bottom: 0;
//   }

//   .sliderInfo .btn-lg {
//     font-size: 12px;
//     padding: 4px 8px;
//   }

//   .sliderText {
//     .inner {
//       padding: 2px;
//     }

//     h3.price {
//       font-size: 16px;
//       padding-bottom: 2px;
//     }
//   }

//   .supportLi h4 {
//     font-size: 14px;
//   }

//   .cartTableHeader {
//     font-size: 12px;
//     font-weight: bold;
//     text-transform: uppercase;
//   }

//   .CartProduct .delete i {
//     font-size: 16px !important;
//   }

//   .CartProductThumb a img {
//     max-width: 60px !important;
//   }

//   .CartDescription h4 a {
//     font-size: 14px !important;
//     line-height: normal;
//   }

//   .cart-actions {
//     button,
//     .wishlist {
//       font-size: 14px;
//       padding: 10px;
//     }
//   }

//   .search-box .input-group {
//     margin-top: 13px;
//   }

//   .navbar-brand.windowsphone {
//     display: block;
//     float: left;

//     img {
//       max-width: 65px;
//     }
//   }

//   .featuredPostContainer.globalPadding {
//     padding: 10px 0 !important;
//   }

//   .breadcrumb > li {
//     font-size: 12px;
//   }
// }

// @media (max-width: 400px) {
//   #pager a {
//     font-size: 10px;
//   }

//   .container {
//     min-width: 310px;
//   }

//   .cartFooter .box-footer div {
//     width: 100%;
//     text-align: center;
//     padding-bottom: 5px;
//   }

//   .navbar-brand {
//     padding: 17px 0 0 10px;

//     img {
//       max-width: 100px;
//     }
//   }

//   .navbar-header {
//     &.isios .navbar-brand img {
//       max-width: 60px !important;
//     }

//     .navbar-toggle {
//       margin-right: 10px;
//       padding: 9px 2px;
//     }
//   }

//   .xsResponse .item,
//   .xs3Response .item {
//     width: 100% !important;
//   }

//   .cartFooter {
//     padding: 5px 0;
//   }

//   .checkoutReview th {
//     font-size: 13px;
//   }
// }

// @media (max-width: 320px) {
//   .container {
//     width: 100% !important;
//     max-width: 320px !important;
//   }

//   .banner {
//     width: 100% !important;
//     max-width: 320px !important;
//     overflow: hidden !important;
//   }
// }
