.check-banner { display:none; position: absolute; } /* to hide the checkbox itself */
.check-banner + label:before {
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

.check-banner + label:before { content: "\f096"; } /* unchecked icon */
.check-banner + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.check-banner:checked + label:before { content: "\f046"; } /* checked icon */
.check-banner:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
