<div class="nested-fields">

	<div class="col-md-12">
		<div class="input-group">
    	<%= f.text_field :name, class: 'form-control'  %>
    	<span class="input-group-btn">
			<%= link_to_remove_association "REMOVER", f, class: 'btn btn-danger' %>
        </span>

    	</div>
    </div>
</div>