<div class="row">

    <%= simple_form_for(@department) do |f| %>

        <div class="col-md-6">
            <section class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Dados do departamento</strong>
                    </div>
                    <div class="panel-body">
                        <%= f.error_notification %>

                        <%= f.input :name, hint: (@department.slug ? '/'+ @department.slug : '') %>
                        <div class="form-group">
                            <label class="ui-checkbox"><%= f.check_box :on_menu %>
                            <span>Exibir no menu?</span></label>
                        </div>
                        <div class="form-group">
                            <label class="ui-checkbox"><%= f.check_box :is_home %>
                            <span>É Home?</span></label>
                        </div>
                        <%= f.input :slug %>
                        <%= f.input :raw_order %>
                        <%= f.input :banner_value, as: :string, input_html: { class: 'decimal' } %>

                        <fieldset>
                            <legend>SEO</legend>
                            <%= f.input :keywords %>
                            <%= f.input :description, as: :text %>
                        </fieldset>

                        <%= hlp_application_btn_submit('departamento') %>
                    </div>
            </section>
        </div>
    <% end %>

</div>



