    <div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
        	<strong>Lista de departamentos</strong>
			<%= link_to "+ Adicionar Departamento", new_manager_ad_department_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>URL</th>
                    <th>Menu?</th>
                    <th>Ordem</th>
                    <th>Produtos?</th>
                    <th>Banner</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
				<% @departments.each do |department| %>
					<tr>
						<td><%= link_to department.name, edit_manager_ad_department_path(department) %></td>
						<td>/<%= department.slug %></td>
                        <td>
                            <% if department.on_menu? %>
                                <span class="label label-primary">Menu</span>
                            <% else %>
                                <span class="label label-info">Mais Departamentos</span>
                            <% end %>
                        </td>
                        <td><%= department.raw_order %></td>
                        <td><%= department.products.size %></td>
                        <td><%= number_to_currency(department.banner_value.to_f) %></td>
						<td>
							<%= link_to 'Editar', edit_manager_ad_department_path(department) %> ou
							<%= link_to 'Excluir', department, method: :delete, confirm: 'Deseja excluir?' %>
						</td>
					</tr>
				<% end %>
            </tbody>
        </table>
    </div>
</div>
