<div class="row">
    <div class="breadcrumbDiv col-md-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li class="active"> Acessando sua conta </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="section-title-inner text-center">
            <span><i class="fa fa-lock"></i> Acesse ou Crie a sua conta!</span>
        </h1>

        <% if params[:prodCP] %>
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Para gerar seu cupom, você deve estar <strong>cadastrado</strong>.
            </div>
        <% end %>

        <% if params[:prodCM] %>
            <div class="alert alert-info">
                <i class="fa fa-info-circle"></i> Para fazer seu comentário, você deve estar <strong>cadastrado</strong>.
            </div>
        <% end %>

        <div class="row userInfo">

            <!--
            <div class="col-md-4">
                <h2 class="block-title-2"><span>Utilize a sua conta do Facebook para acessar</span></h2>
                <%#= link_to  user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block btn-lg' do %>
                    <i class="fa fa-facebook"></i> Acessar com Facebook
                <%# end %>
			</div>
            -->

			<div class="col-md-6 col-md-offset-3">
                <h2 class="block-title-2"><span>Se voce já possui um usuário e senha</span></h2>
                <%= link_to new_user_session_path, class: 'btn btn-primary btn-block btn-lg bg1 border1' do %>
                    <i class="fa fa-sign-in"></i> Acessar com minha conta
                <% end %>

                <hr />

                <h2 class="block-title-2"><span>Criar uma nova conta?</span></h2>
                <%= link_to  new_user_registration_path, class: 'btn btn-primary btn-block btn-lg bg1 border1' do %>
                    <i class="fa fa-user"></i> Criar uma nova conta
                <% end %>


			</div>

			<div class="col-md-4">

			</div>


        </div>
        <!--/row end-->

    </div>

    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div> <!--/row-->
