$('.alter-plan').html('<div class="alert alert-success"><h3><i class="fa fa-check-circle"></i> Solicitação enviada!</h3><p>Acabamos de receber sua solicitação para alteração de plano. Logo entraremos em contato para dar continuidade ao procedimento.</p><br /><p>Até logo!</p></div>');
