<div class="row innerPage">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="row userInfo">
			<div class="col-xs-12 col-sm-12">
				<h1 class="title-big text-center section-title-style2">
					<span> Contato </span>
				</h1>

				<!-- <p class="lead text-center">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				</p> -->

				<hr>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

						<h3 class="block-title-5">Qual a sua dúvida?</h3>

						<p>Entre em contato conosco!<br>
              <strong>Telefone: </strong> <%= @current_org.phone %> <br />
							<strong>E-mail</strong>: <a href="mailto:<%= @current_org.email %>"><%= @current_org.email %></a>
						</p>

					</div>

                    <% if @current_org.email_comercial != @current_org.email %>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <h3 class="block-title-5">Comercial</h3>

                            <p>Entre em contato com o nosso comercial<br>
                                <strong>E-mail</strong>: <a href="mailto:<%= @current_org.email_comercial %>"><%= @current_org.email_comercial %></a>
                            </p>

                        </div>
                    <% end %>


				    <div style="clear:both"> </div>
					<hr>
				    <div style="clear:both"> </div>

					<div class="w100 map">
                        <!-- <iframe src="<%= WHITELABEL_MAPS %>" width="100%" height="350" style="border:0" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->

					</div>

				</div><!--/.row-->
			</div>

		</div> <!--/.row  ||  -->

	</div>
</div>  <!--/row || innerPage end-->

<div style="clear:both"> </div>
