<div class="como-anunciar-page">
    <div class="row">
        <div class="col-md-12">
            <h1>Por que <br>
                <strong>anunciar</strong> aqui?
            </h1>
        </div>
    </div>
    <div class="row home call-one">
        <div class="col-md-4">
            <%= image_tag('icon-gratis.png') %>
            <p>
                Publique seu <br>
                anúncio gratuitamente.
            </p>
        </div>

        <div class="col-md-4">
            <%= image_tag('icon-audiencia.png') %>
            <p>
                Você aproveita a <br>
                audiência do nosso site.
            </p>
        </div>

        <div class="col-md-4">
            <%= image_tag('icon-consumer.png') %>
            <p>
                Conheça e interaja <br>
                com seus consumidores.
            </p>
        </div>
    </div>

    <div class="row home call-two">
        <div class="panel col-md-12">
            <h3>É simples. É fácil. É grátis.</h3>

            <%= link_to page_acesso_path, class: 'btn-access' do %>
                Anuncie agora!
            <% end %>
        </div>
    </div>

    <div class="row how-to-do">
        <div class="col-md-12">
            <h2>Como criar o seu anúncio</h2>

            <div class="row step-one">
                <p class="step-text pull-left">
                    <%= image_tag "icon-01categoria.png" %> <br>
                    Selecione a categoria do seu produto ou serviço
                </p>

                <div class="pull-right">
                    <%= image_tag "passo01.jpg" %>
                </div>
            </div>

            <div class="row step-two">
                <div class="pull-left">
                    <%= image_tag "passo02.jpg" %>
                </div>

                <p class="step-text pull-right">
                    <%= image_tag "icon-02dados.png" %> <br>
                    Selecione a categoria do seu produto ou serviço
                </p>
            </div>

            <div class="row step-three">
                <p class="step-text pull-left">
                    <%= image_tag "icon-03foto.png" %> <br>
                    Insira as imagens. <br>
                    Você pode colocar até 4 fotos por anúncio.
                </p>

                <div class="pull-right">
                    <%= image_tag "passo03.jpg" %>
                </div>
            </div>

            <div class="row step-four">
                <div class="pull-left">
                    <%= image_tag "passo04.jpg" %>
                </div>

                <p class="step-text pull-right">
                    <%= image_tag "icon-04ok.png" %> <br>
                    Seu anúncio está pronto para ser publicado!
                </p>
            </div>
        </div>
    </div>


    <div class="row how-about-now">
        <div class="col-md-12">
            <h3>Que tal começar agora?</h3>

            <div class="call-to-action">
                <% url = (user_signed_in? ? site_produtos_path(:anuncio_2) : new_user_registration_path ) %>
                <%= link_to url , class: 'btn-access' do %>
                    <span>Publique um anúncio</span>
                <% end %>
            </div>
        </div>
    </div>
</div>
