<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Contratar plano </span>
        </h1>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <h2>1. Selecione um plano</h2>
    </div>

    <div class="col-md-12">
        <%= render '/site/page/partials/planos' %>
    </div>

    <div class="col-md-12">
        <br />
        <p>
            De acordo com nossas regras de cobrança, será gerado um faturamento mínimo de 6 (seis) parcelas de com o valor do plano selecionado acima.
        </p>

        <p>
            Após este período, será gerado uma cobrança mensal, com valor igual ao plano com mesmo nome ou equivalente ao contratado, conforme tabela presente no endereço <a href="http://<%= current_org.domain %>/planos"><strong><%= current_org.domain %>/planos</strong></a>.
        </p>
        <br />
    </div>
</div>


<% if !user_signed_in? or (current_user and current_user.plan == 'free') %>
    <div class="row plan-user">
        <%= simple_form_for(
                @user,
                url: page_contratar_path(id: @user ? @user.id : nil),
                html: {  class: 'form-horizontal form-validate' },
                wrapper: :horizontal_form
            ) do |f|
        %>
            <%= f.hidden_field :seller, value: true %>

            <div class="col-md-12">
                <%= f.error_notification %>
            </div>

            <div class="col-md-12">
                <h2>2. Dados de acesso</h2>
            </div>

            <div class="row resp-dados <%= hlp_account_is_kind(@user.new_record?) %>">
                <div class="col-md-12">
                    <%= f.input :email, required: true %>
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
                    <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>
                </div>
            </div>

            <div class="col-md-12">
                <br /><br />
                <h2 class="passo2">3. Atualize ou insira suas informações</h2>
            </div>

            <div class="col-md-12">
                <h2 class="block-title-2 ">Dados Gerais</h2>
                <%= f.hidden_field :plan %>
                <div style="font-size: 18px">
                    <%= f.input :kind,
                        as: :radio_buttons_inline,
                        label: 'É uma empresa?',
                        collection: [['Sim', 'pj'], ['Não', 'pf']]
                    %>
                </div>

                <% if !@user.new_record? %>
                    <%= f.input :email, required: true %>
                <% end %>

                <%= f.input :department_id,
                    as: :select,
                    collection: Manager::Ad::Department.all,
                    required: true,
                    include_blank: false
                %>

                <%= f.input :name, required: true, label: (@user.kind == 'pf' ? 'Primeiro nome' : 'Nome fantasia') %>
                <div class="is_user_kind_pf <%= hlp_account_is_kind(@user.kind == 'pf') %>">
                    <%= f.input :last_name, required: true %>

                    <%= f.input :cpf, hint: 'Exemplo: xxx.xxx.xxx-xx', required: true %>

                    <%= f.input :birthday,
                        as: :date,
                        discard_year: true,
                        required: true
                    %>

                    <%= f.input :genre,
                        as: :radio_buttons_inline,
                        collection: [['Masculino', 'm'], ['Feminino', 'f']]
                    %>

                    <%= f.input :cellphone,
                        as: :string,
                        wrapper: :horizontal_form_phone,
                        hint: 'Exemplo: (xx) xxxx-xxxx',
                        required: true
                    %>
                </div>

                <div class="is_user_kind_pj <%= hlp_account_is_kind(@user.kind == 'pj') %>">
                    <%= f.input :business_name, required: true %>
                    <%= f.input :cnpj, hint: 'Exemplo: xx.xxx.xxx/xxxx-xx', required: true %>
                </div>

                <%= f.input :phone,
                    as: :string,
                    wrapper: :horizontal_form_phone,
                    hint: 'Exemplo: (xx) xxxx-xxxx',
                    required: @user.kind == 'pj'
                %>

                <% if @current_org.name =~ /cdl/ %>
                    <%= f.input :associated_code %>
                <% end %>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="block-title-2">Endereço</h2>
                        <%= f.input :address_zipcode, hint: 'Exemplo: xxxxx-xxx', required: true %>
                        <%= f.input :address_street, required: true %>
                        <%= f.input :address_number, required: true %>
                        <%= f.input :address_compl %>
                        <%= f.input :address_district, required: true %>
                        <%= f.hidden_field :state_id, value: State.find_by_symbol('SC').id %>
                        <%= f.input :city_id,
                            as: :select,
                            collection: City.where(id: [4598, 4730, 4732, 4508, 4527, 4510, 4577, 4504, 4442, 4688]),
                            include_blank: false,
                            required: true %>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row resp-dados <%= hlp_account_is_kind(@user.kind == 'pj') %>">
                    <div class="col-md-12">
                        <h2 class="block-title-2 ">Contatos para notificações</h2>

                        <div class="clearfix">
                            <div class="col-md-4">
                                <h3>Geral</h3>
                                <%= f.input :resp_name, required: true, label: 'Nome' %>
                                <%= f.input :resp_email, required: true, label: 'E-Mail' %>
                            </div>

                            <div class="col-md-4">
                                <h3>Financeiro</h3>
                                <%= f.input :resp2_name, label: 'Nome' %>
                                <%= f.input :resp2_email, label: 'E-Mail' %>
                                <div class="checkbox repeat-resp">
                                    <label>
                                      <input type="checkbox"> Usar o mesmo contato geral
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h3>Marketing</h3>
                                <%= f.input :resp3_name, label: 'Nome' %>
                                <%= f.input :resp3_email, label: 'E-Mail' %>
                                <div class="checkbox repeat-resp">
                                    <label>
                                      <input type="checkbox"> Usar o mesmo contato geral
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <hr />
                <div class="clearfix resp-dados <%= hlp_account_is_kind(@user.new_record?) %>">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
                        </div>

                        <div class="form-group">
                            <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
                        </div>

                        <div class="form-group">
                            <p class="text-muted text-small">Ao clicar em "Contratar plano", você estará concordando com os <a href="<%= page_termos_path %>" target="_blank">termos & condições</a> e a <a href="<%= page_politica_path %>" target="_blank"> política de privacidade</a>.</p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg bg1 border1"><i class="fa fa-user"></i> Contratar plano</button>
            </div>

        <% end %>
    </div>
<% else %>
    <div class="row plan-user">
        <%= form_tag page_altera_plano_path, remote: true do %>
            <div class="col-md-12">
            <br />
                <h2>2. Enviar solicitação</h2>
            </div>

            <div class="col-md-12 alter-plan">
                <%= hidden_field_tag :user_plan, current_user.plan %>
                Atualmente seu plano é <strong><%= current_user.label_plan %></strong>. Para troca de planos, será enviado uma solicitação para nossa equipe. Em breve, entraremos em contato.

                <br /> <br />
                <button type='submit' class="btn btn-success btn-lg"><i class="fa fa-check"></i> Solicitar alteração de plano</button>
            </div>

        <% end %>

    </div>
<% end %>
