<div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">
                <h1 class=" text-left border-title"> Produtos e serviços ilegais </h1>
                <p > <strong> Os produtos considerados ilegais incluem, mas não se limitam, aos itens discriminados abaixo. Quaisquer anúncios de produtos, bens ou serviços em desacordo com as leis brasileiras serão rejeitados. </strong> </p>


                <hr>
                <div class="w100 clearfix">
                    <ul class="list-dot">
                        <li>Drogas de qualquer tipo. Equipamentos e objetos destinados ao consumo ou fabricação de drogas.</li>
                        <li>Armas de qualquer tipo, inclusive réplicas, silenciadores, armas de fogo, armas de pressão, armas de brinquedo, acessórios para qualquer tipo de armas, roupas militares, etc;</li>
                        <li>Difundir informações pessoais ou de terceiros sem o devido consentimento;</li>
                        <li>Carros com dívidas (NP), com busca de apreensão (BA) ou sem documentação;</li>
                        <li>Substâncias químicas e perigosas (acetona, ácidos, venenos, cloro, amônia, mercúrio, etc);</li>
                        <li>Órgãos humanos, cadáveres, fluidos corporais, barriga de aluguel;</li>
                        <li>Medicamentos, equipamentos médico-hospitalares e equipamentos estéticos;</li>
                        <li>Produtos que representem degradação, assédio, ódio ou intimidação à indivíduos ou grupos de qualquer espécie e/ou natureza;</li>
                        <li>Fogos de artifício, explosivos e munições;</li>
                        <li>Prostituição e/ou pedofilia;</li>
                        <li>Itens que firam as Leis de Proteção do Patrimônio Histórico, Artístico e Cultural;</li>
                        <li>Itens roubados, falsificados, pirateados, contrabandeados ou tudo que viole patentes, marcas, modelos ou propriedade intelectual de forma geral;</li>
                        <li>Produtos para transmissão sob frequências restritas às autoridades de segurança (ex: rádio amador, PX);</li>
                        <li>Animais que não estejam listados em nossas regras, que encontram-se em risco de extinção ou que sejam proibidos pela lei ou por qualquer outra razão. Órgãos, membros e peles de animais;</li>
                        <li>Serviço de cirurgias estéticas para animais, como conchectomia (corte de orelha), caudectomia (corde da cauda), retirada das cordas vocais de cachorros e a retirada de unhas dos gatos;</li>
                        <li>Apostas, bingos e quaisquer jogos de azar;</li>
                        <li>Negociações ilícitas de documentos de identidade, CPF, passaporte, diplomas, etc;</li>
                        <li>Decodificadores de TV a cabo;</li>
                        <li>Pedidos de doação e fiador;</li>
                        <li>Ingressos de qualquer natureza (show, festivais, concertos, eventos, festas, esportes, cinemas, etc);</li>
                        <li>Produtos sem a homologação, aprovação e registro de órgãos governamentais como, por exemplo, ANVISA, INMETRO, ANATEL;</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/row end-->

    </div>
</div>
