<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Links interessantes </span>
        </h1>
    </div>
</div>

<%= render "/site/page/partials/links_#{ @current_org.name }" %>
