<div class="row innerPage">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="row userInfo">
				<div class="col-xs-12 col-sm-12">

					<p > <strong> Por favor, leia os seguintes termos e condições cuidadosamente pois o uso do serviço está sujeito à sua aceitação e cumprimento com os seguintes termos e condições. </strong> </p>
					<hr>
					<div class="w100 clearfix">
                        <p>
                            O <%= @current_org.fullname %> abriu esse espaço para esclarecer com transparência nossa conduta sobre o destino dos dados que você confidencia a nós. O <%= @current_org.fullname %> tem como compromisso respeitar sua privacidade e garantir o sigilo de todas as informações fornecidas por nossos usuários. Os dados fornecidos por nossos usuários são exclusivamente utilizados para melhorar a sua experiência de compra e mantê-lo informado sobre promoções e vantagens oferecidas pelo <%= @current_org.fullname %> e nossos parceiros.
                        </p>

                        <p>
                            Para que estes dados permaneçam intactos, nós desaconselhamos expressamente a divulgação de sua senha a terceiros, mesmo a amigos e parentes.
                        </p>

                        <p>
                            As alterações em nossa política de privacidade serão devidamente informadas neste espaço.
                        </p>
                        <hr>
					</div>
				</div>
			</div>
			<!--/row end-->

		</div>
	</div>
