<div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <h1 class="title-big text-center section-title-style2">
            <span >
              Sobre o <%= @current_org.fullname %>
            </span>
          </h1>

          <p class="lead text-center">
            <%= @current_org.about %>
          </p>

          <hr class="hr hr30">

          <div class="row">
            <div class="col-md-12">
                <strong>Aqui você pode:</strong>
                <ul>
                    <li>> Encontrar os melhores produtos e serviços da sua cidade;</li>
                    <li>> Ganhar descontos em compras nas lojas afiliadas ao site;</li>
                    <li>> Anunciar seus produtos ou serviços;</li>
                    <li>> Compartilhar todo o conteúdo do site com sua família e amigos.</li>
                </ul>
                <br>
                <p>E o melhor, tudo a um clique de distância, de um jeito fácil e rápido.</p>
                <p>E aí, já clicou hoje?</p>
            </div>
          </div>



          <% if @current_org.name == 'clictem' %>
            <hr class="hr hr30">
            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                  <a href="<%= root_url %>" class="btn btn-primary btn-lg btn-block">
                      Encontre <strong>aqui</strong> o que <br> você precisa
                  </a>
              </div>
              <div class="col-md-3">
                  <% url = (user_signed_in? ? site_produtos_path(:anuncio_2) : new_user_registration_path ) %>
                  <a href="<%= url %>" class="btn btn-info btn-lg btn-block">
                      Anuncie <strong>totalmente grátis</strong> <br> agora!
                  </a>
              </div>
            </div>
          <% end %>


          <hr>
        </div>
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
