<%# hlp_site_breadcrumb_add('Minha Conta', site_minha_conta_url(subdomain: false)) %>
<%#= hlp_site_breadcrumb_render('SMS') %>

<!-- Total de créditos no metatag para ser utilizado em JS -->
<%= content_for :head do  %>
    <meta name="sms:credit" content="<%= current_user.sms_total_balance %>">
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu' %>
    </div>
</div>

<div class="clearfix">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <h1 class="section-title-inner"><span><i class="fa fa-mobile"></i> SMS</span></h1>
    </div>
    <!-- <div class="col-lg-3 col-md-3 col-sm-3 rightSidebar">
      <h4 class="caps">
        <%= link_to site_minha_conta_url(subdomain: false) do %>
          <i class="fa fa-chevron-left"></i> Voltar para minha conta
        <% end %>
      </h4>
    </div> -->
</div>

<div class="clearfix">
	<div class="col-lg-12 col-md-12">
		<div class="row userInfo">
			<div class="col-md-12">
                <%= flash_messages %>
				<h2 class="block-title-2"><span>Este é nosso módulo de SMS. Aqui, você poderá gerenciar os grupos, clientes e criar campanhas de SMS Marketing.</span></h2>

                <!-- Menu -->
				<ul class="myAccountList row">
					<li class="col-md-1 text-center">
						<div class="thumbnail equalheight">
                            <%= link_to groups_path do %>
                                 <i class="fa fa-folder-open"></i> Grupos
                            <% end %>
                        </div>
					</li>

                    </li>
					<li class="col-md-2 text-center">
						<div class="thumbnail equalheight">
                            <%= link_to customers_path do %>
                                <i class="fa fa-users"></i> Contatos
                            <% end %>
                            </a>
                        </div>
					</li>
                    <li class="col-md-2 text-center">
                        <div class="thumbnail equalheight">
                            <%= link_to sms_campaigns_path do %>
                                <i class="fa fa-volume-up"></i> Campanhas
                            <% end %>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-2 text-center">
                        <div class="thumbnail equalheight">
                            <%= link_to sms_birthday_path do %>
                                <i class="fa fa-birthday-cake"></i> Aniversariantes
                            <% end %>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-2 text-center">
                        <div class="thumbnail equalheight">
                            <%= link_to sms_buys_path do %>
                                <i class="fa fa-shopping-cart"></i> Contratar SMS
                            <% end %>
                            </a>
                        </div>
                    </li>


				</ul>

				<div class="clear clearfix"></div>
			</div>
		</div>
		<!--/row end-->

	</div>
	<div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div>
