<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            Sugestões de marcas
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Semelhante</th>
                    <th>Anúncio</th>
                    <th>Usuário</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% @products.each do |product| %>
                    <% semelhante = Manager::Ad::Brand.search(product.brand_sugest) %>
                    <tr>
                        <td><strong><%= product.brand_sugest %></strong></td>
                        <td>
                            <% if semelhante.present? %>
                                <a href="<%= edit_manager_ad_product_path(product, brand_id: semelhante.first.id) %>">
                                    <i class="fa fa-exclamation-triangle"></i> Marca já existe. Clique aqui e edite o produto.
                                </a>
                            <% end %>
                        <td>
                        <td><%= product.name %></td>
                        <td><%= product.user_name %></td>
                        <td><%= l(product.created_at, format: :short ) %></td>
                        <td>
                            <%= link_to 'Adicionar Marca', new_manager_ad_brand_path(name: product.brand_sugest, dept: product.department_id, product_id: product.id) %> <br />
                            <%= link_to 'Editar produto', edit_manager_ad_product_path(product) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

