<%= simple_form_for(@group, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  	<div class="col-md-5">
  		<%= f.input :name, label: false, placeholder: 'Digite o nome do grupo', autofocus: true %>
  	</div>

  	<div class="col-md-2">
  		<button class="btn btn-success btn-block" type="submit">
  			<i class="fa fa-check"></i> Salvar Grupo
  		</button>
  	</div>

    <% if !@group.new_record? %>
      <div class="col-md-2">
        <%= link_to @group, class: 'btn btn-default btn-block', remote: true do %>
          <i class="fa fa-ban"></i> Cancelar
        <% end %>
      </div>
    <% end %>
  </div>


<% end %>
