<tr class="group<%= group.id %>">
  <td><%= group.name %></td>
  <td class="text-center"><%= group.customers.size %></td>
  <td class="text-right">
    <%= link_to edit_group_path(group), class: 'btn btn-xs btn-link', remote: true do %>
      <i class="fa fa-edit"></i> Editar grupo
    <% end %>
    <%= link_to group, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-xs btn-link', remote: true do %>
		  <i class="fa fa-trash-o"></i> Excluir grupo
    <% end %>
  </td>
</tr>
