
<%= simple_form_for(@group, remote: true) do |f| %>
  <%= f.error_notification %>
    <div class="modal fade" id="new-group-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Cadastrando <strong>novo</strong> grupo de cliente</h4>
          </div>
          <div class="modal-body">
            <%= f.input :name, label: false, placeholder: 'Digite o nome do grupo' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-primary" type="submit">Salvar grupo</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<% end %>
