<% if @group.errors.any? %>

    $('#new-group-modal').remove();
    $('body').append('<%= j render "new" %>');
    $('#new-group-modal').modal();
    setTimeout(function(){$('#group_name').focus();}, 500);

<% else %>

    if($('.customer_groups:not(.funnels)').size() > 0){
        $('.customer_groups:not(.funnels)').prepend("<span class='checkbox-inline'><label for='customer_group_ids_<%= @group.id %>' name='customer[group_ids]'><input class='check_boxes_inline optional' id='customer_group_ids_<%= @group.id %>' name='customer[group_ids][]' type='checkbox' value='<%= @group.id %>' checked><%= @group.name %></label></span>");
    };

    $('.table-groups').prepend('<%= j render @group %>');
    setTimeout(function(){
        $('.group<%= @group.id %>').flash(1000, 4)
    }, 1000);

    $('#new-group-modal').modal('hide');

<% end %>
