<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
  <div class="col-md-12">

      <h1>
        Grupos de cliente

        <%= link_to new_group_path, class: "btn btn-success btn-sm", remote: true do %>
            <i class="fa fa-plus-circle"></i> Cadastrar grupo
        <% end %>

        <%= link_to customers_path, class: "btn btn-default btn-sm" do %>
            <i class="fa fa-list"></i> Clientes
        <% end %>
      </h1>


      <div id="group-form">
        <%= render '/groups/new' %>
      </div>


      <div class="panel panel-default">

          <div class="panel-heading">
              VOCÊ TEM <%= pluralize(@groups.size, 'GRUPO CADASTRADO', 'GRUPOS CADASTRADOS') %>
          </div>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th class="text-center">Contatos</th>
                <th class="text-right"></th>
              </tr>
            </thead>

            <tbody class="table-groups">
              <%= render @groups %>
            </tbody>
          </table>

      </div>

  </div>
</div>
