<% if @group.errors.any? %>

<% else %>
	$('.group<%= @group.id %>').replaceWith('<%= j render "group", group: @group  %>')
	setTimeout(function(){
		$('.group<%= @group.id %>').flash(1000, 4)
	}, 1000)
<% end %>
