<div class="page-signin">

    <div class="signin-body">
        <div class="container">
            <div class="form-container col-md-6 col-md-offset-3">
                <section class="row signin-social text-center">
                    <h2>Altere a sua senha</h2>
                </section>

                <span class="line-thru">&nbsp;</span>
                <%= simple_form_for(
                        resource,
                        :as => resource_name,
                        :url => user_password_path,
                        html: { method: :put }
                    ) do |f|
                %>
                    <%= flash_messages %>
                    <%= devise_error_messages! %>
                    <%= f.hidden_field :reset_password_token %>
                    <fieldset>
                        <%= f.input :password, required: true, autocomplete: "off", placeholder: "A sua nova Senha" %>
                        <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>

                        <div class="form-group">
                            <%= f.submit "Altere a minha senha", class: "btn btn-primary btn-lg btn-block" %>
                        </div>
                    </fieldset>
                <% end %>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>

</div>
