<div class="row">
<%= simple_form_for(@brand) do |f| %>
  <%= f.error_notification %>

    <%= hidden_field_tag :product_id, params[:product_id] %>

    <div class="col-md-6">
        <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>Dados da marca</strong>
                </div>
                <div class="panel-body">
                    <%= f.error_notification %>

                    <%= f.input :name, hint: (@brand.slug ? '/'+ @brand.slug : '') %>

                    <fieldset>
                        <legend>Departamentos</legend>
                        <%= f.association :departments, as: :check_boxes, wrapper: :vertical_radio_and_checkboxes, label: false %>
                    </fieldset>

                    <fieldset>
                        <legend>SEO</legend>
                        <%= f.input :keywords %>
                        <%= f.input :description, as: :text %>
                    </fieldset>

                    <%= hlp_application_btn_submit('marca') %>
                </div>
        </section>
    </div>

<% end %>
</div>