<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
        	Lista de marcas
			<%= link_to "+ Adicionar marca", new_manager_ad_brand_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
				<% @brands.each do |brand| %>
					<tr>
						<td><strong><%= link_to brand.name, edit_manager_ad_brand_path(brand) %></strong></td>
						<td>
							<%= link_to 'Editar', edit_manager_ad_brand_path(brand) %> ou
							<%= link_to 'Excluir', brand, method: :delete, confirm: 'Deseja excluir?' %>
						</td>
					</tr>
				<% end %>
            </tbody>
        </table>
    </div>
</div>

