/* ================================================================== */
/* CUSTOMIZE THE BOOTSTRAP MODAL + INPUT FORM ELEMENT + BUTTON + ALERT
/* ================================================================== */

.modal {
  overflow: auto;
}

.modal-dialog {
  max-width: 460px;
}

.modal-header {
  border-bottom: 1px solid #E5E5E5;
  color: #FFFFFF;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.modal-title-site {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: lighter;
  padding: 13px 0;
  text-transform: uppercase;
}

.modal-content {
  border: 0 solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.modal-footer {
  background: #eee;
  border-top: 1px solid #E5E5E5;
  padding: 10px 20px;
}

// .form-control:focus {
//   box-shadow: none;
//   outline: 0 none;
// }

// input {
//   &[type="text"], &[type="password"], &[type="email"] {
//     border-color: #DDDDDD;
//     -webkit-border-radius: 3px 0 0 3px;
//     -moz-border-radius: 3px 0 0 3px;
//     border-radius: 3px 0 0 3px;
//     border-style: solid;
//     border-width: 2px 1px 1px 2px;
//     color: #888888;
//     font-size: 14px;
//     margin-bottom: 10px;
//     // height: 36px;
//   }
// }

// .btn {
//   border: medium none;
//   -webkit-border-radius: 4px;
//   -moz-border-radius: 4px;
//   border-radius: 4px;
//   font-size: 15px;
//   font-weight: normal;
//   line-height: 1.4;
//   padding: 6px 12px;
//   transition: all 0.25s linear 0s;
//   -webkit-transition: all 0.25s linear 0s;
//   -moz-transition: all 0.25s linear 0s;
//   -ms-transition: all 0.25s linear 0s;
//   -o-transition: all 0.25s linear 0s;
// }

// .btn-lg {
//   -webkit-border-radius: 6px;
//   -moz-border-radius: 6px;
//   border-radius: 6px;
//   font-size: 18px;
//   line-height: 1.33;
//   padding: 10px 16px;
// }

// .btn-sm {
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
//   font-size: 13px;
//   line-height: 1.5;
//   padding: 4px 8px;
// }

// .btn-xs {
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
//   font-size: 12px;
//   line-height: 1.5;
//   padding: 1px 5px;
// }

// .btn-lg {
//   -webkit-border-radius: 6px;
//   -moz-border-radius: 6px;
//   border-radius: 4px;
//   font-size: 16px;
//   line-height: 1.471;
//   padding: 10px 20px;
// }

.btn-thin {
  border: 1px solid #BDC3C7;
  color: #BDC3C7;
  background: none;
}

.btn-stroke-dark, .btn-stroke-light {
  background: rgba(0, 0, 0, 0);
  // font-family: "Oswald", Helvetica Neue, Arial, sans-serif;
  letter-spacing: 2px;
  padding: 15px 20px;
  text-align: center;
  border-radius:0;
  min-width:200px;
  text-transform: uppercase;
}
.btn-stroke-dark {
  border: 2px solid #2c3e50;
  color: #2c3e50 !important;
}
.btn-stroke-dark:hover {
  background: #2c3e50;
  color:#fff !important;
}
.btn-stroke-light {
  border: 2px solid #fff;
  color: #fff !important;
}
.btn-stroke-light:hover {
  background: #fff;
  color:#2c3e50 !important;
}

// .btn-default {
//   background-color: #BDC3C7;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #CACFD2;
//     border-color: #CACFD2;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-default {
//   background-color: #CACFD2;
//   border-color: #CACFD2;
//   color: #FFFFFF;
// }

// .btn-default {
//   &:active, &.active {
//     background: #A1A6A9;
//   }
// }

// .open .dropdown-toggle.btn-default {
//   background: #A1A6A9;
// }

// .btn-default {
//   &.disabled, &[disabled] {
//     background-color: #BDC3C7;
//   }
// }

// fieldset[disabled] .btn-default {
//   background-color: #BDC3C7;
// }

// .btn-default {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #BDC3C7;
//   }
// }

// fieldset[disabled] .btn-default:hover {
//   background-color: #BDC3C7;
// }

// .btn-default {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #BDC3C7;
//   }
// }

// fieldset[disabled] .btn-default:focus {
//   background-color: #BDC3C7;
// }

// .btn-default {
//   &.disabled:active, &[disabled]:active {
//     background-color: #BDC3C7;
//   }
// }

// fieldset[disabled] .btn-default:active {
//   background-color: #BDC3C7;
// }

// .btn-default {
//   &.disabled.active, &.active[disabled] {
//     background-color: #BDC3C7;
//   }
// }

// fieldset[disabled] .btn-default.active {
//   background-color: #BDC3C7;
// }

// .btn-primary {
//   &.disabled, &[disabled] {
//     background-color: #1ABC9C;
//   }
// }

// fieldset[disabled] .btn-primary {
//   background-color: #1ABC9C;
// }

// .btn-primary {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #1ABC9C;
//   }
// }

// fieldset[disabled] .btn-primary:hover {
//   background-color: #1ABC9C;
// }

// .btn-primary {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #1ABC9C;
//   }
// }

// fieldset[disabled] .btn-primary:focus {
//   background-color: #1ABC9C;
// }

// .btn-primary {
//   &.disabled:active, &[disabled]:active {
//     background-color: #1ABC9C;
//   }
// }

// fieldset[disabled] .btn-primary:active {
//   background-color: #1ABC9C;
// }

// .btn-primary {
//   &.disabled.active, &.active[disabled] {
//     background-color: #1ABC9C;
//   }
// }

// fieldset[disabled] .btn-primary.active {
//   background-color: #1ABC9C;
// }

// .btn-info {
//   background-color: #3498DB;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #5DADE2;
//     border-color: #5DADE2;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-info {
//   background-color: #5DADE2;
//   border-color: #5DADE2;
//   color: #FFFFFF;
// }

// .btn-info {
//   &:active, &.active {
//     background: #2C81BA;
//   }
// }

// .open .dropdown-toggle.btn-info {
//   background: #2C81BA;
// }

// .btn-info {
//   &.disabled, &[disabled] {
//     background-color: #3498DB;
//   }
// }

// fieldset[disabled] .btn-info {
//   background-color: #3498DB;
// }

// .btn-info {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #3498DB;
//   }
// }

// fieldset[disabled] .btn-info:hover {
//   background-color: #3498DB;
// }

// .btn-info {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #3498DB;
//   }
// }

// fieldset[disabled] .btn-info:focus {
//   background-color: #3498DB;
// }

// .btn-info {
//   &.disabled:active, &[disabled]:active {
//     background-color: #3498DB;
//   }
// }

// fieldset[disabled] .btn-info:active {
//   background-color: #3498DB;
// }

// .btn-info {
//   &.disabled.active, &.active[disabled] {
//     background-color: #3498DB;
//   }
// }

// fieldset[disabled] .btn-info.active {
//   background-color: #3498DB;
// }

// .btn-danger {
//   background-color: #E74C3C;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #EC7063;
//     border-color: #EC7063;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-danger {
//   background-color: #EC7063;
//   border-color: #EC7063;
//   color: #FFFFFF;
// }

// .btn-danger {
//   &:active, &.active {
//     background: #C44133;
//   }
// }

// .open .dropdown-toggle.btn-danger {
//   background: #C44133;
// }

// .btn-danger {
//   &.disabled, &[disabled] {
//     background-color: #E74C3C;
//   }
// }

// fieldset[disabled] .btn-danger {
//   background-color: #E74C3C;
// }

// .btn-danger {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #E74C3C;
//   }
// }

// fieldset[disabled] .btn-danger:hover {
//   background-color: #E74C3C;
// }

// .btn-danger {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #E74C3C;
//   }
// }

// fieldset[disabled] .btn-danger:focus {
//   background-color: #E74C3C;
// }

// .btn-danger {
//   &.disabled:active, &[disabled]:active {
//     background-color: #E74C3C;
//   }
// }

// fieldset[disabled] .btn-danger:active {
//   background-color: #E74C3C;
// }

// .btn-danger {
//   &.disabled.active, &.active[disabled] {
//     background-color: #E74C3C;
//   }
// }

// fieldset[disabled] .btn-danger.active {
//   background-color: #E74C3C;
// }

// .btn-success {
//   background-color: #2ECC71;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #58D68D;
//     border-color: #58D68D;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-success {
//   background-color: #58D68D;
//   border-color: #58D68D;
//   color: #FFFFFF;
// }

// .btn-success {
//   &:active, &.active {
//     background: #27AD60;
//   }
// }

// .open .dropdown-toggle.btn-success {
//   background: #27AD60;
// }

// .btn-success {
//   &.disabled, &[disabled] {
//     background-color: #2ECC71;
//   }
// }

// fieldset[disabled] .btn-success {
//   background-color: #2ECC71;
// }

// .btn-success {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #2ECC71;
//   }
// }

// fieldset[disabled] .btn-success:hover {
//   background-color: #2ECC71;
// }

// .btn-success {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #2ECC71;
//   }
// }

// fieldset[disabled] .btn-success:focus {
//   background-color: #2ECC71;
// }

// .btn-success {
//   &.disabled:active, &[disabled]:active {
//     background-color: #2ECC71;
//   }
// }

// fieldset[disabled] .btn-success:active {
//   background-color: #2ECC71;
// }

// .btn-success {
//   &.disabled.active, &.active[disabled] {
//     background-color: #2ECC71;
//   }
// }

// fieldset[disabled] .btn-success.active {
//   background-color: #2ECC71;
// }

// .btn-warning {
//   background-color: #F1C40F;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #F5D313;
//     border-color: #F5D313;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-warning {
//   background-color: #F5D313;
//   border-color: #F5D313;
//   color: #FFFFFF;
// }

// .btn-warning {
//   &:active, &.active {
//     background: #CDA70D;
//   }
// }

// .open .dropdown-toggle.btn-warning {
//   background: #CDA70D;
// }

// .btn-warning {
//   &.disabled, &[disabled] {
//     background-color: #F1C40F;
//   }
// }

// fieldset[disabled] .btn-warning {
//   background-color: #F1C40F;
// }

// .btn-warning {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #F1C40F;
//   }
// }

// fieldset[disabled] .btn-warning:hover {
//   background-color: #F1C40F;
// }

// .btn-warning {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #F1C40F;
//   }
// }

// fieldset[disabled] .btn-warning:focus {
//   background-color: #F1C40F;
// }

// .btn-warning {
//   &.disabled:active, &[disabled]:active {
//     background-color: #F1C40F;
//   }
// }

// fieldset[disabled] .btn-warning:active {
//   background-color: #F1C40F;
// }

// .btn-warning {
//   &.disabled.active, &.active[disabled] {
//     background-color: #F1C40F;
//   }
// }

// fieldset[disabled] .btn-warning.active {
//   background-color: #F1C40F;
// }

// .btn-inverse {
//   background-color: #34495E;
//   color: #FFFFFF;
//   &:hover, &:focus, &:active, &.active {
//     background-color: #415B76;
//     border-color: #415B76;
//     color: #FFFFFF;
//   }
// }

// .open .dropdown-toggle.btn-inverse {
//   background-color: #415B76;
//   border-color: #415B76;
//   color: #FFFFFF;
// }

// .btn-inverse {
//   &:active, &.active {
//     background: #2C3E50;
//   }
// }

// .open .dropdown-toggle.btn-inverse {
//   background: #2C3E50;
// }

// .btn-inverse {
//   &.disabled, &[disabled] {
//     background-color: #34495E;
//   }
// }

// fieldset[disabled] .btn-inverse {
//   background-color: #34495E;
// }

// .btn-inverse {
//   &.disabled:hover, &[disabled]:hover {
//     background-color: #34495E;
//   }
// }

// fieldset[disabled] .btn-inverse:hover {
//   background-color: #34495E;
// }

// .btn-inverse {
//   &.disabled:focus, &[disabled]:focus {
//     background-color: #34495E;
//   }
// }

// fieldset[disabled] .btn-inverse:focus {
//   background-color: #34495E;
// }

// .btn-inverse {
//   &.disabled:active, &[disabled]:active {
//     background-color: #34495E;
//   }
// }

// fieldset[disabled] .btn-inverse:active {
//   background-color: #34495E;
// }

// .btn-inverse {
//   &.disabled.active, &.active[disabled] {
//     background-color: #34495E;
//   }
// }

// fieldset[disabled] .btn-inverse.active {
//   background-color: #34495E;
// }

.btn-site {
  padding: 5px 0;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  display: block;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.fb_button {
  background: #658AD0;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
}

.btn-fb {
  background: #658AD0;
  color: #FFFFFF;
}

.fb_button:hover, .btn-fb:hover {
  background: #4E6FAE;
  color: #fff;
  text-decoration: none;
}

.btn-tw {
  background: #1DADEB;
  color: #FFFFFF;
  &:hover {
    background: #35C5FF;
    color: #fff;
    text-decoration: none;
  }
}

p.required, .required sup {
  color: #E74C3C;
}

.pagination li.active a {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2) inset;
}

// .checkbox {
//   padding-left: 0;
//   margin-left: 0;
// }

// legend {
//   padding-bottom: 10px;
// }

.alert {
  border: 0;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  .close {
    font-size: 30px;
    line-height: 20px;
  }
}
