/* =============================================================== */
/* FOUNDATION
/* =============================================================== */

a {
  // color: #34495E;
  text-decoration: none;
  outline: none !important;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  &:hover, &:focus {
    // border-bottom: 1px solid;
    text-decoration: none;
    cursor: pointer;
  }

  &.no-border:hover {
    border-bottom: 0 none;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  // color: #34495E;
  // font-family: 'Source Sans Pro', sans-serif;
  // font-size: 14px;
  // line-height: 21px;
  position: relative;
}
