.navbar-xs {

  .navbar-brand {
    padding: 0 12px;
    font-size: 16px;
    line-height: 28px;
  }

  .dropdown-menu { padding-top: 5px; }
}

.navbar-mkt {
    border: 1px solid #eee;

    .dropdown-toggle {
      font-size: 17px;
      color: $tango;
      font-weight: bold;
    }
}
