/* =============================================================== */
/* TYPOGRAPHY + GLOBAL CLASS
/* =============================================================== */

.font-roboto-draft {
  font-family: "RobotoDraft";
}

a.with-border {
  text-decoration: none;
  border-bottom: 1px solid !important;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
}

h1 {
  font-size: 30px;
  line-height: 35px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 17px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

p.lead {
  font-size: 20px;
  line-height: 1.4;
}

h3 code {
  font-size: 14px;
  font-weight: normal;
}

.block-title-1 {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 15px 20px 0 0;
  text-transform: uppercase;
}

.block-title-2 {
  border-bottom: 1px solid #CECECE;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.block-title-3 {
  border-bottom: 1px solid #CECECE;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 10px 0 10px;
  position: relative;
  text-transform: uppercase;
}

.block-title-4 {
  display: inline;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0 auto;
  padding: 0 12px;
  text-transform: uppercase;
}

.block-title-5 {
  display: block;
  font-size: 16px;
  margin: 0 0 5px;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0;
  text-transform: uppercase;
}

.border-title {
  border-bottom: 1px solid #CECECE;
  margin: 0 0 15px;
  padding: 10px 0 10px;
}

/* Helper class */

.section-block {
  margin-bottom: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-border {
  border: 0;
}

.width100, .w100 {
  width: 100%;
}

.width50, .w50 {
  width: 100%;
  display: block;
}

.full-container {
  width: 100%;
  display: block;
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.maxheight100 {
  max-height: 100px;
}

.maxheight200 {
  max-height: 200px;
}

.maxheight300 {
  max-height: 300px;
}

.maxheight400 {
  max-height: 400px;
}

.maxheight500 {
  max-height: 500px;
}

.maxheight600 {
  max-height: 600px;
}

.maxheight700 {
  max-height: 700px;
}

.maxwidth100 {
  max-width: 100px;
}

.maxwidtht200 {
  max-width: 200px;
}

.maxwidth300 {
  max-width: 300px;
}

.maxwidth400 {
  max-width: 400px;
}

.maxwidth500 {
  max-width: 500px;
}

.maxwidth600 {
  max-width: 600px;
}

.maxwidth700 {
  max-width: 700px;
}

.padd {
  margin-top: 60px;
}

.globalPadding {
  padding: 50px 0;
}

.globalPaddingTop {
  padding: 50px 0 0;
}

.globalPaddingBottom {
  padding: 0 0 50px;
}

.hr-short {
  float: left;
  margin: 10px 0;
  width: 10%;

}

.hr2 {
  border-width: 2px;
  border-color: #DDDDDD;
}

.hr3 {
  border-width: 4px;
  border-color: #DDDDDD;
}

ul {
  &.list-dot li {
    list-style: inside disc;
  }
  &.list-number li {
    list-style: inside decimal;
  }
  &.list {
    list-style: disc;
    padding-left: 40px;
    ul {
      list-style: circle;
      padding-left: 40px;
    }
  }
  &.list-check {
    list-style: none;
  }
  &.list-border li {
    border-bottom: 1px solid #E0EDED;
    display: block;
    padding: 10px 15px;
    &:hover {
      background: #ebebeb;
    }
  }
}

.transitionfx {
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
}
