<% with_delete = true if with_delete == nil %>
<% sms_status  = false if sms_status == nil %>

<tr class="customer<%= customer.id %>">
  <% if sms_status != false %>
    <td>
      <span class="badge badge-info">
        <i class="fa fa-exclamation-circle"></i>
        <%= sms_status %>
      </span>
    </td>
  <% end %>
  <td>
    <strong><%= customer.name %></strong>
    <% if !customer.active %>
      <i class="fa fa-exclamation-triangle text-danger has-tooltip" title="Este cliente não aceita receber mensagens."></i>
    <% end %>

    <br />
    <% customer.groups.each do |group| %>
      <span class="badge"><%= group.name %></span>
    <% end %>
  </td>
  <td>
    <%= customer.cellphone %> <br />
    <%= customer.phone %>
  </td>
  <td><%= customer.email %></td>
  <td class="text-right">
    <%= link_to edit_customer_path(customer), class: 'btn btn-xs btn-link', remote: true do %>
      <i class="fa fa-edit"></i> Editar cliente
    <% end %>
    <br />


    <% if with_delete == true %>
      <%= link_to customer, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-xs btn-link', remote: true do %>
  		  <i class="fa fa-trash-o"></i> Excluir cliente
      <% end %>
    <% end -%>


  </td>
</tr>
