<td colspan="5">
	<h4>
        Editanto contato <strong><%= @customer.name %></strong>
        <% if !@customer.active %>
          <i class="fa fa-exclamation-triangle text-danger" title="Este contato não aceita receber mensagens."></i>
        <% end %>
    </h4>

	<%= render 'form' %>
</td>
