<%= simple_form_for(@customer, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  	<div class="col-md-12">
  		<%= f.input :name, placeholder: 'Digite o nome do novo cliente', input_html: { class: 'input-lg' }, autofocus: true %>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :genre,
                  as: :radio_buttons_inline,
                  collection: [['Masculino', 'm'], ['Feminino', 'f']],
                  required: true
              %>
    </div>

  	<div class="col-md-2">
  		<%= f.input :cellphone, placeholder: '(00) 00000-0000' %>
  	</div>

  	<div class="col-md-2">
  		<%= f.input :phone, placeholder: '(00) 0000-0000' %>
  	</div>

  	<div class="col-md-2">
  		<%= f.input :birthday, as: :date_picker, placeholder: 'dd/mm/aaaa',
                input_html: {data: {date_options: {
                        viewMode: 'years',
                        showClose: true
                }}} %>
  	</div>

    <div class="col-md-3">
      <%= f.input :email %>
    </div>
  </div>

  <% if current_user.groups.funnel.count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>Nível do cliente</h3>
      <%= f.association :groups, collection: current_user.groups.funnel, as: :check_boxes_inline, label: false, wrapper_html: { class: 'funnels' }, checked: (@customer.funnel.blank? ? current_user.groups.funnel.first.id : @customer.funnel.id) %>

    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>
        Selecione um ou mais grupos, ou
        <%= link_to new_group_path, class: "btn btn-default btn-sm", remote: true do %>
          <i class="fa fa-plus-circle"></i> cadastre um novo grupo
        <% end %>
      </h3>
      <%= f.association :groups, collection: current_user.groups.no_funnel, as: :check_boxes_inline, label: false %>

    </div>
  </div>

  <div class="row">
  	<div class="col-md-6">
  		<button class="btn btn-success btn-lg" type="submit">
  			<i class="fa fa-check"></i> Salvar cliente
  		</button>

      <% if !@customer.new_record? %>
        <%= link_to @customer, class: 'btn btn-default btn-lg', remote: true do %>
          <i class="fa fa-ban"></i> Cancelar
        <% end %>
      <% end %>
  	</div>

    <% if !@customer.new_record? %>
      <div class="col-md-6">
        <div class="pull-right">
          <%= f.input :active, as: :radio_buttons_inline,
          collection: [['Sim', true], ['Não', false]] %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
