<% if @customer.errors.any? %>

<% else %>
	$('.table-customers').prepend('<%= j render @customer %>');
	$('#customer_name').parents('form').find('input[type=text], input[type=tel], input[type=email]').val('');

    $('.customer-msg').html('Cliente criado com sucesso.');
    $('.customer-msg').removeClass('hide');

    $('#customer_name').focus();

	setTimeout(function(){
		$('.customer<%= @customer.id %>').flash(1000, 4)
	}, 1000)
<% end %>
