$('.customer<%= @customer.id %>').html('<%= j render "edit" %>');
$('.input-group.datepicker').datetimepicker({
  format: 'DD/MM/YYYY',
  locale: 'pt-br'
});
$('input[id*=_phone]').mask("(99) 9999-9999");
$('input[id*=_cellphone]').mask("(99) 99999-9999");

$(".funnels input:checkbox").change(function(){
    var parent = $(this).parents('.funnels');
    $(parent).find('input:checkbox:not([value='+$(this).val()+'])').attr("checked",false);
});


var form = document.getElementById('edit_customer_<%= @customer.id %>'); // form has to have ID: <form id="formID">
form.noValidate = true;
form.addEventListener('submit', function(event) { // listen for form submitting
    if (!event.target.checkValidity()) {
        event.preventDefault(); // dismiss the default functionality
        alert('Por favor, preencha todos os campos obrigatórios'); // error message
        return false;
    }
}, false);
