<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">E-Mail</Data></Cell>
        <Cell><Data ss:Type="String">Celular</Data></Cell>
        <Cell><Data ss:Type="String">Fixo</Data></Cell>
        <Cell><Data ss:Type="String">Nascimento</Data></Cell>
        <Cell><Data ss:Type="String">Estágio Funil</Data></Cell>
        <Cell><Data ss:Type="String">Grupos</Data></Cell>
        <Cell><Data ss:Type="String">Aceita SMS</Data></Cell>
      </Row>
    <% @customers.each do |customer| %>
      <Row>
        <!-- Nome -->
        <Cell><Data ss:Type="String"><%= customer.name %></Data></Cell>
        <!-- E-Mail -->
        <Cell><Data ss:Type="String"><%= customer.email %></Data></Cell>
        <!-- Celular -->
        <Cell><Data ss:Type="String"><%= customer.cellphone %></Data></Cell>
        <!-- Fixo -->
        <Cell><Data ss:Type="String"><%= customer.phone %></Data></Cell>
        <!-- Nascimento -->
        <Cell><Data ss:Type="String"><%= l customer.birthday, format: '%d/%m/%Y' if customer.birthday %></Data></Cell>
        <!-- Estágio Funil -->
        <Cell><Data ss:Type="String"><%= customer.funnel.name if customer.funnel %></Data></Cell>
        <!-- Grupos -->
        <Cell><Data ss:Type="String"><%= customer.groups.no_funnel.pluck(:name).join(',') if customer.groups.no_funnel.present? %></Data></Cell>
        <!-- Estágio Funil -->
        <Cell><Data ss:Type="String"><%= customer.active ? 'Sim' : 'Não' %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
