<% if @groups %>
    $('.table-customers').html('<%= j render @customers %>');
    $('.load-customers').html("<%= escape_javascript(paginate(@customers, remote: true)) %>");
<% else %>
    $('.table-customers').append('<%= j render @customers %>');
    $('.load-customers').html("<%= escape_javascript(paginate(@customers, remote: true)) %>");
<% end %>
