<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
      <h1>
        Clientes <br />
        <small>
          <%= pluralize(@customers.total_count, 'cadastro', 'cadastros') %>
        </small>

        <div class="pull-right">
          <%= link_to new_customer_path, class: "btn btn-success btn-sm", remote: true do %>
              <i class="fa fa-plus-circle"></i> Cadastrar cliente
          <% end %>

          <%= link_to groups_path, class: "btn btn-default btn-sm" do %>
              <i class="fa fa-list"></i> Grupos de cliente
          <% end %>

          <%= link_to customers_xls_path(format: 'xls'), class: "btn btn-default btn-sm" do %>
              <i class="fa fa-file-excel-o"></i> Exportar todos para Excel
          <% end %>
        </div>
      </h1>

      <div id="new-customer"></div>

      <div class="panel panel-default">

          <div class="panel-heading">
              <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <%= form_tag customers_path, method: :get do %>

                        <div class="col-md-3">
                          <%= select_tag :group,
                                          options_for_select([['Todos os grupos', 'all']]) +
                                          options_for_select(current_user.groups.collect {|p| [ p.name, p.id ] }, @group || 'all'),
                                          class: 'form-control input-sm' %>
                        </div>

                        <div class="col-md-9">
                          <div class="input-group">
                            <%= text_field_tag :search, @search || '' , placeholder: 'Pesquise clientes por nome, telefone ou e-mail', size: 50, class: 'form-control input-sm' %>
                            <span class="input-group-btn">
                              <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                        </div>

                      <% end %>
                    </div>

                  </div>
              </div>
          </div>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-Mail</th>
                <th class="text-right"></th>
              </tr>
            </thead>

            <tbody class="table-customers">
              <%= render @customers %>
            </tbody>
          </table>

      </div>

      <div class="row">
        <div class="col-md-12 load-customers">
          <%= paginate @customers, remote: true  %>
        </div>
      </div>

  </div>
</div>
