if($('.new_customer').size() == 0){
    $('#new-customer').html('<%= j render  "new" %>');
    setTimeout(function(){$('#customer_name').focus();}, 500);

    $('.input-group.datepicker').datetimepicker({
      format: 'DD/MM/YYYY',
      locale: 'pt-br'
    });
    $('input[id*=_phone]').mask("(99) 9999-9999");
    $('input[id*=_cellphone]').mask("(99) 99999-9999");

    $('.customer_groups input:first').attr("checked",true);

    $(".funnels input:checkbox").change(function(){
        var parent = $(this).parents('.funnels');
        $(parent).find('input:checkbox:not([value='+$(this).val()+'])').attr("checked",false);
    });

    var form = document.getElementById('new-customer'); // form has to have ID: <form id="formID">
form.noValidate = true;
form.addEventListener('submit', function(event) { // listen for form submitting
        if (!event.target.checkValidity()) {
            event.preventDefault(); // dismiss the default functionality
            alert('Por favor, preencha todos os campos obrigatórios'); // error message
        }
    }, false);

}else{
    $('#new-customer').html('');
}
