<% if @customer.errors.any? %>

<% else %>
	$('.customer<%= @customer.id %>').replaceWith('<%= j render "customer", customer: @customer  %>');

	setTimeout(function(){
		$('.customer<%= @customer.id %>').flash(1000, 4)
	}, 1000)
<% end %>
