<%= simple_form_for @banner, url: (@banner.new_record? ? manager_banners_path : manager_banner_path(@banner)) do |f| %>
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Cadastrar Banner</strong></div>
    <div class="panel-body">
            <%= f.error_notification %>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :name, input_html: { autofocus: 'true' }  %>
                </div>

                <div class="col-md-6">
                    <%= f.input :client_name %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :start_date, as: :date  %>
                </div>

                <div class="col-md-4">
                    <%= f.input :end_date, as: :date  %>
                </div>

                <div class="col-md-4">
                    <%= f.input :user_id, as: :select, collection: User.where("plan != 'free'") %>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <%= f.input :url %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :image_user,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>

                <div class="col-md-4">
                    <%= f.input :image_topo,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>

                <div class="col-md-4">
                    <%= f.input :image_menu,
                        as: :image_preview,
                        input_html: { preview_version: :main }
                    %>
                </div>
            </div>

        </div>

</section>


<section class="panel panel-default">
    <div class="panel-body">
        <%= hlp_application_btn_submit('banner') %>
    </div>
</section>

<% end %>
