<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            Cupoms gerados por anúncio
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Anúncio</th>
                    <th>Empresa</th>
                    <th>Cupoms</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                <tr>
                    <td><strong><%= product.name %></strong></td>
                    <td><%= product.user.fullname %></td>
                    <td><%= product.cupoms.count %></td>
                    <td>
                        <%= link_to 'Ver', manager_cupom_path(product.id) %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
