<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            Cupoms gerados do anúncio <strong><%= @product.name %></strong> <br>
            <small>Foram gerados um total de <strong><%= pluralize(@cupoms.size, 'cupom', 'cupons') %></strong></small>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuário</th>
                    <th>Data e hora</th>
                    <th>Retirado?</th>
                </tr>
            </thead>
            <tbody>
                <% @cupoms.each do |cupom| %>
                <tr>
                    <td><strong><%= cupom.id %></strong></td>
                    <td><%= cupom.user_fullname %></td>
                    <td><%= l(cupom.created_at, format: :long) %></td>
                    <td>
                        <% if cupom.used? %>

                          <small class="text-danger">
                            <strong>Utilizado em</strong> <br>
                            <%= l cupom.used, format: :short %>
                          </small>

                        <% else %>

                            <% if cupom.due != nil %>
                              <small class="text-<%= cupom.due < Date.today ? 'danger' : 'success' %>">
                                <strong>Validade:</strong> <br>
                                <%= l cupom.due, format: :short %>
                              </small>
                            <% end %>

                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
