select[id$='3i'] {
  float: left;
  width: 20%;
}

select[id$='2i'] {
  float: left;
  width: 50%;
}

select[id$='1i'] {
  float: left;
  width: 30%;
}

.form-group.date { height: 52px; }

.date label {
  width: 100%;
}
