<p>
  Segue abaixo a lista de faturamento referente ao mês <%= @data.strftime('%m/%Y') %>.
</p>

<p>
  Para baixar o arquivo Excel, favor acessar o manager do Clictem, ou solicitar a um usuário com permissão para acessar o módulo de faturamento.
</p>

<table style="width: 100%;">
  <thead>
      <tr>
          <th>Cliente</th>
          <th>Produto</th>
          <th style="text-align: right;">Total</th>
          <th style="text-align: right;">Total Clictem</th>
          <th style="text-align: right;">Total CDL</th>
      </tr>
  </thead>
  <tbody >
      <% geral_total = geral_clictem = geral_cdl = 0.0 %>
      <% total = clictem = cdl = 0.0 %>
      <% current_user = -1 %>
      <% @bills.each_with_index do |bill, i| %>
          <% user = User.where(id: bill.user_id).first %>
          <% next unless user  %>

          <tr>
            <td>
              <% if current_user != bill.user_id %>
                <% total = clictem = cdl = 0.0 %>
                <strong><%= user.name %></strong>
                <% if user.cancel? %>
                  <br><span class="badge badge-danger"> Cancelado dia <strong><%= l user.cancel_date %></strong> <br>
                    Valor normal é de <strong><%= number_to_currency(user.contract_monthly.to_f) %></strong></span>
                <% end %>

                <% if user.new_client?(@date_start) %>
                  <br><span class="badge badge-success"> Adicionado dia <strong><%= l user.created_at, format: :short %></strong> <br>
                      Valor normal é de <strong><%= number_to_currency(user.contract_monthly.to_f) %></strong></span>
                <% end %>
              <% end %>
            </td>

            <td><%= bill.note %></td>
            <td style="text-align: right;"><strong><%= total += bill.value.to_f; number_to_currency(bill.value.to_f) %></strong></td>
            <td style="text-align: right;"><strong><%= clictem += bill.total_clictem.to_f; number_to_currency(bill.total_clictem.to_f) %></strong></td>
            <td style="text-align: right;"><strong><%= cdl += bill.total_whitelabel.to_f; number_to_currency(bill.total_whitelabel.to_f) %></strong></td>
          </tr>

          <% if (@bills.count - 1) == i or @bills[i + 1].user_id != bill.user_id %>
          <tr style="color: #999; background: #fff;">
              <td></td>
              <td><strong>Total <%= bill.user.name %></strong></td>
              <td style="text-align: right;"><%= number_to_currency(total.to_f) %></td>
              <td style="text-align: right;"><%= number_to_currency(clictem.to_f) %></td>
              <td style="text-align: right;"><%= number_to_currency(cdl.to_f) %></td>
          </tr>
          <% end %>

          <% current_user = bill.user_id %>
          <% geral_total += total %>
          <% geral_clictem += clictem %>
          <% geral_cdl += cdl %>
      <% end %>

      <% if @bills.size == 0 %>
          <tr>
              <td colspan="4">Cobranças ainda não geradas para este período</td>
          </tr>
      <% end %>

      <tr style="background: #30EB70; color: #0A3318;">
          <td></td>
          <td><strong>TOTAL GERAL</strong></td>
          <td style="text-align: right;"><strong><%= number_to_currency(geral_total) %></strong></td>
          <td style="text-align: right;"><strong><%= number_to_currency(geral_clictem) %></strong></td>
          <td style="text-align: right;"><strong><%= number_to_currency(geral_cdl) %></strong></td>
      </tr>
  </tbody>
</table>
