.home.call-one {
	background: $tango image-url("bg-lupas.png") no-repeat center center;
	padding: 10px;
	height: 363px;

	.col-md-4 {
		text-align: center;
		color: #fff;
		padding-top: 70px;
		p{
			margin-top: 20px;
		}
	}
}


.home.call-two {
	background: #fff image-url("bg-listras.png") no-repeat center center;
	height: 371px;
	text-align: center;

	h3{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.panel {
		width: 700px;
		padding: 40px 20px;
		position: absolute;
		left: 50%;
		margin-left: -350px;
		margin-top: 67px;
	}

	.btn-access {
		font-size: 25px;
		padding: 20px 30px;
		display: inline-block;
		background: $chathams-blue;
		color: #fff;
		@include border-radius(10px);
		&:hover{
			background: $chathams-blue + 30;
		} 
	}
}


.home.promo {

	a.banner {
		height: 459px;
		background: image_url('banner/promo.jpg') no-repeat center top;
		margin-bottom: 10px;
	}
	
}