
    <div class="row">
        <div class="col-md-12">
            <%= f.error_notification %>
            <% if @user.errors.full_messages.count > 1 %>
              <div class="alert alert-danger">
                <% @user.errors.full_messages.uniq.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>

    <tabset>
        <tab heading="Dados básicos">
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <% if @user.new_record? %>
                      <div class="row">
                        <div class="col-md-6">
                          <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
                        </div>
                        <div class="col-md-6">
                          <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>
                        </div>
                      </div>
                    <% end %>
                    <div class="row">
                        <div class="col-sm-6">
                            <%= f.input :kind,
                                as: :radio_buttons_inline,
                                collection: [['Pessoa Física', 'pf'], ['Pessoa Jurídica', 'pj']]
                            %>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <%= f.input :name, required: true, autofocus: true %>

                        <%= f.input :email, required: true %>

                        <div class="<%= @user.kind == 'pf' ? '' : 'hide' %>">
                            <%= f.input :cpf, hint: 'Exemplo: xxx.xxx.xxx-xx',
                                required: true
                            %>
                        </div>

                        <div class="<%= @user.kind == 'pj' ? '' : 'hide' %>">
                            <%= f.input :cnpj,
                                hint: 'Exemplo: xx.xxx.xxx/xxxx-xx'
                            %>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="<%= @user.kind == 'pf' ? '' : 'hide' %>">
                            <%= f.input :last_name, required: true %>
                        </div>


                        <div class="<%= @user.kind == 'pj' ? '' : 'hide' %>">
                            <%= f.input :business_name, required: true %>
                        </div>

                        <div class="<%= @user.kind == 'pf' ? '' : 'hide' %>">
                            <%= f.input :genre,
                                as: :radio_buttons_inline,
                                collection: [['Masculino', 'm'], ['Feminino', 'f']],
                                required: true
                            %>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <%= f.association :departments, as: :check_boxes, required: true %>
                            </div>
                            <div class="col-md-6">
                                <%= f.association :departments_premium, as: :check_boxes, required: true %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <%= f.input :cellphone, hint: 'Exemplo: (xx) xxxxx-xxxx' %>
                </div>

                <div class="col-md-3">
                    <%= f.input :phone, hint: 'Exemplo: (xx) xxxx-xxxx' %>
                </div>

                <div class="col-md-2">
                    <%= f.input :phone2, hint: 'Exemplo: (xx) xxxx-xxxx' %>
                </div>

                <div class="col-md-4 <%= @user.kind == 'pf' ? '' : 'hide' %>">
                    <%= f.input :birthday,
                        as: :date,
                        discard_year: true,
                        required: true
                    %>
                </div>

                <div class="col-md-4 <%= @user.kind == 'pj' ? '' : 'hide' %>">
                    <%= f.input :website %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <%= f.input :associated_code %>
                </div>
            </div>

            <div class="row">
                <h2 class="col-md-12 block-title-2">Endereço</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :address_zipcode, hint: 'Exemplo: xxxxx-xxx' %>
                </div>
                <div class="col-md-4">
                    <%= f.input :address_street %>
                </div>
                <div class="col-md-4">
                    <%= f.input :address_number %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :address_compl %>
                </div>
                <div class="col-md-4">
                    <%= f.input :address_district %>
                </div>

                <%= f.hidden_field :state_id, value: State.find_by_symbol('SC').id %> <%# TODO Depois vamos colocar um select aqui %>

                <div class="col-md-4">
                    <%= f.input :city_id,
                        as: :select,
                        collection: City.where(id: [4730, 4732, 4508, 4527, 4510, 4577, 4504, 4442, 4688, 4598]),
                        include_blank: false,
                        required: true
                    %> <%# TODO Selecionado apenas algumas cidades da região %>
                </div>
            </div>

            <div class="row">
                <h2 class="col-md-12 block-title-2">Contatos - Responsáveis</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>Geral</h3> <br />
                    <%= f.input :resp_name, label: "Nome Responsável", required: true, input_html: { value: (@user.name || '') + ' ' + (@user.last_name || '')} %>
                    <%= f.input :resp_email, required: true, label: 'E-Mail', input_html: { value: @user.email } %>
                    <%= f.input :resp_cellphone, label: 'Celular' %>
                </div>

                <div class="col-md-4">
                    <h3>Financeiro</h3> <br />
                    <%= f.input :resp2_name, label: "Nome Responsável", required: true %>
                    <%= f.input :resp2_email, required: true, label: 'E-Mail' %>
                    <%= f.input :resp2_cellphone, label: 'Celular' %>
                    <div class="checkbox repeat-resp">
                        <label>
                          <input type="checkbox"> Usar o mesmo contato geral
                        </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Marketing</h3> <br />
                    <%= f.input :resp3_name, label: "Nome Responsável", required: true %>
                    <%= f.input :resp3_email, required: true, label: 'E-Mail' %>
                    <%= f.input :resp3_cellphone, label: 'Celular' %>
                    <div class="checkbox repeat-resp">
                        <label>
                          <input type="checkbox"> Usar o mesmo contato geral
                        </label>
                    </div>
                </div>
            </div>
        </tab>


        <% if current_user.is? :admin %>
        <tab heading="Configurações">
            <br />
            <div class="row">
                <div class="col-md-3">
                    <%= f.input :logo,
                        as: :image_preview,
                        hint: '360x161',
                        input_html: { preview_version: :thumb },
                        hint: 'A marca é exibida somente na página do cliente'
                    %>

                    <%= f.input :stamp,
                        as: :image_preview,
                        input_html: { preview_version: :thumb },
                        hint: 'O selo é a marca que aparece nos parceiros de sucesso'
                    %>

                    <%= f.input :bg_image,
                        as: :image_preview,
                        input_html: { preview_version: :thumb }
                    %>
                </div>

                <div class="col-md-9">
                    <div class="clearfix">
                        <div class="col-md-3">
                            <%= f.input :subdomain, required: true, autofocus: true, hint: @user.origin_subdomain %>
                        </div>
                        <div class="col-md-3">
                            <%= f.input :color1 %>
                        </div>

                        <div class="col-md-3">
                            <%= f.input :color2 %>
                        </div>

                        <div class="col-md-3">
                            <%= f.input :color3 %>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-4">
                            <%= f.input :show_info,
                                as: :radio_buttons_inline,
                                collection: [['Exibir', true], ['Não exibir', false]]
                            %>
                        </div>
                    </div>

                    <div class="clearfix">
                        <h2 class="col-md-12 block-title-2 ">SEO</h2>
                        <div class="col-md-6">
                            <%= f.input :description %>
                        </div>

                        <div class="col-md-6">
                            <%= f.input :keywords %>
                        </div>
                    </div>

                    <div class="clearfix">
                        <h2 class="col-md-12 block-title-2">
                            Script
                        </h2>

                        <div class="clearfix">
                            <div class="col-md-12">
                                <%= f.input :script, label: false, input_html: { rows: 10 } %>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </tab>
        <% end %>

        <tab heading="Contrato">
            <div class="row">
                <div class="col-md-4">
                    <div class="clearfix">
                        <h2 class="col-md-12 block-title-2 ">Plano</h2>
                        <div class="col-md-12">
                            <%= f.input :plan, collection: [
                                    ['Somente Banner', 'banner'],
                                    ['Gratuito', 'free'],
                                    ['Básico', 'basico'],
                                    ['Top', 'top'],
                                ], include_blank: false %>
                        </div>
                        <div class="col-md-6">
                          <%= f.input :premium,
                                as: :radio_buttons_inline,
                                collection: [['Sim', true], ['Não', false]]
                          %>
                        </div>

                        <div class="col-md-6"><%= f.input :ad_limit, label: 'Aúncios' %></div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-6">
                            <%= f.input :discount, as: :string, input_html: { class: 'decimal' } %>
                        </div>
                        <div class="col-md-6">
                            <%= f.input :discount_type, collection: [['Clictem', 0], ['CDL', 1]], include_blank: false %>
                        </div>
                    </div>

                    <div class="clearfix">
                      <div class="col-md-12">
                          <%= f.input :cancel_date, include_blank: true, start_year: Date.today.year - 1, start_month: Date.today.month, start_day: Date.today.day %>
                      </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="clearfix">
                      <h2 class="col-md-12 block-title-2 ">Contrato</h2>
                        <div class="col-md-12"><%= f.input :note, input_html: { rows: 10 } %></div>
                    </div>
                </div>
            </div>
        </tab>


        <tab heading="SMS">
            <br />
            <div class="row">
                <div class="col-md-4">
                    <%= f.input :has_sms, as: :radio_buttons_inline,
                            collection: [['Sim', true], ['Não', false]] %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :sms_birthday_message %>
                </div>
            </div>
        </tab>

        <tab heading="Pagamentos Campanhas">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-condensed table-bordered">
                <thead>
                  <th>Participante</th>
                  <th>Data Inicio</th>
                  <th class="text-center">Pago</th>
                </thead>
                <tbody>
                  <% @user.themed_campaigns.each do |campaign| %>
                      <tr>
                        <td><%= campaign.title %></td>
                        <td><%= l campaign.date_start, format: :short %></td>
                        <td class="text-center">
                          <% if @user.campanha_paga(campaign.id) %>
                            <strong class="text-success"><i class="fa fa-check"></i> Campanha paga</strong> <br>
                            <small>(<a href="<%= edit_manager_user_path(@user, campaign: campaign.id, status: false) %>"> Cancelar pagamento</a>)</small>
                          <% else %>
                            <a href="<%= edit_manager_user_path(@user, campaign: campaign.id, status: true) %>" class="btn btn-success btn-xs">
                              <i class="fa fa-check"></i> Confirmar pagamento
                            </a>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </tab>

        <tab heading="Campanhas (<%= @user.themed_campaigns.count %>)">
          <div class="row">
            <div class="col-md-12">
              <br>
              <strong>Para remover uma campanha, desmarque a caixa de seleção e clique em Atualizar dados do cliente.</strong> <br>
            </div>
            <div class="col-md-6">
              <%= f.association :themed_campaigns, as: :check_boxes,
                    collection: @user.themed_campaigns,
                    label: false %>

            </div>
          </div>
        </tab>



        <!-- <tab heading="Estatísticas">
            <div class="row">
                <div class="col-md-3 text-center alert">
                    <h3 class="block-title-3 ">Anúncios</h3>
                    <%= @user.products.count %>
                </div>
                <div class="col-md-3 text-center alert">
                    <h3 class="block-title-3 ">Logins</h3>
                    <%= @user.sign_in_count %>
                </div>
                <div class="col-md-3 text-center alert">
                    <h3 class="block-title-3 ">Último login</h3>
                    <%= l(@user.last_sign_in_at, format: :long) if @user.last_sign_in_at %>
                </div>
                <div class="col-md-3 text-center alert">
                    <h3 class="block-title-3 ">Visualizações</h3>
                    <%= Visit.where(owner: @user.id).count %>
                </div>
            </div>
            <div class="row">
                <h2 class="col-md-12 block-title-2 ">Dados dos últimos 12 meses</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Mês</th>
                        <th>Cadastros</th>
                        <th>Acessos</th>
                        <th>Comentários</th>
                        <th>Cupons Gerados</th>
                    </tr>
                    <% (0..11).each do |i| %>
                        <% date = Date.today - i.months %>
                        <tr>
                            <td><strong><%= l(date, format: '%B / %y') %></strong></td>
                            <td><%= @user.products.where(created_at: (date.beginning_of_month..date.end_of_month)).count %></td>
                            <td><%= Visit.where(created_at: (date.beginning_of_month..date.end_of_month), owner: @user.id ).count %></td>
                            <td><%= Comment.where(user_id: @user.id, created_at:(date.beginning_of_month..date.end_of_month)).count %></td>
                            <td><%= Manager::Ad::Cupom.where(seller_id: @user.id, created_at:(date.beginning_of_month..date.end_of_month)).count %></td>
                        </tr>
                    <% end %>
                </table>

                <h2 class="col-md-12 block-title-2 ">Anúncios mais visualizados</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Anúncio</th>
                        <th>Vistualizações</th>
                        <th>Compartilhamentos</th>
                        <td>Curtidas</td>
                    </tr>
                    <% @user.products.order(views_count: :desc).each do |prod| %>
                        <tr class='ad-metrics' data-url="<%= hlp_site_produtos_url(prod) %>">
                            <td><strong><%= prod.name %></strong> <%= link_to "(Visitar)", hlp_site_produtos_url(prod), target: '_blank' %></td>
                            <td><%= prod.views_count %></td>
                            <td class="share-count"></td>
                            <td class="like-count"></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </tab> -->

        <tab heading="Negociação">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="col-md-12 block-title-2 ">Estágio da negociação</h2>
                    <div class="cleafix">
                        <div class="col-md-12">
                            <%= f.input :deal_level, collection: User::DEAL_LEVELS, include_blank: false, label: false %>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-12">
                            <%= f.input :deal_note, input_html: { rows: 10 } %>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <h2 class="col-md-12 block-title-2 ">Sugestão de venda</h2>
                    <div class="clearfix">
                        <div class="col-md-6">
                            <%= f.input :deal_suggest_plan_note %>
                        </div>
                        <div class="col-md-6">
                            <%= f.input :deal_suggest_plan_value, as: :string, input_html: { class: 'decimal' } %>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-md-6">
                            <%= f.input :deal_suggest_banner_note %>
                        </div>
                        <div class="col-md-6">
                            <%= f.input :deal_suggest_banner_value, as: :string, input_html: { class: 'decimal' } %>
                        </div>
                    </div>
                </div>
            </div>
        </tab>



    </tabset>
    <br>
    <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user"></i> Atualizar dados do cliente</button>
