<section class="page-form-ele page">
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Alterar senha de usuário</strong> - <%= @user.name %></div>
    <div class="panel-body">
    <%= simple_form_for(@user, url: manager_change_password_path(@user)) do |f| %>


            <div class="row">
                <div class="col-md-6">
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "Senha" %>
                </div>

                <div class="col-md-6">
                    <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>
                </div>

            </div>


            <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user"></i> Alterar senha do usuário</button>
    <% end %>
    </div>
</section>
</section>
