<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Styles>
    <Style ss:ID="s18" ss:Name="Currency">
     <NumberFormat
      ss:Format="_-&quot;R$&quot;* #,##0.00_-;\-&quot;R$&quot;* #,##0.00_-;_-&quot;R$&quot;* &quot;-&quot;??_-;_-@_-"/>
    </Style>
    <Style ss:ID="s64" ss:Parent="s18">
     <Font ss:Size="12" ss:Color="#000000"/>
    </Style>
 </Styles>

  <Worksheet ss:Name="Clientes">
    <Table>

      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">E-Mail</Data></Cell>
        <Cell><Data ss:Type="String">Celular</Data></Cell>
      </Row>

    <% @users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.cellphone %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
