<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to "+ Adicionar", new_manager_user_path, class: 'btn btn-xs btn-success pull-right' %>
              <%= form_tag manager_user_clients_path, method: :get do %>
                  <%= hidden_field_tag :format, 'xls' %>
                  <button type="submit" class="btn btn-xs btn-primary">Baixar Excel</button>
              <% end %>
          </div>



            <strong><span class="fa fa-th"></span> CLIENTES </strong>  - há um total de <%= @users.total_count %> CLIENTES cadastrados <br>

            <%= form_tag manager_user_clients_path, method:'GET' do %>
                <%= text_field_tag :search, '', size: 70, placeholder: "Buscar usuário ou empresa" %>
            <% end %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Criado em</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Plano</th>
                    <th>Final de contrato</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <!-- <td><%#= user.id %></td> -->
                    <td><%= l(user.created_at, format: :short ) %></td>
                    <% the_name = user.kind == 'pf' ? "#{user.name} #{user.last_name}" : user.name %>
                    <td>
                      <%= link_to "#{user.id}##{the_name}", edit_manager_user_path(user) %>
                      <% if user.cancel? %>
                        <span class="badge badge-danger"> Cancelado dia <%= l user.cancel_date %></span>
                      <% end %>
                    </td>
                    <td><%= user.email %></td>
                    <td><%= user.plan %></td>
                    <td>
                        <% if user.satisfaction == false %>
                            <strong class="text-danger" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Cliente insatisfeito">
                                <i class="fa fa-frown-o"></i>
                            </strong>
                        <% else %>
                            <strong class="text-success" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Cliente satisfeito">
                                <i class="fa fa-smile-o"></i>
                            </strong>
                        <% end %>

                        <%= l(user.contract_end, format: :short) if user.contract_end %>
                    </td>
                    <td>
                        <%= link_to user_produtos_url(subdomain: user.subdomain), target: '_blank' do %>
                            <i class="fa fa-external-link"></i> Ver Página
                        <% end %> <br />
                        <a href="<%= edit_manager_user_path(user) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i> Editar </a> <br />
                        <a href="<%= manager_change_password_path(user) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Trocar senha"><i class="fa fa-unlock-alt"></i> Senha </a> <br />
                        <%= link_to manager_user_path(user), method: :delete, data: { confirm: "Deseja mesmo EXCLUIR o usuário #{ user.name }?"} do %>
                            <i class="fa fa-trash-o"></i> Excluir
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12">
    <%= paginate @users %>
</div>
