<section class="page-form-ele page">
  <section class="panel panel-default">
      <div class="panel-heading"><strong><span class="fa fa-th"></span> Editando Usuário</strong> - <%= @user.id %>#<%= @user.name %></div>
      <div class="panel-body">

        <%= simple_form_for @user, url: manager_user_path, html: { method: :put, novalidate: true } do |f| %>
            <%= render 'form', f: f  %>
        <% end %>
      </div>
  </section>
</section>
