<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to "+ Adicionar", new_manager_user_path, class: 'btn btn-xs btn-success pull-right' %>
              <%= form_tag manager_users_path, method: :get do %>
                  <%= hidden_field_tag :format, 'xls' %>
                  <button type="submit" class="btn btn-xs btn-primary">Baixar Excel</button>
              <% end %>
          </div>

            <strong><span class="fa fa-th"></span> Usuários / Empresas </strong>  - há um total de <%= @users.total_count %> usuários cadastrados <br>

            <%= form_tag manager_users_path, method:'GET' do %>
                <%= text_field_tag :search, '', size: 70, placeholder: "Buscar usuário ou empresa" %>
            <% end %>


        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Criado em</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Anúncios</th>
                    <th>Qtde Acessos</th>
                    <th>Último Login em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <!-- <td><%#= user.id %></td> -->
                    <td><%= l(user.created_at, format: :short ) %></td>
                    <% the_name = user.kind == 'pf' ? "#{user.name} #{user.last_name}" : user.name %>
                    <td>
                        <%= link_to "#{user.id}##{the_name}", edit_manager_user_path(user) %> <br />
                        <small><%= user.label_plan %></small>
                        <% if user.cancel? %>
                          <span class="badge badge-danger"> Cancelado dia <%= l user.cancel_date %></span>
                        <% end %>
                    </td>
                    <td><%= user.email %></td>
                    <td><%= user.products.size %></td>
                    <td><%= user.sign_in_count %></td>
                    <td><%= l(user.last_sign_in_at, format: :short) if user.last_sign_in_at %></td>
                    <td nowrap>
                        <a href="<%= edit_manager_user_path(user) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i> Editar</a> <br />
                        <%= link_to manager_change_password_path(user) do %>
                            <i class="fa fa-unlock-alt"></i> Senha
                        <% end %><br />
                        <%= link_to manager_user_path(user), method: :delete, data: { confirm: "Deseja mesmo EXCLUIR o usuário #{user.name}?" } do %>
                            <i class="fa fa-trash-o"></i> Excluir
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12">
    <%= paginate @users %>
</div>
