<section class="page-form-ele page">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Novo Usuário</strong></div>
    <div class="panel-body">
    <%= simple_form_for @user, url: manager_users_path, html: { novalidate: true }  do |f| %>
        <%= render 'form', f: f  %>
    <% end %>
    </div>
  </section>
</section>
