<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> PROSPECÇÃO DE CLIENTES </strong>
        </div>


        <tabset>

            <% @levels.each do |level, clients| %>

                <tab heading="<%= level %>">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Última alteração</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clients.each do |user| %>
                            <tr>
                                <!-- <td><%#= user.id %></td> -->
                                <td><%= l(user.updated_at, format: :short ) %></td>
                                <% the_name = user.kind == 'pf' ? "#{user.name} #{user.last_name}" : user.name %>
                                <td>
                                    <%= link_to "#{user.id}##{the_name}", edit_manager_user_path(user) %>

                                    <br /> <br />
                                    <strong>Plano</strong> <br />
                                    <%= number_to_currency(user.deal_suggest_plan_value.to_f) %> - <%= user.deal_suggest_plan_note %> <br />
                                    <strong>Banner</strong> <br />
                                    <%= number_to_currency(user.deal_suggest_banner_value.to_f) %> - <%= user.deal_suggest_banner_note %> <br />
                                </td>
                                <td>
                                    <%= user.email %>

                                    <br /><br />
                                    <strong>Observação</strong> <br />
                                    <%= user.deal_note %>
                                </td>
                                <td>
                                    <%= link_to user_produtos_url(subdomain: user.subdomain), target: '_blank' do %>
                                        <i class="fa fa-external-link"></i> Ver Página
                                    <% end %> <br />
                                    <a href="<%= edit_manager_user_path(user) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i> Editar </a> <br />
                                    <a href="<%= manager_change_password_path(user) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Trocar senha"><i class="fa fa-unlock-alt"></i> Senha </a> <br />
                                    <%= link_to manager_user_path(user), method: :delete, data: { confirm: "Deseja mesmo EXCLUIR o usuário #{ user.name }?"} do %>
                                        <i class="fa fa-trash-o"></i> Excluir
                                    <% end %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                    <div class="clearfix">
                        <div class="col-md-12">
                            <h2>Total Plano: <strong><%= number_to_currency(clients.sum(:deal_suggest_plan_value)) %></strong></h2>
                            <h2>Total Banner: <strong><%= number_to_currency(clients.sum(:deal_suggest_banner_value)) %></strong></h2>
                        </div>
                    </div>

                </tab>

            <% end %>

        </tabset>


    </div>
</div>

