<div class="col-md-2 nested-fields">
    <br />
    <label>Produto</label>
    <div class="input-group">
      <%= f.input :product_id, label: false %>
      <div class="input-group-btn">
        <%= link_to_remove_association  f, class: 'btn btn-default' do %>
            <i class="fa fa-trash-o"></i>
        <% end %>
      </div>
    </div>
    <br />
</div>
