<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Campanha temática</strong></div>
    <div class="panel-body">
        <%= simple_form_for @campaign, url: (@campaign.new_record? ? manager_themed_campaigns_path : manager_themed_campaign_path(@campaign)) do |f| %>
            <%= f.error_notification %>


        <tabset>

            <tab heading="Dados básicos">

                <div class="row">
                    <div class="col-md-4">
                        <%= f.input :title, input_html: { autofocus: 'true' }  %>
                        <%= f.input :subdomain %>
                        <%= f.input :description %>
                        <div class="form-group">
                            <label for="manager_ad_themed_campaign_value">Valor</label>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <%= f.text_field :value, class: 'form-control', 'price-format' => true %>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <%= f.input :date_start, as: :date %>
                        <%= f.input :date_end, as: :date %>
                        <%= f.input :active,
                            as: :radio_buttons_inline,
                            collection: [['Campanha ativada', true], ['Campanha desativada', false]]
                        %>
                        <%= f.input :hidden,
                            as: :radio_buttons_inline,
                            collection: [['Campanha pública', false], ['Campanha oculta', true]]
                        %>
                    </div>

                    <div class="col-md-4">
                        <%= f.input :color1 %>
                        <%= f.input :color2 %>
                        <%= f.input :color3 %>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <%= f.input :img_bg,
                            as: :image_preview,
                            hint: 'Imagem de fundo da página da campanha (1920x460)'
                        %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <%= f.input :img_7,
                            as: :image_preview,
                            hint: 'Banner promocional que aparece na home'
                        %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <%= f.input :img_3,
                            as: :image_preview,
                            hint: 'Imagem da seleção de campanhas'
                        %>
                    </div>
                </div>

            </tab>

            <tab heading="Produtos">

                <%= f.simple_fields_for :campaigns do |campaign| %>
                    <%= render 'campaign_fields', f: campaign %>
                <% end %>

                <div class="clearfix">
                    <div class="col-md-12">
                        <%= link_to_add_association '+ Adicionar produto', f, :campaigns, class: 'btn btn-success' %>
                        <br>
                    <br>
                    </div>
                </div>

            </tab>

            <tab heading="Pagamentos">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed table-bordered">
                    <thead>
                      <th>Participante</th>
                      <th class="text-center">Pago</th>
                    </thead>
                    <tbody>
                      <% @campaign.users.each do |user| %>
                          <tr>
                            <td><%= user.name %></td>
                            <td class="text-center">
                              <% if user.campanha_paga(@campaign.id) %>
                                <strong class="text-success"><i class="fa fa-check"></i> Campanha paga</strong> <br>
                                <small>(<a href="<%= edit_manager_themed_campaign_path(@campaign, user: user, status: false) %>"> Cancelar pagamento</a>)</small>
                              <% else %>
                                <a href="<%= edit_manager_themed_campaign_path(@campaign, user: user, status: true) %>" class="btn btn-success btn-xs">
                                  <i class="fa fa-check"></i> Confirmar pagamento
                                </a>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>

            <tab heading="Participantes (<%= @campaign.users.count %>)">
              <div class="row">
                <div class="col-md-12">
                  <br>
                  <strong>Para remover um participante, desmarque a caixa de seleção e clique em Salvar Campanha.</strong> <br>
                </div>
                <div class="col-md-6">
                  <%= f.association :users, as: :check_boxes,
                        collection: @campaign.users,
                        label: false %>

                </div>
              </div>
            </tab>



        </tabset>


        <br />
        <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-user"></i> Salvar campanha</button>
        <% end %>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Busca de produtos</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <%= form_tag manager_ad_products_path, remote: true, method: 'GET' do %>
                    <%= text_field_tag :search, '', class: 'form-control', placeholder: 'Digite o nome do anúncio e pressione enter' %>
                <% end %>

                <div id="products-list"></div>
            </div>
        </div>
    </div>
</section>
