<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Campanhas temáticas </strong>
            <%= link_to "+ Adicionar", new_manager_themed_campaign_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Título</th>
                    <th>URL</th>
                    <th>Empresas</th>
                    <th>Anúncios</th>
                    <th>Oculta</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @campaigns.each do |campaign| %>
                <tr>
                    <td>
                        <strong><%= l campaign.date_start, format: :short %></strong> até
                        <strong><%= l campaign.date_end, format: :short %></strong>
                    </td>
                    <td><%= link_to campaign.title, edit_manager_themed_campaign_path(campaign) %></td>
                    <td><strong><%= campaign.subdomain %></strong>.<%= current_org.domain %></td>
                    <td><%= campaign.sellers.size %></td>
                    <td><%= campaign.campaigns.size %></td>
                    <td><%= campaign.hidden ? "Sim" : "Não" %></td>
                    <td>
                        <a href="<%= edit_manager_themed_campaign_path(campaign) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_themed_campaign_path(campaign), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
