<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="section-title-inner">
            <span><i class="fa fa-bullhorn"></i> Anúncios </span>

            <% url = (current_user.valid? ? site_produtos_path(:anuncio_2) : site_produtos_path(:anuncio_1) ) %>
            <%= link_to url, class: "btn btn-success" do %>
                <i class="fa fa-plus-circle"></i> Criar um novo anúncio
            <% end %>

        </h1>
        <div class="row userInfo">
            <div class="col-md-12">
                <%= flash_messages %>
            </div>
        </div>
        <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div>
<!--/row-->

<!-- Lista de anúncios -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Você tem <strong><%= pluralize(current_user.products.size, 'anúncio', 'anúncios') %></strong>
                cadastrados.</strong>
            </div>

          <!-- Table -->
          <table class="table table-striped table-hover table-middle">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Anúncio</th>
                    <th>Visualizações</th>
                    <th>Compartilhar</th>
                    <th class="text-center">
                        Publicado? <br>
                        <small class="table-title-ad-limit">Limite <%= current_user.products.published.size %>/<%= current_user.ad_limit %></small>
                    </th>
                    <th>Oferta</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody style="font-size: 16px;">
                <% @products.each do |product| %>
                    <tr>
                        <!-- Imagens -->
                        <td>
                            <% if product.main_image.present? %>

                                <%= link_to site_produtos_path(:anuncio_2, product: product.id) do %>
                                    <img src='<%= product.main_image.file_url(:thumb) %>' width="80"/>
                                <% end -%>
                            <% end %>
                        </td>

                        <!-- Informações sobre o anúncio -->
                        <td>
                            <strong><%= link_to (product.name || '(SEM TÍTULO)'), site_produtos_path(:anuncio_2, product: product.id) %></strong>
                            <br />
                            <small><%= product.department.name %> / <%= product.category.name %></small>

                            <% if product.sold? %>
                                <br><span class="label label-success">Vendido</span>
                            <% end %>
                        </td>

                        <!-- Informações sobre visualizações, cliques e comentários -->
                        <td>
                            <span class='label label-info' title="Visualizações">
                                <%= product.views_count %> <i class="fa fa-eye"></i>
                            </span>
                            &nbsp;
                            <span class='label label-info' title="Cliques para ver telefone">
                                <%= product.info_clicks.size %> <i class="fa fa-phone"></i>
                            </span>

                            <% if product.comments.size > 0 %>
                                &nbsp;
                                <%= link_to site_produtos_path(:list_comments, product: product.id), class: 'label label-success', remote: true, title: 'Comentários neste anúncio' do %>
                                    <%= product.comments.size %> <i class="fa fa-comments-o"></i>
                                <% end -%>
                            <% end -%>

                            <% if product.has_cupom? or product.has_interest? %>
                              &nbsp;
                              <%= link_to site_download_cupons_path(product.id, format: 'xls'), class: 'label label-success', title: 'Faça o download de todos os cupons' do %>
                                  <%= product.cupoms.size %> <i class="fa fa-ticket"></i>
                              <% end %>
                            <% end %>
                        </td>



                        <!-- Se o produto está publicado. Facebook -->
                        <td>
                            <% if product.published? %>
                                <div class="fb-share-button" data-href="<%= ad_url(product.department_slug, product.category_slug, product.slug,subdomain: false) %>"></div>
                            <% end %>
                        </td>


                        <!-- Indica se o produto está publicado -->
                        <td class="text-center">
                            <%= form_for product, url: site_produtos_path(:publish, product: product.id), html: { class: 'publish-list' }, remote: true do |f| %>
                                <%= f.check_box :published, disabled: (product.published == false and current_user.expired_limit ? true : false ) %>
                            <% end %>
                        </td>

                        <!-- Informações sobre ofertas -->
                        <td>
                            <%= hlp_site_produtos_offer(product) %>
                        </td>

                        <!-- Ações -->
                        <td class="text-center">

                            <% if product.published? %>
                                <%= link_to ad_url(product.department_slug, product.category_slug, product.slug,subdomain: false), class: 'btn btn-link', target: '_blank' do %>
                                    <span class="text-success"><i class="fa fa-external-link"></i> Ver Anúncio</span>
                                <% end %>
                                <br>
                            <% end %>

                            <%= link_to site_produtos_path(:anuncio_2, product: product.id), class: 'btn btn-link text-info' do %>
                                <span class="text-info"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top"></i> Editar anúncio</span>
                            <% end %>
                            <br>
                            <%= link_to site_produtos_path(:destroy, id: product.id), class: 'btn btn-link  product-remove', method: :delete, remote: true do %>
                                <span class="text-danger"><i class="fa fa-trash-o"  data-toggle="tooltip" data-placement="top"></i> Excluir anúncio</span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>

          </table>
        </div>
    </div>
</div>

<hr>

<!-- Dicas para o Facebook -->
<div class="row">
    <div class="col-md-4">
        <%= image_tag('compartilhar-facebook.png', class: 'img-responsive') %>
    </div>
    <div class="col-md-8">
        <strong>Dica ao compartilhar no Facebook</strong> <br>
        Ao clicar em "compartilhar", abrirá uma nova janela onde é possivel selecionar qual <strong>grupo</strong> ou página você irá divulgar seu o anúncio.
    </div>
</div>




<!-- Modal para lista de interesses -->
<div class="modal fade" id="modalInterests" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">
          <i class="fa fa-comments-o"></i> COMENTÁRIOS
        </h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>
      </div>
    </div>
  </div>
</div>
