<div class="row">
	<div class="breadcrumbDiv col-lg-12">
		<ul class="breadcrumb">
			<li><a href="/">Home</a> </li>
			<li class="active"> Authentication </li>
		</ul>
	</div>
</div>

<div class="row">

	<div class="col-lg-9 col-md-9 col-sm-7">
		<h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

		<div class="row userInfo">

			<div class="col-xs-12 col-sm-6">
				<h2 class="block-title-2"> Create an account </h2>
				<form role="form">
					<div class="form-group">
						<label >Name</label>
						<input type="text" class="form-control"  placeholder="Enter name">
					</div>
					<div class="form-group">
						<label >Email address</label>
						<input type="email" class="form-control"  placeholder="Enter email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control"  placeholder="Password">
					</div>
					<button type="submit" class="btn   btn-primary"><i class="fa fa-user"></i> Create an account</button>
				</form>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2 class="block-title-2"><span>Already registered?</span></h2>
				<form role="form">
					<div class="form-group">
						<label>Email address</label>
						<input type="email" class="form-control"  placeholder="Enter email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control"  placeholder="Password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="checkbox">
							Remember me </label>
					</div>
					<div class="form-group">
						<p><a title="Recover your forgotten password" href="forgot-password.html">Forgot your password? </a></p>
					</div>
					<a class="btn btn-primary" href="#"><i class="fa fa-sign-in"></i> Sign In</a>
				</form>
			</div>
		</div>
		<!--/row end-->

	</div>

	<div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div> <!--/row-->
