<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>


<div class="row">
	<div class="col-md-12">
		<h1 class="section-title-inner"><span><i class="fa fa-user"></i> Cupons de Clientes </span></h1>
		<div class="row userInfo">
			<div class="col-md-12">
                <%= flash_messages %>
				<h2 class="block-title-2"><span>Cupons gerados pelos clientes.</span></h2>
			</div>
		</div>
		<!--/row end-->

	</div>
	<div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div>
<!--/row-->

<!-- Lista de cupons -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">


                <div class="row">
                  <div class="col-md-6"> <br>
                    Foram emitidos <strong><%= pluralize(current_user.cupoms.size, 'cupom válido', 'cupons válidos') %></strong>
                  </div>
                  <div class="pull-right col-md-6">
                    <%= form_tag site_usuarios_url(:cupons_clientes ,subdomain: false), method: :get do %>

                          <div class="input-group">
                            <%= text_field_tag :search, params[:search] || nil, placeholder: 'Busca por nome do cliente ou código do cupom', size: 50, class: 'form-control input-lg' %>
                            <span class="input-group-btn">
                              <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                          </div><!-- /input-group -->


                    <% end %>
                  </div>
                </div>

            </div>

          <!-- Table -->
          <table class="table table-striped table-hover table-middle">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço Promocional</th>
                    <th>Cliente</th>
                    <th>Código do cupom</th>
                    <th></th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody style="font-size: 16px;">
                <% @cupons.each do |cupom| %>
                    <%= render '/site/usuarios/partials/seller_cupom', product: cupom.product, cupom: cupom %>
                <% end %>
            </tbody>

          </table>
        </div>
    </div>
</div>


<hr>




<!-- Modal para cupom -->
<div class="modal fade" id="modalCupom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">
          <i class="fa fa-ticket"></i> CUPOM DE DESCONTO
        </h4>
      </div>
      <div class="modal-body">
        <iframe name="printCupom" frameborder="0" width="450" height="330"></iframe>
      </div>
      <div class="modal-footer">

        <a href="javascript:window.printCupom.print()" class="btn btn-primary"><i class="fa fa-print"></i> IMPRIMIR</a>

        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal pra confirmação de envio de cupom -->
<div class="modal fade" id="modalCupomSent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">
          <i class="fa fa-ticket"></i> CUPOM DE DESCONTO
        </h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
            Seu cupom foi enviado para o e-mail <strong><%= current_user.email %></strong>.
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

      </div>
    </div>
  </div>
</div>
