<% if @cupom.due %>
    $('#modalCupomSent').modal();

    $('.gen-cupom').replaceWith('<span class="btn btn-success"><i class="fa fa-check"></i> SEU CUPOM FOI GERADO!</span>');

    $('.cupom-actions, #modalCupomSent .modal-footer').prepend('<%= link_to(site_usuarios_url(:print_cupom, subdomain: false, code: @cupom.code), target: "printCupom", class: "btn btn-default print-cupom") do %><i class="fa fa-print"></i> IMPRIMIR CUPOM<% end %>');
<% else %>
    $('#modalInterestSent').modal();

    $('.gen-cupom').replaceWith('<span class="btn btn-success"><i class="fa fa-check"></i> SEU CUPOM FOI GERADO!</span>');

    $('.cupom-actions, #modalInterestSent .modal-footer').prepend('<%= link_to(site_usuarios_url(:print_cupom, subdomain: false, code: @cupom.code), target: "printCupom", class: "btn btn-default print-cupom") do %><i class="fa fa-print"></i> IMPRIMIR CUPOM<% end %>');
<% end %>
