<div class="row">
	<div class="breadcrumbDiv col-lg-12">
		<ul class="breadcrumb">
			<li><a href="/">Home</a> </li>
			<li><a href="#">My Account</a> </li>
			<li class="active"> Wisthlist </li>
		</ul>
	</div>
</div> <!--/.row-->

	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner"><span><i class="glyphicon glyphicon-heart"></i> Wisthlist </span></h1>
			<div class="row userInfo">
				<div class="col-lg-12">
					<h2 class="block-title-2"> Update your wishlist if it has changed. </h2>
				</div>
				<div class="col-xs-12 col-sm-12">
					<table>
						<tbody>
							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb">
										<div> <a href="#"><img src="<%= image_path('theme/product/9.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$85</span> </div>
									</div></td>
								<td style="width:15%">
										<a class="btn btn-primary">
										<span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span>
										</a>
								</td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb"><div> <a href="#">
								<img src="<%= image_path('theme/product/11.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$80</span> </div>
									</div></td>
								<td style="width:15%"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span> </a></td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb"><div> <a href="#">
								<img src="<%= image_path('theme/product/a2.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$88</span> </div>
									</div></td>
								<td style="width:15%"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span> </a></td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb"><div> <a href="#">
								<img src="<%= image_path('theme/product/a5.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$70</span> </div>
									</div></td>
								<td style="width:15%"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span> </a></td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb"><div> <a href="#">
								<img src="<%= image_path('theme/product/a4.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$55</span> </div>
									</div></td>
								<td style="width:15%"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span> </a></td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

							<tr class="CartProduct">
								<td style="width:10%" class="CartProductThumb"><div> <a href="#">
								<img src="<%= image_path('theme/product/a3.jpg') %>" alt="img"></a> </div></td>
								<td style="width:40%"><div class="CartDescription">
										<h4> <a href="#">Denim T shirt Black </a> </h4>
										<span class="size">12 x 1.5 L</span>
										<div class="price"> <span>$60</span> </div>
									</div></td>
								<td style="width:15%"><a class="btn btn-primary"> <span class="add2cart"><i class="fa fa-shopping-cart"> </i> Add to cart </span> </a></td>
								<td style="width:40%" class="delete"><a title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i> </a></td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="col-lg-12 clearfix">
					<ul class="pager">
						<li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
						<li class="next pull-left"><a href="#"> &larr; Back to My Account</a></li>
					</ul>
				</div>

			</div>
			<!--/row end-->

		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"> </div>
	</div>
	<!--/.row-->
	<div style="clear:both"></div>
