<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Informações sobre o meu plano</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="info-panel fixed-height text-center">
            <span class="title-info"><strong>Anúncios publicados</strong></span> <br />
            <strong class="main-info"><%= @count_ads %></strong> <br />
            <% if @count_ads < current_user.ad_limit %>
                Ainda restam <strong><%= pluralize((current_user.ad_limit - @count_ads), 'anúncio', 'anúncios') %></strong> <br />
            <% else %>
                Seu limite é de <strong><%= pluralize(current_user.ad_limit, 'anúncio', 'anúncios') %></strong>. Adquira mais ligando para <strong><%= @current_org.phone %></strong>
            <% end %>
        </div>

        <% if @count_ads < current_user.ad_limit %>
            <% url = (current_user.valid? ? site_produtos_path(:anuncio_2) : site_produtos_path(:anuncio_1) ) %>
            <%= link_to url, class: 'btn btn-success btn-block' do %>
                + Publicar <strong>novo</strong> anúncio
            <% end %>
        <% end %>
    </div>
</div>


