<%# hlp_site_breadcrumb_add('Minha Conta', site_minha_conta_url(subdomain: false)) %>
<%#= hlp_site_breadcrumb_render('Meus cupons') %>

<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<h1 class="section-title-inner"><span><i class="fa fa-ticket"></i> Meus Cupons</span></h1>
		<div class="row userInfo">
			<div class="col-md-12">
                <%= flash_messages %>
				<h2 class="block-title-2">Veja seus cupons emitidos</h2>
			</div>
		</div>
		<!--/row end-->

	</div>
	<div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div>
<!--/row-->

<!-- Lista de cupons -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Você tem <strong><%= pluralize(current_user.my_cupoms.size, 'cupom', 'cupons') %></strong>
            </div>

          <!-- Table -->
          <table class="table table-striped table-hover table-middle">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Anunciante</th>
                    <th>Código do Cupom</th>
                    <th>Preço Promocional</th>
                    <th></th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody style="font-size: 16px;">
                <% @cupons.each do |cupom| %>
                    <% product = cupom.product %>
                    <tr>
                        <!-- Imagens -->
                        <td>
                          <%= link_to hlp_site_produtos_url(product) do %>
                            <% if product.image1? %>
                                <img src='<%= product.image1_url(:thumb) %>' width="80"/>
                            <% end %>

                            <strong><%= (product.name || '(SEM TÍTULO)') %></strong>
                          <% end %>
                        </td>

                        <td>
                            <%= cupom.seller.name %>
                        </td>

                        <td>
                            <%= cupom.code %>
                        </td>

                        <td colspan="<%= cupom.due ? 1 : 2 %>">
                          <% if cupom.due %>
                            <%= number_to_currency(cupom.offer_price) %>
                          <% else %>
                            Comprovante de interesse
                          <% end %>

                        </td>

                        <% if cupom.due %>
                          <td>
                              <% if cupom.used? %>

                                <small class="text-danger">
                                  <strong>Utilizado em</strong> <br>
                                  <%= l cupom.used, format: :short %>
                                </small>

                              <% else %>

                                <small class="text-<%= cupom.due < Date.today ? 'danger' : 'success' %>">
                                  <strong>Validade:</strong> <br>
                                  <%= l cupom.due, format: :short %>
                                </small>

                              <% end %>
                          </td>
                        <% end %>

                        <!-- Ações -->
                        <td class="text-center">
                            <%= link_to site_usuarios_url(:print_cupom, subdomain: false, code: cupom.code), target: 'printCupom', class: 'btn btn-link view-cupom' do %>
                                <i class="fa fa-ticket"></i> Ver cupom
                            <% end %> <br>

                            <% if cupom.is_valid? %>
                              <%= link_to site_usuarios_url(:send_cupom, subdomain: false, code: cupom.code), remote: true, class: 'btn btn-link', data: { disable_with: 'AGUARDE!' } do %>
                                  <i class="fa fa-envelope-o"></i> Enviar para e-mail
                              <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>

          </table>
        </div>
    </div>
</div>

<hr>




<!-- Modal para cupom -->
<div class="modal fade" id="modalCupom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">
          <i class="fa fa-ticket"></i> CUPOM DE DESCONTO
        </h4>
      </div>
      <div class="modal-body">
        <iframe name="printCupom" frameborder="0" width="450" height="330"></iframe>
      </div>
      <div class="modal-footer">

        <a href="javascript:window.printCupom.print()" class="btn btn-primary"><i class="fa fa-print"></i> IMPRIMIR</a>

        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal pra confirmação de envio de cupom -->
<div class="modal fade" id="modalCupomSent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">
          <i class="fa fa-ticket"></i> CUPOM DE DESCONTO
        </h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
            Seu cupom foi enviado para o e-mail <strong><%= current_user.email %></strong>.
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

      </div>
    </div>
  </div>
</div>
