<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-user"></i> Meus Dados</span></h1>
    </div>
</div>

<%= simple_form_for(
        @user,
        url: site_usuarios_path(:meus_dados),
        html: { method: :put, class: 'form-horizontal form-validate', novalidate: true },
        wrapper: :horizontal_form
    ) do |f|
%>
    <div class="row">
        <div class="col-md-12">
            <%= f.error_notification %>
            <%= render 'site/produto/partials/form_user', f: f %>

            <div class="cartFooter">
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-lg pull-right">
                        <strong>Atualizar</strong> meu cadastro <i class="fa fa-check"></i>
                    </button>
                </div>
            </div><!--/row end-->
        </div>
        <div class="col-md-3 rightSidebar">
        </div>
    </div>
<% end %>
