<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Notificações</h1>

        <% if @notifications.size > 0 %>
          <div class="panel panel-default">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th style="width: 200px;">Data</th>
                    <th>Assunto</th>
                    <th>Enviado para</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>

                <tbody class="table-notifications">
                  <%= render @notifications %>
                </tbody>
              </table>
          </div>

          <div class="row">
            <div class="col-md-12 load-notifications">
              <%= paginate @notifications, remote: true  %>
            </div>
          </div>
        <% else %>
          Você ainda não tem nenhuma notificação.
        <% end %>

    </div>

</div>
