<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Notificação</h1>
        <h2><strong><%= @notification.subject %></strong></h2>

        <div class="clearfix">
          <div class="col-md-3">
            <i class="fa fa-clock-o"></i> <%= l @notification.created_at, format: :long %>
          </div>

          <div class="col-md-4">
            <% if @notification.to.present? %>
              <i class="fa fa-envelope-o"></i> <%= @notification.to %>
            <% end %>
          </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
  <div class="col-md-12">
    <iframe frameborder="0" style="display:block; width:100%!important;" onload='javascript:resizeIframe(this);' srcdoc='<%= raw @notification.body.gsub(/\'/, '"') %>'>
    </iframe>

  </div>
</div>



<%= content_for :head do %>
  <script>
    function resizeIframe(obj) {
      setTimeout(function(){
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        obj.contentWindow.document.body.style.fontFamily = "'Open Sans', Helvetica, Arial, sans-serif";}, 500);
      }
  </script>
<% end %>
