<div class="row user-custom-header <%= 'hide-info' unless @seller.show_info %>">
    <% if @seller.show_info %>
        <%= render '/site/usuarios/partials/info' %>
    <% end %>
</div>

<% if @seller.free? == false %>
<div class="row">
    <div class="col-md-12">

        <div class="w100 productFilter clearfix user-custom top-results color2">
            <p class="pull-left"> Foram encontrados <strong><%= @products.total_count %></strong> anúncios </p>
            <div class="pull-right ">
                <div class="change-view pull-right">
                    <a href="#" title="Grade" class="grid-view"> <i class="fa fa-th-large color2"></i> </a>
                    <a href="#" title="Lista" class="list-view "><i class="fa fa-th-list color2"></i></a>
                </div>
            </div>
        </div>

        <% if @seller.is_mall? # Se for um centro comercial, exibe as lojas na lateral %>
            <div class="row">
                <div class="col-md-3 user-mall-stores">
                    <h3>
                        <%= link_to "Ver todos", user_produtos_url(subdomain: @seller.subdomain), class: 'color2' %>
                    </h3>
                    <% @seller.areas.each do |area| %>
                        <h2 class="color2"><strong><%= area %></strong></h2>
                        <% @seller.stores_by_areas(area).each do |store| %>
                            <%= link_to store.name, user_produtos_url(subdomain: @seller.subdomain, store: store.subdomain), class: 'color3 user-mall-store' %>
                        <% end %>
                        <br>
                    <% end %>
                </div>

                <div class="col-md-9">
                    <% if params[:store] %>
                        <h2 class="color2">Anúncios de <strong><%= @user_name %></strong></h2>
                    <% end %>
                    <div class="row categoryProduct xsResponse clearfix">
                        <%= render partial: 'site/products/product', collection: @products, locals: { item_class: 'col-md-4' } %>
                    </div> <!--/.categoryProduct || product content end-->
                </div>
            </div>
        <% else %>
            <div class="row categoryProduct xsResponse clearfix">
                <%= render partial: 'site/products/product', collection: @products, locals: { item_class: 'col-md-3' } %>
            </div> <!--/.categoryProduct || product content end-->
        <% end %>



        <div class="clearfix"></div>

        <div class="categoryFooter">
            <div class="clearfix">
                <div class="col-md-12">
                    <div class="hide"><%= paginate @products %></div>
                </div>
            </div>

        </div>
    </div>
</div>
<% end %>