<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<% if @current_org.clictem_free?(current_user) %>
    <%= render '/site/usuarios/partials/resumo' %>
<% else %>
    <%= render '/site/usuarios/partials/free_panel' %>
<% end %>


<%= render '/site/usuarios/partials/bemvindo' %>
