$('.cupom<%= @cupom.id %>').replaceWith('<%= j render("/site/usuarios/partials/seller_cupom", product: @cupom.product, cupom: @cupom) %>')

setTimeout(function(){
        $('.cupom<%= @cupom.id %>').flash(1000, 4)
    }, 1000)
