<tr class="sms-campaign<%= campaign.id %>">
  <td>
    <% if campaign.birthday == true %>
      <span class="label label-success">Aniversário</span>
    <% end %>
    <%= campaign.message %>
  </td>
  <td>
    <i class="fa fa-calendar"></i> <%= l campaign.schedule_date, format: :short %> <br />
    <i class="fa fa-clock-o"></i> <%= l campaign.schedule_time, format: '%H:%M' %>
  </td>

  <td class="text-center">
    <% if campaign.status == 'concluida' %>
      <span data-toggle="popover" title="<%= pluralize(campaign.messages.size, 'contato selecionado', 'contatos selecionados') %>" data-html="true" data-content='<%= render "customers_popover", campaign: campaign %>'>
        <i class="fa fa-users"></i> <%= campaign.messages.size %>
      </span>
    <% else %>
      <span data-toggle="popover" title="<%= pluralize(campaign.messages.size, 'contato selecionado', 'contatos selecionados') %>" data-content="As mensagens ainda não foram enviadas.">
        <i class="fa fa-users"></i> <%= campaign.messages.size %>
      </span>
    <% end %>
  </td>

  <td class="text-center">
    <i class="fa fa-comments-o"></i> <%= campaign.responses.size %>
    <% if campaign.responses.unread.size > 0 %>
      <br>
        <%= link_to pluralize(campaign.responses.unread.size, 'não lida', 'não lidas'), campaign, class: 'label label-danger' %>
    <% end %>
  </td>

  <td>
    <% if campaign.status == 'avaliando' %>
      <span class="label label-default">Avaliando</span>
    <% elsif campaign.status == 'aguardando' %>
      <span class="label label-warning">Aguardando</span>
    <% elsif campaign.status == 'enviando' %>
      <span class="label label-info">Enviando</span>
    <% elsif campaign.status == 'concluida' %>
      <span class="label label-success">Concluída</span>
    <% end %>
  </td>
  <td class="text-right">
    <% if campaign.status == 'avaliando' %>
      <%= link_to edit_sms_campaign_path(campaign), class: 'btn btn-xs btn-link' do %>
        <i class="fa fa-edit"></i> Editar campanha
      <% end %>
    <% end %>

    <!-- Excluir somente se a campanha ainda não foi enviada -->
    <% if campaign.status == 'avaliando' or campaign.status == 'aguardando' %>
      <%= link_to campaign, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-xs btn-link', remote: true do %>
  		  <i class="fa fa-trash-o"></i> Excluir campanha
      <% end %>
    <% end %>

    <!-- Se a mensagem foi enviada, exibir os dados -->
    <% if campaign.status == 'concluida' %>
      <%= link_to campaign, class: 'btn btn-xs btn-link' do %>
        <i class="fa fa-info-circle"></i> Ver detalhes
      <% end %>
    <% end %>
  </td>
</tr>

