<% if campaign.messages.valid_to_count.size > 0 %>
	<span class="text-success">
		<i class="fa fa-check-circle"></i> <%= pluralize(campaign.messages.valid_to_count.size, 'mensagem entregue', 'mensagens entregues') %>
	</span>
<% end -%>

<br />

<% if campaign.messages.invalid_to_count.size > 0 %>
	<span class="text-danger">
		<i class="fa fa-times-circle"></i> <%= pluralize(campaign.messages.invalid_to_count.size, 'mensagem com falha', 'mensagens com falhas') %>
	</span>

	<br /> <br /> <span>Os créditos das mensagens falhas retornam para seu saldo.</span>
<% else %>
	<span class="text-danger">
		<i class="fa fa-times-circle"></i> Nenhuma com falha
	</span>
<% end -%>