<div class="row nested-fields">
    <div class="col-md-12">
        <%= f.input :customer_id, collection: current_user.customers, blank: false, input_html: { data: { placeholder: 'Selecione um cliente' }, class: 'chosen-select', multiple: true }, label: false %>
    </div>

</div>

