<%= simple_form_for(@sms_campaign) do |f| %>
  <%= f.error_notification %>

	<div class="row">
		<div class="col-md-12">
			<div class="text-right">
				<span id='message-count'>
					<% if @sms_campaign.new_record? %>
						Limite de <strong>160</strong> caracteres</span>
					<% else %>
						<strong><%= 160 - @sms_campaign.message.size %></strong> caracteres restantes.
					<% end %>
			</div>

			<%= f.input :message, input_html: { maxlength: 160 } %>

			<p>
				Para inserir o primeiro nome do cliente, utilize a variável <strong>%NOME%</strong>, por exemplo: <i>"Olá %NOME%, confira nossa página http://<%= current_user.subdomain %>.<%= current_org.domain %>.com.br - <%= current_user.name %>"</i>
			</p>
		</div>


	</div>

	<hr />

	<div class="row">
		<div class="col-md-2">
			<%= f.input :schedule_date, as: :date_picker %>

			<%= f.input :schedule_time, as: :time_picker %>
		</div>

		<!-- Seleção de grupos -->
		<div class="col-md-10">
			<h3>
				Selecione seus clientes <br>
				<small class="campaigns-count-groups"><strong>0</strong> contatos selecionados</small>
			</h3>

			<div class="alert alert-danger hide campaigns-alert">
				<i class="fa fa-exclamation-triangle"></i> Você selecionou <strong class="campaigns-count-alert">34 contatos</strong>, mas tem somente <strong><%= current_user.sms_total_balance %> créditos</strong> restantes. Contrate mais créditos <%= link_to "clicando aqui", sms_buys_path, class: 'btn btn-xs btn-default' %>.
			</div>

			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#groups" aria-controls="home" role="tab" data-toggle="tab">Segmentos e grupos</a></li>
			    <!-- <li role="presentation"><a href="#custom" aria-controls="profile" role="tab" data-toggle="tab">Individual</a></li> -->
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="groups">
			    	<div class="clearfix">
			    		<div class="col-md-12">
			    			<br /> <br />
			    			<%= f.association :groups, collection: current_user.groups, as: :check_boxes_inline, label: false %>
			    			<br />
			    		</div>
			    	</div>
			    </div>



			  </div>

			</div>

		</div>
	</div>

	<hr />


	<div class="row">
		<div class="col-md-4">
		    <%= render "/site/partials/sms_saldo" %>
		</div>

		<div class="col-md-8">
			<ul class="list">
				<li>A mensagem passará por avaliação antes de ser encaminhada aos destinatários.</li>
				<li>O destinatário poderá receber somente uma mensagem a cada 7 dias</li>
				<li>O <strong><%= @current_org.fullname %></strong> poderá bloquear a campanha em qualquer momento caso acreditarmos que o conteúdo da mensagem seja ofensivo.</li>
				<li>A mensagem poderá ter até <strong>160 caracteres.</strong></li>
			</ul>
		</div>
	</div>


	<div class="row">
		<br>
		<div class="col-md-3">
			<button class="btn btn-success btn-block btn-lg campaign-button-save" type="submit">
				<i class="fa fa-check"></i> Enviar mensagem
			</button>
		</div>
	</div>

<% end %>
