<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>Configurar mensagem de aniversário</h1>

        <%= flash_messages %>
        <%= simple_form_for(current_user, url: sms_birthday_path, method: :put) do |f| %>
            <%= f.error_notification %>

            <div class="row">
                <div class="col-md-12">
                    <%= f.input :sms_birthday, as: :radio_buttons_inline,
                                collection: [['Sim', true], ['Não', false]] %>
                </div>

                <div class="col-md-12">
                    <div class="text-right">
                        <span id='message-count'>
                            <% if current_user.sms_birthday_message.blank? %>
                                Limite de <strong>160</strong> caracteres</span>
                            <% else %>
                                <strong><%= 160 - current_user.sms_birthday_message.size %></strong> caracteres restantes.
                            <% end %>
                    </div>

                    <%= f.input :sms_birthday_message, input_html: { maxlength: 160 } %>

                    <p>
                        Para inserir o primeiro nome do contato, utilize a variável <strong>%NOME%</strong>.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4><strong>IMPORTANTE!</strong></h4>
                    <ul class="list">
                        <li>O <strong><%= @current_org.fullname %></strong> poderá bloquear a campanha em qualquer momento caso acreditarmos que o conteúdo da mensagem seja ofensivo.</li>
                        <li>A mensagem poderá ter até <strong>160 caracteres.</strong></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block btn-lg" type="submit">
                        <i class="fa fa-check"></i> Salvar mensagem de aniversário
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>
