<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner">
                SMS Marketing

                <%= link_to new_sms_campaign_path, class: "btn btn-success btn-sm" do %>
                    <i class="fa fa-plus-circle"></i> Nova Campanha
                <% end %>
            </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                CAMPANHAS
            </div>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Texto</th>
                  <th>Data</th>
                  <th class="text-center">Contatos</th>
                  <th class="text-center">Respostas</th>
                  <th>Status</th>
                  <th class="text-right"></th>
                </tr>
              </thead>

              <tbody class="table-groups">
                <%= render @sms_campaigns %>
              </tbody>
            </table>

        </div>

    </div>
</div>


<!-- Saldo SMS -->
<div class="row">
  <div class="col-md-4">
      <%= render "/site/partials/sms_saldo" %>
  </div>
</div>
