<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner">
                Nova campanha de SMS Marketing
            </h1>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
