<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner">
                Detalhes da campanha de SMS Marketing
            </h1>
    </div>
</div>

<div class="row">

  <div class="col-md-12">
    <strong>Mensagem</strong>
    <h3><%= @sms_campaign.message %></h3>
    <i class="fa fa-calendar"></i> <%= l @sms_campaign.schedule_date, format: :short %> |
    <i class="fa fa-clock-o"></i> <%= l @sms_campaign.schedule_time, format: '%H:%M' %>
  </div>

</div>

<hr>

<div class="row">
  <!-- Mensagens enviadas -->
  <div class="col-md-3">
    <div class="info-panel text-center">
      <span class="title-info color1"><strong>Enviado</strong></span> <br />
      <span class="main-info color1"><strong><%= @sms_campaign.messages.size %> SMS</strong></span>
    </div>
  </div>

  <!-- Mensagens entregues -->
  <div class="col-md-3">
    <div class="info-panel text-center">
      <span class="title-info"><strong class="text-success">Entregue</strong></span> <br />
      <span class="main-info"><strong class="text-success"><%= @sms_campaign.messages.valid_to_count.size %> SMS</strong></span>
    </div>
  </div>

  <!-- Mensagens com falhas -->
  <div class="col-md-3">
    <div class="info-panel text-center">
      <span class="title-info"><strong class="text-danger">Falho</strong></span> <br />
      <span class="main-info"><strong class="text-danger"><%= @sms_campaign.messages.invalid_to_count.size %> SMS</strong></span>
    </div>
  </div>

  <!-- Mensagens com respostas -->
  <div class="col-md-3">
    <div class="info-panel text-center">
      <span class="title-info color1"><strong>Respostas</strong></span> <br />
      <span class="main-info color1"><strong><%= @sms_campaign.responses.size %></strong></span>
    </div>
  </div>
</div>


<!-- Lista de respostas -->
<div class="row">
  <hr>
  <div class="col-md-12">
    <h3 class="text-success">Respostas</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Celular</th>
          <th>Resposta</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sms_campaign.responses.each do |resp| %>
          <tr>
            <td><%= resp.customer.name %></td>
            <td><%= resp.customer.cellphone %></td>
            <td><%= resp.text %></td>
            <td><%= l resp.created_at, format: :short %></td>
            <td>
              <% if resp.customer.active == false %>
                <span class="text-danger has-tooltip" data-toggle="tooltip" data-placement="left" title="Este cliente optou por não receber mensagens"><i class="fa fa-ban"></i></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>


<!-- Lista de mensagens com falha -->
<% if @sms_campaign.messages.invalid_to_count.size > 0 %>
  <div class="row">
      <hr>
      <div class="col-md-12">
          <h3 class="text-danger">Contatos com problemas no envio de mensagem</h3>
          <div class="panel panel-default">

              <div class="panel-heading">
                  Os créditos das mensagens falhas retornam para seu saldo.
              </div>

              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-Mail</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>

                <tbody class="table-customers">
                  <% @sms_campaign.messages.invalid_to_count.includes(:customer).each do |msg| %>
                    <%= render '/customers/customer', customer: msg.customer, with_delete: false, sms_status: msg.status %>
                  <% end %>
                </tbody>
              </table>

          </div>

      </div>
  </div>

<% end -%>
