<span class="step-info" data-step="4">&nbsp;</span>

<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="clearfix resp-dados">
            <p class="text-muted text-small">Ao clicar em "Continuar", você estará concordando com os <strong>termos & condições</strong> e a <strong>política de privacidade</strong>.</p>
        </div>

    </div>

    <div class="col-md-12">
        <h2>Termos & Condições</h2>
        <iframe src="<%= page_termos_url(subdomain: false) %>" frameborder="0" style="width: 100%; height: 300px;"></iframe>
    </div>

    <div class="col-md-12">
        <hr />
        <h2>Política de Privacidade</h2>
        <iframe src="<%= page_politica_path(subdomain: false) %>" frameborder="0" style="width: 100%; height: 230px;"></iframe>
    </div>
</div>

<div class="clearfix">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-6">

        <%= render "progress" %>

    </div>


    <div class="col-md-2"></div>
    <div class="col-md-2">
        <a href="" class="btn btn-default btn-block btn-lg btn-formulario">
        <i class="fa fa-chevron-circle-left"></i> Voltar
        </a>
    </div>
    <div class="col-md-2">
        <a href="#" class="btn btn-success btn-block btn-lg btn-aceite">
        <i class="fa fa-chevron-circle-right"></i> Continuar
        </a>
    </div>

</div>


