<span class="step-info" data-step="3">&nbsp;</span>

<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Informe seus dados </span>
        </h1>
    </div>
</div>



<div class="row plan-user">

    <%= f.hidden_field :seller, value: true %>
    <%= f.hidden_field :plan %>

    <div class="col-md-12">
        <%= f.error_notification %>
    </div>

    <% if @current_org.name =~ /cdl/ %>
    <h2 class="block-title-2 ">Você já é um associado?</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= f.input :associated_code %>

            <div class="col-md-3 text-right">
                <strong>Não é associado?</strong>
            </div>
            <div class="col-md-9">
                Para utilizar as ferramentas deste site você precisa ser associado. Entraremos em contato para proceder com sua associação.
            </div>
        </div>
    </div>
    <% end %>

    <% if !user_signed_in? %>

        <h2 class="block-title-2 ">Dados de Acesso</h2>
        <div class="row resp-dados <%= hlp_account_is_kind(@user.new_record?) %>">
            <div class="col-md-6 col-md-offset-3">

                <%= f.input :email, required: true %>
                <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua senha" %>
                <%= f.input :password_confirmation, required: true, autocomplete: "off", placeholder: "repita a senha, por favor..." %>
            </div>
        </div>
    <% end %>

    <h2 class="block-title-2 ">Dados Gerais</h2>
    <div class="col-md-6 col-md-offset-3">

        <%= f.hidden_field :plan %>
        <div style="font-size: 18px">
            <%= f.input :kind,
                as: :radio_buttons_inline,
                label: 'É uma empresa?',
                collection: [['Sim', 'pj'], ['Não', 'pf']]
            %>
        </div>

        <% if !@user.new_record? %>
            <%= f.input :email, required: true %>
        <% end %>

        <%= f.input :department_id,
            as: :select,
            collection: Manager::Ad::Department.all,
            required: true,
            include_blank: false
        %>

        <%= f.input :name, required: true, label: (@user.kind == 'pf' ? 'Primeiro nome' : 'Nome fantasia') %>
        <div class="is_user_kind_pf <%= hlp_account_is_kind(@user.kind == 'pf') %>">
            <%= f.input :last_name, required: true %>

            <%= f.input :cpf, hint: 'Exemplo: xxx.xxx.xxx-xx', required: true %>

            <%= f.input :birthday,
                as: :date,
                discard_year: true,
                required: true
            %>

            <%= f.input :genre,
                as: :radio_buttons_inline,
                collection: [['Masculino', 'm'], ['Feminino', 'f']]
            %>

            <%= f.input :cellphone,
                as: :string,
                wrapper: :horizontal_form_phone,
                hint: 'Exemplo: (xx) xxxx-xxxx',
                required: true
            %>
        </div>

        <div class="is_user_kind_pj <%= hlp_account_is_kind(@user.kind == 'pj') %>">
            <%= f.input :business_name, required: true %>
            <%= f.input :cnpj, hint: 'Exemplo: xx.xxx.xxx/xxxx-xx', required: true %>
        </div>

        <%= f.input :phone,
            as: :string,
            wrapper: :horizontal_form_phone,
            hint: 'Exemplo: (xx) xxxx-xxxx',
            required: @user.kind == 'pj'
        %>
    </div>


    <div class="col-md-6 col-md-offset-3">
        <div class="row">
        <h2 class="block-title-2">Endereço</h2>
            <div class="col-md-12">

                <%= f.input :address_zipcode, hint: 'Exemplo: xxxxx-xxx', required: true %>
                <%= f.input :address_street, required: true %>
                <%= f.input :address_number, required: true %>
                <%= f.input :address_compl %>
                <%= f.input :address_district, required: true %>
                <%= f.hidden_field :state_id, value: State.find_by_symbol('SC').id %>
                <%= f.input :city_id,
                    as: :select,
                    collection: City.where(id: [4598, 4730, 4732, 4508, 4527, 4510, 4577, 4504, 4442, 4688]),
                    include_blank: false,
                    required: true %>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row resp-dados is_user_kind_pj <%= hlp_account_is_kind(@user.kind == 'pj') %>">
            <div class="col-md-12">
                <h2 class="block-title-2 ">Contatos para notificações</h2>

                <div class="clearfix">
                    <div class="col-md-4">
                        <h3>Geral</h3>
                        <%= f.input :resp_name, required: true, label: 'Nome' %>
                        <%= f.input :resp_email, required: true, label: 'E-Mail' %>                        <%= f.input :resp_cellphone, label: 'Celular' %>
                    </div>

                    <div class="col-md-4">
                        <h3>Financeiro</h3>
                        <%= f.input :resp2_name, label: 'Nome' %>
                        <%= f.input :resp2_email, label: 'E-Mail' %>
                        <%= f.input :resp2_cellphone, label: 'Celular' %>
                        <div class="checkbox repeat-resp">
                            <label>
                              <input type="checkbox"> Usar o mesmo contato geral
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Marketing</h3>
                        <%= f.input :resp3_name, label: 'Nome' %>
                        <%= f.input :resp3_email, label: 'E-Mail' %>
                        <%= f.input :resp3_cellphone, label: 'Celular' %>
                        <div class="checkbox repeat-resp">
                            <label>
                              <input type="checkbox"> Usar o mesmo contato geral
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="col-md-12">
        <hr />
        <div class="col-md-4">
            <div class="form-group">
                <label><%= f.check_box :want_email %> Quero receber ofertas e novidades por e-mail.</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label><%= f.check_box :want_sms %> Quero receber ofertas e novidades por celular.</label>
            </div>
        </div>
    </div>



    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-6">

        <%= render "progress" %>

    </div>


    <div class="col-md-2"></div>
    <div class="col-md-2">
        <a href="<%= contratar_banners_path %>" class="btn btn-default btn-block btn-lg">
        <i class="fa fa-chevron-circle-left"></i> Voltar
        </a>
    </div>
    <div class="col-md-2">
        <a href="#" class="btn btn-success btn-block btn-lg btn-formulario btn-continuar" disabled>
        <i class="fa fa-chevron-circle-right"></i> Continuar
        </a>
    </div>


</div>
