<span class="step-info" data-step="5">&nbsp;</span>

<span class="selected-plan" data-plan="<%= session[:plan] %>"></span>

<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Resumo </span>
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2 class="block-title-2 ">Plano Selecionado</h2>
        <%= render '/site/page/partials/planos' %>
    </div>

    <div class="col-md-6">
        <% total_banner = 0.0 %>
        <h2 class="block-title-2 ">Banners Selecionados</h2>
        <% if @banners.size == 0 %>
            <h2>Você não selecionou nenhum banner. Caso queira adquirir algum, <a href="<%= contratar_banners_path %>"><strong>clique aqui.</strong></a></h2>

            <p>
                Se futuramente você queira exibir sua empresa em nossos banners, basta entrar em contato conosco.
            </p>
        <% else %>
            <h2>
                Abaixo estão os banners que você selecionou:
            </h2>

            <table class="table">
                <tr>
                    <th>Banner</th>
                    <th>Tamanho</th>
                    <th>Valor</th>
                </tr>
                <% @banners.each do |banner| %>
                <tr>
                    <td><%= banner.name %></td>
                    <td><%= banner.size %></td>
                    <% if banner.department? %>
                        <td>
                            <%= number_to_currency(banner.value * @departaments[banner.id].size) %>
                            <% total_banner += banner.value * @departaments[banner.id].size %>
                            <small>(<%= @departaments[banner.id].map{|dept| dept.name}.join(" + ") %>)</small>

                        </td>
                    <% else %>
                        <td><%= number_to_currency(banner.value) %></td>
                        <% total_banner += banner.value %>
                    <% end %>


                </tr>
                <% end %>
                <tr>
                    <td colspan="2" class="text-right">Total</td>
                    <td><strong><%= number_to_currency(total_banner) %></strong></td>
                </tr>
            </table>
        <% end %>

        <h2>Total Mensal: <strong><%= number_to_currency(total_banner.to_f + User.plan_value(@plan)) %></strong></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12"><hr /></div>
        <h2 class="block-title-2 ">Informações gerais</h2>

        <ul>
            <li>A cobrança será emitida junto à cobrança da mensalidade da CDL</li>
            <li>SMS excedentes a franquia serão cobrados juntos, ao final de cada mês</li>
        </ul>

        <h2 class="block-title-2 " style="margin-top: 50px;">Página personalizada</h2>
        <ul>
            <li>Agora você tem uma página personalizada no site <strong><%= current_org.fullname %></strong></li>
            <li>Para que esta página fique personalizada com sua marca, precisamos de alguns materiais. Você receberá um e­-mail com as especificações para providenciar estes materiais.</li>
            <li><strong>Prazos:</strong> a página já está criada. Fica sob sua responsabilidade o envio o mais breve possível dos materiais para que possamos colocar no ar.</li>
        </ul>

        <h2 class="block-title-2 " style="margin-top: 50px;">Banners</h2>
        <ul>
            <li>Você receberá um e­mail com as especificações que o banner deve ter para ir ao ar.</li>
            <li><strong>Prazos:</strong> Você terá 7 dias corridos de carência, a contar da data de contratação, para enviar a arte ao site sem que esse período seja cobrado. Após isto, o seu espaço estará disponível e a cobrança passará a contar desta data.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        Precisa de um fornecedor para as artes? Marque aqui que enviaremos o contato. <br />
        <label style="font-size: 20px;" class="text-success"><input type="checkbox" /> <strong>Enviar contatos para criação da arte.</strong></label>
    </div>

    <div class="col-md-12">
        <hr />
        A <%= @current_org.fullname %> está a sua disposição.
        <h2 class="block-title-2 ">Contato</h2>
        <strong>Telefone: </strong> <%= @current_org.phone %> <br />
        <strong>E-mail</strong>: <a href="mailto:<%= @current_org.email %>"><%= @current_org.email %></a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-6">

        <%= render "progress" %>

    </div>


    <div class="col-md-2"></div>
    <div class="col-md-2">
        <a href="#" class="btn btn-default btn-block btn-lg btn-aceite">
        <i class="fa fa-chevron-circle-left"></i> Voltar
        </a>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success btn-block btn-lg">
        <i class="fa fa-check-circle-o"></i> Concluir
        </button>
    </div>
</div>
