<span class="step-info" data-step="2">&nbsp;</span>

<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Melhore sua visibilidade </span>
        </h1>
    </div>
</div>


<%= form_tag(contratar_banners_path(plan: @plan)) do |f| %>

<div class="container">
<ul class="nav nav-pills nav-stacked col-md-2">
    <% @banners.each_with_index do |banner, i| %>
        <li class="<%= 'active' if i == 0 %> banner-<%= banner.id %>">
            <a href="#<%= banner.id %>" data-toggle="pill">
                <h3>
                    <%= banner.name %>
                    <br />
                    <small><%= banner.size %></small>
                </h3>
            </a>
            <input class="check-banner" type="checkbox" name="banners[]" value="<%= banner.id %>" id="banner<%= banner.id %>" <%= hlp_selected_banner?(banner.id) ? 'checked' : '' %>/>
            <label for="banner<%= banner.id %>"></label>
        </li>
    <% end %>

</ul>
<div class="tab-content col-md-10">
    <% @banners.each_with_index do |banner, i| %>
        <div class="tab-pane <%= 'active' if i == 0 %> banner-<%= banner.id %>" id="<%= banner.id %>">
            <h2><strong><%= banner.name %></strong></h2>
            <hr />

            <div class="row">
                <div class="col-md-4">
                    <div class="clearfix">
                        <h3>Sobre</h3>
                        <table class="table table-striped">
                            <tr>
                                <td>Tamanho</td>
                                <td><strong><%= banner.size %></strong></td>
                            </tr>
                            <tr>
                                <td>Valor</td>
                                <td><strong><%= number_to_currency(banner.value) %></strong></td>
                            </tr>
                            <% if banner.department? %>
                            <tr>
                                <td>Local</td>
                                <td><strong>Exibido por departamento</strong></td>
                            </tr>
                            <% end %>
                            <% if banner.geral? %>
                            <tr>
                                <td>Local</td>
                                <td><strong>Todas as páginas</strong></td>
                            </tr>
                            <% end %>
                            <% if banner.home? %>
                            <tr>
                                <td>Local</td>
                                <td><strong>Será exibido na home</strong></td>
                            </tr>
                            <% end %>
                        </table>
                    </div>

                    <div class="clearfix">
                        <% if banner.department? %>
                            <h3>Selecione o departamento</h3>
                            <table class="table table-striped">
                                <% @departaments.each do |dept| %>
                                <tr>
                                    <td><input type="checkbox"
                                        name="depts[<%= banner.id %>][]"
                                        value="<%= dept.id %>"
                                        data-banner="<%= banner.id %>"
                                        class="check-dept"
                                        <%= hlp_selected_department?(banner.id, dept.id) ? 'checked' : '' %>/>
                                    </td>
                                    <td><strong><%= dept.name %></strong></td>
                                </tr>
                                <% end %>
                            </table>
                        <% end %>
                    </div>
                </div>

                <div class="col-md-8">
                    <h3>Exemplo</h3>
                    <%= image_tag(banner.placeholder_url, class: 'img-responsive') if banner.placeholder? %>
                </div>
            </div>

        </div>
    <% end %>
</div><!-- tab content -->
</div><!-- end of container -->

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-6">

        <%= render "progress" %>

    </div>


    <div class="col-md-2">
        <a href="<%= contratar_planos_path %>" class="btn btn-default btn-block btn-lg">
        <i class="fa fa-chevron-circle-left"></i> Voltar
        </a>
    </div>
    <div class="col-md-2">
        <a href="<%= contratar_dados_path %>" class="btn btn-default btn-block btn-lg">
        <i class="fa fa-chevron-circle-right"></i> Pular
        </a>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success btn-block btn-lg btn-continuar" <%= 'disabled' unless session[:banners] %>>
        <i class="fa fa-chevron-circle-right"></i> Continuar
        </button>
    </div>
</div>

<% end %>






<!-- <a href="#" class="btn btn-lg btn-success add-banner <%#= hlp_selected_banner?(banner.id) ? 'hide' : '' %>" data-banner="<%#= banner.id %>">
                    <i class="fa fa-check-circle-o"></i> Escolher
                </a>
                <a href="#" class="btn btn-lg btn-default remove-banner <%#= hlp_selected_banner?(banner.id) ? '' : 'hide' %>" data-banner="<%#= banner.id %>">
                    <i class="fa fa-times-circle "></i> Desmarcar
                </a> -->
