<%= simple_form_for(
            @user,
            url: contratar_dados_path(id: @user ? @user.id : nil),
            html: {  class: 'form-horizontal form-validate' },
            wrapper: :horizontal_form
        ) do |f|
    %>

    <div class="contratar-formulario">
        <%= render "formulario", f: f %>
    </div>

    <div class="contratar-aceite hide">
        <%= render "aceite", f: f %>
    </div>

    <div class="contratar-resumo hide">
        <%= render "resumo" %>
    </div>

<% end %>
