<span class="step-info" data-step="1">&nbsp;</span>

<div class="row">
    <div class="col-md-12">
        <h1 class="title-big text-center section-title-style2">
            <span> Anuncie seus produtos ou serviços </span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render '/site/page/partials/planos' %>
        <p style="font-size: 22px;">
          Escolha um dos planos acima e entre em contato com o <%= current_org.fullname %> pelo telefone <strong><%= current_org.phone %></strong>.
        </p>
    </div>
 </div>



<!-- <div class="row plan-user">
    <%= simple_form_for(
            @user,
            url: contratar_planos_path(id: @user ? @user.id : nil),
            html: {  class: 'form-horizontal form-validate' },
            wrapper: :horizontal_form
        ) do |f|
    %>
        <%= f.hidden_field :seller, value: true %>
        <%= f.hidden_field :plan %>

        <div class="col-md-12">
            <%= f.error_notification %>
        </div>



        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-6">

            <%= render "progress" %>

        </div>


        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-block btn-lg">
            <i class="fa fa-chevron-circle-right"></i> Continuar
            </button>

        </div>

    <% end %>
</div> -->
