<div class="row text-center">
    <!--right column-->
    <div class="col-md-12">

        <div class="w100 clearfix category-top">
            <h2> Ops! Ocorreu um erro interno. </h2>
        </div> 

        Já reportamos este erro para nossa equipe de desenvolvimento. 
    </div>
</div>