<div class="row text-center">
    <!--right column-->
    <div class="col-md-12">

        <div class="w100 clearfix category-top">
            <h2> Ops! Página não encontrada. </h2>
        </div> 

        A página ou produto que você procura não foi encontrado. Utilize nosso campo de busca para encontrar o você precisa!
    </div>
</div>