<div id="nav-wrapper">
    <ul id="nav" ng-controller="NavCtrl" collapse-nav>

        <!-- Dashboard -->
        <li class="<%= current_page?(manager_dashboard_path) ? 'active' : '' %>">
            <%= link_to manager_dashboard_path do %>
                <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span>Dashboard</span>
            <% end %>
        </li>

        <!-- Faturamento -->
        <li>
            <%= link_to manager_bills_path do %>
                <i class="fa fa-money"><span class="icon-bg bg-success"></span></i>
                <span>Faturamento</span>
            <% end %>
        </li>

        <!-- Usuários -->
        <li class="<%= (current_page?(manager_users_path) or current_page?(manager_user_clients_path) ) ? 'active' : '' %>">
            <a href="#">
                <i class="fa fa-user"><span class="icon-bg bg-info"></span></i>
                <span>Usuários</span>
                <span class="label label-default"><%= User.all.size %></span>
            </a>
            <ul class="<%= (current_page?(manager_users_path) or current_page?(manager_user_clients_path) )? 'open' : '' %>">
                <li>
                    <%= link_to manager_users_path do %>
                        <i class="fa fa-caret-right"></i><span>Usuários</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to manager_user_clients_path do %>
                        <i class="fa fa-caret-right"></i><span>Clientes</span>
                        <span class="label label-default"><%= User.where(cancel_date: nil).where.not(plan: "free").size %></span>
                    <% end %>
                </li>
                <li>
                    <%= link_to manager_user_associados_path do %>
                        <i class="fa fa-caret-right"></i><span>Associados</span>
                        <span class="label label-default"><%= User.where.not(associated_code: "").size %></span>
                    <% end %>
                </li>
                <!-- <li>
                    <%# link_to manager_user_prospection_path do %>
                        <i class="fa fa-caret-right"></i><span>Prospecção</span>
                    <%# end %>
                </li> -->
            </ul>
        </li>

        <!-- Banners -->
        <li class="<%= current_page?(manager_banners_path) ? 'active' : '' %>">
            <a href="#">
                <i class="fa fa-table"><span class="icon-bg bg-violet"></span></i>
                <span>Banners</span>
                <span class="label label-default"><%= Banner.all.size %></span>
            </a>
            <ul class="<%= current_page?(manager_banners_path) ? 'open' : '' %>">
                <li>
                    <%= link_to manager_banners_path do %>
                        <i class="fa fa-caret-right"></i><span>Banners</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to manager_banner_types_path do %>
                        <i class="fa fa-caret-right"></i><span>Tipos de banners</span>
                    <% end %>
                </li>
            </ul>
        </li>

        <!-- Campanhas Temáticas -->
        <li>
            <%= link_to manager_themed_campaigns_path do %>
                <i class="fa fa-file"><span class="icon-bg bg-success"></span></i>
                <span>Campanhas</span>
                <span class="label label-default"><%= Manager::Ad::ThemedCampaign.all.count %></span>
            <% end %>
        </li>

        <!-- Produtos -->
        <li class="<%= current_page?(manager_ad_products_path) ? 'active' : '' %>">
            <%= link_to manager_ad_products_path do %>
                <i class="fa fa-shopping-cart"><span class="icon-bg bg-orange"></span></i>
                <span>Produtos</span>
                <span class="label label-default"><%= Manager::Ad::Product.all.size %></span>
            <% end %>
        </li>

        <!-- Cadastros Gerais -->
        <li class="<%= current_page?(manager_ad_departments_path) ? 'active' : '' %>">
            <a href="#">
                <i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span>Cadastros Gerais</span>
            </a>
            <ul class="<%= current_page?(manager_ad_departments_path) ? 'open' : '' %>">
                <% if current_user.is? :admin %>
                <li>
                    <%= link_to manager_ad_departments_path do %>
                        <i class="fa fa-caret-right"></i><span>Departamentos</span>
                    <% end %>
                </li>
                <% end %>
                <li>
                    <%= link_to manager_ad_categories_path do %>
                        <i class="fa fa-caret-right"></i><span>Categorias</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to manager_ad_brands_path do %>
                        <i class="fa fa-caret-right"></i><span>Marcas</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to manager_cupoms_path do %>
                        <i class="fa fa-caret-right"></i><span>Cupons</span>
                    <% end %>
                </li>
            </ul>
        </li>

        <% if current_user.is? :admin %>
            <!-- Páginas -->
            <li>
                <%= link_to manager_pages_path do %>
                    <i class="fa fa-bar-chart-o"><span class="icon-bg bg-success"></span></i><span>Páginas</span>
                <% end %>
            </li>
        <% end %>

        <%# if current_user.is? :admin %>
            <!-- Blog -->
            <!-- <li class="<%# current_page?(manager_blog_posts_path) ? 'active' : '' %>">
                <a href="#">
                    <i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span>Blog</span>
                </a>
                <ul class="<%# current_page?(manager_blog_posts_path) ? 'open' : '' %>">
                    <li>
                        <%# link_to manager_blog_posts_path do %>
                            <i class="fa fa-caret-right"></i><span>Posts</span>
                        <%# end %>
                    </li>
                    <li>
                        <%# link_to manager_blog_authors_path do %>
                            <i class="fa fa-caret-right"></i><span>Autores</span>
                        <%# end %>
                    </li>
                </ul>
            </li> -->
        <%# end %>

        <% if current_user.is? :admin %>
            <!-- SMS -->
            <li class="<%= current_page?(manager_sms_buys_path) ? 'active' : '' %>">
                <a href="#">
                    <i class="fa fa-mobile"><span class="icon-bg bg-violet"></span></i><span>SMS</span>
                </a>
                <ul class="<%= current_page?(manager_sms_buys_path) ? 'open' : '' %>">
                    <!-- <li>
                        <%# link_to manager_sms_buys_path do %>
                            <i class="fa fa-caret-right"></i><span>Compras</span>
                        <%# end %>
                    </li> -->
                    <!-- <li>
                        <%#= link_to manager_sms_campaigns_path do %>
                            <i class="fa fa-caret-right"></i><span>Campanhas</span>
                        <%# end %>
                    </li> -->
                    <li>
                        <%= link_to manager_sms_reports_path do %>
                            <i class="fa fa-caret-right"></i><span>Envios no mês</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to manager_sms_contacts_import_path do %>
                            <i class="fa fa-caret-right"></i><span>Importar XLS</span>
                        <% end %>
                    </li>
                </ul>
            </li>
        <% end %>
    </ul>
</div>
