
.clictem-campaign {

    border: 3px solid #fff;
    height: 297px;

    &:hover {
        border: 3px solid $tango + 50;
    }

    .hover-label{
      position: absolute;
      display: block;
      padding: 5px 20px;
      border-radius: 0px 0px 5px 0px;
    }

    &.selected, &.selected:hover {
        border: 3px solid $tango;
    }

    .clictem-date {
        font-size: 15px;
        padding: 10px;
        background: #eee;
        text-align: center;

        span {
            font-size: 20px;
        }
    }


    .clictem-banner {
        height: 215px;

        span {
            display: block;
            height: 215px;
            line-height: 215px;
            text-align: center;
            color: $pelorous;
            font-size: 20px;
            font-weight: bold;
        }
    }

}
