<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu' %>
    </div>
</div>

<%# hlp_site_breadcrumb_add('Minha Conta', site_minha_conta_url(subdomain: false)) %>
<%#= hlp_site_breadcrumb_render('Campanhas promocionais') %>

<div class="clearfix">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <h1 class="section-title-inner"><span><i class="fa fa-certificate"></i> Campanhas promocionais </span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 rightSidebar">
      <h4 class="caps">
        <%= link_to site_minha_conta_url(subdomain: false) do %>
          <i class="fa fa-chevron-left"></i> Voltar para minha conta
        <% end %>
      </h4>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="row userInfo">
            <div class="col-md-12">
                <%= flash_messages %>
                <h2 class="block-title-2"><span>Gerencie todas as duas campanhas promocionais.</span></h2>

                <!-- Menu -->
                <ul class="myAccountList row">

                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                        <div class="thumbnail equalheight">
                            <%= link_to offers_campaigns_path do %>
                                <i class="fa fa-certificate"></i> Lista de Ofertas
                            <% end %>
                        </div>
                    </li>

                    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                        <div class="thumbnail equalheight">
                            <%= link_to new_offers_campaign_path do %>
                                <i class="fa fa-plus-circle"></i> + Nova Campanha
                            <% end %>
                        </div>
                    </li>
                </ul>

                <div class="clear clearfix"></div>
            </div>
        </div>
        <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div>
