<% if advertiser_counter == 4 and @department != nil %>
    <%= hlp_banner_page('Banner 5', @department.id) %>
<% end %>

<% cache [advertiser] do %>
    <% if !advertiser.logo? %>
        <div class="advertiser-item free-plan col-md-12">
            <div class="row">
                <h3 class='col-md-8'>
                    <a href="<%= user_produtos_url(subdomain: advertiser.subdomain) %>" class="color2"><%= advertiser.name %></a>
                </h3>
                <div class="col-md-4 info">
                    <% if advertiser.city %>
                        <%= advertiser.city.name %> - <%= advertiser.state.symbol.upcase %> <br>
                    <% end %>
                    <%= link_to user_produtos_url(subdomain: advertiser.subdomain), class: 'btn-link color3' do %>
                    <strong>MAIS INFORMAÇÕES <i class="fa fa-plus-circle"></i></strong>
                <% end %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="advertiser-item col-md-12">
            <div class="logo">
                <%= link_to user_produtos_url(subdomain: advertiser.subdomain) do %>
                  <img src="<%= image_path(advertiser.logo_url(:thumb)) %>" alt="<%= advertiser.name %>" class="img-responsive">
                <% end %>
            </div>

            <div class="info">
                <h3>
                    <a href="<%= user_produtos_url(subdomain: advertiser.subdomain) %>" class="color2"><%= advertiser.name %></a>
                </h3>
                <%= advertiser.city.name %> - <%= advertiser.state.symbol.upcase %> <br>
                <%= link_to user_produtos_url(subdomain: advertiser.subdomain), class: 'btn-link color3' do %>
                <strong>MAIS INFORMAÇÕES <i class="fa fa-plus-circle"></i></strong>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
