<% if @product.has_cupom? %>
    <iframe name="printCupom" frameborder="0" width="450" height="330" class="hide"></iframe>

    <% if user_signed_in? %> <!-- USUÁRIO LOGADO -->

        <% cupom = current_user.my_cupoms.where(product_id: @product.id) %>
        <% if cupom.present? %>
            <%= link_to site_usuarios_url(:send_cupom, subdomain: false, code: cupom.first.code), remote: true, class: 'btn btn-success', data: { disable_with: 'AGUARDE! ESTAMOS ENVIANDO O E-MAIL' } do %>
                <i class="fa fa-ticket"></i> RE-ENVIAR CUPOM PARA E-MAIL
            <% end %>

            <%= link_to site_usuarios_url(:print_cupom, subdomain: false, code: cupom.first.code), target: 'printCupom', class: 'btn btn-default print-cupom' do %>
                <i class="fa fa-print"></i> IMPRIMIR CUPOM
            <% end %>

        <% else %>

            <% if @product.has_cupom_limit? %>
                <% if @product.cupom_generated >= @product.cupom_limit %>
                    <div class="alert alert-info">
                        <i class="fa fa-ticket"></i> <strong>CUPONS ESGOTADOS!</strong> <br>
                        Chegamos ao limite de <strong><%= @product.cupom_limit %></strong> cupons de desconto gerados. Curta nossa página no Facebook e acompanhe as melhores ofertas da região. <br>

                        <br>
                        <div class="fb-like-box" data-href="https://www.facebook.com/<%= @current_org.facebook %>" data-width="380" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    </div>
                <% else %>                    <%= link_to site_usuarios_url(:gen_cupom, subdomain: 'www', product: @product.id), remote: true, class: 'btn btn-success gen-cupom', data: { disable_with: 'AGUARDE! ESTAMOS GERANDO SEU CUPOM' } do %>
                        <i class="fa fa-ticket"></i> EMITIR CUPOM DE DESCONTO
                    <% end %>
                    <div><small>Oferta limitada a <strong><%= @product.cupom_limit %></strong> cupons gerados.</small></div>
                <% end %>
            <% else %>
                <%= link_to site_usuarios_url(:gen_cupom, subdomain: 'www', product: @product.id), remote: true, class: 'btn btn-success gen-cupom', data: { disable_with: 'AGUARDE! ESTAMOS GERANDO SEU CUPOM' } do %>
                    <i class="fa fa-ticket"></i> EMITIR CUPOM DE DESCONTO
                <% end %>
            <% end %>


        <% end %>

    <% else %> <!-- USUÁRIO PÚBLICO -->

        <% if @product.has_cupom_limit? %>
            <% if @product.cupom_generated >= @product.cupom_limit %>
                <div class="alert alert-info">
                    <i class="fa fa-ticket"></i> <strong>CUPONS ESGOTADOS!</strong> <br>
                    Chegamos ao limite de <strong><%= @product.cupom_limit %></strong> cupons de desconto gerados. Curta nossa página no Facebook e acompanhe as melhores ofertas da região. <br>

                    <br>
                    <div class="fb-like-box" data-href="https://www.facebook.com/<%= @current_org.facebook %>" data-width="380" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
            <% else %>
                <%= link_to page_acesso_path(prodCP: @product.slug), class: 'btn btn-success' do %>
                    <i class="fa fa-ticket"></i> EMITIR CUPOM DE DESCONTO
                <% end %>
                <br><small>Oferta limitada a <strong><%= @product.cupom_limit %></strong> cupons gerados.</small>
            <% end %>
        <% else %>
            <%= link_to page_acesso_path(prodCP: @product.slug), class: 'btn btn-success' do %>
                <i class="fa fa-ticket"></i> EMITIR CUPOM DE DESCONTO
            <% end %>
        <% end %>

    <% end %>
<% end %>
