<iframe name="printCupom" frameborder="0" width="450" height="330" class="hide"></iframe>

<div class="product-price color1">
    <small class="interest-title"><%= @product.interest_title %></small>
</div>

<div>
    <%= simple_format @product.interest_text %>
</div>

<div>
    <% if user_signed_in? %> <!-- USUÁRIO LOGADO -->

        <% cupom = current_user.my_cupoms.where(product_id: @product.id) %>
        <% if cupom.present? %>
            <%= link_to site_usuarios_url(:send_cupom, subdomain: 'www', code: cupom.first.code), remote: true, class: 'btn btn-success', data: { disable_with: 'AGUARDE! ESTAMOS ENVIANDO O E-MAIL' } do %>
                <i class="fa fa-ticket"></i> RE-ENVIAR PARA E-MAIL
            <% end %>

            <%= link_to site_usuarios_url(:print_cupom, subdomain: 'www', code: cupom.first.code), target: 'printCupom', class: 'btn btn-default print-cupom' do %>
                <i class="fa fa-print"></i> IMPRIMIR CUPOM DE INTERESSE
            <% end %>

        <% else %>

            <%= link_to site_usuarios_url(:gen_cupom, subdomain: 'www', product: @product.id), remote: true, class: 'btn btn-success gen-cupom', data: { disable_with: 'AGUARDE! ESTAMOS GERANDO SEU COMPROVANTE' } do %>
                <i class="fa fa-ticket"></i> ESTOU INTERESSADO
            <% end %>

        <% end %>

    <% else %> <!-- USUÁRIO PÚBLICO -->

        <%= link_to page_acesso_path(prodCP: @product.slug), class: 'btn btn-success' do %>
            <i class="fa fa-ticket"></i> ESTOU INTERESSADO
        <% end %>

    <% end %>
</div>

<br />
