<% if @product.on_request? or @product.price.to_f == 0 %>
    <div class="product-price">
            <small class="price-sales color1">CONSULTE O PREÇO</small>
    </div>
<% else %>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="BRL" />
        <% if @product.offer_valid? %>
            <div class="product-price">
                <span class="price-standard">
                    <small>DE <%= number_to_currency(@product.price.to_f) %></small>
                </span>
                <br />

                <div class="price-sales color1">
                    <small>POR </small>
                    <span itemprop="price" content="<%= @product.offer_price %>"><%= number_to_currency(@product.offer_price.to_f) %></span>
                    <% if @product.percentage_off > 5 %>
                        <span class='product-discount'> (<%= @product.percentage_off %>% <small>DE DESCONTO</small>)</span>
                    <% end %>
                </div>

            </div>
            <time itemprop="priceValidUntil" datetime="<%= l @product.offer_end, format: '%Y-%m-%d' %>"></time>
        <% else %>
            <div class="product-price">

                <span class="price-sales color1" itemprop="price" content="<%= @product.offer_price %>">
                        <% if @product.from_only? %>
                            <small>A partir de </small><br>
                        <% end %>
                    <%= number_to_currency(@product.price.to_f) %>
                </span>
            </div>
        <% end %>
    </div>

    <!-- Cupom de desconto -->
    <div class="row">
        <div class="col-md-12 cupom-actions">
            <%= render 'cupom_actions' %>
        </div>
    </div>
<% end %>
