<% cache [product, item_class, product.main_image.present?, product.updated_at, current_org.domain] do %>
<% product_css = item_class == 'col-md-3' ? item_class + ' col-sm-6' : item_class %>
<div class="item <%= product_css %> featuredImgLook2">
    <div class="product-item inner text-center border-hover1">
        <% if product.offer_valid? %>
            <div class="valid-offer">
                <% if product.cupom_valid? %>
                    <span class="valid-cupom-text"><i class="fa fa-ticket"></i> CUPOM DE DESCONTO<span>
                <% else %>
                    <span class="valid-offer-text bg1">Em OFERTA!</span>
                <% end %>
                <!-- <br /> -->
                <!-- <span class="discount">-<%#= product.percentage_off %>%</span> -->
            </div>
        <% end %>
        <div class="image">
            <%= link_to hlp_site_produtos_url(product), title: product.name do %>
                <% if product.main_image.present? %>
                    <img src="<%= image_path(product.main_image.file_url(:list)) %>" alt="<%= product.name %>" class="img-responsive" />
                <% else %>
                    <img src="<%= image_path("placeholder-#{ @current_org.name }-200.jpg") %>" class="img-responsive" alt="<%= "Aguarde carregar a imagem de #{product.name}" %>" />
                <% end %>

            <% end %>

            <div class="promotion">
                <% if product.is_old? %>
                    <span class="new-product bg1 has-tooltip" title="Produto Usado" data-placement="right"><i class="fa fa-refresh"></i></span>
                <% end %>

                <% if product.sold? %>
                    <span class="sold">VENDIDO</span>
                <% end %>
            </div>
        </div>
        <h3>
            <a href="<%= user_produtos_url(subdomain: product.user.subdomain) %>" class="product-advertiser color1">
                <span>
                <% if product.user_kind == 'pj' %>
                    <%= product.user_name %>
                <% else %>
                    <%= "#{product.user_name} #{product.user_last_name if product.user_last_name}" %>
                <% end %>
                </span>
            </a>
            <a href="<%= hlp_site_produtos_url(product) %>" class="product-name color2" title="<%= product.name%>"><%= truncate(product.name, length: 40, omission: " ...", :separator => ' ') %></a>
        </h3>
        <p class="description-grid-view color3"><%= truncate(product.description_strip, length: (product.name.size > 27 ? 66 : 72), :separator => ' ') %></p>
        <p class="description-list-view color3"><%= truncate(product.description_strip, length: 270, :separator => ' ') %></p>
        <div class="price">

            <% if product.on_request or product.price.to_f == 0 %>
                <span><small class="price-request color1">CONSULTE O PREÇO</small></span>

            <% elsif product.price > 0 and !product.on_request and !product.offer_valid? %>

                <% if product.from_only? %><small class="color1">A PARTIR DE </small><% end %>
                <span class="color1"><%= number_to_currency(product.price.to_f) %></span>

            <% elsif product.offer_valid? and !product.on_request %>
                <small class="old-price color3">
                    DE <%= number_to_currency(product.price.to_f) %>
                </small>

                <br />

                <span class="color1">
                    POR <strong><%= number_to_currency(product.offer_price.to_f) %></strong>
                </span>
            <% end %>
        </div>
    </div>
</div>
<% end %>
