<%# set_meta_tags({
    'product:price:amount' => (@product.on_request? ? '' : @product.offer_price.to_f),
    'product:price:currency' => 'BRL'
}) %>

<header class="row user-custom-header <%= 'hide-info' unless @product.user.show_info %>">
    <% if @product.user.show_info %>
        <%= render '/site/usuarios/partials/info' %>
    <% end %>
</header>

<%= hlp_site_breadcrumb_render(@product.name) %>

<section itemscope itemtype="http://schema.org/Product" class="row transitionfx">

    <div itemprop="name">
        <h1 class="section-title style2 text-center"><span class="color2"><%= @product.name %></span></h1>
    </div>

    <!-- left column -->
    <div class="col-sm-6 col-md-6 col-lg-6"  style="padding: 0px;">
        <!-- product Image and Zoom -->
        <div class="col-md-12 main-image">
            <% if @product.sold? %>
                <div class="show-sold">
                    <span>PRODUTO VENDIDO</span>
                </div>
            <% end %>

            <% total_images = @product.images.size %>
            <% if @product.main_image.present? %>
                <a class="fancybox" rel="product-gallery" href="<%= image_path(@product.main_image.file_url(:zoom))  %>" title="<%= "#{@product.name} - Imagem 1 de #{total_images}" %>">
                    <img id="main-image-zoom" rel="product-gallery" src="<%= image_path(@product.main_image.file_url(:main)) %>" data-zoom-image="<%= image_path(@product.main_image.file_url(:zoom)) %>" class="img-responsive" alt="<%= "#{@product.name} - Imagem 1 de #{total_images}" %>" itemprop="image" />
                </a>
            <% else %>
                <img id="main-image-zoom" src="<%= image_path("placeholder-#{ @current_org.name }.jpg") %>" class="img-responsive" alt="<%= "Aguarde carregar a imagem de #{@product.name}" %>" />
            <% end %>

            <div id="main-image-gallery">
                <% @product.images.offset(1).each_with_index do |image, i| %>
                    <% if image.file? %>
                        <a class="fancybox <%= 'hide' if i >= 4 %>" rel="product-gallery" href="<%= image_path(image.file_url(:zoom)) %>" title="<%= "#{@product.name} - Imagem #{i+2} de #{total_images}" %>">
                            <img src="<%= image_path(image.file_url(:thumb)) %>" class="img-responsive" alt="<%= "#{@product.name} - Imagem #{i+2} de #{total_images}" %>">
                        </a>
                    <% end %>
                <% end %>
            </div>
        </div>

    </div><!--/ left column end -->


    <!-- right column -->
    <div class="col-md-5 col-md-offset-1">
        <div class="product-info">
            <% if !@product.code.blank? %>
                <p class="product-code color2">
                    <small>Código do produto: </small> <strong><%= @product.code %></strong>
                </p>
            <% end %>

            <% if @product.brand %>
                <p class="color2">
                    <small>FABRICANTE</small>: <strong><%= @product.brand.name %></strong>
                </p>
            <% end %>

            <!-- Exibir preços ou gerar interesse -->
            <% if @product.has_interest? %>
                <%= render 'interest' %>
            <% else %>
                <%= render 'prices' %>
            <% end %>

            <%# unless @product.payment_description.blank? %>
                <!--  <p class="product-details color2">
                    <small>FORMA DE PAGAMENTO:</small> <br>
                    <%#= @product.payment_description %>
                </p> -->
            <%# end -%>

            <hr class="hr-short" />
            <div class="cart-actions" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <div class="addto">
                    <div class="clearfix"></div>
                    <% if @product.is_old? %>
                        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
                        <h3 class="incaps new-condition color3">
                            <i class="fa fa-refresh color3"></i>
                            Produto Usado
                        </h3>
                        <div class="clearfix"></div>
                    <% else %>
                        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/UsedCondition"/>
                    <% end -%>
                    <p>
                        <% if @product.sold? %>
                            <link itemprop="availability" href="http://schema.org/SoldOut" content="Sold Out"/>
                        <% else %>
                            <link itemprop="availability" href="http://schema.org/InStoreOnly" content="In Store Only"/>
                        <% end %>

                        <% if @product.has_cupom? and @product.cupom_note.present? %>
                            <p>
                                <strong>Observação sobre o cupom:</strong> <br>
                                <%= @product.cupom_note %>
                            </p>

                        <% end %>

                        <small class="color2">Verifique a disponibilidade com o anunciante.</small>
                    </p>

                    <% if !@seller.phone.blank? %>
                    <div class="data-phone color2" itemscope itemtype="http://schema.org/LocalBusiness">
                        <i class="fa fa-phone"></i>
                        <span itemprop="telephone">
                            <a href="#" class="show-phone color2"><%= truncate(@seller.show_phone, length: 12) %> <strong>ver telefone</strong></a>
                        </span>
                        <strong data-info-phone></strong> <br />

                        <% if !@seller.phone2.blank? %><i></i> <strong data-info-phone2></strong> <br /> <% end %>
                    </div>
                    <% end %>

                    <% if !@seller.cellphone.blank? and @seller.pf? %>
                    <div class="data-mobile color2" itemscope itemtype="http://schema.org/LocalBusiness">
                        <i class="fa fa-mobile <%= !@seller.phone.blank? ? 'hide' : '' %>"></i>
                        <span itemprop="telephone">
                            <% if @seller.phone.blank? %> <a href="#" class="show-phone"><%= truncate(@seller.show_phone, length: 12) %> <strong>ver telefone</strong></a> <% end %>
                        </span>
                        <strong data-info-mobile></strong>
                    </div>
                    <% end %>

                    <small class="show-phone-message hide color3"><br />Ao ligar, diga que viu o anúncio no <strong class="color2"><%= @current_org.fullname %></strong> <br /></small>


                </div>
            </div>
            <!--/.cart-actions-->

            <!-- <hr> -->
            <div itemscope itemtype="http://schema.org/Offer">
                <div class="product-advertiser color2">
                    <p>
                        Este é um anúncio oferecido <%= @seller.pj? ? 'pela empresa' : 'por' %>
                        <%= link_to user_produtos_url(subdomain: @seller.subdomain), class: 'color1 with-border', title: "Clique aqui e veja os outras ofertas deste anunciante. =D" do %>
                            <%= @seller.name %> <%= @seller.last_name if @seller.pf? %>
                        <% end %>
                        <%= @seller.pj? ? ', localizada em' : 'em' %> <strong><%= @seller.city.name %> - <%= @seller.state.symbol.upcase %></strong><%= @seller.pj? ? ', bem pertinho de você' : '' %>.
                    </p>

                    <hr />

                    <p>
                        <a href="#" class="scroll-comment btn btn-primary btn-lg bg1 border1">
                            <i class="fa fa-comments-o"></i> (Chat) Pergunte ao Anunciante
                        </a>
                    </p>

                    <hr />
                    <%# if Rails.env.production?
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52143a7f7f181eac" async="async"></script>
                    %>
                    <p> Compartilhe:
                        <div class="fb-like" data-href="<%= request.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    </p>
                    <%# end %>
                </div>
            </div>

            <div class="product-legalinfo">
                O <%= @current_org.fullname %> não vende este produto e não participa de qualquer parte da negociação, limitando-se apenas a anunciar produtos dos seus usuários. Não nos responsabilizamos por qualquer problema proveniente da negociação deste produto/serviço.
            </div>
        </div>

    </div><!--/ right column end -->

</section>
<!--/.row-->

<section class="row">
    <div class="col-md-12 product-tab" >

        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Descrição do produto</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active color1" id="details" itemprop="description">
                <%= simple_format @product.description %>
            </div>
        </div> <!-- /.tab content -->

    </div><!--/.product-tab-->
</section>

<div class="clear"></div>
<hr />
<section class="row">
    <div class="col-md-12 product-tab">
        <h3 class="color2" id="comentarios"><i class="fa fa-comments-o"></i> Comentários e Dúvidas</h3>
        <div class="comments-form"></div>
        <hr>
        <div class="comments-list"></div>
    </div><!--/.product-tab-->
</section>

<div id="visit-data"
    data-ad="<%= @product.id %>"
    data-department="<%= @product.department_id %>"
    data-category="<%= @product.category_id %>"
    data-owner="<%= @product.user_id %>"
    data-visitor="<%= (user_signed_in? ? current_user.id : nil) %>"
></div>

<section class="row recommended">
    <h3 class="color2"> ANÚNCIOS RELACIONADOS </h3>
    <div id="SimilarProductSlider">
        <%= render partial: 'product', collection: @rel_prods, locals: { item_class: '' } %>
    </div>  <!--/.recommended-->
</section>


<% if user_signed_in? and @product.has_cupom? %>
    <!-- Modal pra confirmação de envio de cupom -->
    <div class="modal fade" id="modalCupomSent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel2">
              <i class="fa fa-ticket"></i> CUPOM DE DESCONTO
            </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success">
                Seu cupom foi enviado para o e-mail <strong><%= current_user.email %></strong>.
            </div>
            <p>
                Você também pode acessar todos os seus cupons gerados através da opção <strong><%= link_to 'Minha Conta (clique aqui)', site_usuarios_url(:meus_cupons, subdomain: false) %>.</strong>
            </p>
          </div>
          <div class="modal-footer">

            <% cupom = current_user.my_cupoms.where(product_id: @product.id) %>
            <% if cupom.present? %>
                <%= link_to(site_usuarios_url(:print_cupom, subdomain: false, code: cupom.first.code), target: "printCupom", class: "btn btn-default print-cupom") do %><i class="fa fa-print"></i> IMPRIMIR CUPOM<% end %>
            <% end %>


            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

          </div>
        </div>
      </div>
    </div>
<% end %>




<% if user_signed_in? and @product.has_interest? %>
    <!-- Modal pra confirmação de envio de cupom -->
    <div class="modal fade" id="modalInterestSent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel2">
              <i class="fa fa-ticket"></i> COMPROVANTE DE INTERESSE
            </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-success">
                Seu comprovante foi enviado para o e-mail <strong><%= current_user.email %></strong>.
            </div>
            <p>
                Você também pode acessar todos os seus comprovantes ou cupons gerados através da opção <strong><%= link_to 'Minha Conta (clique aqui)', site_usuarios_url(:meus_cupons, subdomain: false) %>.</strong>
            </p>
          </div>
          <div class="modal-footer">

            <% cupom = current_user.my_cupoms.where(product_id: @product.id) %>
            <% if cupom.present? %>
                <%= link_to(site_usuarios_url(:print_cupom, subdomain: false, code: cupom.first.code), target: "printCupom", class: "btn btn-default print-cupom") do %><i class="fa fa-print"></i> IMPRIMIR COMPROVANTE<% end %>
            <% end %>


            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>  Fechar</button>

          </div>
        </div>
      </div>
    </div>
<% end %>


<%= hlp_banner_page('Banner 6') %>
