<div class="row">
    <div class="breadcrumbDiv col-md-12">

        <ul class="breadcrumb">
            <li><span class="breadcrumb-text">Você está em: </span> <a href="/">Home</a> </li>
            <li><%= link_to @department.name, department_path(@department.slug) %> </li>
            <li><%= link_to @category.name, category_url(@department.slug, @category.slug,subdomain: false) %> </li>
            <li class="active"><%= @product.name %> </li>
        </ul>
    </div>
</div>

<h1 class="product-title"><i class="fa fa-exclamation-circle"></i> Anúncio não publicado</h1>
<p>
    Ops, esse anúncio não está on-line.
</p>
