<li class="supportLi">
    <% if !user.phone.blank? %>
        <h4><strong><i class="fa fa-phone"></i> <%= user.phone %></strong></h4>
    <% end %>

    <% if !user.cellphone.blank? and user.kind == 'pf' %>
        <h4><strong><i class="fa fa-mobile"></i> <%= user.cellphone %></strong></h4>
    <% end %>
</li>

<li>
	Ao ligar, diga que viu o anúncio no <strong><%= @current_org.fullname %></strong>
</li>
