<%= hlp_site_breadcrumb_render("Emita seus cupons") %>

<div class="row">
    <!--left column-->

    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <% if @related.size > 0 %>
                    Destaque

                    <% @related.each do |user| %>
                        <%= link_to user_produtos_url(subdomain: user.subdomain) do %>
                            <%= image_tag(user.logo_url(:highlight), class: 'img-responsive') %>
                            <br>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="panel-group" id="accordionNo">

            <!--Category-->
            <% @departments.each do |department| %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"  href="#collapseCategory" class="collapseWill">
                                <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
                                <%= department.name %>
                            </a>
                        </h4>
                    </div>

                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                <% department.categories.where(id: @categories).each do |cat| %>
                                <li class="<%= hlp_active_menu(category_url(department.slug, cat.slug,subdomain: false)) %> dropdown-tree open-tree">
                                    <a href="<%= cupons_url(category: cat.id, subdomain: false) %>" class="dropdown-tree-a">
                                        <% if cat.products.size > 0 %>
                                            <span class="badge pull-right">
                                                <%= @categories.grep(cat.id).size %>
                                            </span>
                                        <% end %>

                                        <i class="fa fa-chevron-right"></i> <%= cat.name %>
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">

        <div class="w100 clearfix category-top">
            <h2> Emita seus cupons abaixo </h2>
        </div><!--/.category-top-->

        <!-- Lista de produtos -->
        <div class="w100 productFilter clearfix">
            <% if @products.class != Array %>
                <p class="pull-left"> Foram encontrados <strong><%= @products.total_count %></strong> anúncios </p>
            <% end %>
            <div class="pull-right">
                <div class="change-view pull-right">
                <a href="#" title="Grade" class="grid-view"> <i class="fa fa-th-large"></i> </a>
                <a href="#" title="Lista" class="list-view "><i class="fa fa-th-list"></i></a> </div>
            </div>
        </div> <!--/.productFilter-->

        <div class="row categoryProduct xsResponse clearfix">
            <%= render partial: 'product', collection: @products, locals: { item_class: 'col-md-4' } %>
        </div> <!--/.categoryProduct || product content end-->



        <div class="w100 categoryFooter">
            <div class="clearfix">
                <div class="col-md-12">
                    <% if @products.class != Array %>
                        <div class="hide"><%= paginate @products %></div>
                    <% end %>
                </div>
            </div>
            <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                <!-- <p>Showing 1–450 of 12 results</p> -->
            </div>
        </div> <!--/.categoryFooter-->
    </div><!--/right column end-->
</div><!-- /.row  -->
