$(".categoryProduct").append("<%= js render(partial: 'product', collection: @products) %>");

setTimeout(function(){

    if ($('.list-view').attr('data-active') == 'true'){
        $('.item').addClass("list-view");
    }else{
        $('.item').removeClass("list-view");
    }

}, 800);
