<% the_name = (@category && @category.name) || @department.name %>
<% the_name = "#{the_name} (Serviços)" if @is_service %>
<%#= hlp_site_breadcrumb_render(the_name) %>

<%= hlp_banner_page('Banner 4', @department.id) %>

<div class="row">
    <div class="col-md-12">
        <div class="w100 clearfix category-top">
            <h1 class="section-title style2 text-center">
                <span><%= link_to @department.name, department_url(@department.slug, subdomain: false) %> <%= "> #{@category.name}" if @category %> <%= "(Serviços)" if @is_service %></span>
            </h1> 
            <% if @user_premium.count > 0 %>
                <h5 style="color: #9c9c9c; text-align: center;">Parceiros de sucesso</h5>
            <% end %>           
        </div>

        <!-- Todas as empresas participantes desta categoria -->
        <div class="row">
            <div class="col-md-12">
                <div class="slide-clients hide">                    
                    <% @user_premium.each do |client| %>
                        <% next if !client.stamp? %>
                        <% if client.has_website %>
                            <a href="<%= client.website_com_http %>" target="_blank">
                                <%= image_tag(client.stamp_url) %>
                            </a>
                        <% else %>
                            <a href="<%= user_produtos_url(subdomain: client.subdomain) %>">
                                <%= image_tag(client.stamp_url) %>
                            </a>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>


        <!-- Lista de anunciantes -->
        <% if @associados != nil and @associados.size > 0 %>
            <div class="w100 productFilter clearfix">
                <% if @associados.class != Array %>
                    <% if @associados.size == 1 %>
                        <p class="pull-left"> Foi encontrado <strong>1</strong> associado neste departamento</p>
                    <% else %>
                        <p class="pull-left"> Foram encontrados <strong><%= @associados.size %></strong> associados neste departamento </p>
                    <% end %>
                <% end %>
            </div> <!--/.productFilter-->

            <div class="clearfix">
                <%= render partial: 'advertiser', collection: @associados %>              
            </div> <!--/.categoryProduct || product content end-->
        <% end %>

        <div class="w100 productFilter clearfix">
            <div class="pull-left">Foram encontrados <strong><%= @products.total_count %></strong> anúncios em &nbsp;
                <% cache(["product-index-categories", request.url], expires_in: 7.days) do %>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle bg1" data-toggle="dropdown" aria-expanded="false">
                        <%= @department.name %> <%= "> #{@category.name}" if @category %> <%= "(Serviços)" if @is_service %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <% if @categories %>
                            <% @categories.on_menu.each do |cat| %>
                                <% cache hlp_categories_cache("aside-cats#{request.url}/#{cat}/#{@is_service}" ) do %>
                                <li class="<%= hlp_active_menu(category_url(@department.slug, cat.slug,subdomain: false)) %>">
                                    <a href="<%= category_url(@department.slug, cat.slug, (@is_service ? 'servicos' : nil) ,subdomain: false) %>" class="<%= 'bg1' if request.url == category_url(@department.slug, cat.slug,subdomain: false) %>">
                                        <%= cat.name %>

                                        <% if @is_service
                                            size = cat.products.services.published.size
                                        else
                                            size = cat.products.published.size
                                        end %>

                                        <% cache ["products_size", size, (@products.first ? @products.first.cache_key : nil)] do %>
                                            <%= "(#{size})" if size > 0 %>
                                        <% end %>
                                    </a>
                                </li>
                                <% end %>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
                <% end %>
            </div>

            <div class="pull-right">
                <div class="change-view pull-right">
                    <a href="#" title="Grade" class="grid-view color1"> <i class="fa fa-th-large"></i> </a>
                    <a href="#" title="Lista" class="list-view color1"><i class="fa fa-th-list"></i></a>
                </div>
            </div>
        </div>

        <div class="row categoryProduct xsResponse clearfix">
        <% cache(["index-product", (@products.first ? @products.first.cache_key : nil), the_name], expires_in: 7.days) do %>
            <% @products.each_with_index do |product, i| %>
                <%= render 'product', product: product, item_class: 'col-md-3' %>

                <% if i == 7 %>
                    <%= hlp_banner_page('Banner 5', @department.id) %>
                <% end %>
            <% end %>


            <%#= render partial: 'product', collection: @products, locals: { item_class: 'col-md-3' } %>
        <% end %>
        </div> <!--/.categoryProduct || product content end-->

        <div class="clearfix"></div>
        <%= hlp_banner_page('Banner 6', @department.id) %>
        <div class="categoryFooter">
            <div class="clearfix">
                <div class="col-md-12">
                    <div class="hide"><%= paginate @products %></div>
                </div>
            </div>
        </div>
    </div>
</div>
