<% if @product.published? %>
    <%= render 'show_product' %>
<% else %>
    <%= render 'show_unpublished' %>
<% end %>

<%= content_for :javascript do %>
<script>

  	function exibeAguardando(){
  	   $('.aguarde').removeClass('hide');
       $('.comentar').addClass('hide');
       $('.aguarde').parents('form').find('textarea').attr('readOnly', true)
  	}

    $(function() {
        $('body,html').animate({
            scrollTop: $('.main-container').offset().top
        }, 1000);

        <%= @prodCP %>
        <%= @product.has_interest %>

        <% if @prodCP == true && @product.has_interest == false %>
            $('#modalCupomSent').modal();
        <% elsif @prodCP == true && @product.has_interest == true %>
            $('#modalInterestSent').modal();
        <% end %>
    });
</script>
<% end %>
