<div class="row">
<%= simple_form_for @author, url: (@author.new_record? ? manager_blog_authors_path : manager_blog_author_path(@author)) do |f| %>
  <%= f.error_notification %>

    <div class="col-md-12">
        <section class="panel panel-default">
                <div class="panel-body">
                    <%= f.error_notification %>

                    <%= f.input :title %>

                    <%= f.input :subtitle %>

                    <%= f.input :name %>

                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :image,
                                as: :image_preview,
                                input_html: { preview_version: :thumb }
                            %>
                        </div>

                        <div class="col-md-8">
                            <%= f.input :bio, input_html: { class: "redactor" } %>
                        </div>
                    </div>


                    <%= hlp_application_btn_submit('autor') %>
                </div>
        </section>
    </div>

<% end %>
</div>
