<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Autores de blogs </strong>
            <%= link_to "+ Adicionar", new_manager_blog_author_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Título do Blog</th>
                    <th>Escreve sobre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @authors.each do |author| %>
                <tr>
                    <td><%= link_to author.title, edit_manager_blog_author_path(author) %></td>
                    <td><%= author.subtitle %></td>
                    <td>
                        <a href="<%= edit_manager_blog_author_path(author) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_blog_author_path(author), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
