<div class="row">
    <div class="breadcrumbDiv col-lg-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> </li>
            <li><a href="/acesso">Acesso</a></li>
            <li class="active"> Acessando com sua conta </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner text-center"><span><i class="fa fa-sign-in"></i> Acesse agora mesmo a sua conta!</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps">
        <%= link_to page_acesso_path do %>
          <i class="fa fa-chevron-left"></i> Voltar
        <% end %>
      </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row userInfo">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="block-title-2"><span>Já tenho uma conta</span></h2>
                <%= simple_form_for(
                        User.new,
                        :as => resource_name,
                        :url => session_path(resource_name)
                    ) do |f| %>

                    <%= f.input :email, placeholder: "Insira seu E-mail" %>
                    <%= f.input :password, required: true, autocomplete: "off", placeholder: "e a sua Senha" %>

                    <div class="form-group">
                        <% if devise_mapping.rememberable? -%>
                          <%= f.label :remember_me, style: 'font-weight: normal; cursor:pointer', class: "text-muted text-small" do %>
                                <%= f.check_box :remember_me %>
                                Lembrar dados
                            <% end %>
                        <% end -%>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg"><i class="fa fa-sign-in"></i> Acessar minha conta</button>
                <% end %>
                <hr />

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <p class="text-center"><%= link_to "Esqueceu a senha?", new_password_path(resource_name) %></p>
                <% end -%>

				<hr />

                <h2 class="block-title-2"><span>Criar uma nova conta?</span></h2>
                <%= link_to  new_user_registration_path, class: 'btn btn-primary btn-block btn-lg bg1 border1' do %>
                    <i class="fa fa-user"></i> Criar uma nova conta
                <% end %>

                <!--
                <h2 class="block-title-2"><span>Entrar com minha conta do Facebook</span></h2>
                <%= link_to  user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block btn-lg' do %>
                    <i class="fa fa-facebook"></i> Acessar com Facebook
                <% end %>
                -->

            </div>



        </div>
        <!--/row end-->

    </div>

    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
</div> <!--/row-->
