<tr class="sms-buy<%= buy.id %>">
  <td><%= l buy.created_at, format: :long %></td>
  <td class="text-center"><%= buy.qtd %></td>
  <td class="text-right"><%= number_to_currency(buy.value) %></td>
  <td>
    <% if buy.active %>
      <span class="label label-success">Ativo</span>
    <% else %>
    <span class="label label-warning">Aguardando</span>
    <% end %>
  </td>
  <td class="text-right">
    <% if !buy.active %>
      <%= link_to buy, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-xs btn-link', remote: true do %>
  		<i class="fa fa-trash-o"></i> Excluir compra
      <% end %>
    <% end %>
  </td>
</tr>
