<%= simple_form_for(@sms_buy, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :value %>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :qtd, label: false, as: :string, input_html: { class: 'input-lg text-center' } %>
    </div>

    <div class="col-md-2">
      <a class="btn btn-success btn-block btn-lg sms-buys-button" data-toggle="modal" data-target="#sms-buy-confirm" href="#">
        <i class="fa fa-check"></i> Contratar
      </a>
    </div>

    <div class="col-md-2">
      Total a pagar: <br>
      <strong class="sms-buy-total">R$ 30,00</strong>
    </div>
  </div>

  <div class="row hide sms-buy-alert">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i> Você deve contratar no mínimo <strong>150 mensagens</strong>.
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="sms-buy-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirmar compra de SMS</h4>
        </div>
        <div class="modal-body">
            Confimar a contratação de mais <strong class="total">150 créditos</strong> de SMS, no valor total de <strong class="value">R$ 30,00</strong> ?
            <br>
            <br>
            <h4><strong>Importante lembrar:</strong></h4>
            <ul class="list">
                <li>
                    Você deve contrar no mínimo <strong>150 mensagens</strong>.
                </li>
                <li>
                    Atualmente, você tem um total de <strong><%= pluralize(current_user.customers.size, 'contato', 'contatos') %></strong>.
                </li>
                <li>
                    Após a contratação, você deve aguardar pelo menos <strong>uma hora</strong> para liberar as mensagens.
                </li>
                <li>
                    A liberação deverá ocorrer de <strong>segunda</strong> a <strong>sexta</strong>, das <strong>8:30h</strong> até <strong>12h</strong>, e das <strong>13:30h</strong> até <strong>18h</strong>.
                </li>
                <li>
                    Após a liberação, a data de validade de utilização renova para <strong>90 dias</strong> a partir da data atual.
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Confirmar compra</button>
        </div>
      </div>
    </div>
  </div>


<% end %>
