<% if current_user.valid? %>
    <h1>Contratar mais SMS</h1>
    <%= render 'form' %>
<% else %>
    <h2>Por favor, complete seus dados</h2>
    <p>
        Antes de continuar com o processo de contratação de SMS, precisamos que você complete o seu cadastro.
    </p>

    <%= simple_form_for(
            @user,
            url: sms_update_user_path,
            html: { method: :put, class: 'form-horizontal form-validate', novalidate: true },
            wrapper: :horizontal_form
        ) do |f|
    %>
        <div class="row">
            <div class="col-md-9">
                <%= f.error_notification %>
                <%= render 'site/produto/partials/form_user', f: f %>

                <div class="cartFooter">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-small pull-right">
                            <strong>Atualizar</strong> meu cadastro &nbsp;
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div><!--/row end-->
            </div>
        </div>
    <% end %>
<% end %>




<br>

<div class="row">
    <div class="col-md-8">
        <h4><strong>Observações</strong></h4>
        <ul class="list">
            <li>
                Você deve contrar no mínimo <strong>150 mensagens</strong>.
            </li>
            <li>
                Atualmente, você tem um total de <strong><%= pluralize(current_user.customers.size, 'contato', 'contatos') %></strong>.
            </li>
            <li>
                Após a contratação, você deve aguardar pelo menos <strong>uma hora</strong> para liberar as mensagens.
            </li>
            <li>
                A liberação deverá ocorrer de <strong>segunda</strong> a <strong>sexta</strong>, das <strong>8:30h</strong> até <strong>12h</strong>, e das <strong>13:30h</strong> até <strong>18h</strong>.
            </li>
            <li>
                Após a liberação, a data de validade de utilização renova para <strong>90 dias</strong> a partir da data atual.
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <h4><strong>Valores</strong> <small>por mensagem</small></h4>
        <ul class="list">
            <li>Até 499 SMS: <strong>R$ 0,20</strong></li>
            <li>De 500 a 999 SMS: <strong>R$ 0,18</strong></li>
            <li>De 1.000 a 1.999 SMS: <strong>R$ 0,16</strong></li>
            <li>Acima de 2.000 SMS: <strong>R$ 0,14</strong></li>
        </ul>
    </div>
</div>




