<% if @sms_buy.errors.any? %>
    $('#sms_buy_qtd').val('150');
<% else %>
    $('.table-sms-buys').prepend('<%= j render @sms_buy %>');
    $('#sms_buy_qtd').val('150');
    $('#sms-buy-confirm').modal('hide');
    setTimeout(function(){
        $('.sms-buy<%= @sms_buy.id %>').flash(1000, 4)
    }, 1000)
<% end %>
