<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <div id="sms-buy-form">
          <%= render '/sms/buys/new' %>
        </div>

         <br><br>

        <div class="panel panel-default">

            <div class="panel-heading">
                HISTÓRICO DE COMPRAS DE SMS
            </div>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Data da compra</th>
                  <th class="text-center">Quantidade</th>
                  <th class="text-right">Valor</th>
                  <th>Status</th>
                  <th class="text-right"></th>
                </tr>
              </thead>

              <tbody class="table-sms-buys">
                <%= render @sms_buys %>
              </tbody>
            </table>

        </div>

    </div>
</div>
