<div class="home call-one">
	<div class="container">
		<div class="col-md-4">
			<% url = (user_signed_in? ? site_produtos_url(:anuncio_2, subdomain: false) : page_acesso_url(subdomain: false) ) %>
			<%= link_to image_tag('icon-gratis.png'), url %>
			<p>
				Publique seu <br>
				anúncio gratuitamente.
			</p>
		</div>

		<div class="col-md-4">
			<%= image_tag('icon-audiencia.png') %>
			<p>
				Você aproveita a <br>
				audiência do nosso site.
			</p>
		</div>

		<div class="col-md-4">
			<%= image_tag('icon-consumer.png') %>
			<p>
				Conheça e interaja <br>
				com seus consumidores.
			</p>
		</div>		
	</div>
</div>