<% if @campaigns.size > 0 %>
    <div class="container">
        <h2 class="section-title style2 text-center">
            <span>CAMPANHAS</span>
        </h2>
    </div>

    <div class="container">
        <div class="clearfix">
            <div class="col-md-12">
                <div class="slide-campaign hide">
                    <% @campaigns.each do |campaign| %>
                        <div>
                            <a href="<%= themed_campaign_url(subdomain: campaign.subdomain) %>">
                                <%= image_tag(campaign.img_7_url) if campaign.img_7? %>
                            </a>
                        </div>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
<% end %>
