
<hr class="no-margin-top">
<div class="width100 section-block  text-center">
    <div class="row featuredImgLook2">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="inner">
                <a href="#" class="img-link">
                    <img alt="img" class="img-responsive" src="<%= image_path('theme/featured/1.jpg') %>">
                </a>
                <h3> <span>Latest Arrivals</span> demonstraverunt lectores </h3>
                <p>We are very pleased to announce the availability of many new emerging designers</p>
                <a class="btn btn-link"> See More <i class="fa fa-long-arrow-right"></i> </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="inner" style="height: 414px;"> <a href="#" class="img-link"><img alt="img" class="img-responsive" src="<%= image_path('theme/featured/2.jpg') %>"></a>
                <h3><span> Summer 2014 </span> demonstraverunt lectores </h3>
                <p>We are very pleased to announce the availability of many new emerging designers</p>
                <a class="btn btn-link"> See More <i class="fa fa-long-arrow-right"></i> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="inner" style="height: 414px;"> <a href="#" class="img-link"><img alt="img" class="img-responsive" src="<%= image_path('theme/featured/3.jpg') %>"></a>
                <h3> <span> Latest Offers </span> demonstraverunt lectores </h3>
                <p>We are very pleased to announce the availability of many new emerging designers</p>
                <a class="btn btn-link"> See More <i class="fa fa-long-arrow-right"></i> </a> </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="inner" style="height: 414px;"> <a href="#" class="img-link"><img alt="img" class="img-responsive" src="<%= image_path('theme/featured/4.jpg') %>"></a>
                <h3> <span> New Look </span> demonstraverunt lectores </h3>
                <p>We are very pleased to announce the availability of many new emerging designers </p>
                <a class="btn btn-link"> See More <i class="fa fa-long-arrow-right"></i> </a> </div>
        </div>
    </div>
</div>
<!--/.section-block-->

<%# MARCAS %>
<div class="width100 section-block">
    <h3 class="section-title"><span> ANUNCIANTES</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i class="fa fa-angle-left"></i> </a> </h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="no-margin brand-carousel owl-carousel owl-theme">
                <li> <a><img src="<%= image_path('theme/brand/1.gif') %>" alt="img" ></a></li>
                <li><img src="<%= image_path('theme/brand/2.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/3.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/4.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/5.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/6.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/7.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/8.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/1.gif') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/2.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/3.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/4.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/5.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/6.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/7.png') %>" alt="img" ></li>
                <li><img src="<%= image_path('theme/brand/8.png') %>" alt="img" ></li>
            </ul>
        </div>
    </div>
</div>
<!--/.section-block-->
