<div style="clear:both"></div>
<div class="col-md-12">
    <hr class="hr3">
</div>
<div class="row featuredPostContainer ">
    <div class="featuredImageLook3 col-md-12">
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell">
                            <div class="box-text-cell-inner dark">
                                <a href="/moda">
                                    <h1 class="uppercase">Moda</h1>
                                    <p>Lançamentos Primavera-Verão para você que gosta de andar na moda.</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title">Moda</div>
                <a class="img-block" href="/moda">
                    <img class="img-responsive" src="<%= image_path('home/destaque-moda.jpg') %>" alt="Moda">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell ">
                            <div class="box-text-cell-inner dark">
                                <a href="/beleza-e-perfumaria">
                                    <h1 class="uppercase">Beleza</h1>
                                    <p>Make-ups, perfumes e cremes. Tudo para você ficar ainda mais bela.</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title">Beleza</div>
                <a class="img-block" href="/beleza-e-perfumaria">
                    <img class="img-responsive" src="<%= image_path('home/destaque-beleza.jpg') %>" alt="Beleza">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell ">
                            <div class="box-text-cell-inner dark">
                                <a href="/veiculos">
                                    <h1 class="uppercase">Veículos</h1>
                                    <p>Carros e motos novos e usados em um só lugar.
    Também veja nossa loja de acessórios para turbinar seu veículo!</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title">Veículos</div>
                <a class="img-block" href="/veiculos">
                    <img class="img-responsive" src="<%= image_path('home/destaque-veiculos.jpg') %>" alt="img">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell ">
                            <div class="box-text-cell-inner dark">
                                <a href="/moda/categoria/joias-otica-e-relogios">
                                    <h1 class="uppercase">Ótica e Joalheria</h1>
                                    <p>Joias, óculos, relógios e acessórios que vão completar o seu estilo.</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title">Ótica e Joalheria</div>
                <a class="img-block" href="/moda/categoria/joias-otica-e-relogios">
                    <img class="img-responsive" src="<%= image_path('home/destaque-joalheria.jpg') %>" alt="Ótica e Joalheria">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell ">
                            <div class="box-text-cell-inner dark">
                                <a href="/informatica">
                                    <h1 class="uppercase">Informática</h1>
                                    <p>Os últimos lançamentos em informática, tablets e celulares.</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title"> Informática</div>
                <a class="img-block" href="/informatica">
                    <img  class="img-responsive" src="<%= image_path('home/destaque-info.jpg') %>" alt="Informática e Eletrônicos">
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xs-min-12">
            <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                    <div class="box-text-table">
                        <div class="box-text-cell ">
                            <div class="box-text-cell-inner dark">
                                <a href="/esporte-e-saude/categoria/esporte-e-lazer">
                                    <h1 class="uppercase">Bicicletas</h1>
                                    <p>Bicicletas para todos os gostos, para lazer ou esporte.</p>
                                    <hr class="submini">
                                    <span class="text-center">CONFIRA!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.box-content-overly -->
                <div class="img-title"> Bicicletas</div>
                <a class="img-block" href="/esporte-e-saude/categoria/esporte-e-lazer">
                    <img class="img-responsive" src="<%= image_path('home/destaque-bike.jpg') %>" alt="Bicicletas">
                </a>
            </div>
        </div>
    </div>
    <!--/.featuredImageLook3-->
</div>
<!--/.featuredPostContainer-->
