<div class="w100 sectionCategory">
    <div class="container">
        <div class="sectionCategoryIntro text-center">
            <h1><%= @current_org.fullname %></h1>
            <p> O melhor, mais moderno e definitivo <strong>PORTAL</strong> de anúncios e ofertas de <strong>CHAPECÓ</strong> e região!</p>
        </div>
        <div class="row subCategoryList clearfix">
            <div class="col-md-2 col-sm-3 col-xs-4  col-md-offset-1  text-center ">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%= image_path('home/destaques-clictem-anuncie.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Anúncios Grátis </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%= image_path('home/destaques-clictem-loja.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Sua Loja na Internet </span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%= image_path('home/destaques-clictem-blogs.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Conteúdo Envolvente </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%= image_path('home/destaques-clictem-desejo.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Faça sua Lista de Desejos </span></a></div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%= image_path('home/destaques-clictem-fb.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Compartilhe em Redes Sociais </span></a></div>
            </div>
            <!-- <div class="col-md-2 col-sm-3 col-xs-4 col-xs-mini-6 text-center">
                <div class="thumbnail equalheight">
                    <a class="subCategoryThumb" href="#">
                        <img src="<%#= image_path('home/destaques-clictem-anuncie.jpg') %>" class="img-rounded" alt="img">
                    </a>
                    <a class="subCategoryTitle"><span> Fragrances </span></a></div>
            </div> -->
        </div><!--/.row-->

    </div>
    <!--/.container-->
</div>
<!--/.sectionCategory-->
