<div class="home most-view">
	<div class="container">
		<% @deps.each_with_index do |department, i| %>
			<% if department.products.published.count > 0 %>
				<hr class="hr3" />

				<h2 class="section-title style2 text-center">
					<span><%= link_to department.name, department_url(department.slug,subdomain: false) %></span>
				</h2>

				<div class="row">
					<% department.products.includes(:user).limit(4).published.ordered.each do |product| %>
						<%= render partial: 'site/products/product', locals: { product: product,item_class: 'col-md-3' } %>
					<% end %>
				</div>
			<% end %>

			<% if i == 1 %>
				<hr class="hr3" />
				<%= hlp_banner_page('Banner 2') %>
			<% end %>

		<% end %>
	</div>
</div>
