<div class="row home promo">
	<a href="http://natal.clictem.com" class="banner"></a>

	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-2">
				<% if @products_highlight %>
				    <% if @products_highlight.size > 0 %>
				        <div id="productShowCase" class="owl-carousel owl-theme">
				            <% @products_highlight.each do |product| %>

				              <div class="product-slide">
				                <div class="col-md-5 product-slide-left" >
				                    <a class="product-slide-img" href="<%= hlp_site_produtos_url(product) %>">
				                        <% if product.image1? %>
				                            <img src="<%= image_path(product.image1_url(:main)) %>" alt="<%= product.name %>" class="img-responsive">
				                        <% else %>
				                            <!-- <img src="<%#= image_path("placeholder-#{ @current_org.name }.jpg") %>" class="img-responsive" alt="<%#= "Aguarde carregar a imagem de #{product.name}" %>"> -->
				                        <% end %>
				                    </a>
				                </div>
				                <div class="col-md-7">
				                  <div class="product-slide-inner">
				                    <h1 class="product-title"> <a href="<%= hlp_site_produtos_url(product) %>"><%= truncate(product.name, length: 70, omission: " ...", :separator => ' ') %></a></h1>
				                    <h3><a class="product-advertiser" href="<%= user_produtos_url(subdomain: product.user.subdomain) %>"><span><%= product.user.name %></span></a></h3>
				                    <div class="product-price">

				                        <% if product.on_request? or product.offer_price.to_f == 0.0 %>
				                            <span class="price-sales">Consulte o Preço</span>
				                        <% else %>
				                            <% if product.price > product.offer_price %>
				                                <span class="price-standard">
				                                    <small>De</small> <%= number_to_currency(product.price) %>
				                                </span> <br />
				                                <span class="price-sales">
				                                    <small>Por</small> <%= number_to_currency(product.offer_price) %>
				                                </span>
				                            <% else %>
				                                <span class="price-sales"><%= number_to_currency(product.offer_price) %></span>
				                            <% end %>
				                        <% end %>

				                    </div>
				                    <div class="details-description">
				                      <p><%= truncate(product.description_strip, length: 270, :separator => ' ') %></p>
				                    </div>
				                    <a  title="Veja mais informações e fotos deste anúncio" class="btn btn-stroke-dark" href="<%= hlp_site_produtos_url(product) %>"> <i class="fa fa-plus-circle"></i> Ver mais detalhes</a> </div>
				                </div>
				              </div>
				            <% end %>
				        </div>
				    <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
