<% if @clients.size > 0 %>
    <div class="home most-view">
        <div class="container">
            <hr class="hr3" />

            <h2 class="section-title style2 text-center">
                <span>PARCEIROS DE SUCESSO</span>
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="clearfix">
            <div class="col-md-12">
                <div class="slide-clients hide">
                    <% @clients.each do |client| %>
                        <% next if !client.stamp? %>
                        <% if client.has_website %>
                            <a href="<%= client.website_com_http %>" target="_blank">
                                <%= image_tag(client.stamp_url) %>
                            </a>
                        <% else %>
                            <a href="<%= user_produtos_url(subdomain: client.subdomain) %>">
                                <%= image_tag(client.stamp_url) %>
                            </a>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
