<div class="banner banner-boxes">
    <div class="slider-content">
        <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
        <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <%= link_to image_tag('home/products/1-mulher.jpg'), "/moda/anuncio/moda-feminina/calca-ellus-power-leather-skinny-recorte-frente-couro-vegetal", class: "box-img" %>
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Calça Ellus</h1>
                                        <p>Unindo elegância e modernidade com um toque de ousadia.</p>
                                        <a href="/moda/anuncio/moda-feminina/calca-ellus-power-leather-skinny-recorte-frente-couro-vegetal" class="btn btn-stroke-dark">CONFIRA!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/2-esmalte.jpg'), "/beleza-e-perfumaria/anuncio/cosmeticos/esmaltes-risque", class: "box-img" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/beleza-e-perfumaria/anuncio/cosmeticos/esmaltes-risque" class="btn btn-stroke-dark"> Esmaltes Risqué</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/3-anel.jpg'), "/moda/anuncio/joias-otica-e-relogios/aneis-ouro-au416", class: "box-img" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/moda/anuncio/joias-otica-e-relogios/aneis-ouro-au416" class="btn btn-stroke-dark">ANÉIS OURO AU416</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <%= link_to image_tag('home/products/4-note.jpg'), "/informatica/anuncio/pcs-e-notebooks/notebook-asus-x45c", class: "box-img" %>
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Notebook ASUS X45C</h1>
                                        <%= link_to 'CONFIRA!', "/informatica/anuncio/pcs-e-notebooks/notebook-asus-x45c", class: "btn btn-stroke-dark" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-4x" >
                    <div class="box-4in a">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/5-pendrive.jpg'), "/informatica/anuncio/informatica/pen-drive-sandisk-8gb", class: "box-img", title: "Pen-drive Sandisk" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/informatica/anuncio/informatica/pen-drive-sandisk-8gb" class="btn btn-stroke-dark">PEN DRIVE SANDISK</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-4in b">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/7-perfume.jpg'), "/beleza-e-perfumaria/anuncio/perfumaria-df542a01-59a9-415c-9056-6898dd6a94d4/dkny-men-eua-de-toilette-30ml", class: "box-img", title: "Perfume DKNY Men" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/beleza-e-perfumaria/anuncio/perfumaria-df542a01-59a9-415c-9056-6898dd6a94d4/dkny-men-eua-de-toilette-30ml" class="btn btn-stroke-dark">Perfume DKNY Men</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-4in c">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/6-bota.jpg'), "/moda/anuncio/calcados/coturno-ellus-tradition", class: "box-img" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/moda/anuncio/calcados/coturno-ellus-tradition" class="btn btn-stroke-dark"> Coturno Ellus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-4in d">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/8-bike.jpg'), "/mais-departamentos/anuncio/esporte-e-saude/bicicleta-caloi-andes-aro-26", class: "box-img" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <a href="/mais-departamentos/anuncio/esporte-e-saude/bicicleta-caloi-andes-aro-26" class="btn btn-stroke-dark">Bicicleta Caloi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="box-slider-content">
                        <%= link_to image_tag('home/products/9-relogio.jpg'), "/moda/anuncio/joias-otica-e-relogios/relogio-bulova-wb31514q", class: "box-img" %>
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Relógio Bulova</h1>
                                        <p>O tempo preciso em cada segundo.</p>
                                        <a href="/moda/anuncio/joias-otica-e-relogios/relogio-bulova-wb31514q" class="btn btn-stroke-dark">CONFIRA!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-2x">
                    <div class="slider-box-top">
                        <div class="box-slider-content">
                            <%= link_to image_tag('home/products/10-acessoriomoto.jpg'), "/moda/anuncio/bijuteria-e-acessorios/luva-yamaha", class: "box-img" %>
                            <div class="box-content-overly box-content-overly-white">
                                <div class="box-text-table">
                                    <div class="box-text-cell ">
                                        <div class="box-text-cell-inner dark">
                                            <a href="/moda/anuncio/bijuteria-e-acessorios/luva-yamaha" class="btn btn-stroke-dark">Acessórios Yamaha</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="slider-box-bottom">
                        <div class="box-4in c">
                            <div class="box-slider-content">
                                <%= link_to image_tag('home/products/11-copo.jpg'), "/casa-e-decoracao/anuncio/utilidades-domesticas/shot-glass-jack-daniels", class: "box-img" %>
                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell ">
                                            <div class="box-text-cell-inner dark">
                                                <a href="/casa-e-decoracao/anuncio/utilidades-domesticas/shot-glass-jack-daniels" class="btn btn-stroke-dark">Shot Glass <br>Jack Daniel's</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-4in d">
                            <div class="box-slider-content">
                                <%= link_to image_tag('home/products/12-roda.jpg'), "/veiculos/categoria/pecas-e-acessorios", class: "box-img" %>
                                <div class="box-content-overly box-content-overly-white">
                                    <div class="box-text-table">
                                        <div class="box-text-cell ">
                                            <div class="box-text-cell-inner dark">
                                                <a href="/veiculos/categoria/pecas-e-acessorios" class="btn btn-stroke-dark">Auto peças e <br>Acessórios</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slide-1x">
                    <div class="box-slider-content">
                        <%= link_to image_tag('home/products/13-carro.jpg'), "/veiculos/categoria/carros", class: "box-img" %>
                        <div class="box-content-overly box-content-overly-white">
                            <div class="box-text-table">
                                <div class="box-text-cell ">
                                    <div class="box-text-cell-inner dark">
                                        <h1>Categoria de Carros</h1>
                                        <p>Seu sonho a um clic de distância.</p>
                                        <a href="/veiculos/categoria/carros" class="btn btn-stroke-dark"> CONFIRA!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-pagination"></div>
        </div>

        <!--/.full-container-->
    </div>
</div>
<!--/.banner style1-->
