<%= content_for :home do %>
    <%= hlp_banner_page('Banner 1') %>
    <% if @campaigns.size > 0 %>
        <%= render 'site/home/campanha'%>
    <% end %>

    <% if @clients.size > 0 %>
        <%= render 'site/home/parceiros'%>
    <% end %>

<% end %>

<% cache([ current_org.domain, @deps.first.cache_key ], expires_in: 2.hours) do %>
    <%= render 'site/home/most_view'%>
<% end %>

<%= hlp_banner_page('Banner 3') %>

<%#= render "site/home/featured_three" %>
