<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            Quandiade de mensagens enviadas por mês
        </div>
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3">
                    Filtrar data
                    <%= form_tag manager_sms_reports_path, method: :get do %>
                        <%= select_year(@date, end_year: Date.today.year + 1) %>
                        <%= select_month(@date) %>
                        <button type="submit" class="btn btn-sm btn-success">
                          <i class="fa fa-search" aria-hidden="true"></i> Buscar
                        </button>
                    <% end %>
                </div>
            </div>
        </div>


        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Mês/Ano</th>
                <th>Quantidade</th>
              </tr>

              <tbody>
                <% @reports.each do |report| %>
                  <tr>
                    <td><%= report.user.name %></td>
                    <td><%= report.user.email %></td>
                    <td><%= l @date, format: '%m / %Y' %></td>
                    <td><%= report.quantidade %></td>
                  </tr>
                <% end %>
              </tbody>
            </thead>
          </table>
        </div>
    </div>
</div>
