<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Cadastrar Página</strong></div>
    <div class="panel-body">
        <%= simple_form_for @page do |f| %>
            <%= f.error_notification %>
            <%= f.input :title, input_html: { autofocus: 'true' }  %>
            <%#= f.input :slug, disabled: true %>

            <fieldset>
                <legend>SEO</legend>
                <%= f.input :keywords %>
                <%= f.input :description, as: :text %>
            </fieldset>

            <%= f.submit "Salvar", class: "btn btn-success" %>
        <% end %>
    </div>
</section>
