<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Páginas / SEO </strong>
            <%= link_to "+ Adicionar", new_manager_page_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @pages.each do |page| %>
                <tr>
                    <td><%= page.id %></td>
                    <td><%= link_to page.title, edit_manager_page_path(page) %></td>
                    <td>/<%= page.slug %></td>
                    <td>
                        <a href="<%= edit_manager_page_path(page) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, page, method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
