<!-- <h1>Páginas</h1> -->
<div class="panel panel-default" ng-controller="PagesIndexCtrl">
    <div class="panel-heading">
        <strong><span class="fa fa-th"></span> Páginas / SEO </strong>
        <%#= link_to "+ Adicionar", new_manager_page_path, class: 'btn btn-xs btn-success pull-right' %>
        <button class="btn btn-xs btn-success pull-right" ng-click="$parent.newItem()">+ Adicionar</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in pages">
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
