<div class="page page-form">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="fa fa-th"></span> Páginas</strong></div>
                <div class="panel-body">

                    <form name="form_pages" class="form-validation"
                            ng-controller="PagesFormCtrl"
                            ng-submit="submitForm(page)"
                            novalidate>

                        <div class="form-group">
                            <label for="page_title">Title</label>
                            <input id="page_title"
                                name="page[title]"
                                type="text"
                                class="form-control"
                                ng-model="page.title"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="page_title">Title</label>
                            <input id="page_title"
                                name="page[title]"
                                type="text"
                                class="form-control"
                                ng-model="page.title"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="page_description">Description</label>
                            <textarea id="page_description"
                                name="page[description]"
                                class="form-control"
                                rows="4"
                                ng-model="page.description"
                                required>
                            </textarea>
                        </div>

                        <button type="submit"
                                class="btn btn-success"
                                ng-disabled="!canSubmit()"
                                >Sumbit</button>
                        <button class="btn btn-default"
                                ng-disabled="!canRevert()"
                                ng-click="revert()"
                        >Revert Changes</button>
                        <div class="callout callout-info">
                            <p>Sumbit button will be active only when all fields are valid.</p>
                            <p>Revert button will be active only when one or more fields is changed.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
