<section class="panel panel-default">
    <div class="panel-body">
        <%= simple_form_for @campaign, url: (@campaign.new_record? ? manager_sms_campaigns_path : manager_sms_campaign_path(@campaign)) do |f| %>
            <% user = @campaign.user %>
            <%= f.error_notification %>

            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Informações sobre a campanha</legend>
                        Cliente: <strong><%= user.name %></strong> <br>
                        Contatos selecionados: <strong><%= @campaign.messages.count %></strong> <br>
                        <% if user.sms_campaigns.size == 1 %>
                            Esta é a <strong>primeira</strong> campanha de SMS <br>
                        <% else %>
                            O cliente já fez <strong><%= user.sms_campaigns.size %></strong> campanhas. <br>
                        <% end %>
                        Créditos restantes: <strong><%= user.sms_total_balance %></strong>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset>
                        <legend>Dados do cliente</legend>
                        <strong><%= user.name %></strong> <br>
                        <address>
                            <%= user.city.name %> - <%= user.state.symbol.upcase %> <br>
                            <%= user.address_street %>, <%= user.address_number %> <%= user.address_compl %> <br>
                            <%= user.address_district %> - <%= user.address_zipcode %><br>
                            <%= user.phone %> <br>
                            <%= user.cellphone %> <br>
                            Responsável: <strong><%= user.resp_name %></strong>
                        </address>
                    </fieldset>
                </div>
            </div>




            <fieldset>
                <legend>Mensagem</legend>
                <%= f.input :message %>
                <legend>Liberar campanha</legend>
                <%= f.input :status, as: :radio_buttons_inline,
                    collection: [['Avaliando', 'avaliando'], ['Liberado', 'aguardando']], label: false %>
            </fieldset>

            <br>
            <%= f.submit "Salvar", class: "btn btn-success" %>
        <% end %>
    </div>
</section>
