<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Campanhas de SMS marketing </strong>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome do cliente</th>
                    <th>Texto</th>
                    <th>Data de envio</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @campaigns.each do |campaign| %>
                <% next unless campaign.user %>
                <tr>
                    <td><%= campaign.user.name %></td>
                    <td><%= campaign.message %></td>
                    <td><%= l campaign.schedule_date, format: :long %></td>
                    <td>
                        <% if campaign.status == 'avaliando' %>
                          <span class="label label-default">Avaliando</span>
                        <% elsif campaign.status == 'aguardando' %>
                          <span class="label label-warning">Aguardando</span>
                        <% elsif campaign.status == 'enviando' %>
                          <span class="label label-info">Enviando</span>
                        <% elsif campaign.status == 'concluida' %>
                          <span class="label label-success">Concluída</span>
                        <% end %>
                    </td>
                    <td>
                         <% if campaign.status == 'avaliando' or campaign.status == 'aguardando' %>
                        <a href="<%= edit_manager_sms_campaign_path(campaign) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_sms_campaign_path(campaign), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
