.categories-tree ul {
	list-style: none;
	margin: 0;
	padding: 0;

	a {
		display: block;
		padding: 3px;
		border-radius: 3px;

		&.selected {
			background: $brand-info image-url('manager/select_arrow_right.png') no-repeat right center;
			color: #fff;
		}
	}
}

.categories-tree .category-tree {
	display: none;
}

.step-title {
  min-height: 20px;
  float: left;
  border-radius: 0;
}

.next-button,
.submit-button,
.back-button {
  float: right;
  margin: 3px;
}

@media(max-width:600px) {
  .step-content {
      margin-top: 10px;
  }
}
