.como-anunciar-page {
  h1 {
    padding: 50px 0 50px 350px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    background: transparent image-url("01-lupa.png") top center no-repeat;
    text-transform: uppercase;

    strong {
      margin-left: 30px;
      color: $brand-primary;
      font-size: 60px;
    }
  }
}

.how-to-do {
  h2 {
    margin: 0 -15px;
    padding: 25px 0 25px 50px;

    font-size: 20px;
    line-height: 1;
    font-weight: 700;

    background-color: #ececef;
    border-top: 1px solid #8a8b8d;
    color: #8a8b8d;
    text-transform: uppercase;
  }

  .step-text {
    width: 275px;
    font-size: 25px;
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  .step-one {
    margin-top: 30px;
    background: transparent image-url("seta-esquerda.png") top left no-repeat;

    .step-text {
      margin-left: 50px;
      margin-top: 60px;
    }
  }

  .step-two {
    margin-top: 60px;
    background: transparent image-url("seta-direita.png") top right no-repeat;

    .step-text {
      margin-top: 170px;
      margin-right: 90px;
    }
  }

  .step-three {
    margin-top: 60px;
    background: transparent image-url("seta-esquerda.png") top left no-repeat;

    .step-text {
      margin-left: 50px;
      margin-top: 60px;
    }
  }

  .step-four {
    margin-top: 60px;
    margin-bottom: 100px;
    background: transparent image-url("seta-direita.png") top right no-repeat;

    .step-text {
      margin-top: 150px;
      margin-right: 90px;
    }
  }
}

.how-about-now {
  padding-top: 60px;
  background-color: $tango;

  h3 {
    margin-left: 50px;
    color: $white;
    font-size: 30px;
    font-weight: 700;
  }

  .call-to-action {
    margin-bottom: 100px;
    margin-left: 400px;
    margin-top: 30px;
    padding: 25px 0;
    width: 350px;
    background-image: image-url("chave-botao-publique-esquerda.png"), image-url("chave-botao-publique-direita.png");
    background-position: top left, top right;
    background-repeat: no-repeat;
    text-align: center;

    .btn-access {
      display: inline-block;
      padding: 20px 30px;
      font-size: 25px;
      background-color: #FFF;
      color: $tango;
      border-radius: 10px;
    }
  }
}
