<%# if hlp_not_my_account? %>
<!-- <div class="container hidden-sm hidden-xs">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <%#= link_to image_tag('banner/banner-ebook-bike2.jpg'), 'http://dicas.clictem.com/e-book-guia-basicos-no-ciclismo' %>
            </p>
        </div>
    </div>
</div> -->
<%# end %>

<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">

                <% if @current_org.name =~ /cdl/ %>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <h3> Menu </h3>
                        <ul>
                            <li> <a href="<%= page_downloads_path %>">Downloads</a> </li>
                            <li> <a href="<%= page_links_path %>">Links Interessantes</a> </li>
                            <!-- <li> <a href="#">Serviços</a> </li> -->
                            <% if @current_org.news_link.present? %>
                              <li> <a href="<%= @current_org.news_link %>" target="_blank">Notícias</a> </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>


                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <h3> Institucional </h3>
                    <ul>
                        <% if @current_org.name =~ /cdl/ %>
                            <li> <a href="<%= contratar_planos_path %>"> Contratar plano </a> </li>
                        <% end %>
                        <li> <a href="<%= page_sobre_url(subdomain: false) %>"> Sobre o <%= @current_org.fullname %> </a> </li>
                        <% if @current_org.facebook == 'clictem' %>
                            <li> <a href="<%= page_como_anunciar_url(subdomain: false) %>"> Como anunciar </a> </li>
                        <% end %>
                        <li> <a href="<%= page_politica_url(subdomain: false) %>"> Política de privacidade </a> </li>
                        <li> <a href="<%= page_termos_url(subdomain: false) %>"> Termos e Condições de uso </a> </li>
                        <li> <a href="<%= page_atendimento_url(subdomain: false) %>">Contato </a> </li>

                    </ul>
                </div>

                <% if @current_org.facebook == 'clictem' %>
                    <div class="col-md-4">
                        <h3>&nbsp;</h3>

                        <div id="partners-logo">
                            <hr />


                            <div id="sustainable_website">
                            </div>
                        </div>
                    </div>
                <% end %>

                <div class="col-md-3">
                    <% if @current_org.facebook == 'clictem' %>
                        <div class="fb-like-box" data-href="https://www.facebook.com/<%= @current_org.facebook %>" data-width="290" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    <% else %>
                        <div class="fb-like-box" data-href="https://www.facebook.com/<%= @current_org.facebook %>" data-width="700" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    <% end %>

                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.footer-->

    <div class="footer-bottom">

        <div class="container">
            <p class="copyright">
                &copy; <%= Time.zone.now.year %> <%= @current_org.business_name %> - Todos os Direitos Reservados | CNPJ: <%= @current_org.cnpj %> | Endereço: <%= @current_org.address_street %>, <%= @current_org.address_number %> - <%= @current_org.address_additional %> - <%= @current_org.city.name %>, <%= @current_org.state.symbol %> - <%= @current_org.zip_code %>
            </p>
        </div>

    </div><!--/.footer-bottom-->


    <div class="footer-badge">
    </div>
</footer>
