<div class="navbar navbar-fixed-tops megamenu" role="navigation">
    <div class="w100 brand-wrap">
        <div class="container">
            <div class="col-md-2 navbar-header" itemscope itemtype="http://schema.org/Organization">
                <a class="navbar-brand" href="<%= root_url(subdomain: false) %>" itemprop="url" title="Ir para a Página Principal de <%= @current_org.fullname %>" >
                    <%= image_tag "whitelabel/logo_#{@current_org.name}.png", alt: "Logo", itemprop:"logo" %>
                </a>

            </div>
            <div class="col-md-2 navbar-header">
                <% if current_org.name != 'clictem' %>
                  <a href="<%= contratar_planos_path %>" class="btn btn-default" style="margin-top: 33px;">Contratar plano</a>
                <% end %>
            </div>
            <div class="col-md-3 header-search">
                <%= form_tag site_search_url(subdomain: false), class: 'form', method: :get do %>
                    <div class="form-group has-successs has-feedback">
                        <label class="control-label sr-only" for="search">Pesquisa</label>
                        <%= text_field_tag :search, (@search || ''), class: 'form-control', placeholder: 'Estou procurando por:' %>

                        <% if @current_org.name == 'clictem' %>
                            <span class="icons-busca form-control-feedback"></span>
                        <% else %>
                            <span class="icons-busca-<%= @current_org.name %> form-control-feedback"></span>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if user_signed_in? %>
                    <div class="user-login">
                        <small>Olá, <strong><%= current_user.name %></strong>!</small> <br />
                        <%= link_to  site_minha_conta_url(subdomain: false) do %>
                            <i class="fa fa-user"></i> Minha conta
                        <% end %>
                         &nbsp;|&nbsp;
                        <%= link_to destroy_user_session_path, method: :delete do %>
                            <i class="fa fa-sign-out"></i> Sair
                        <% end %>
                    </div>
                <% else %>
                    <div class="user-login">
                        <br />
                        <%= link_to page_acesso_url(subdomain: false) do %>
                            <i class="fa fa-user"></i> Minha Conta
                        <% end %>
                    </div>
                <% end %>

            </div>

            <div class="col-md-2">
                <%= render "/layouts/partials/header_right_#{@current_org.name}" %>
            </div>

        </div>
    </div>

    <% deps = Manager::Ad::Department.on_menu_cached %>

    <% banners = hlp_banner_menu %>

    <%#= render partial: "site/partials/menu_estatico" %>

    <% cache([hlp_categories_cache("menu#{request.url}"), banners.to_s.hash.to_s, current_org.domain], expires_in: 7.days) do %>
        <%= render partial: "site/partials/menu", locals: { departments: deps, banners: banners } %>
    <% end %>
</div>
