<div class="navbar megamenu" role="navigation">
    <div class="w100 brand-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3 navbar-header ">
                <% if hlp_is_my_account? and !@user_custom %>
                    <a href="#" class="navbar-toggle more-departments">
                        <div class="pull-left">
                            <span class="sr-only"> Trocar navegação </span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                            <span class="icon-bar"> </span>
                        </div>
                        <span class="navbar-toggle-text">MENU</span>
                    </a>
                <% end %>
                    <a class="navbar-brand" href="<%= root_url(subdomain: false) %>">
                        <%= image_tag "whitelabel/logo_#{@current_org.name}.png", alt: "Logo", class: "img-responsive" %>
                    </a>
                </div>

                <!-- <div class="col-md-3 user-custom more-departments">
                    <a href="#" class="btn btn-link">Outros departamentos <i class="fa fa-plus-circle"></i></a>
                </div> -->

                <div class="col-sm-4 col-md-4 header-search">
                    <%= form_tag site_search_url(subdomain: false), class: 'form', method: :get do %>
                        <div class="form-group has-successs has-feedback">
                            <label class="control-label sr-only" for="search">Pesquisa</label>
                            <%= text_field_tag :search, (@search || ''), class: 'form-control', placeholder: 'Estou procurando por:' %>
                            <% if @current_org.name == 'clictem' %>
                                <span class="icons-busca form-control-feedback"></span>
                            <% else %>
                                <span class="icons-busca-<%= @current_org.name %> form-control-feedback"></span>
                            <% end %>
                        </div>
                    <% end %>
                </div>

                <!-- <div class="col-md-2 pull-right text-right">
                    <%# url = (user_signed_in? ? site_produtos_url(:anuncio_2, subdomain: false) : page_acesso_url(subdomain: false) ) %>
                    <%#= link_to url , class: 'user-advertise' do %>
                        <span class="hidden-xs">Anuncie!</span>
                        <i class="icons-gratis"></i>
                    <%# end %>
                </div> -->

                <div class="col-md-3 pull-right">
                    <% if user_signed_in? %>
                        <div class="user-login pull-right">
                            <small>Olá, <strong><%= current_user.name %></strong>!</small> &nbsp;
                            <%= link_to  site_minha_conta_url(subdomain: false) do %>
                                <i class="fa fa-user"></i> Minha conta
                            <% end %>
                             &nbsp;|&nbsp;
                            <%= link_to destroy_user_session_path, method: :delete do %>
                                <i class="fa fa-sign-out"></i> Sair
                            <% end %>
                        </div>
                    <% else %>
                        <div class="user-login pull-right">
                            <%= link_to page_acesso_url(subdomain: false) do %>
                                <i class="fa fa-user"></i> Minha Conta
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="user-custom custom-menu" <%= "style='display:none;'".html_safe if hlp_is_my_account? and !@user_custom %>>
        <% deps = Manager::Ad::Department.on_menu_cached %>

        <% banners = hlp_banner_menu %>

        <%#= render partial: "site/partials/menu_estatico" %>

        <% cache([hlp_categories_cache("menu#{request.url}"), banners.to_s.hash.to_s, current_org.domain], expires_in: 7.days) do %>
            <%= render partial: "site/partials/menu", locals: { departments: deps, banners: banners } %>
        <% end %>
    </div>
</div>

<%= "<br />".html_safe if hlp_is_my_account? and !@user_custom %>
