<div class="megamenu" role="navigation">
    <div class="w100 brand-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4 navbar-header">
                    <a class="navbar-brand" href="<%= root_url(subdomain: false) %>">
                        <%= image_tag "whitelabel/logo_#{@current_org.name}.png", class: "img-responsive" %>
                    </a>
                </div>

                <div class="col-md-7 pull-right">

                    <ul class="nav navbar-nav navbar-right navbar-xs">
                        <li>
                            <a href="<%= site_usuarios_url(:notificacoes) %>">
                                Notificações
                                <% if current_user.notifications.opens.size > 0 %>
                                <span class="badge"><%= current_user.notifications.opens.size %></span>
                                <% end %>
                            </a>
                        </li>

                        <% if @current_org.clictem_free?(current_user) %>
                            <!-- Cadastros -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cadastros <span class="caret"></span></a>

                                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                    <li><a href="<%= site_usuarios_url(:resumo, subdomain: false) %>">Resumo</a></li>

                                    <% if !current_user.free? %>
                                      <li><a href="<%= customers_url(subdomain: false) %>">Meus clientes</a></li>
                                    <% end %>

                                    <li><a href="<%= site_anuncios_path %>">Meus anúncios</a></li>
                                    <li class="divider"></li>

                                    <% url = (current_user.valid? ? site_produtos_path(:anuncio_2) : site_produtos_path(:anuncio_1) ) %>
                                    <li><a href="<%= url %>"><span class="btn btn-success">+ Novo <strong>anúncio</strong></span></a></li>
                                </ul>
                            </li>
                        <% end %>


                        <!-- Minha conta -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Minha Conta <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li class='clearfix'>
                                    <div class="col-md-12">
                                        <%= render "/layouts/partials/header_right_#{@current_org.name}" %>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li><a href="<%= site_usuarios_path(:meus_dados) %>">Meus dados</a></li>
                                <li><a href="<%= site_usuarios_url(:meus_cupons, subdomain: false) %>">Meus cupons</a></li>
                                <li><a href="<%= site_usuarios_path(:trocar_senha) %>">Trocar senha</a></li>
                                <li class="divider"></li>
                                <li><a href="<%= root_url(subdomain: false) %>"><i class="fa fa-globe"></i> Voltar para site</a></li>

                                <% if current_user.kind == 'pj' %>
                                    <li><a href="<%= user_produtos_url(subdomain: current_user.subdomain) %>"><i class="fa fa-home"></i> Ver minha página</a></li>
                                <% end %>
                                <li>
                                    <%= link_to destroy_user_session_path, method: :delete do %>
                                    <i class="fa fa-sign-out"></i> Sair
                                    <% end %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="no-margin-top" />
