<div class="w100 menu-wrap hidden-sm hidden-xs">
    <div class="container">
        <div class="navbar-tshop navbar-collapse collapse no-padding ">
            <ul class="nav navbar-nav menu">
                <li class="menu-item dropdown  dropdown-left1 menu-dpto-eletronicos  ">
                    <a href="http://lvh.me:3000/eletronicos" class="">
                        <i class="icons-eletronicos hidden-sm hidden-md"></i>
                        Eletrônicos
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/eletronicos/categoria/celulares-e-smartphones">Celulares e Smartphones</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/eletronicos/categoria/games">Games</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/eletronicos/categoria/tv-audio-e-video">TV, Áudio e Vídeo</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/eletronicos/categoria/telefonia-fixa">Telefonia Fixa</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-left1 menu-dpto-informatica  ">
                    <a href="http://lvh.me:3000/informatica" class="">
                        <i class="icons-informatica hidden-sm hidden-md"></i>
                        Informática
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/informatica/categoria/impressoras-e-scanners">Impressoras e Scanners</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/informatica/categoria/monitores-e-perifericos">Monitores e Periféricos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/informatica/categoria/pcs-e-notebooks">PCs e Notebooks</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/informatica/categoria/tablets">Tablets</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-left1 menu-dpto-moda  ">
                    <a href="http://lvh.me:3000/moda" class="">
                        <i class="icons-moda hidden-sm hidden-md"></i>
                        Moda
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/moda-feminina">Moda Feminina</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/moda-masculina">Moda Masculina</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/moda-infantil">Moda Infantil</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/bijuteria-e-acessorios">Bijuteria e Acessórios</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/calcados">Calçados</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/moda/categoria/joias-otica-e-relogios">Joias, Ótica e Relógios</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-left1 menu-dpto-beleza-e-perfumaria  ">
                    <a href="http://lvh.me:3000/beleza-e-perfumaria" class="">
                        <i class="icons-beleza-e-perfumaria hidden-sm hidden-md"></i>
                        Beleza e Perfumaria
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/beleza-e-perfumaria/categoria/cabelos">Cabelos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/beleza-e-perfumaria/categoria/cosmeticos">Cosméticos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/beleza-e-perfumaria/categoria/equipamentos-e-acessorios">Equipamentos e Acessórios</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/beleza-e-perfumaria/categoria/perfumaria">Perfumaria</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-right1 menu-dpto-casa-e-decoracao  ">
                    <a href="http://lvh.me:3000/casa-e-decoracao" class="">
                        <i class="icons-casa-e-decoracao hidden-sm hidden-md"></i>
                        Casa e Decoração
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/casa-e-decoracao/categoria/construcao-e-acabamentos">Construção e Acabamentos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/casa-e-decoracao/categoria/eletrodomesticos">Eletrodomésticos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/casa-e-decoracao/categoria/moveis-e-decoracao">Móveis e Decoração</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/casa-e-decoracao/categoria/utilidades-domesticas">Utilidades Domésticas</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://topline.<%= current_org.domain %>/">
                                        <img alt="Banner menu topline" src="/assets/banner/banner-menu-topline-0389fb0cbe09003fad056101967414e6.jpg" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-right1 menu-dpto-esporte-e-saude  ">
                    <a href="http://lvh.me:3000/esporte-e-saude" class="">
                        <i class="icons-esporte-e-saude hidden-sm hidden-md"></i>
                        Esporte e Saúde
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/esporte-e-saude/categoria/esporte-e-lazer">Esporte e Lazer</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/esporte-e-saude/categoria/equipamentos">Equipamentos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/esporte-e-saude/categoria/saude">Saúde</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/esporte-e-saude/categoria/suplementos-alimentares">Suplementos Alimentares</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-right1 menu-dpto-veiculos  ">
                    <a href="http://lvh.me:3000/veiculos" class="">
                        <i class="icons-veiculos hidden-sm hidden-md"></i>
                        Veículos
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/veiculos/categoria/caminhoes">Caminhões</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/veiculos/categoria/carros">Carros</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/veiculos/categoria/motos">Motos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/veiculos/categoria/pecas-e-acessorios">Peças e Acessórios</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://postosgarbossa.clictem.com/?utm_source=clictem&amp;utm_medium=banner-menu&amp;utm_campaign=divulgacao">
                                        <img alt="Banner menu sgarbossa" src="/assets/banner/banner-menu-sgarbossa-48d6d1e3ff0f0d0f9d22d09d85b39d84.jpg" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <li class="menu-item dropdown  dropdown-right1 menu-dpto-alimentos-e-bebidas  ">
                    <a href="http://lvh.me:3000/alimentos-e-bebidas" class="">
                        <i class="icons-alimentos-e-bebidas hidden-sm hidden-md"></i>
                        Alimentos e Bebidas
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/alimentos-e-bebidas/categoria/alimentos">Alimentos</a>
                                            </p>
                                        </li>
                                        <li class="">
                                            <p class="menu-category-name">
                                                <a href="http://lvh.me:3000/alimentos-e-bebidas/categoria/bebidas">Bebidas</a>
                                            </p>
                                        </li>
                                </ul>
                            </div>

                                <div>
                                    <a href="http://<%= current_org.domain %>/anuncie/anuncio/geral/plano-basico-clictem?utm_source=clictem&amp;utm_medium=banner&amp;utm_campaign=promo-plano-basico">
                                        <img alt="Plano basico banner menu" src="/assets/banner/plano-basico-banner_menu-d9d81d656b7862bf87d293422fbbfbf5.png" width="240">
                                    </a>
                                </div>


                        </li>
                    </ul>
                </li>
                <!-- <li class="menu-item dropdown megamenu-60width dropdown-right menu-dpto-servicos  ">
                    <a href="#" class="dropdown-toggles">
                        <i class="icons-servicos"></i>
                        Serviços
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div class="col-md-6">
                                <ul class="unstyled noMarginLeft">
                                    <li class="">
                                        <p class="menu-category-name">
                                            <a href=""></a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li> -->
                <li class="menu-item dropdown menu-dpto-mais-departamentos  ">
                    <a href="#" class="">
                        <i class="icons-mais-departamentos visible-lg-inline-block"></i>
                        Mais Departamentos
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div class="">
                                <ul class="unstyled noMarginLeft">
                                    <li class="">
                                        <p class="menu-category-name">
                                            <a href="http://lvh.me:3000/diversos">Diversos</a>
                                        </p>
                                    </li>
                                    <li class="">
                                        <p class="menu-category-name">
                                            <a href="http://lvh.me:3000/imoveis">Imóveis</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
    </div><!--/.container -->
</div>
