<div class="w100 menu-wrap hidden-sm hidden-xs">
    <div class="container">
        <div class="navbar-tshop navbar-collapse collapse no-padding ">
            <ul class="nav navbar-nav menu">
            <% departments.each_with_index do |dpto, index| %>
                <li class="menu-item dropdown  <%= index > 3 ? 'dropdown-right1' :'dropdown-left1' %> menu-dpto-<%= dpto.slug %>  <%= hlp_active_menu(department_url(dpto.slug,subdomain: false)) %>">
                    <a href="<%= department_url(dpto.slug,subdomain: false) %>" class="">
                        <i class="icons-<%= dpto.slug %> hidden-sm hidden-md"></i>
                        <%= dpto.name %>
                    </a>
                    <%# sub-menu %>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                    <% dpto.categories.order(:raw_order).each do |cat| %>
                                        <li class="<%= hlp_active_menu(category_url(dpto.slug, cat.slug,subdomain: false)) %>">
                                            <p class="menu-category-name">
                                                <a href="<%= category_url(dpto.slug, cat.slug,subdomain: false) %>"><%= cat.name %></a>
                                            </p>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>

                            <% banners.each do |banner| %>
                                <% if banner.department_id == dpto.id %>
                                    <%= render "/layouts/partials/banner_menu", banner: banner %>
                                <% end %>
                            <% end %>

                        </li>
                    </ul>
                </li>
            <% end %>

                <li class="menu-item dropdown menu-dpto-mais-departamentos  <%= hlp_active_menu('/mais-departamentos') %>">
                    <a href="#" class="">
                        <i class="icons-mais-departamentos visible-lg-inline-block"></i>
                        Mais Departamentos
                    </a>
                    <%# sub-menu %>
                    <ul class="dropdown-menu pull-right">
                        <li class="megamenu-content">
                            <div>
                                <ul class="unstyled noMarginLeft">
                                <% departamentos = Manager::Ad::Department.where(on_menu: false) %>
                                <% departamentos.each do |dpto| %>
                                    <li class="<%= hlp_active_menu(department_url(dpto.slug,subdomain: false)) %>">
                                        <p class="menu-category-name">
                                            <a href="<%= department_url(dpto.slug,subdomain: false) %>"><%= dpto.name %></a>
                                        </p>
                                    </li>
                                <% end %>
                                </ul>
                            </div>

                                <% departamentos.each do |dpto| %>
                                    <% banners.each do |banner| %>
                                        <% if banner.department_id == dpto.id %>
                                            <%= render("/layouts/partials/banner_menu", banner: banner)  %>
                                            <% break %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
    </div><!--/.container -->
</div>
