<% if hlp_not_sessions? and hlp_not_my_account? %>

<% banners = [] %>

<%# banners << link_to(image_tag("banner/banner-antonio-joias.gif"), 'http://antoniojoias.clictem.com/?utm_source=clictem&utm_medium=superbanner&utm_campaign=antoniojoias') %>

<% banners << link_to(image_tag("banner/banner-motojeans-topo.gif"), 'http://motojeans.clictem.com/?utm_source=clictem&utm_medium=superbanner&utm_campaign=motojeans-factor') if Date.today <= Date.parse('25.05.2015') %>

<%# banners << link_to(image_tag("banner/comsistemaq.gif"), 'http://anunciante6791.clictem.com')# if Date.today <= Date.parse('31.12.2014') %>
<%# banners << link_to(image_tag("banner/banner-topo-navajo.jpg"), '#') %>

    <% if banners.size > 0 %>
    	<div id="publicity-banner" class="hidden-sm hidden-xs" style="background: #fff;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 banner-top-wrap text-center">
                        <div class="banner-top">
                            <p>Publicidade</p>
                            <%= banners.shuffle.first %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
