
<!-- Script do usuário -->
<% if @seller and @seller.script.present? %>
  <%= @seller.script.html_safe %>
<% end %>

<!-- Script do produto -->
<% if @product and @product.script.present? %>
  <%= @product.script.html_safe %>
<% end %>

<!-- Analytics -->
<% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54782697-3', 'auto');
      ga('send', 'pageview');

    </script>
<% end %>

