
<!-- Script do usuário -->
<% if @seller and @seller.script.present? %>
  <%= @seller.script.html_safe %>
<% end %>

<!-- Script do produto -->
<% if @product and @product.script.present? %>
  <%= @product.script.html_safe %>
<% end %> 


<!-- Facebook Conversion Code for Home -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6023868870616', {'value':'0.01','currency':'BRL'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023868870616&amp;cd[value]=0.01&amp;cd[currency]=BRL&amp;noscript=1" /></noscript>


<!-- Pixel de rastreamento do Facebook -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '766418836770103']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=766418836770103&amp;ev=PixelInitialized" /></noscript>


<% if Rails.env.production? %>
    <script>var nvgId=32655,nvgAsync=!1;!function(){var nvg=document.createElement("script");nvg.id="navegg",nvg.type="text/javascript",nvg.async=nvgAsync,nvg.src=document.location.protocol+"//tag.navdmp.com/tm"+nvgId+".js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(nvg,s)}();try{nvg_gender=nvgGetSegment("gender"),nvg_education=nvgGetSegment("education"),nvg_marital=nvgGetSegment("marital"),nvg_cluster=nvgGetSegment("cluster"),nvg_income=nvgGetSegment("income"),nvg_age=nvgGetSegment("age"),nvg_interest=nvgGetSegment("interest"),nvg_product=nvgGetSegment("product"),nvg_career=nvgGetSegment("career"),nvg_brand=nvgGetSegment("brand")}catch(err){nvg_gender="",nvg_education="",nvg_marital="",nvg_cluster="",nvg_income="",nvg_age="",nvg_interest="",nvg_product="",nvg_career="",nvg_brand=""}!function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r,i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date,a=s.createElement(o),m=s.getElementsByTagName(o)[0],a.async=1,a.src=g,m.parentNode.insertBefore(a,m)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-54782697-1","auto",{cookieDomain:"clictem.com"}),ga("require","linkid","linkid.js"),ga("require","displayfeatures");var metaUser=document.getElementById("meta-current-user-id");"undefined"!=typeof metaUser&&null!=metaUser&&ga("set","&uid",metaUser.getAttribute("content")),ga("send","pageview");</script>
<% end %>
