
<!-- Script do usuário -->
<% if @seller and @seller.script.present? %>
  <%= @seller.script.html_safe %>
<% end %>

<!-- Script do produto -->
<% if @product and @product.script.present? %>
  <%= @product.script.html_safe %>
<% end %>


<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54782697-2', 'auto');
  ga('send', 'pageview');

</script>

<% if Rails.env.production? %>
    <script>var nvgId=36561,nvgAsync=!1;!function(){var nvg=document.createElement("script");nvg.id="navegg",nvg.type="text/javascript",nvg.async=nvgAsync,nvg.src=document.location.protocol+"//tag.navdmp.com/tm"+nvgId+".js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(nvg,s)}();try{nvg_gender=nvgGetSegment("gender"),nvg_education=nvgGetSegment("education"),nvg_marital=nvgGetSegment("marital"),nvg_cluster=nvgGetSegment("cluster"),nvg_income=nvgGetSegment("income"),nvg_age=nvgGetSegment("age"),nvg_interest=nvgGetSegment("interest"),nvg_product=nvgGetSegment("product"),nvg_career=nvgGetSegment("career"),nvg_brand=nvgGetSegment("brand")}catch(err){nvg_gender="",nvg_education="",nvg_marital="",nvg_cluster="",nvg_income="",nvg_age="",nvg_interest="",nvg_product="",nvg_career="",nvg_brand=""}!function(i,s,o,g,r,a,m){i.GoogleAnalyticsObject=r,i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date,a=s.createElement(o),m=s.getElementsByTagName(o)[0],a.async=1,a.src=g,m.parentNode.insertBefore(a,m)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-54782697-2","auto",{cookieDomain:"clictem.com"}),ga("require","linkid","linkid.js"),ga("require","displayfeatures");var metaUser=document.getElementById("meta-current-user-id");"undefined"!=typeof metaUser&&null!=metaUser&&ga("set","&uid",metaUser.getAttribute("content")),ga("send","pageview");</script>

    <!-- Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("a421a026c8a37189d9cc2edbbf2bf739");</script>
    <!-- end: Mixpanel -->
<% end %>
