<div class="info-panel fixed-height text-center">
    <span class="title-info"><strong>Total de mensagens enviadas</strong></span> <br />
    <div class="clearfix">
        <div class="col-md-6" style="opacity: 0.7; border-right: 1px solid #fff;">
            <strong><%= l(Date.today - 1.month, format: '%B') %></strong> <br />
            <span class="main-info color1"><strong><%= current_user.sms_total_balance(Date.today - 1.month) %></strong></span>
        </div>

        <div class="col-md-6">
            <strong><%= l(Date.today, format: '%B') %></strong> <br />
            <span class="main-info color1"><strong><%= current_user.sms_total_balance %></strong></span>
        </div>

    </div>
</div>
