<tr>
    <td>
        <%= l notification.created_at, format: :long %>
    </td>

    <td>
        <%= link_to site_usuarios_path(:notificacao, id: notification.id) do %>
            <strong><%= notification.subject %></strong>
            <% if notification.view == false %>
                <span class="label label-info">novo</span>
            <% end %>
        <% end %>
    </td>

    <td>
        <% if notification.to.present? %>
            <%= notification.to %>
        <% end %>
    </td>

    <td>

    </td>

</tr>
