<% current_org = Organization.find_by_domain(Apartment::Tenant.current) %>

<h2 style="color:<%= current_org.color1 %>;"><%= @owner.name %>, o anunciante <%= @owner.name %> respondeu seu comentário.</h2>

<h3>
	<%= @product.name %> <br>
	<small><%= link_to "Ver anúncio.", ad_url(@product.department_slug, @product.category_slug, @product.slug,subdomain: false) %></small>
</h3>

<table>
	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Nome</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @owner.name %></td>
	</tr>

	<% if @owner.phone.present? %>
		<tr>
			<td style="padding: 5ppx 10px 5px 5px;"><strong>Telefone</strong></td>
			<td style="padding: 5ppx 10px 5px 5px;"><%= @owner.phone %></td>
		</tr>
	<% end %>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Comentário</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @anwser.question.text %></td>
	</tr>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Resposta</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @anwser.text %></td>
	</tr>

	<tr>
		<td></td>
		<td style="padding-top: 20px; padding-bottom: 20px;">
			<div><!--[if mso]>
			  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:40px;v-text-anchor:middle;width:250px;" arcsize="10%" strokecolor="#344e1d" fillcolor="#1c7d2f">
			    <w:anchorlock/>
			    <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">RESPONDER COMENTÁRIO</center>
			  </v:roundrect>
			<![endif]--><a href="<%= ad_url(@product.department_slug, @product.category_slug, @product.slug,subdomain: false, anchor: 'comentarios') %>"
			style="background-color:#1c7d2f;border:1px solid #344e1d;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;mso-hide:all;">ENVIAR MENSAGEM</a></div>
		</td>
	</tr>

</table>

<div style="font-size: 10px; color:silver;">
<p>Em caso de dúvidas, envie um e-mail para a nossa equipe de atendimento: <%= @current_org.email %></p>
</div>

