<% current_org = Organization.find_by_domain(Apartment::Tenant.current) %>

<h2 style="color:<%= current_org.color1 %>;"><%= @user.name %>, seu anúncio recebeu uma nova mensagem.</h2>

<h3>
	<%= @product.name %> <br>
	<small><%= link_to "Ver anúncio.", ad_url(@product.department_slug, @product.category_slug, @product.slug,subdomain: false) %></small>
</h3>

<table>
	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Nome</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @sender.name %></td>
	</tr>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>E-Mail</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @sender.email %></td>
	</tr>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Celular</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @sender.cellphone %></td>
	</tr>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Telefone</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @sender.phone %></td>
	</tr>

	<tr>
		<td style="padding: 5ppx 10px 5px 5px;"><strong>Mensagem</strong></td>
		<td style="padding: 5ppx 10px 5px 5px;"><%= @sender.note %></td>
	</tr>

</table>

<div style="font-size: 10px; color:silver;">
<p>Em caso de dúvidas, envie um e-mail para a nossa equipe de atendimento: <%= @current_org.email %></p>
</div>

