
<div class="col-md-11 col-md-offset-1 anwser<%= anwser.id %>">
	<div class="panel panel-success">
	  <div class="panel-heading">
	  	<strong><%= link_to anwser.user.name, user_produtos_url(subdomain: anwser.user.subdomain) %></strong>
	  	<small class="pull-right"><%= l anwser.created_at, format: :long %></small>
	  </div>

	  <div class="panel-body">
	    <%= anwser.text %>
	  </div>

	  <% if current_user and anwser.product.user_id == current_user.id  %>

		<div class="panel-footer">
	  	  	<%= link_to site_comment_path(anwser.id, product_id: anwser.product_id), class: 'btn btn-danger btn-sm', remote: true, method: :delete, data: { confirm: 'Deseja mesmo excluir esta reposta?' } do %>
	  			<i class="fa fa-trash"></i> Excluir resposta
	  	  	<% end %>
  	  	</div>
	  	  	
	  <% end %>
	</div>
</div>