<div class="clearfix comment<%= comment.id %>">
	<div class="col-md-11">
		<div class="panel <%= comment.deleted ? 'panel-danger' : 'panel-info' %>">
		  <div class="panel-heading">
		  	<% if defined? product %>
		  		<strong><%= product.name %></strong><br />
		  	<% else %>
				<% product = comment.product %>
		  	<% end %>

		  	<strong><%= link_to comment.user.name, user_produtos_url(subdomain: comment.user.subdomain) %></strong>
		  	<small class="pull-right"><%= l comment.created_at, format: :long %></small>
		  </div>

		  <div class="panel-body">
		    <%= comment.text %>
		  </div>

		  <% if current_user and product.user_id == current_user.id  %>

			<div class="panel-footer comment-show<%= comment.id %> <%= comment.deleted ? '' : 'hide'  %>">
	  		  	<%= link_to site_comment_path(comment.id, product_id: comment.product_id), class: 'btn btn-default btn-sm', remote: true, method: :delete do %>
	  				<i class="fa fa-eye"></i> Exibir novamente
	  		  	<% end %>

	  		  	<span class="label label-danger pull-right">Comentário excluído</span>
  		  	</div>

			<div class="panel-footer comment-delete<%= comment.id %> <%= comment.deleted ? 'hide' : ''  %>">
			  	<%= link_to new_site_comment_path(product_id: comment.product_id, question_id: comment.id, seller_id: comment.seller_id), class: 'btn btn-success btn-sm', remote: true do %>
					<i class="fa fa-comments"></i> Responder
			  	<% end %>

		  	  	<%= link_to site_comment_path(comment.id, product_id: comment.product_id), class: 'btn btn-danger btn-sm pull-right', remote: true, method: :delete, data: { confirm: 'Deseja mesmo excluir este comentário?' } do %>
		  			<i class="fa fa-trash"></i> Excluir
		  	  	<% end %>
	  	  	</div>

		  <% end %>
		</div>
	</div>

	<div class="comment-response-<%= comment.id %>"></div>

	<% comment.anwsers.where(deleted: false).each do |anwser| %>
		<%= render '/site/comments/anwser', anwser: anwser %>
	<% end %>
</div>
