<div class="row">
	<div class="col-md-12">
		<% if user_signed_in? %>
			<%= simple_form_for @comment, url: site_comments_path, remote: true do |f| %>
				<%= f.hidden_field :product_id %>
				<%= f.hidden_field :seller_id %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.input :text, label: false, placeholder: 'Deixe aqui seu comentário' %>
				<div class="clearfix">
					<button type='submit' class='btn btn-lg btn-primary pull-right bg1 border1' onclick="exibeAguardando();">
						<span class="aguarde hide"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Aguarde</span>
						<span class="comentar"><i class="fa fa-comments-o"></i> Comentar</span>
					</button>
				</div>
			<% end %>
		<% else %>
			<h2 class="block-title-2"><span>Você precisa estar cadastrado para comentar</span></h2>
            <%= link_to page_acesso_url(subdomain: false, prodCM: @comment.product.id), class: 'btn btn-fb btn-block btn-lg' do %>
                <i class="fa fa-comment-o"></i> Comente agora este anúncio
            <% end %>
		<% end %>
	</div>
</div>
