<div class="clearfix">
	<div class="col-md-10 col-md-offset-2">
		<div class="panel panel-success">
		  <div class="panel-heading">
		  	<strong><%= current_user.name %></strong>
		  </div>

		  <%= simple_form_for @comment, url: site_comments_path, remote: true do |f| %>
			  <div class="panel-body">
			    	<%= f.hidden_field :product_id %>
			    	<%= f.hidden_field :seller_id %>
			    	<%= f.hidden_field :user_id, value: current_user.id %>
			    	<%= f.hidden_field :question_id %>
			    	<%= f.input :text, label: false, placeholder: 'Deixe aqui sua resposta' %>
			  </div>

			  <div class="panel-footer">
			  	<button type='submit' class='btn btn-success btn-sm'><i class="fa fa-comments"></i> Publicar resposta</button>
			  </div>
		  <% end %>

		</div>
	</div>
</div>
