<% if @comment.question %>
	$('.comment-response-<%= @comment.question_id %>').html("<%= j render '/site/comments/anwser', anwser: @comment %>");
<% else %>
	$('.comments-list').prepend("<div class='row'><%= j render '/site/comments/comment', comment: @comment %></div>");
  $('.comments-form').html('<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button><strong><i class="glyphicon glyphicon-ok-circle"></i> SUA MENSAGEM FOI ENVIADA!</strong><br />Acabamos de enviar um e-mail para o anunciante. Ele entrará em contato com você o mais breve possível.<br />Muito obrigado por utilizar o sistema <strong><%= @current_org.fullname %></strong>. </div>');
<% end %>
