<% if @comment.is_anwser? %>

	$('.anwser<%= @comment.id %>').fadeOut();

<% else %>

	<% if @comment.deleted %>

		$('.comment<%= @comment.id %> .panel:first').addClass('panel-danger');
		$('.comment<%= @comment.id %> .panel:first').removeClass('panel-info');

		$('.comment-show<%= @comment.id %>').removeClass('hide');
		$('.comment-delete<%= @comment.id %>').addClass('hide');

		if($('#visit-data').size() > 0){
			$('.comment<%= @comment.id %>').fadeOut();
		}

	<% else %>

		$('.comment<%= @comment.id %> .panel:first').removeClass('panel-danger');
		$('.comment<%= @comment.id %> .panel:first').addClass('panel-info');

		$('.comment-show<%= @comment.id %>').addClass('hide');
		$('.comment-delete<%= @comment.id %>').removeClass('hide');

	<% end %>

<% end %>
	