<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Regularmente, enviamos as nossos clientes um relatório com o perfil de visitas aos seus anúncios.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->

<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Porém, durante o período do dia <strong><%= l @date1, foramt: :short %></strong> até <strong><%= l @date2, foramt: :short %></strong>, seus anúncios receberam um total de <strong><%= number_with_delimiter @visits.size %></strong> visitas. Para que possamos lhe enviar um relatório mais detalhado, precisamos seus anúncions sejam compartilhados com mais frequencia nas redes sociais.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->

<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Sugerimos que você divulgue entre seus amigos em seu perfil de <strong>Facebook</strong> e <strong>Twitter</strong>.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->

<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Também estamos à sua inteira disposição para tirar qualquer dúvida, basta entrar em contato conosco através do telefone <strong><%= @current_org.phone %></strong>, ou pelo e-mail <strong><%= @current_org.email %></strong> (basta responder este e-mail). Atendemos de segunda a sexta, das 8:30h às 12h, e das 13:30h às 18h.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->
