<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Durante os dias de <strong><%= l @date1, foramt: :short %></strong>, até <strong><%= l @date2, foramt: :short %></strong>, seus anúncios receberam um total de <strong><%= number_with_delimiter @visits.size %></strong> visitas.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->


<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>

      <div style="width: 255px; float: left; height: 250px;">
        <h2>Gênero</h2>
        <img src="<%= Visit.email_chart_gender(@user, @date1, @date2) %>" />
      </div>

      <div style="width: 255px; float: left; height: 250px;">
        <h2>Faixa etária</h2>
        <img src="<%= Visit.email_chart_age(@user, @date1, @date2) %>" />
      </div>

    </span>
  </td>
</tr>
<!-- END OF TEXT-->

<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    <span style="font-size: 20px;">Seus <strong><%= @ads.size %> anúncios</strong> mais visualizados</span>

    <table style='width: 100%; font-size: 14px; border: 1px solid #F17420;'>
      <tr style="background: <%=  @current_org.color1 %>; color: #fff; font-weight: 600;">
        <th style="width: 70%; padding: 5px; text-align: left;">Anúncio</th>
        <th style="width: 30%; padding: 5px;">Visitas</th>
      </tr>
      <% @ads.each do |ad| %>
        <tr>
          <td style="padding: 5px;border: 1px solid #eee;"><%= ad[:product].name %></td>
          <td style="text-align: center;padding: 5px;border: 1px solid #eee;"><%= ad[:count] %></td>
        </tr>
      <% end %>
    </table>
    </span>
  </td>
</tr>
<!-- END OF TEXT-->


<!-- START OF TEXT-->
<tr>
  <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
    <span>
    Para obter um relatório muito mais <strong>completo</strong>, entre em contato conosco através do telefone <strong><%= @current_org.phone %></strong>, ou pelo e-mail <strong><%= @current_org.email %></strong> (basta responder este e-mail). Atendemos de segunda a sexta, das 8:30h às 12h, e das 13:30h às 18h.
    </span>
  </td>
</tr>
<!-- END OF TEXT-->
