  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>
      Durante o período do dia <strong><%= l @date1, foramt: :short %></strong> até <strong><%= l @date2, foramt: :short %></strong>, seus anúncios receberam um total de <strong><%= number_with_delimiter @visits.size %></strong> visitas.
      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->


  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>

        <div style="width: 255px; float: left; height: 250px;">
          <h2>Gênero</h2>
          <img src="<%= Visit.email_chart_gender(@user, @date1, @date2) %>" />
        </div>

        <div style="width: 255px; float: left; height: 250px;">
          <h2>Faixa etária</h2>
          <img src="<%= Visit.email_chart_age(@user, @date1, @date2) %>" />
        </div>

      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->


  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>

        <% product = Visit.email_chart_product(@user, @date1, @date2) %>
        <% if product %>
          <div style="width: 500px; height: 250px;">
            <h2>Intenções de compra</h2>
            <img src="<%= product %>" />
          </div>
        <% end %>

      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->



  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>

        <% cluster = Visit.email_chart_cluster(@user, @date1, @date2) %>
        <% if cluster %>
          <div style="width: 255px; float: left; height: 250px;">
            <h2>Perfil</h2>
            <img src="<%= cluster %>" />
          </div>
        <% end %>

        <% interest = Visit.email_chart_interest(@user, @date1, @date2) %>
        <% if interest %>
          <div style="width: 255px; float: left; height: 250px;">
            <h2>Conteúdos de interesse</h2>
            <img src="<%= interest %>" />
          </div>
        <% end %>

      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->


  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>
      <span style="font-size: 20px;">Seus <strong><%= @ads.size %> anúncios</strong> mais visualizados</span>

      <table style='width: 100%; font-size: 14px; border: 1px solid #F17420;'>
        <tr style="background: <%=  @current_org.color1 %>; color: #fff; font-weight: 600;">
          <th style="width: 55%; padding: 5px; text-align: left;">Anúncio</th>
          <th style="width: 15%; padding: 5px;">Visitas</th>
          <th style="width: 15%; padding: 5px;">Gênero</th>
          <th style="width: 15%; padding: 5px;">Idade</th>
        </tr>
        <% @ads.each do |ad| %>
          <tr>
            <td style="padding: 5px;border: 1px solid #eee;"><%= ad[:product].name %></td>
            <td style="text-align: center;padding: 5px;border: 1px solid #eee;"><%= ad[:count] %></td>
            <td style="text-align: center;padding: 5px;border: 1px solid #eee;"><%= ad[:gender] %></td>
            <td style="text-align: center;padding: 5px;border: 1px solid #eee;"><%= ad[:age] %></td>
          </tr>
        <% end %>
      </table>
      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->

  <!-- START OF TEXT-->
  <tr>
    <td class="center" align="left" style="padding-bottom: 10px; margin: 0; font-weight:normal; font-size:13px ; color:#7c7c7c; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;">
      <span>
      Se tiver alguma dúvida, entre em contato conosco através do telefone <strong><%= @current_org.phone %></strong>, ou pelo e-mail <strong><%= @current_org.email %></strong> (basta responder este e-mail). Atendemos de segunda a sexta, das 8:30h às 12h, e das 13:30h às 18h.
      </span>
    </td>
  </tr>
  <!-- END OF TEXT-->
