<div class="col-md-3 product-image nested-fields">

    <div class="wait color1 hide">Aguarde...</div>

    <div class="img-container">

        <%= link_to_remove_association raw('<i class="fa fa-trash"></i>'), f, class: 'btn btn-default btn-sm btn-delete', title: 'Remover imagem', data: { placement: 'bottom' } %>

        <% if f.object.file? %>
            <%= image_tag f.object.file_url(:list), height: 150 %>
        <% else %>
            <img src="" height="150" />
        <% end %>

    </div>

    <%= f.hidden_field :token %>

    <br />
</div>
