<div class="clearfix nested-fields">

    <% if f.object.offer_campaign %>
        <div class="col-md-12">
            <div class="alert alert-info">
                Esta oferta faz parte da Campanha <strong><%= f.object.offer_campaign.title %></strong> <%= link_to '(ver campanha)', edit_offers_campaign_path(f.object.offer_campaign) %>
            </div>
        </div>
    <% end %>


    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="col-md-3">
        <% if f.object.new_record? %>
            <%= f.input :date_start, as: :date_picker, input_html: { value: Date.today.strftime('%d/%m/%Y') }, class: 'form-control' %>
            <%= f.input :date_end, as: :date_picker, input_html: { value: (Date.today + 20.days).strftime('%d/%m/%Y') }, class: 'form-control' %>
        <% else %>
            <%= f.input :date_start, as: :date_picker, class: 'form-control' %>
            <%= f.input :date_end, as: :date_picker, class: 'form-control' %>
        <% end %>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <%= f.label :price %>
            <div class="input-group">
                <span class="input-group-addon">R$</span>
                <%= f.text_field :price, class: 'form-control', 'price-format' => true %>
            </div>
        </div>

                <label>
                    Somente com Cupom?

                    <i class="fa fa-question-circle" data-toggle="popover" data-placement="right" data-content="O seu cliente poderá imprimir um cupom de desconto na página do anúncio." data-title="O que é?"></i>

                </label> <br>
                <%= f.input :has_cupom, as: :radio_buttons_inline, label: false, collection: [['Sim', true], ['Não', false]] %>

                <div class="<%= f.object.has_cupom? ? '' : 'hide' %> has_cupom_limit">
                    <%= f.input :has_cupom_limit, as: :radio_buttons_inline, collection: [['Não', false], ['Selecionar limite', true]] %>

                    <div class="<%= f.object.has_cupom_limit? ? '' : 'hide' %> cupom_limit">
                        <%= f.input :cupom_limit %>
                    </div>

                    <%= f.input :cupom_note, placeholder: 'Ex.: Limite de 5 unidades' %>
                    <hr>
                    <% if f.object.cupoms.size == 0 %>
                        Ainda não foram gerados cupons.
                    <% else %>
                        Foram gerados <strong><%= f.object.cupoms.size %></strong> cupons.
                    <% end %>
                </div>

    </div>

    <div class="col-md-5 form-group check_boxes_inline">
        <label>
            Dias da semana

            <i class="fa fa-question-circle" data-toggle="popover" data-placement="right" data-content="Você pode selecionar os dias da semana que a oferta estará disponível." data-title="O que é?"></i>

        </label> <br>
        <%= f.input :repeat, as: :radio_buttons_inline, label: false, collection: [['Todos os dias', false], ['Selecionar dias:', true]] %>

        <ul class="row <%= f.object.repeat ? '' : 'hide' %>">

            <% 7.times do |i| %>
                <li class="col-md-3"><span class="checkbox-inline">
                    <label>
                        <%= f.check_box "wday#{i}", class: 'check_boxes_inline' %> <%= I18n.t(:"date.day_names")[i] %>
                    </label>
                </span></li>
            <% end %>
        </ul>
    </div>

    <div class="col-md-1">
        <%= link_to_remove_association raw('<i class="fa fa-trash"></i>'), f, class: 'btn btn-default btn-lg', title: 'Remover oferta', data: { placement: 'bottom' } %>
    </div>

    <div class="col-md-12"><hr></div>
</div>
