<%= hlp_site_breadcrumb_render('Cadastro de anúncio') %>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner">
            <span><i class="fa fa-shopping-cart"></i> Cadastro de anúncio</span>
            <br> <small><%= @product.department.name %> / <%= @product.category.name %></small>
        </h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps">
        <%= link_to site_minha_conta_url(subdomain: false) do %>
          <i class="fa fa-chevron-left"></i> Voltar para minha conta
        <% end %>
      </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">



          <%= simple_form_for(@product, url: site_produtos_path(:anuncio_5), html: { method: :put }) do |f| %>
              <div class="w100 clearfix">
                <div class="row userInfo">
                  <div class="col-md-12">
                    <%= f.error_notification %>
                    <%= hidden_field_tag :product, @product.id if @product %>
                    <%= f.hidden_field :department_id %>
                    <%= f.hidden_field :name %>
                    <h2 class="block-title-2"> Seu anúncio já está pronto para ser publicado. </h2>
                  </div>
                    <%= render 'site/produto/partials/form_publish', f: f %>
                </div>
                <!--/row end-->
                <div class="gap"> </div>
              </div>
              <!--/ cartFooter -->
          <% end %>

        </div>
      </div>
      <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">

    </div>
    <!--/rightSidebar-->

  </div>
