<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu' %>
    </div>
</div>

<%#= hlp_site_breadcrumb_render('Cadastro de anúncio') %>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner">
            <span><i class="fa fa-shopping-cart"></i> Cadastro de Anúncio</span>
            <br> <small><%= @product.department.name %> / <%= @product.category.name %></small>
        </h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
      <h4 class="caps">
        <%= link_to site_minha_conta_url(subdomain: false) do %>
          <i class="fa fa-chevron-left"></i> Voltar para minha conta
        <% end %>
      </h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">



              <div class="w100 clearfix">
                <div class="row userInfo">
                  <div class="col-md-12">

                    <h2 class="block-title-2"> Escolha as melhores fotos do seu anúncio. </h2>
                    <h1>Você precisa carregar pelo menos uma imagem.</h1>
                  </div>

                  <div class="clearfix">
                    <% ['image1', 'image2', 'image3', 'image4'].each do |image| %>
                        <div class="col-md-3">
                            <%= s3_uploader_form callback_url: site_produtos_path(:upload, product: @product.id, field: image), callback_param: "manager_ad_product[#{image}]", key_starts_with: 'tmp/', class: "img-uploader img-up-#{image}", data: { field: image }, key: "tmp/{unique_id}/${filename}" do %>
                                <div class="image-box">
                                    <i class="fa fa-camera img-icon"></i>
                                    <i class="fa fa-check-circle-o check-icon"></i>
                                    <span><i class="fa fa-file-image-o"></i> Selecione um arquivo</span>
                                    <% if @product.send("#{image}?") %>
                                        <%= image_tag @product.send("#{image}_url", :list) %>
                                    <% else %>
                                        <img src="">
                                    <% end %>
                                    <%= file_field_tag :file %>
                                </div>
                                <%= link_to site_produtos_path(:remove_image, product: @product.id, image: image), remote: true, class: 'delete' do %>
                                  <i class="fa fa-trash-o"></i> Remover imagem
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                  </div>
                </div>
                <!--/row end-->
                <div class="gap"> </div>
              </div>

              <div class="cartFooter w100">
                <div class="box-footer">
                  <div class="pull-right">
                    <%= link_to site_produtos_path(:anuncio_5, product: @product.id), class: 'btn btn-primary btn-small' do %>
                        Salvar <strong>imagens</strong> e publicar anúncio &nbsp; <i class="fa fa-arrow-circle-right"></i>
                    <% end %>

                </div>
                </div>
              </div>

              <!--/ cartFooter -->


        </div>
      </div>
      <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <h2 class="block-title-2 ">Selecionando a foto do produto</h2>
      <dl>
          <dd>Adicione fotos de boa qualidade para uma melhor exposição do produto. </dd>
          <dd><br>Insira fotos de vários ângulos do produto. Assim o seu cliente pode decidir mais facilmente pela compra!</dd>
      </dl>
    </div>
    <!--/rightSidebar-->

  </div>


<script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
</script>
