<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>
<%#= hlp_site_breadcrumb_render('Cadastro de anúncio') %>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span><i class="fa fa-bullhorn"></i> Cadastro de Anúncio</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row userInfo">
            <div class="col-md-12">


                <%= simple_form_for(
                        @user,
                        url: site_produtos_path(:anuncio_1),
                        html: { method: :put, class: 'form-horizontal form-validate' },
                        wrapper: :horizontal_form
                    ) do |f|
                %>
                    <div class="w100 clearfix">
                        <div class="row userInfo">
                            <div class="col-md-12">
                                <%= f.error_notification %>
                                <%= hidden_field_tag :product, @product.id if @product %>
                                <!-- <h2 class="block-title-2"> Antes de criar seu anúncio, confirme seus dados. </h2> -->
                            </div>
                            <%= render 'site/produto/partials/form_user', f: f %>
                        </div><!--/row end-->
                        <div class="gap"> </div>
                    </div>
                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-lg "  href="#">
                                    <strong>Iniciar</strong> o cadastro do meu <strong>anúncio</strong> <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div><!--/ cartFooter -->
                <% end %>
            </div>
      </div>
      <!--/row end-->

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
    </div>
    <!--/rightSidebar-->

  </div>
