<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<%#= hlp_site_breadcrumb_render('Cadastro de anúncio') %>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="section-title-inner"><span><i class="fa fa-bullhorn"></i> Cadastro de Anúncio</span></h1>

            <% if !@product.new_record? %>
                <h2>
                    <strong><%= @product.name %></strong> <%= number_to_currency(@product.price) %>
                    <small><a href="<%= ad_url(@product.department_slug, @product.category_slug, @product.slug, subdomain: false) %>" target="_blank">[ Ver anúncio ]</a></small>
                </h2>
            <% end %>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row userInfo">
            <div class="col-xs-12 col-sm-12">

                <!-- Etapas do cadastro -->
                <%= simple_form_for(@product, url: site_produtos_path(:anuncio_2), html: { method: :put }) do |f| %>
                    <div class="w100 clearfix">
                        <div class="row userInfo">
                            <div class="col-md-12">
                                <%= f.error_notification %>
                                <%= hidden_field_tag :product, @product.id if !@product.new_record? %>
                                <%= hidden_field_tag :user_id, current_user.id %>
                                <%= f.hidden_field :department_id %>
                                <%#= f.hidden_field :category_id %>
                            </div>

                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#ad-fields" aria-controls="ad-fields" role="tab" data-toggle="tab">INFORMAÇÕES do Anúncio</a>
                                        </li>
                                        <li role="presentation" class="offers-tab <%= 'hide' if @product.has_interest %>">
                                            <a href="#ad-offers" aria-controls="ad-offers" role="tab" data-toggle="tab">OFERTAS e Descontos</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="ad-fields">
                                        <div class="col-md-12">
                                            <h2 class="block-title-2"> Preencha as principais informações sobre seu produto ou serviço. </h2>
                                            <!-- <br /> -->
                                            <%= render 'site/produto/partials/form_info', f: f %>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="ad-offers">
                                        <div class="col-md-12">
                                            <h2 class="block-title-2">Cadastre as ofertas e descontos</h2>
                                            <%= render 'site/produto/partials/form_offers', f: f %>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--/row end-->
                        <div class="gap"> </div>

                        <div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-7">
                                        <%# if current_user.expired_limit %>
                                            <!-- <div class="alert alert-warning">
                                                <h3><i class="fa fa-exclamation-triangle"></i> Atenção</h3>
                                                Seu limite de <strong><%= current_user.ad_limit %> anúncios</strong> foi atingido. Você pode cadastrar normalmente este anúncio, apenas não será publicado.
                                            </div> -->
                                        <%# else %>
                                            <strong>Deseja publicar o anúncio?</strong><br>
                                            <%= f.input :published,
                                                as: :radio_buttons_inline,
                                                collection: [['Sim', true], ['Não', false]],
                                                label: false
                                            %>
                                        <%# end %>
                                    </div>
                                    <div class="col-md-5 submit-buttons">
                                        <button type="submit" class="btn btn-block btn-success btn-lg pull-right" >
                                            Salvar anúncio &nbsp;
                                            <i class="fa fa-check-circle"></i>
                                        </button>

                                        <button type="submit" class="btn btn-block btn-default btn-md pull-right" name="new_ad">
                                            Salvar anúncio e criar outro &nbsp;
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div><!--/ cartFooter -->
                    </div>
                <% end %>

            </div>
        </div>
        <!--/row end-->

    </div>


</div>
