<%= hlp_site_breadcrumb_render('Cadastro de anúncio') %>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner">
            <span><i class="fa fa-shopping-cart"></i> Cadastro de anúncio</span>
            <br> <small><%= @product.department.name %> / <%= @product.category.name %></small>
        </h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
        <h4 class="caps">
            <%= link_to site_minha_conta_url(subdomain: false) do %>
                <i class="fa fa-chevron-left"></i> Voltar para minha conta
            <% end %>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-9">

        <!-- Etapas do cadastro -->
        <%= simple_form_for(
                @product,
                url: site_produtos_path(:anuncio_3),
                html: { method: :put, class: 'form-validate' },
                wrapper: :vertical_form
        ) do |f| %>
            <div class="row">
                <div class="col-md-12">
                    <%= f.error_notification %>
                    <%= hidden_field_tag :product, @product.id if @product %>
                    <%= f.hidden_field :department_id %>
                    <h2 class="block-title-2"> Digite todas as informações sobre o seu produto ou serviço. </h2>
                    <%= render 'site/produto/partials/form_info', f: f %>
                </div>
            </div><!--/row end-->
            <div class="gap"> </div>

            <div class="cartFooter w100">
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary btn-small pull-right"  href="#">
                        Salvar <strong>informações</strong> e abrir seleção de <strong>imagens</strong> &nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div><!--/ cartFooter -->
        <% end %>

    </div>
    <div class="col-md-3 rightSidebar">
        <div id="account-tips" data-spy="affix" data-offset-top="410" data-offset-bottom="400">
            <h2 class="block-title-2 ">Nome do título ou anuncio</h2>
            <dl>
                <dd>Identifique o nome do produto que esta sendo cadastrado.</dd>
            </dl>

            <h2 class="block-title-2 ">Marcas</h2>
            <dl>
                <dd>Identifique aqui a marca do seu produto. Caso não encontre sua marca, nos envie uma sugestão para que possamos inseri-la.</dd>
            </dl>

            <h2 class="block-title-2 ">Exibir o preço no site?</h2>
            <dl>
                <dd>Descreva o preço do produto para torná-lo mais interessante.</dd>
            </dl>

            <h2 class="block-title-2 ">Preço</h2>
            <dl>
                <dd>Preencha esse campo com o valor do produto ou serviço oferecido. Fique atento para preencher corretamente o valor, evitando criar dúvidas ao usuário.</dd>
            </dl>

            <h2 class="block-title-2 ">Ofertas</h2>
            <dl>
                <dd>Ao criar uma oferta, você pode informar o preço promocional e as datas para início e fim da oferta.</dd>
            </dl>
        </div>
    </div>
    <!--/rightSidebar-->

  </div>
