<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Cupons">
    <Table>

      <Row>
        <Cell><Data ss:Type="String">Código</Data></Cell>
        <Cell><Data ss:Type="String">Anúncio</Data></Cell>
        <Cell><Data ss:Type="String">Gerado</Data></Cell>
        <Cell><Data ss:Type="String">Vencimento</Data></Cell>
        <Cell><Data ss:Type="String">Utilizado</Data></Cell>
        <Cell><Data ss:Type="String">Cliente</Data></Cell>
        <Cell><Data ss:Type="String">Celular</Data></Cell>
        <Cell><Data ss:Type="String">E-Mail</Data></Cell>
        <Cell><Data ss:Type="String">Valor normal</Data></Cell>
        <Cell><Data ss:Type="String">Valor desconto</Data></Cell>
      </Row>

    <% @cupoms.each do |cupom| %>
      <Row>
        <Cell><Data ss:Type="String"><%= cupom.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.created_at.strftime('%d/%m/%Y %H:%M') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.due.strftime('%d/%m/%Y %H:%M') if cupom.due %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.used.strftime('%d/%m/%Y %H:%M') if cupom.used %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.user.cellphone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cupom.user.email %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= cupom.price %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= cupom.offer_price %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
