<% if current_user.expired_limit %>
    $('input:checkbox:unchecked').attr('disabled', true);
<% else %>
    $('input:checkbox:unchecked').attr('disabled', false);
<% end %>

$('.table-title-ad-limit').html('Limite <%= current_user.products.published.size %>/<%= current_user.ad_limit %>');
