table.barby-barcode { border-spacing: 0; -webkit-print-color-adjust: exact; }
tr.barby-row {}
td.barby-cell { width: 2px; height: 100px; }
td.barby-cell.on {
    background-color: #000;
    background-image: image_url('black-pixel.png');
}
