<% current_org = Organization.find_by_domain(Apartment::Tenant.current) %>

<h2 style="color: <%= current_org.color1 %>;">Bem vindo <%= @resource.name %>!</h2>

<p>Você se cadastrou através do site <a href="http://<%= current_org.domain %>"><%= current_org.domain %></a>, com o e-mail <strong><%= @email %></strong></p>

<p>Antes de fazer o login, confirme seu cadastro <%= link_to 'Clicando aqui.', confirmation_url(@resource, confirmation_token: @token) %></p>

<div style="font-size: 10px; color:silver;">
<p>E-mail enviado pelo sistema <strong><%= current_org.fullname %></strong>, por favor, não responda.</p>

<p>Em caso de dúvidas, envie um e-mail para a nossa equipe de atendimento: <%= current_org.email %></p>
</div>

