<% current_org = Organization.find_by_domain(Apartment::Tenant.current) %>

<h2 style="color:<%= current_org.color1 %>;">Olá <%= @resource.name %>! Vamos criar uma nova senha para você?</h2>

<p>Por medidas de segurança, sua antiga senha não pode ser recuperada, mas você pode criar uma nova senha. Clique no link abaixo para que você possa criar sua nova senha.</p>

<p><%= link_to 'Criar nova senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você <strong>não solicitou</strong> este e-mail, ignore-o.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>

<div style="font-size: 10px; color:silver;">
<p>E-mail enviado pelo sistema <strong><%= current_org.fullname %></strong>, por favor, não responda.</p>

<p>Em caso de dúvidas, envie um e-mail para a nossa equipe de atendimento: <%= current_org.email %></p>
</div>
