<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Compras de SMS </strong>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome do cliente</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Data da compra</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @buys.each do |buy| %>
                <% next unless buy.user %>
                <tr>
                    <td><%= link_to buy.user.name, edit_manager_sms_buy_path(buy) %></td>
                    <td><%= buy.qtd %></td>
                    <td><%= number_to_currency(buy.value) %></td>
                    <td><%= l buy.created_at, format: :long %></td>
                    <td>
                        <% if buy.active %>
                          <span class="label label-success">Ativo</span>
                        <% else %>
                        <span class="label label-warning">Aguardando</span>
                        <% end %>
                    </td>
                    <td>
                        <a href="<%= edit_manager_sms_buy_path(buy) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_sms_buy_path(buy), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
