.modal-header {
	background: $tango;

	h4{
		padding: 0px;
		font-size: 25px;

		small{
			color: #fff;
			font-size: 12px;
		}
	}
}


.modal-lg { width: $modal-lg; }

.switch-user {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    padding: 10px;
    z-index: 50;
    width: 450px;
    box-shadow: #000 0px 0px 1px;
    opacity: 0.8;
}
