<%= simple_form_for @banner_type, url: (@banner_type.new_record? ? manager_banner_types_path : manager_banner_type_path(@banner_type)) do |f| %>
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="fa fa-th"></span> Cadastrar Tipo de banner</strong></div>
    <div class="panel-body">
            <%= f.error_notification %>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :name, input_html: { autofocus: 'true' } %>
                </div>

                <div class="col-md-4">
                    <label for="banner_type_value">Valor</label>
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <%= f.text_field :value, class: 'form-control', 'price-format' => true %>
                    </div>
                </div>

                <div class="col-md-4">
                    <%= f.input :size %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <%= f.input :department, as: :radio_buttons_inline,
                    collection: [['Sim', true], ['Não', false]] %>
                </div>

                <div class="col-md-4">
                    <%= f.input :geral, as: :radio_buttons_inline,
                    collection: [['Sim', true], ['Não', false]] %>
                </div>

                <div class="col-md-4">
                    <%= f.input :home, as: :radio_buttons_inline,
                    collection: [['Sim', true], ['Não', false]] %>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <%= f.input :placeholder,
                        as: :image_preview
                    %>
                </div>
            </div>


</section>


<section class="panel panel-default">
    <div class="panel-body">
        <%= hlp_application_btn_submit('Tipo de banner') %>
    </div>
</section>

<% end %>
