<div class="page page-table">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="fa fa-th"></span> Tipo de banners </strong>
            <%= link_to "+ Adicionar", new_manager_banner_type_path, class: 'btn btn-xs btn-success pull-right' %>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Banners</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @banner_types.each do |banner| %>
                <tr>
                    <td><%= banner.id %></td>
                    <td><%= link_to banner.name, edit_manager_banner_type_path(banner) %></td>
                    <td><%= number_to_currency(banner.value) %></td>
                    <td><%= banner.banners.size %></td>
                    <td>
                        <a href="<%= edit_manager_banner_type_path(banner) %>" tooltip-append-to-body="true" tooltip-placement="top" tooltip="Editar"><i class="fa fa-pencil-square-o"></i></a>
                        &nbsp;|&nbsp;
                        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, manager_banner_type_path(banner), method: :delete, confirm: 'Deseja excluir?', "tooltip-append-to-body" => "true", "tooltip-placement" => "top", tooltip: "Excluir" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
