<div id="publicity-banner" class="hidden-sm hidden-xs" style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-top-wrap text-center">
                <div class="banner-top" style="width: <%= banner.width || 970 %>px;">
                    <p>Publicidade</p>
                    <a href="<%= banner.url %>">
                        <%= image_tag(banner.image_topo_url) %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
