<div>
    <% url = (user_signed_in? ? site_produtos_url(:anuncio_2, subdomain: false) : page_acesso_url(subdomain: false) ) %>
    <%= link_to url , class: 'user-advertise' do %>
        <span class="hidden-xs">Anuncie!</span>
        <!-- <i class="glyphicon glyphicon-user hide visible-xs "></i> -->
        <i class="icons-gratis"></i>
    <% end %>
</div>
