<div style="padding-top: 30px;">

  <button type="button" class="btn btn-default dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <strong>SPC</strong> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="<%= page_spc_path('xaxim') %>">SPC Xaxim</a></li>
    <li><a href="<%= page_spc_path('marema') %>">SPC Marema</a></li>
    <li><a href="<%= page_spc_path('irati') %>">SPC Irati</a></li>
    <li><a href="<%= page_spc_path('formosadosul') %>">SPC Formosa Do Sul</a></li>
    <li><a href="<%= page_spc_path('quilombo') %>">SPC Quilombo</a></li>
  </ul>



</div>
