<div style="padding-top: 10px;">
    <a href="<%= page_spc_path('xanxere') %>" class="btn btn-success btn-block">SPC Xanxerê</a>

    <a href="<%= page_spc_path('entrerios') %>" class="btn btn-primary btn-block">SPC Entre Rios</a>
</div>
