<style>
    .color1 { color: <%= @current_org.color1 %> !important; }
    .bg1 { background: <%= @current_org.color1 %> !important; color: #fff; }
    .border1 { border-color: <%= @current_org.color1 %> !important; }
    .border-hover1:hover { border-color: <%= @current_org.color1 %> !important; }
    .color2 { color: <%= @current_org.color2 %> !important; }
    .bg2 { background: <%= @current_org.color2 %> !important; color: #fff; }
    .border2 { border-color: <%= @current_org.color2 %> !important; }
    .border-hover2:hover { border-color: <%= @current_org.color2 %> !important; }
    .color3 { color: <%= @current_org.color3 %> !important; }
    .bg3 { background: <%= @current_org.color3 %> !important; color: #fff; }
    .border3 { border-color: <%= @current_org.color3 %> !important; }
    .border-hover3:hover { border-color: <%= @current_org.color3 %> !important; }

    .nav.nav-pills li.active a, .nav.nav-pills li.active small, .nav.nav-pills li.active label{
        background: <%= @current_org.color1 %>;
        color: #fff;
    }

    .nav.nav-pills li.active a:hover h3{
        background: <%= @current_org.color1 %>;
        color: #fff;
    }

    .nav.nav-pills li a:hover h3{
        color: <%= @current_org.color1 %>;
    }
</style>
