<% if @user_custom %>
    <style>
        <% if @user_custom.bg_image? %>
            .page-custom {
                background-image: url('<%= @user_custom.bg_image_url %>');
            <% if @user_custom.bg_repeat? %>
                background-repeat: repeat-x;
            <% else %>
                background-repeat: no-repeat ;
            <% end %>
            <% if @user_custom.basico? and (controller_name != 'usuarios' and action_name != 'produtos') %>
                background-position: center 113px;
            <% else %>
                background-position: center 99px;
            <% end %>
            }

            @media (min-width: 768px) and (max-width: 991px) {
                .page-custom {
                    background-position: center 60px !important;
                }
            }

            @media (max-width: 767px) {
                .page-custom {
                    background-position: center 130px !important;
                }
            }
        <% end %>


        <% if @user_custom.plan != 'free' %>
            .color1 { color: <%= @user_custom.color1 %> !important; }
            .bg1 { background: <%= @user_custom.color1 %> !important; color: #fff; }
            .border1 { border-color: <%= @user_custom.color1 %> !important; }
            .border-hover1:hover { border-color: <%= @user_custom.color1 %> !important; }
            .color2 { color: <%= @user_custom.color2 %> !important; }
            .bg2 { background: <%= @user_custom.color2 %> !important; color: #fff; }
            .border2 { border-color: <%= @user_custom.color2 %> !important; }
            .border-hover2:hover { border-color: <%= @user_custom.color2 %> !important; }
            .color3 { color: <%= @user_custom.color3 %> !important; }
            .bg3 { background: <%= @user_custom.color3 %> !important; color: #fff; }
            .border3 { border-color: <%= @user_custom.color3 %> !important; }
            .border-hover3:hover { border-color: <%= @user_custom.color3 %> !important; }
        <% end %>
    </style>
<% end %>
