<% if @themed_campaign %>
    <style>
        <% if @themed_campaign.img_bg? %>
            .page-custom {
                background-image: url('<%= @themed_campaign.img_bg_url %>');
                background-repeat: no-repeat ;
                background-position: center 99px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                .page-custom {
                    background-position: center 60px !important;
                }
            }

            @media (max-width: 767px) {
                .page-custom {
                    background-position: center 130px !important;
                }
            }
        <% end %>
        .color1 { color: <%= @themed_campaign.color1 %> !important; }
        .bg1 { background: <%= @themed_campaign.color1 %> !important; color: #fff; }
        .border1 { border-color: <%= @themed_campaign.color1 %> !important; }
        .border-hover1:hover { border-color: <%= @themed_campaign.color1 %> !important; }
        .color2 { color: <%= @themed_campaign.color2 %> !important; }
        .bg2 { background: <%= @themed_campaign.color2 %> !important; color: #fff; }
        .border2 { border-color: <%= @themed_campaign.color2 %> !important; }
        .border-hover2:hover { border-color: <%= @themed_campaign.color2 %> !important; }
        .color3 { color: <%= @themed_campaign.color3 %> !important; }
        .bg3 { background: <%= @themed_campaign.color3 %> !important; color: #fff; }
        .border3 { border-color: <%= @themed_campaign.color3 %> !important; }
        .border-hover3:hover { border-color: <%= @themed_campaign.color3 %> !important; }
    </style>
<% end %>
