/* =============================================================== */
/* ABOUT PAGE
/* =============================================================== */

.innerPage {
  padding-top: 30px;
}

.parallaxOffset {
  margin-top: 70px;
  -webkit-transition: all .1s ease-out 0s;
  -moz-transition: all .1s ease-out 0s;
  -ms-transition: all .1s ease-out 0s;
  -o-transition: all .1s ease-out 0s;
  transition: all .1s ease-out 0s;

  &.down {
    margin-top: 28px;
  }
}

.parallax-image-aboutus {
  background: image-url("theme/site/about-bg.jpg") no-repeat 50% -80px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  .parallax-content {
    padding: 150px 0;
  }
}

.title-big {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.padding-top-30 {
  padding-top: 30px;
}

.form-newsletter input {
  margin-bottom: 20px;
}

.hr30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hr40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
