/* =============================================================== */
/* CART PAGE
/* =============================================================== */

.quanitySniper {
  height: 30px;
  padding: 0;
  text-align: center;
  width: 40px;
}

tr.CartProduct td {
  text-align: center;

  &:nth-child(2) {
    text-align: left;
  }
}

.cartTable {
  border-top: solid 1px #EBEDEF;
}

.cartTableHeader {
  background: #EBEDEF;
}

.cartFooter {
  padding: 20px;
  border-top: solid 1px #eee;
  background: #EBEDEF;
  display: inline-block;
  width: 100%;
}

#cart-summary tr td:nth-child(2) {
  text-align: right;
}



/* =============================================================== */
/* / /right side bar  //> .rightSidebar //> if needed
/* =============================================================== */

.caps {
  border-top: 0 none;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 16px;
  overflow: hidden;
  padding: 0 0 16px;
  text-align: right;
  text-transform: uppercase;
}

.cartMiniTable {
  border: 1px solid #DDDDDD;
  padding: 10px;
}

.categoryListPanel {
  background: #EBEDEF;
}

.contentBox {
  margin-bottom: 15px;
}

.rightSidebar {
  position: relative;

  img {
    max-width: 100%;
  }

  // .section-title-inner {}

  #cart-summary {
    margin-top: 0;

    tr:first-child td {
      border: 0;
    }
  }

  .product-image img {
    float: left;
    max-width: 100%;
    width: 90px;
    margin-right: 10px;
  }

  .product {
    padding: 10px 0;
  }

  .item {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
    background: #fff;

    h4 {
      margin-top: 0;
    }
  }
}

.item h4 a {
  // font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

.couponForm {
  input[type="text"] {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    height: 33px;
  }

  .btn {
    border-radius: 0 3px 3px 0;
  }
}

span.success,
p.success div.success {
  color: #8BB418;
}

#total-price {
  font-size: 22px;
  font-weight: bold;
}

/* =============================================================== */
/*  CHECKOUT PAGE START
/* =============================================================== */

.orderStep {
  clear: both;
  display: inline-block;
  height: auto;
  padding: 0;
  margin-bottom: 30px;
  width: 100%;

  li {
    display: inline-block;
    float: left;
    height: auto;
    margin: 0;
    min-height: 55px;
    padding: 0;
    width: 50%;

    &.active {
      a {
        color: #fff;
        position: relative;

        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-width: 10px;
          margin-left: -10px;
        }
      }

      span {
        background: $tango;
      }

      i {
        background: $tango - 30;
        color: #FFFFFF;
      }
    }

    &.disabled{
      a {
        color: #919191;
        position: relative;
      }

      i {
        color: #919191;
      }
    }

    a {
      background: #EFF0F2;
      display: inline-block;
      font-size: 14px;
      height: 100%;
      line-height: normal;
      padding: 20px 0 0;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      text-transform: uppercase;
      font-size: 13px;

      i {
        background: rgba(0, 0, 0, .05);
        border-radius: 0;
        display: block;
        font-size: 20px;
        height: auto;
        left: 0;
        line-height: 40px;
        margin-top: -20px;
        padding: 0;
        text-align: center;
        width: auto;
        float: none !important;
      }

      span {
        display: block;
        padding: 5px 0;
      }
    }
  }
}

/* payment */

.paymentBox {
  margin-bottom: 30px;
  display: block;
}

.checkoutReview .CartProductThumb a img {
  width: 50px;
}
