/* =============================================================== */
/* CATEGORY PAGE START
/* =============================================================== */

.breadcrumb-text {
  color: $brand-primary;
  margin-right: 5px;
}

.main-container {
  min-height: 580px;
}

.headerOffset {
  padding-top: 120px;
}

.subCategoryList {
  margin-top: 30px;
  overflow: hidden;

  .thumbnail {
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
}

.tree .dropdown-menu {
  position: relative !important;
  float: none !important;
  box-shadow: none !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.open-tree > .dropdown-menu {
  display: block;
}

.dropdown-menu-tree {
  display: none;
  margin-bottom: 10px;
}

.open-tree > .dropdown-menu-tree {
  display: block;
}

.tree > li.active > a {
  background: none;
  color: $brand-primary;//#2c3e50;

  &:hover,
  &:focus {
    background: none;
    color: $brand-primary;
  }
}

.nav.tree > li.active,
.nav.tree > li > a:hover,
.nav.tree > li > a:focus,
.nav.tree > li:hover > a {
  background:none;
  // color:#2c3e50;
  color: $brand-primary;
}
.nav.tree .open-tree > a,
.nav.tree .open-tree > a:hover,
.nav.tree .open-tree > a:focus {
  background:none;
  font-weight:bold;
  border-bottom: 0 none;
}

.tree > .active > a > .badge {
  background: #999999;
  color: #fff;
}

.category-level-2 {
  border-left: 1px solid #DDDDDD !important;
  margin-left: 12px;

  li {
    // margin-top: 2px;

    a {
      display: block;
      font-weight: normal !important;
      padding: 3px 10px;

      @include transition(none);

      &.active {
        font-weight: bold !important;
      }
    }
  }

  .dropdown-tree.active .dropdown-tree-a,
  .open-tree .dropdown-tree-a {
    font-weight: bold !important;
    color: $brand-primary;
  }
}

.priceFilterBody {
  .form-inline .form-group {
    max-width: 30%;
    float: left;
  }

  .sp {
    padding: 10px;
  }
}

.subCategoryThumb {
  height: 80px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    max-width: 100%;
  }
}



.color-details {
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
}

.productFilter {
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  clear: both;
  display: block;
  margin: 10px 0;
  padding-bottom: 7px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #eee;

  p {
    display: block;
    font-size: 14px;
    margin-top: 6px;
  }

  select,
  input {
    font-size: 13px;
  }
}

.change-view {
  margin-right: 10px;

  a {
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    height: 34px;
    line-height: 23px;
    margin-left: 5px;
    overflow: hidden;
    padding: 5px 8px;
    border-radius: 3px;
    background: #fff;
  }
}

.subCategoryTitle {
  font-size: 13px;
  color: #444;
  font-weight: 600;
}



.categoryFooter {
  border-top: solid 1px #eee;
  padding-top: 20px;
  // margin-top: -20px;
}

.nav-stacked > li {
  border-bottom: solid 1px #eee;

  a {
    font-size: 13px;

    &:hover {
      // color: #2c3e50;
      color: $brand-primary;
      font-weight: 700 !important;
    }
  }

  &.active {
    background: none;
    color: $brand-primary;
    font-weight: bold;

    > a {
      background: none;
      color: $brand-primary;
      font-weight: bold;
    }
  }

  &.tree > li a:hover {
    color: #2c3e50;
  }
}

/* ------- according panel style -------  */

.panel-title {
  // color: inherit;
  // font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  color: #34495E;
  font-size: 15px;
}

.clearFilter {
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  line-height: normal;
  padding: 2px 5px;
  text-transform: capitalize;
}

.labelRounded {
  border-radius: 10px;
}

.clearFilter:hover {
  opacity: 0.7;
}

.minus {
  display: block;
}

.collapseWill {
  i {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-right: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &.pressed i {
    margin-right: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .minus,
  &.collapsed .minus {
    display: none !important;
  }
}

.color-filter small {
  border: 1px solid #DDDDDD;
  display: inline-block;
  height: 14px;
  margin: 0 3px 0 1px;
  width: 14px;
}
