/* =============================================================== */
/* CONTACT US PAGE
/* =============================================================== */

.whitebg {
  background: #fff;
}

.fixedContent {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

.wrapper.contact-us {
  background: #FFFFFF;
  display: block;
  margin-top: 450px;
  position: relative;
  width: 100%;
  z-index: 4;
}

.h1error {
  font-size: 80px;
  font-weight: bold;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.err404 {
  font-weight: lighter;
}
