/* =============================================================== */
/* HOME PAGE SLIDER
/* =============================================================== */

.banner {
  // margin-top: 80px;
  width: 100%;
  display: block;
  max-height: 540px;
  height: auto;
  overflow: hidden;
  position: relative;
  @include transition(all .1s ease-out 0s);

  &.down {
    margin-top: 26px;
  }

  .sliderInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    .container {
      height: 100%;
      display: block;
    }
  }
}

// .banner-boxes {
  // margin-top:80px;
// }

.slider-content,
.slider,
.slider-v2 {
  width: 100%;
  display: block;
  max-height: 540px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.transformRight {
  display: block;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -o-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
  -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
  -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
  -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
  transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
  opacity: 0;
  filter: alpha(opacity = 0);
  /* IE FIX */
  -ms-filter: "alpha(Opacity=0)";
}

.transformLeft {
  display: block;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  transform: translateX(-120px);
  -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
  -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
  -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
  -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
  transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
  opacity: 0;
  filter: alpha(opacity = 0);
  /* IE FIX */
  -ms-filter: "alpha(Opacity=0)";
}

.slider-item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &.cycle-slide-active .sliderText {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  &.cycle-slide-active .transformLeft {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  &.cycle-slide-active .transformRight {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    /* IE FIX */
    filter: none;
  }
}

.sliderImg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  // preloader
  background: image-url("theme/site/loading1.gif") center center no-repeat;
}

.sliderText {
  display: block;
  margin-top: 15%;
  -webkit-transform: translateX(-120px);
  -moz-transform: translateX(-120px);
  -o-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  transform: translateX(-120px);
  -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
  -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
  -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
  -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
  transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
  opacity: 0;
  filter: alpha(opacity = 0);
  /* IE FIX */
  -ms-filter: "alpha(Opacity=0)";

  &:nth-child(n) {
    filter: none;
  }

  &.white {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, .8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffff, endColorstr=#ccffff);
    /* IE FIX */
    zoom: 1;

    &:nth-child(n) {
      filter: none;
    }

    // h1 {}
  }

  &.dark {
    color: #ddd;

    h1 {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }
  }

  .inner {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
    font-weight: lighter;
  }

  h3.price {
    font-size: 22px;
    font-weight: lighter;
  }
}

.slide-link {
  color: #fff;
  letter-spacing: -0.25px;
  font-size: 16px;
}

.slider-item-img1,
.slider-item-img2,
.slider-item-img3 {
  background-size: cover;
}

/* ------- slider style 1 start ------- */

#pager2 {
  position: absolute;
  bottom: 10px;
  // z-index: 100;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  span {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px;
    text-indent: -9999px;
    width: 16px;

    &.cycle-pager-active {
      color: #fff;
    }
  }
}

.sliderControl {
  position: absolute;
  z-index: 200;
  top: 45%;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  color: #2c3e50;
  padding: 0 5px;
  opacity: 1;

  &:hover {
    background: rgb(255, 255, 255);
    background: transparent\9;
    background: rgba(255, 255, 255, .6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffff, endColorstr=#99ffff);
    /* IE FIX */
    zoom: 1;

    &:nth-child(n) {
      filter: none;
    }
  }
}

.prevControl {
  left: 20px;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
  -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
  -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
  -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
  transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(Opacity=0)";
}

.banner:hover .prevControl {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.nextControl {
  right: 20px;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
  -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
  -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
  -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
  transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(Opacity=0)";
}

.banner:hover .nextControl {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.sliderTextFull {
  margin-top: 20%;
  color: #FFFFFF;

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
  }

  .opacity0 {
    opacity: 0 !important;
  }

  .inner.dark {
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    width: auto;
    background: rgb(0, 0, 0);
    background: transparent\9;
    background: rgba(0, 0, 0, .8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc0000, endColorstr=#cc0000);
    /* IE FIX */
    zoom: 1;

    &:nth-child(n) {
      filter: none;
    }
  }
}

.topAnima {
  opacity: 0;
}

.cycle-slide-active .topAnima {
  opacity: 1;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: .3s;
  visibility: visible !important;
}

.cycle-slide-active .sliderTextFull .bottomAnima {
  opacity: 1 !important;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 1s;
  animation-delay: .4s;
  -webkit-animation-duration: 1s;
  visibility: visible !important;
}

.blankstyle h1 {
  display: block;
  font-size: 36px;
  font-weight: bold;
  height: auto;
  letter-spacing: -1px;
  line-height: 36px;
  opacity: 1;
  padding: 0;
  text-transform: uppercase;
}

.color-white {
  color: #fff;

  h1,
  p {
    color: #fff;
  }
}

.color-black {
  color: #000;

  h1,
  p {
    color: #000;
  }
}

/* ------- slider style 2 pager ------- */

#pager {
  position: absolute;
  bottom: 0;
  // z-index: 100;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
  padding: 0;

  a {
    color: #fff;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    float: left;
    // font-family: Dosis, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    list-style: none outside none;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 33.333334%;
    background: rgba(0, 0, 0, .5);

    &.cycle-pager-active {
      color: #fff;
    }
  }
}

