/* =============================================================== */
/* Account// Address // Order //  Creation
/* =============================================================== */

.myAccountList {
  li {
    text-align: center;

    a {
      font-size: 14px;
      display: block;
    }

    i {
      display: block;
      clear: both;
      font-size: 44px;
      margin-bottom: 10px;
    }
  }

  .thumbnail {
    padding: 10px 0 0;

    &:hover {
      background: #F5F5F5;
    }
  }
}

h2.block-title-2,
.formBox h3,
.block-title-2 {
  border-bottom: 1px solid #CECECE;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.panel-footer-address .btn {
  margin-right: 5px;
}

//*------- cart & Wisth list -------*/

.CartProductThumb a img {
  width: 86px;
  max-width: 100%;
}

tr.CartProduct {
  border-bottom: 1px solid #E7E9EC;

  td {
    padding: 10px 0;
  }
}

//* mycart */

.cartTableHeader {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
