/* =============================================================== */
/* PARALLAX CONTENT 1
/* =============================================================== */

.parallax-section {
  width: 100%;
  display: block;
  clear: both;
  height: auto;
}

.parallax-image-1.ismobile,
.parallax-image-2.ismobile,
.parallax-image-aboutus.ismobile,
.parallax-section.ismobile {
  background-attachment: scroll !important;
}

.parallax-image-1.isios,
.parallax-image-2.isios,
.parallax-image-aboutus.isios,
.parallax-section.isios {
  background-size: 100% auto !important;
  background-attachment: scroll !important;
  background-position: center center;
}

.parallax-image-1.isandroid,
.parallax-image-2.isandroid,
.parallax-image-aboutus.isandroid,
.parallax-section.isandroid {
  background-size: cover !important;
  background-attachment: scroll !important;
  background-position: center center;
}

.parallax-image-1 {
  background: image-url("parallax/parallax.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  &.isios {
    background-color: #734e48;
    background-repeat: no-repeat;
  }
}

.parallax-image-2 {
  background: image-url("parallax/people-collage.jpg") fixed;
  background-attachment: fixed;

  &.isios {
    background-size: auto 100% !important;
  }
}

.parallaxPrce {
  font-size: 52px;
  color: #fff;
}

.parallax-content {
  text-align: center;
  padding: 100px 0;

  h2 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    margin: 0 auto;
    max-width: 900px;
    padding: 5px 10px;
    text-align: center;
  }

  h3 {
    color: #DDDDDD;
    display: inline-block;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
    max-width: 900px;
    padding: 0 10px;
    text-align: center;
  }
}

.btn-discover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 22px;
  padding: 10px 57px;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;

  &:hover {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.brand-carousel li {
  float: left;
  display: inline-block;

  img {
    max-width: 100%;
    width: 100%;
  }
}

.carousel-nav {
  font-size: 26px;
  margin-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

/*  ------- parallax section 2 -------  */

.parallax-section-overley {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}

h1 {
  &.xlarge {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 800;
    padding-bottom: 0;
    line-height: normal;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 0 1px white;
    text-transform: uppercase;
  }

  &.x2large {
    color: #FFFFFF;
    font-size: 56px;
    line-height: normal;
    font-weight: 800;
    padding-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 0 1px white;
    text-transform: uppercase;
  }
}

h5.parallaxSubtitle {
  font-family: 'Dosis', serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}


/* =========================HOMEPAGE END==========================*/
