// paginaçao
#infscr-loading {
  @extend .col-md-12;
  @include clearfix;
}

#comentarios {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 25px;
  // border-top: 2px solid #bfc9ca;
  // text-transform: uppercase;
}

//* =============================================================== */
//* PRODUCT DETAILS PAGE
//* =============================================================== */

.new-condition {
  margin-bottom: -20px !important;
}


.product-city {
  display: block;
  margin-left: 31px;
  margin-top: -8px;
  margin-bottom: 10px;
}

.product-phone {
  float: left;
}

.product-show-info {
  line-height: 25px;
  margin-left: 10px;
}

.categoryFilter {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 50px;

  .minict_wrapper {
    max-width: 180px;
    max-height: 28px;
    height: 28px !important;

    input {
      font-size: 12px !important;
      height: 28px !important;
    }

    li {
      font-size: 12px !important;
    }
  }
}

//* -------- zoom ------- */

.main-image {
  position: relative;
  max-height: 553px;
  margin-bottom: 30px;
  // margin-left: 20%;
  padding-left: 0;
  padding-right: 0;
  // max-width: 80% !important;

  > a {
    float: right;
  }

  a {
    cursor: -webkit-zoom-in;  cursor: zoom-in;
  }
}

/*set a border on the images to prevent shifting*/
#main-image-gallery {
  position: absolute;
  left: 15px;
  top: 0;
  // // width: 19% !important;
  z-index: 70;

  img{
    margin-bottom: 5px;
  }
}


.product-user {
  height: 75px;
}


.product-info {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px 20px 10px 20px;
  @include box-shadow(0 3px 5px 0 rgba(0,0,0, 0.3));
}

.product-legalinfo{
  font-size: 12px;
  color: #BFC9CA;
}

#details {
  p {
    font-size: 1.2em;
  }
}

.show-sold {
  position: absolute;
  z-index: 100;
  width: 100%;
  span {
    float: right;
    background: #3a930d;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 60px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    box-shadow: 3px 3px 3px #888888;
  }
}

/*Change the colour*/
// #main-image-gallery .active img{
//   border: 2px solid red !important;
// }


#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: image-url('fancybox_sprite.png');
}

#fancybox-loading div {
  background: image-url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-nav {
  background: transparent image-url('blank.gif'); /* helps IE */
}

.fancybox-overlay {
  background: image-url('fancybox_overlay.png');
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5){

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: image-url('fancybox_sprite@2x.png');
  }

  #fancybox-loading div {
    background-image: image-url('fancybox_loading@2x.gif');
  }
}

// .sp-wrap {
//   z-index: 10;
//
//   width: 100%;
//   background: none !important;
//   border: none !important;
// }

// .sp-large {
//   width: 444px;
//   max-width: 80% !important;
//   margin-left: 20%;

//   a img {
//     width: 100%;
//   }
// }

// .sp-thumbs {
//   position: absolute;
//   left: 0 !important;
//   top: 0 !important;
//   width: 19% !important;
//   text-align: left;
//   z-index: 70;

//   img {
//     height: auto !important;
//     width: 100px !important;
//     max-width: 100%;
//     width: 100px !important;
//   }

//   a {
//     &:link,
//     &:visited {
//       float: left !important;
//       width: 100%;
//       // border: 2px solid #eee;
//       display: inline-block;
//       margin-bottom: 10px;
//       // float: right;
//       margin-right: 0 !important;
//       transition: margin .2s ease 0s;
//     }

//     &:hover {
//       margin-right: 4px !important;
//     }
//   }

// }

//* -------- END zoom ------- */

.product-title {
  font-size: 30px;
  font-weight: 600;
  // letter-spacing: .25px;
  line-height: 45px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: none;
}

.product-price {
  font-size: 38px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  color: $brand-primary;
  small {
    font-size: 60%;
  }

  .interest-title {
    font-size: 42%;
  }
}

.product-discount {
  font-size: 60%;
  line-height: 43px;
  vertical-align: middle;
  @include opacity(0.7);
}

.price-standard {
  color: #999;
  font-size: 25px;
  font-weight: 300;
  // text-decoration: line-through;
  small {
    font-size: 60%;
  }
}

.product-code {
  font-size: 13px;
  font-weight: 200;
  min-height: 24px;
  margin: 0 0 5px;
  padding: 0;
  text-transform: uppercase;
}

.product-details {
  small {
    font-size: 75%;
  }
}

//*------- product tab ------- */

.product-tab {
  // width: 100%;
  display: inline-block;
  clear: both;

  .nav-tabs {
    // margin-bottom: 20px;
    border-bottom: 3px solid $submarine;

    > li {
      background: none;

      > a {
        border: 0;
        border-radius: 0;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
        padding: 10px !important;
        text-transform: uppercase;
      }

      + li {
        margin-left: 10px;
      }

      &:hover > a {
        background: $submarine;
        color: #fff !important;
        border: 0;
        border-radius: 0;
      }

      &.active {
        background: none;

        > a {
          background: $submarine;
          color: #fff !important;
          border: 0;
          border-radius: 0;

          &:hover,
          &:focus {
            background: $submarine;
            color: #fff !important;
            border: 0;
            border-radius: 0;
          }
        }
      }
    }
  }

  .tab-content {
    background: #fff;
    padding: 10px;
  }
}

.nav-tabs > li > a { background-color: #eee; }

.color-details {
  margin-top: 14px;
}

.swatches {
  margin: .5em 0;
  padding-left: 0;

  li {
    border: 2px solid #fff;
    display: inline-block;
    margin: 2px 1px;
    vertical-align: top;
    list-style: none;
  }

  .selected,
  li:hover {
    border: 2px solid #b2b2b2;
  }

  a {
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    box-shadow: 1px 1px 2px #c5c5c5;
    display: block;
    height: 33px;
    text-align: center;
    transition: all .25s ease 0s;
    width: 33px;

    img {
      height: 29px;
      width: 29px;
    }
  }
}

//* ------- filterBox -------*/

.filterBox {
  display: inline-block;
  margin-right: 20px;
}

.cart-actions {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  clear: both;

  button,
  .wishlist {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    margin: 0 20px 0 0;
    padding: 14px 20px;
    text-transform: uppercase;

    background: #fff;
    color: $chathams-blue; //#666;
    border: solid 2px #ccc;
    border-radius: 3px;

    line-height: 1em;
    text-decoration: none;
    @include transition(all .25s ease 0s);

    &:hover {
      // background: #ccc;
      color: $tango; //#fff;
      // border: solid 2px #ccc;
    }
  }
}

button.first {
  margin-right: 20px;
  margin-bottom: 10px;
}

.incaps {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  i {
    font-size: 20px;
  }
}

.color-in {
  color: #4cc94a;
}

.color-out {
  color: red;
}

.product-share {
  // border-top: 1px solid #ddd;
  // clear: both;
  display: inline-block;
  margin-top: 31px;
  // padding-top: 14px;
  // width: 100%;
}

.socialIcon a {
  background: #ccc;
  color: #fff;
  display: block;
  font-size: 22px;
  padding: 6px 3px;
  margin-bottom: 10px;
  text-align: center;
  width: 35px;
  transition: all .15s ease-in-out 0s;
  -moz-transition: all .15s ease-in-out 0s;
  -webkit-transition: all .15s ease-in-out 0s;
  -o-transition: all .15s ease-in-out 0s;
  -ms-transition: all .15s ease-in-out 0s;

  &:hover {
    color: #fff;
  }
}

///*------- You may also like -------*/

.recommended {
  border-top: solid 2px #ddd;
  margin-top: 20px;
  padding-top: 20px;
  background: #fff;

  h3 {
    padding: 0px 10px;
  }

  h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .description {
    min-height: 70px;
  }
}

#SimilarProductSlider {
  margin-top: 30px;

  .item {
    float: left;
    max-width: 273px;
    margin: 0 10px;
    height: auto !important;
    color: #fff;
    background: #fff;
    border-radius: 3px;
    text-align: center;
  }

  .product-item {
    position: relative;
  }

  .valid-offer {
    left: 0;
  }

  .product-image img {
    max-height: 200px;
  }
}


.product-image {
  max-width: 100%;

  img {
    max-width: 100%;
  }
}
