<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Público alvo entre <strong><%= l @date1, format: :short %></strong> e <strong><%= l @date2, format: :short %></strong></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      Selecione outro período:
    </div>
    <%= simple_form_for(:filter, url: site_analisar_path(:publico_alvo), method: :get) do |f| %>
        <div class="col-md-2">
            <%= f.input :date1, as: :date_picker, label: 'De', input_html: { value: l(@date1, format: '%d/%m/%Y') } %>
        </div>
        <div class="col-md-2">
            <%= f.input :date2, as: :date_picker, label: 'Até', input_html: { value: l(@date2, format: '%d/%m/%Y') } %>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label><br />
            <button type="submit" class="btn btn-success"><i class="fa fa-calendar"></i> Selecionar período</button>
        </div>
    <% end %>
    <div class="col-md-12">
      <hr />
    </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h2>Gênero</h2>
    <%= pie_chart Visit.chart_gender(@user, @date1, @date2) %>
  </div>

  <div class="col-md-6">
    <h2>Faixa etária</h2>
    <%= pie_chart Visit.chart_age(@user, @date1, @date2) %>
  </div>
</div>

<div class="row">


    <% if ['top', 'total'].include?(current_user.plan) %>
      <% graph = Visit.chart_cluster(@user, @date1, @date2) %>
      <% if graph %>
        <div class="col-md-12">
          <h2>Perfil (%)</h2>
          <%= column_chart graph %>
        </div>
      <% end %>

      <% graph = Visit.chart_interest(@user, @date1, @date2) %>
      <% if graph %>
        <div class="col-md-12">
          <h2>Conteúdos de interesse (%)</h2>
          <%= column_chart graph, colors: ['#f17420'] %>
        </div>
      <% end %>

      <% graph = Visit.chart_brand(@user, @date1, @date2) %>
      <% if graph %>
        <div class="col-md-12">
          <h2>Marcas (%)</h2>
          <%= column_chart graph, colors: ['#306c8b'] %>
        </div>
      <% end %>


      <% graph = Visit.chart_product(@user, @date1, @date2) %>
      <% if graph %>
        <div class="col-md-12">
          <h2>Intenções de compra (%)</h2>
          <%= column_chart graph, colors: ['#40abbd'] %>
        </div>
      <% end %>
    <% end %>

</div>

<% if @ads.compact.present? %>
<div class="row">
    <hr />
    <div class="col-md-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                      <% if @ads.size > 1 %>
                        Seus <strong><%= @ads.size %> anúncios</strong> mais visualizados entre <strong><%= l @date1, format: :short %></strong> e <strong><%= l @date2, format: :short %></strong>
                      <% else %>
                        Seu anúncio mais visualizado entre <strong><%= l @date1, format: :short %></strong> e <strong><%= l @date2, format: :short %></strong>
                      <% end %>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Anúncio</th>
                  <th style="text-align: center;">Visitas</th>
                  <th style="text-align: center;">Gênero</th>
                  <th style="text-align: center;">Idade</th>
                </tr>
              </thead>

              <tbody class="table-customers">
                <% @ads.each do |ad| %>
                  <tr>
                    <td><%= ad[:product].name %></td>
                    <td style="text-align: center;"><%= ad[:count] %></td>
                    <td style="text-align: center;"><%= ad[:gender] %></td>
                    <td style="text-align: center;"><%= ad[:age] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

        </div>

    </div>
</div>
<% end %>



<% content_for :head do %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>
