<!DOCTYPE html>
<html lang="pt-br">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <% set_meta_tags({ publisher: "https://plus.google.com/101999659569894484382" }) unless @user_custom %>
    <%= display_meta_tags(
            site: "#{ @current_org.title_site }",
            reverse: true,
            og: @page_og
        )
    %>
    <meta property="fb:app_id" content="755322341198738" />
    <meta property="fb:admins" content="100000343060715,682084912,1308993307" />
    <% if user_signed_in? %>
    <meta id="current-user-id" name="currentUser" content="<%= current_user.id %>" />
    <% end %>

    <% if @product %>
        <meta id="seller-id" name="sellerId" content="<%= @product.user_id %>" />
    <% elsif @seller %>
        <meta id="seller-id" name="sellerId" content="<%= @seller.id %>" />
    <% end %>

    <link rel="alternate" href="<%= request.url %>" hreflang="pt-br" />
    <meta name="author" content="<%= @current_org.fullname %>">
	<meta name="viewport" content="width=device-width, height=device-height, minimum-scale=0.5, maximum-scale=1.4, initial-scale=1.0, user-scalable=no"/>

    <% if @current_org.name != 'clictem' %>
        <link rel="shortcut icon" href="<%= image_path("whitelabel/favicon_#{@current_org.name}.ico") %>" />
    <% else %>
	   <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>" />
       <meta name="twitter:card" content="summary" />
       <meta name="twitter:site" content="@clictem" />
    <% end %>

    <meta property="og:locale" content="pt_BR" />
    <% if current_page?(root_path) and @themed_campaign == nil  %>
        <% cache [Manager::Page.find("home").cache_key] do %>
        <meta name="description" content="<%= Manager::Page.find("home").description %>" />
        <% end %>
    <% end %>
  	<%= stylesheet_link_tag 'application' %>

    <% if @current_org.name != 'clictem' %>
        <%= stylesheet_link_tag "whitelabel/#{@current_org.name}" %>
    <% end %>


  	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css' />
    <%= yield :head %>
    <%= render "site/partials/scripts_#{@current_org.name}" %>

    <% if @current_org.name != 'clictem' %>
        <%= render 'layouts/partials/style_whitelabel' %>
    <% end %>

    <%= render 'layouts/partials/style_user_custom' %>
    <%= render 'layouts/partials/style_themed_campaign' %>

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>
<body class="<%= 'page-custom menu-in' if @user_custom or hlp_is_my_account? or @themed_campaign %> <%= 'page-custom-free' if @user_custom and !['top', 'total'].include?(@user_custom.plan) %>" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <% if Rails.env.production? %>
    	<div id="fb-root"></div>
    	<script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=755322341198738&version=v2.0";i.parentNode.insertBefore(r,i)})(document,"script","facebook-jssdk")</script>
    <% end %>

    <% if current_user and current_user.staff? %>
        <div class="row switch-user">
            <div class="col-md-12">
                <div class="container">
                    Selecione o cliente para trocar de conta: <%= switch_user_select %>
                </div>
            </div>
        </div>
    <% end %>


    <% if @user_custom %>
        <%= render 'site/partials/header' %>
        <%= render 'site/partials/publicidade_topo' if !['top', 'total'].include?(@user_custom.plan) %>
    <% elsif hlp_is_my_account? %>
        <%= render 'site/partials/header_admin' %>
    <% else %>
    	<%= render 'site/partials/header' %>
        <%= render 'site/partials/publicidade_topo' %>
    <% end %>

    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <%= flash_messages %>
            </div>
        </div>
    </div>


    <%= yield :home %>


    <% if yield(:full_page).presence %>
        <%= yield :full_page %>
    <% else %>
            <main class="<%= 'user-custom content' if @user_custom or @themed_campaign %>">
                <article class="container main-container">
                    <%= yield %>
                    <div style="clear:both">  </div>
                </article>
            </main>
    <% end -%>

	<div class="gap">&nbsp;</div>
    <div id="back-to-top"><i class="icons-back-to-top"></i></div>
	<%= render 'site/partials/footer' %>

    <%= javascript_include_tag 'application', 'my_account' %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
    <%= yield :javascript %>

    <%#= intercom_script_tag if user_signed_in? and current_user.kind == 'pj' %>
</body>
</html>
