<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>ADMIN | <%= @current_org.fullname %></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css" />
        <!-- <link rel="stylesheet" href="http://acoderinsights.ro/source/aciTree/css/aciTree.css" /> -->
        <%= stylesheet_link_tag 'manager/theme/main' %>
        <%= csrf_meta_tags %>

        <style>
          .check_boxes .form-control{height: 23px;}
        </style>
    </head>
    <body ng-app="app" id="app" data-custom-background="" data-off-canvas-nav="">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-controller="AppCtrl">
            <div>
                <section id="header" class="top-header">
                    <%= render 'manager/partials/header' %>
                </section>

                <aside id="nav-container">
                    <%= render 'manager/partials/nav' %>
                </aside>
            </div>

            <div class="view-container">
                <section id="content" class="animate-fade-up">
                	<div class="clearfix">
	                	<div class="col-md-12">
	                		<%= hlp_application_flash_message %>
	                	</div>
                	</div>


                    <%= yield %>
                </section>
            </div>
        </div>

        <%= javascript_include_tag 'manager/main' %>
    </body>
</html>
