<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Campanhas <%= @current_org.fullname %></h1>
        <h2>
            <strong><%= @campaign.title %></strong> -
            <%= link_to  themed_campaign_url(subdomain: @campaign.subdomain), target: '_blank', class: 'btn btn-default' do %>
                <i class="fa fa-home"></i> Visitar Página da Campanha
            <% end %>
        </h2>

        <p>
            Basta clicar nos anúncios abaixo para adicionar na campanha <%= @campaign.title %>. <br />
            <strong>Dica: </strong> procure adicionar produtos <strong>com preço</strong> e em <strong>oferta</strong>. Assim, as chances de atrair clientes é muito maior.
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg search-product" placeholder="Buscar meus anúncios" />

            </div>
        </div>
    </div>
    <br />
    <hr /><br />
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <a href="<%= site_atrair_path(:campanhas) %>" class="btn btn-success btn-block"><i class="fa fa-check"></i> SALVAR ANÚNCIOS</a>
    </div>
</div>

<hr />

<div class="row categoryProduct xsResponse clearfix">
    <%= render partial: 'site/atrair/partials/product', collection: @products, locals: { item_class: 'col-md-3' } %>
</div>

<div class="row">
    <hr />
    <div class="col-md-6 col-md-offset-3">
        <a href="<%= site_atrair_path(:campanhas) %>" class="btn btn-success btn-block"><i class="fa fa-check"></i> SALVAR ANÚNCIOS</a>
    </div>
</div>
