<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Campanhas <%= @current_org.fullname %></h1>
        <h2>Selecione abaixo quais campanhas deseja participar.</h2>
    </div>
</div>


<% @campaigns.each do |campaign| %>
    <div class="col-md-3">
        <div class="clictem-campaign <%= 'selected border1' if @selecteds.include?(campaign.id) %>">
            <% if @selecteds.include?(campaign.id) %>
              <span class="hover-label bg1">Participando</span>
            <% end %>
            <div class="clictem-banner">
                <a href="<%= site_atrair_path(:anuncios, campanha: campaign.subdomain) %>">
                    <% if campaign.img_3? %>
                        <%= image_tag(campaign.img_3_url, class: 'img-responsive') %>
                    <% else %>
                        <span><%= campaign.title %></span>
                    <% end %>
                </a>
            </div>
            <div class="clictem-date">
                de <span><%= l campaign.date_start, format: '%d/%b' %></span> <br />
                até <span><%= l campaign.date_end, format: '%d/%b' %></span>
            </div>
        </div>
        <br />
    </div>
<% end %>
