<div class="row">
    <div class="col-md-12">
        <%= render '/site/usuarios/partials/menu_mkt' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Campanhas <%= @current_org.fullname %></h1>
        <h2>Confirma a adesão da campanha <strong><%= @campaign.title %></strong>?</h2>
    </div>

    <div class="col-md-12">
      <a href="<%= site_atrair_path(:concordar, campanha: @campaign.subdomain) %>" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Confirmar</a>
    </div>
</div>
